.map-controls {

    &__btn {
        width: rem(45);
        height: rem(45);

        border: none;

        background-color: #ffffff;
        box-shadow: 0 rem(10) rem(30) rgba(47, 64, 76, 0.21);
        cursor: pointer;

        transform: rotate(45deg);

        transition-duration: .3s, .3s;
        transition-property: box-shadow, background-color;

        @include below($mobile) {
            width: rem(90);
            height: rem(90);
        }

        &::before {
            content: '';

            position: absolute;
            top: 50%;
            left: 50%;

            background-repeat: no-repeat;
            background-size: 100% 100%;
            transform: translate(-50%, -50%);

            transition: background .3s;
        }

        &:hover {
            background-color: #305beb;
            box-shadow: 0 6px 20px rgba(55, 119, 232, 0.6);
        }

        &_increase {
            @include below($mobile) {
                display: none;
            }

            &::after,
            &::before {
                content: '';

                position: absolute;

                display: block;
                width: rem(18);
                height: rem(2);

                background-color: $dark;

                transition: background .3s;
            }

            &::before {
                top: calc(50%);
                left: calc(50% - #{rem(9)});

                transform: rotate(-45deg);
            }

            &::after {
                top: calc(50%);
                left: calc(50% - #{rem(9)});

                transform: rotate(45deg);
            }

            &:hover {

                &::before,
                &::after {
                    background-color: $light;
                }
            }
        }

        &_decrease {
            @include below($mobile) {
                display: none;
            }

            &::before {
                top: calc(50%);
                left: calc(50% - #{rem(9)});

                width: rem(18);
                height: rem(2);

                background-color: $dark;
                transform: rotate(-45deg);
            }

            &:hover {

                &::before {
                    background-color: $light;
                }
            }
        }

        &_fav {
            display: none;

            &::before {
                display: block;
                width: rem(21);
                height: rem(21);

                background-image: url(%=static=%assets/map/btn-fav.svg);

                @include below($mobile) {
                    width: rem(40);
                    height: rem(40);
                }

                &:hover {

                    &::before {
                        background-image: url(%=static=%assets/map/btn-fav-hover.svg);
                    }
                }
            }
        }

        &_filter {
            @include below($mobile) {
                position: absolute;
                top: rem(49);
                left: rem(36);
            }

            &:hover {

                .map-controls__show-filter {
                    fill: $light;
                }
            }
        }

        &_search {

            &::before {
                width: rem(21);
                height: rem(21);

                background-image: url(%=static=%assets/map/btn-search.svg);
                background-repeat: no-repeat;
            }

            &:hover {

                &::before {
                    background-image: url(%=static=%assets/map/btn-search-hover.svg);
                }
            }
        }

        &_add {
            display: none;
            width: rem(104);
            height: rem(104);

            border: none;

            background-color: $color1;
            cursor: pointer;
            transform: rotate(0deg);

            @include below($mobile) {
                display: block;
            }

            &::before,
            &::after {
                content: '';

                position: absolute;

                display: block;
                width: rem(32);
                height: rem(4);

                background-color: $light;
                transform: translate(-50%, -50%);

                transition: background .3s;
            }


            &::after {
                top: calc(50% - #{rem(2.5)});
                left: calc(50% - #{rem(16)});

                transform: rotate(90deg);
            }

        }

        &_show-list {
            position: absolute;
            top: rem(197);
            left: rem(36);

            @include above($mobile + 1) {
                opacity: 0;
                visibility: hidden;
            }

            &::before {
                display: none;
            }

            &:hover {

                .map-controls__show-list {
                    fill: $light;
                }
            }
        }

        &_subscribe {
            width: rem(580);
            height: rem(104);

            border: none !important;
            transform: rotate(0deg);

            @include above($mobile + 1) {
                display: none;
            }

            &::after {
                content: '';

                position: absolute;
                top: calc(50% - #{rem(38.5)});
                right: rem(104);

                display: block;
                width: 1px;
                height: rem(77);

                background-color: rgba(#6e757d, 0.6);
            }

            .btn__text {
                padding-right: 2.5rem;
                padding-left: rem(28);

                font-size: rem(32) !important;
                font-weight: 300 !important;
                line-height: rem(24);
                color: #697078 !important;
                text-transform: none !important;
            }

            .btn__arrow {
                position: absolute;
                top: calc(50% - #{rem(16)});
                right: rem(42);
            }

            &.btn_theme_light {
                @include padding_x(0);
                text-align: left;
            }

            &:hover {

                &::after {
                    background-color: $light;
                }

                .btn__text {
                    color: $light !important;
                }

                .btn__arrow {

                    &::before,
                    &::after {
                        background-color: $light;
                    }
                }
            }
        }
    }

    &__button {
        &_show {
            display: none;

            @include below($mobile) {
                display: flex;
            }
        }
    }

    &__show-list {
        position: absolute;
        top: calc(50% - #{rem(26.5)});
        left: calc(50% - #{rem(25)});

        width: rem(53);
        height: rem(50);

        transform: rotate(-45deg);

        transition: fill .3s;
    }

    &__show-filter {
        position: absolute;
        top: calc(50% - #{rem(26.5)});
        left: calc(50% - #{rem(25)});

        width: rem(53);
        height: rem(50);

        transform: rotate(-45deg);

        transition: fill .3s;

        @include above($mobile + 1) {
            position: absolute;
            top: calc(50% - #{rem(16)});
            left: calc(50% - #{rem(19)});

            width: rem(38);
            height: rem(32);
        }
    }
}
