include ../../btn/btn

mixin map-controls(data)
    +b.map-controls()&attributes(attributes)
        +e.btn._search.map__btn_search
        +e.btn._increase.map__btn.map__btn_increase
        +e.btn._decrease.map__btn.map__btn_decrease
        +e.btn._filter.map__btn.map__btn_filter
        +e.btn._fav.map__btn_fav


        +btn({
            text: 'Показать список',
            className: '_theme_standart'
        }).map-controls__button_show.map__button.map__button_show

        +e.btn._add.map__btn.map__btn_add


