mixin search-result(data)
    +b.search-result()&attributes(attributes)
        each content in data.contents
            +e.content
                +e.H3.title!= content.title
                +e.P.text!= content.text
                +e.link(href=jv0)!= content.link
