.search-result {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-right: rem(245);

    &__content {

        &:not(:last-child) {
            margin-bottom: rem(20);
        }
    }

    &__title {
        margin: 0;

        font-size: rem(24);
        font-weight: 300;
        line-height: rem(28);
    }
    &__text {
        margin: 0;

        font-size: rem(18);
        font-weight: 300;
        line-height: rem(28);
        letter-spacing: rem(-.1);
    }

    &__link {
        margin: 0;

        font-size: rem(18);
        font-weight: 400;
        line-height: rem(45);
    }
    mark {
        font-weight: 700;

        background: transparent;
    }
}
