.p-support {
    margin-top: rem(28);


    @include below($desktop) {
        margin-top: rem(39);
        overflow-x: hidden;
    }


    @include below($mobile) {
        margin-top: 0;

        background: url('%=static=%assets/p-support/bg.jpg') no-repeat;
        background-size: contain;


    }

    .tabs {

        &__content {
            width: 100%;
        }
    }

    .conditions {
        margin-top: rem(75);

        @include below($mobile) {
            margin-top: rem(-20);
        }
    }

    .content__steps {
        @include below($mobile) {
            margin-top: rem(103);
        }
    }

    .conditions--sm .conditions__numeric::before {
        @include below($mobile) {
            margin-left: rem(-34);

            font-size: rem(160);
            font-weight: 500;
            line-height: 1;
        }
    }

    .conditions--sm .conditions__item:after {
        @include below($mobile) {
            display: none;
        }
    }

    .conditions--sm .conditions__list {
        @include below($mobile) {
            margin-top: rem(-20);
        }
    }

    .conditions--sm .conditions__icon {
        @include below($mobile) {
            width: rem(63);
            height: rem(70);
            margin-top: rem(17);
            margin-bottom: 0;
            margin-left: rem(-10);

            &.icon-write {
                margin-left: rem(5);

                background-image: url(%=static=%assets/conditions/icon.png);
                background-size: rem(58) rem(57);
            }
        }
    }

    .conditions--sm .conditions__content {
        @include below($mobile) {
            padding-left: rem(48);
            margin-top: rem(-73);
        }
    }

    .conditions--sm .conditions__item:nth-child(2) .conditions__icon {
        @include below($mobile) {
            top: rem(-24);

            margin-left: rem(9);
        }
    }

    .icon-callback {
        position: absolute;
        top: rem(-60);
        right: rem(-28);

        @include below($mobile) {
            top: rem(-95);

            width: rem(227);
            height: rem(237);
        }
    }
    .content__inner {
        position: relative;
    }

    .content_theme_pickup {
        .content__inner {
            @include below($mobile) {
                padding-right: rem(90);
                padding-bottom: rem(85);
            }
        }
    }


    .content__pickup {
        display: flex;
        align-items: flex-start;
        margin-top: rem(57);

        color: #fff;

        @include below($desktop) {
            margin-top: rem(48);
        }

        @include below($mobile) {
            flex-direction: column;
            margin-top: rem(62);
        }

        &__l {
            position: relative;

            width: 28.66%;
            margin-right: 12.25%;

            @include below($desktop) {
                width: 33%;
                margin-right: 13.6%;
            }

            @include below($mobile) {
                position: static;

                width: 100%;
                margin-bottom: rem(70);
            }
        }
        &__r {
            flex-grow: 1;

            @include below($mobile) {
                margin-right: rem(-50);
            }
        }


    }
    .content__legend {
        margin-bottom: rem(20);

        @include below($mobile) {
            margin-bottom: rem((35));

            font-size: rem(28);
            font-weight: 300;
            line-height: 1;
        }
    }

    .radio-group {
        @include below($mobile) {
            flex-wrap: wrap;
            margin-top: rem(56);
        }
    }

    .radio {
        @include below($mobile) {
            margin-bottom: rem(57);
        }
        &:first-child {
            margin-right: rem(59);

            @include below($mobile) {
                margin-right: rem(66);
            }
        }
        &:nth-child(2) {
            margin-right: rem(39);
        }
    }

    .radio__label {

        &::before {
            @include below($mobile) {
                width: rem(40);
                height: rem(40);
                margin-right: rem(8);
            }
        }
    }

    .radio__cnt {
        margin-top: rem(11);
    }

    .radio__text {
        @include below($mobile) {
            padding-top: rem(7);

            font-size: rem(28);
        }

        .radio__text_tablet {
            @include below($mobile) {
                font-size: rem(24);
            }
        }
    }

    .btn-default {
        position: absolute;
        bottom: rem(-102);
        left: 0;

        box-shadow: 0 rem(5) rem(70) rem(-20) rgba(0, 0, 0, 0.75);


        @include below($mobile) {
            bottom: rem(-40);
            left: rem(90);

            padding: rem(36) rem(65);


        }
    }

    .title-subpage__top {
        @include below($mobile) {
            padding-top: rem(114);
            padding-left: rem(70);

            background: none !important;
        }
    }

    .title-subpage__brand {
        @include below($desktop) {
            display: block;
            margin-bottom: rem(-9);
            margin-left: rem(15);

            font-size: rem(80);
            font-weight: 500;
            line-height: (1);
        }

        @include below($mobile) {
            margin-bottom: 0;

            font-size: rem(90);
            line-height: 1;
            color: #fff;
        }
    }

    .title-subpage__title  {
        @include below($desktop) {

            padding-bottom: rem(4);

            overflow: visible;

            h1 {
                font-size: rem(80);
                font-weight: 300;
                line-height: (1);
            }

            &::after,
            &::before {
                display: none;
            }
        }

        @include below($mobile) {
            color: rgba(#000, .2);
        }
    }

    .title-subpage__title-box {
        @include below($mobile) {
            display: inline;

            font-size: rem(90);
            color: rgba(#fff, .2);
        }
    }


    .title-subpage__divider {
        @include below($desktop) {
            top: rem(-8);

            margin-right: rem(7);
            margin-left: rem(8);

            font-size: rem(50);
        }


        @include below($mobile) {
            font-size: rem(60);
            color: rgba(#fff, .2);
        }
    }

    .title-subpage__back-link {
        @include below($desktop) {
            position: absolute;
            top: 0;
            left: 0;

            font-size: 0;
            &::before {
                left: rem(42);

                width: rem(24);
                height: rem(26);
                margin-top: rem(26);

                background-image: url(%=static=%assets/p-stories/arrow-mob.svg);
            }
        }

        @include below($mobile) {
            &::before {
                left: rem(-3);

                width: rem(42);
                height: rem(44);
                margin-top: rem(135);

                background-image: url(%=static=%assets/p-stories/arrow-m-w.png);
                background-size: contain;
            }
        }
    }

    .select2-container--primary .select2-selection__placeholder,
    .select2-container--primary .select2-selection--single .select2-selection__rendered {
        @include below($mobile) {
            font-size: rem(28);
            font-weight: 300;
            font-style: italic;
            line-height: (52/28);
        }
    }

}
