include ../title-subpage/title-subpage
include ../conditions/conditions
include ../content/content
include ../select-primary/select-primary
include ../radio/radio
include ../tabs/tabs
include ../benefits/benefits
include ../list/list
include ../rate-residents/rate-residents
include ../blue-side/blue-side
include ../download/download
include ../list-icons/list-icons
include ../big-price/big-price
mixin p-support(data)
    +b.p-support()&attributes(attributes)

        +title-subpage('Меры поддержки', 'инвесторам')
        +content._theme_pickup
            H2.title.title-light #[strong Подобрать]#{' '} меру поддержки
            +e.pickup
                +e.pickup__l
                    +e.SPAN.legend Укажите отрасль
                    +select-primary('Например, пищевая промышленность', 'Lorem ipsum dolor sit amet,', 'consectetur adipisicing elit.', 'Animi odio quis optio')
                    BUTTON.btn.btn-default Подобрать меру поддержки
                +e.pickup__r
                    +e.SPAN.legend Оъём инвестиций
                    RADIOGROUP.radio-group
                        +radio({
                            text: 'Малый',
                            tabletText: '50 – 100 млн. руб.',
                            id: 'pickup1',
                            name: 'pickup',
                            style: 'two-row',
                            className: '_theme_standart _text_light',
                            checked: false
                        })
                        +radio({
                            text: 'Средний',
                            tabletText: '100 – 500 млн. руб.',
                            id: 'pickup2',
                            name: 'pickup',
                            style: 'two-row',
                            className: '_theme_standart _text_light',
                            checked: false
                        })
                        +radio({
                            text: 'Крупный',
                            tabletText: 'от 500 млн. руб.',
                            id: 'pickup3',
                            name: 'pickup',
                            style: 'two-row',
                            className: '_theme_standart _text_light',
                            checked: false
                        })
            I.icon.icon-callback

        +content._theme_benefits
            +e.H2.title Налоговые льготы#{' '}
                strong на имущество организаций

            +tabs(tabs.support3)
                .tab__content
                    +e.text
                        SPAN.content__subtitle-xs Области организаций:
                        p.text-light Образование, здравоохранение, предоставление социальных услуг, организация отдыха и развлечений, культура и спорт, туристические услуги, научные исследования и разработки, высокотехнологичная и инновационная деятельность, обрабатывающие производства, производство и распределение тепловой энергии; сбор, очистка и распределение воды; сбор сточных вод; переработка отходов.
                    +benefits(benefits.support)
                .tab__content Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla commodi cumque aspernatur fuga recusandae quam, doloribus, ea quidem pariatur aut hic ab porro repudiandae qui voluptatum, earum in quaerat ex!
                .tab__content content

        +content._theme_benefits-oez.content-gray-right
            +e.H2.title Налоговые льготы #{' '}#[strong для резидентов ОЭЗ ]
            +rate-residents(rateResidents.oez)

        +content._theme_rent-land
            +e.H2.title #[strong Предоставление земельного участка]<br>в аренду без торгов
            +e.SPAN.subtitle-xs Peгулируется законом московской области № 27/2015-ОЗ ОТ 18.03.2015
            +e.col-wrap
                +e.col-l
                    H3.h3.subtitle-border Условия получения
                    +list(list.rentLand)
                +e.col-r
                    +blue-side(blueSide.docs)

            //- +e.
            +e.steps
                H3.h3.subtitle-border Порядок оформления
                +conditions(conditions.order).conditions--sm

        +content._theme_return.content-gray-right
            +e.H2.title Возмещение затрат на #[strong создание объектов<br>инженерной инфраструктуры]
            +e.col-wrap
                +e.col-l
                    SPAN.badge компенсация затрат
                    +big-price(bigPrice.return)
                    +list-icons(listIcons.nature)
                +e.col-r
                    H3.h3.subtitle-border Условия получения
                    +list(list.engineer)
            +download(download.docs)(class='download-noborder')


        +content._theme_text
            +e.H2.title #[strong Субсидии на уплату части % по кредитам]<br>на реализацию новых инвестиционных проектов
            +e.SPAN.subtitle-xs Постановление Правительства Российской Федерации №3
            +e.col-wrap
                +e.col-l
                    H3.h3.subtitle-border Условия получения
                    +list(list.conditions)
                +e.col-r
                    H3.h3.subtitle-border Требования
                    +list(list.requirements)

        +content._theme_text.content-gray-left
            +e.H2.title Компенсация части затрат<br>#[strong на проведение НИОКР и ОКР]
            +e.SPAN.subtitle-xs Постановление Правительства Российской Федерации №1312
            +e.col-wrap
                +e.col-l
                    H3.h3.subtitle-border Условия получения
                    +list(list.conditions2)
                +e.col-r
                    H3.h3.subtitle-border Требования
                    +list(list.requirements2)

        +content._theme_text._theme_text--bordered
            +e.H2.title #[strong Государственная гарантийная поддержка]<br>Инвестиционных проектов 
            +e.SPAN.subtitle-xs Постановление Правительства Российской Федерации № 1016 и ПП РФ №1017 от 14.12.2010
            +e.col-wrap
                +e.col-l
                    SPAN.badge Создание новых объектов
                    +e.P.paragraph Модернизация проекта от 5 млрд рублей.
                    +e.SPAN.subtitle-xs Условия получения
                    +list(list.conditions3)
                +e.col-r
                    SPAN.badge Энергосбережение
                    +e.P.paragraph Энергоэффективность – проект от 1<br>млрд рублей.
                    +e.SPAN.subtitle-xs Условия получения:
                    +list(list.requirements3)



        block
