.radio {
    position: relative;
    z-index: 3;

    width: 33.3333%;

    @include below($mobile) {
        width: 50%;
        margin-bottom: rem(10);
    }

    &__input {
        outline: none;
    }

    &__label {
        user-select: none;
    }

    &-group {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: flex-start;
        margin-bottom: rem(31);
    }

    &__text {
        cursor: pointer;
        &_tablet {
            display: none;

            @include below($desktop) {
                display: inline;
                & + .radio__text {
                    display: none;
                }
            }
        }
    }

    &_theme_standart {
        .radio {

            &__label {
                display: flex;
                align-items: center;

                &:before {
                    content: '';

                    display: inline-block;

                    width: rem(20);
                    height: rem(20);
                    margin-right: rem(10);

                    border-radius: 50%;

                    background-color: #ffffff;

                    @include below($mobile) {
                        width: rem(48);
                        height: rem(48);
                        margin-right: rem(20);
                    }
                }
            }

            &__text {
                font-size: rem(14);
                font-weight: 400;
                line-height: (28/14);
                color: #697078;

                @include below($mobile) {
                    font-size: rem(28);
                }
            }

            &__count {
                top: -0.375rem;
                left: 0.25rem;

                font-size: 0.5625rem;

                @include below($mobile) {
                    top: -0.625rem;
                    left: 0.9375rem;

                    font-size: 1.125rem;

                }
            }

            &__input {
                display: none;

                &:checked + .radio__label {
                    &:before {
                        background-image: url(%=static=%assets/radio/radio.svg);
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: rem(12) rem(12);

                        @include below($mobile) {
                            background-size: rem(22) rem(18);
                        }
                    }
                }
            }

        }
    }

    &_text_light {
        .radio__text {
            font-size: rem(18);
            line-height: 1;
            color: #ffffff;
        }
        .radio__text_tablet {
            display: block;

            font-size: rem(14);
            color: #bdcde8;
        }
        .radio__label {
            align-items: flex-start;
            // &:before {
            //     margin-top: rem(7);
            // }
        }

    }

    &_theme_light {

        .radio {

            &__label {
                display: flex;
                align-items: flex-start;
                margin-right: rem(37);

                &:before {
                    content: '';

                    display: inline-block;

                    flex-shrink: 0;
                    width: 15px;
                    height: 15px;
                    margin-right: rem(10);

                    border: 1px solid rgba(255, 255, 255, 0.7);

                    border-radius: 50%;

                    @include below($mobile) {
                        width: 30px;
                        height: 30px;
                        margin-right: rem(15);
                    }
                }
            }

            &__text {
                margin-top: rem(-9);

                font-size: rem(18);
                font-weight: 300;
                line-height: (28/18);
                color: #fff;

                @include below($mobile) {
                    font-size: rem(28);
                }
            }

            &__input {
                display: none;

                &:checked + .radio__label {
                    &:before {
                        background-color: $light;
                        //background-image: url(%=static=%assets/radio/radio-light.svg);
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: 9px 9px;
                        box-shadow: inset 0 0 0 rem(2) #3777e8, inset 0 0 0 rem(1) rgba(255, 255, 255, .7);

                        @include below($mobile) {
                            background-size: 22px 22px;
                        }
                    }
                }
            }

        }
    }

}
.cecutient-mode {

    .radio__input:checked + .radio__label::before {
        background-color: $dark;
    }

    .radio_theme_light .radio__input:checked + .radio__label::before {
        box-shadow: inset 0 0 0 rem(2) $light, inset 0 0 0 rem(1) rgba($dark, .7);
    }
}
