mixin radio(data)
    +b.radio(class=data.className)&attributes(attributes)
        +e.INPUT.input(type='radio' name=data.name id=data.id checked=data.checked)
        +e.LABEL.label(for=data.id)
            if data.style == 'two-row'
                +e.text!= data.text
                    +e.DIV.cnt
                        if data.count
                            +e.SUP.count!=data.count
                        if data.tabletText
                            +e.text._tablet!= data.tabletText
                                if data.count
                                    +e.SUP.count!=data.count
            else
                if data.tabletText
                    +e.text._tablet!= data.tabletText
                        if data.count
                            +e.SUP.count!=data.count
                +e.text!= data.text
                    if data.count
                        +e.SUP.count!=data.count
