mixin subscribe(data)
    +b.subscribe()&attributes(attributes)
        +e.container
            +e.titles
                +e.title!= data.title
                +e.sub-title!= data.subTitle

            +e.FORM.form
                +e.links
                    +e.link._rss(href=jv0) RSS подписка

                +e.inputs
                    +e.INPUT.input(type='text' placeholder='Ваш е-mail' name='form-email')
                    +e.INPUT.subscribe(type='submit' value='Подписаться')


