.subscribe {
    overflow-x: hidden;

    &__container {
        position: relative;

        display: flex;
        justify-content: space-between;
        max-width: rem(1372);
        padding-top: rem(45);
        padding-right: rem(3);
        padding-bottom: rem(70);
        padding-left: rem(103);
        margin: 0 auto;

        background-color: #f8f9fb;

        @include below($desktop) {
            max-width: rem(1174);
            padding-left: rem(73);
        }

        @include below($mobile) {
            flex-direction: column;
            padding-top: rem(103);
            padding-bottom: rem(85);
            padding-left: rem(85);
        }

        &::after {
            content: '';

            position: absolute;
            top: 0;
            left: 100%;

            width: 100vw;
            height: 100%;

            background-color: #f8f9fb;
        }
    }

    &__message {
        font-size: rem(16);
        line-height: rem(18);
        color: $light;

        opacity: 0;
        visibility: hidden;

        transition-duration: 1s, 1s;
        transition-property: opacity, visibility;

        &_view {
            margin-bottom: rem(10);

            opacity: 1;
            visibility: visible;
        }
    }

    &__title {
        font-size: rem(38);
        font-weight: 400;
        line-height: (92/38);
        color: #282828;

        @include below($mobile) {
            max-width: rem(400);
            margin-bottom: rem(52);

            font-size: rem(60);
            line-height: 1;
        }

        b {
            font-weight: 500;
        }
    }

    &__sub-title {
        font-size: rem(24);
        font-weight: 300;
        line-height: (30/24);
        color: #282828;

        @include below($mobile) {
            font-size: rem(42);
            line-height: (53/42);
        }

        b {
            font-weight: 500;
        }
    }

    &__link {
        font-size: rem(24);
        font-weight: 300;
        line-height: (30/24);
        color: #dedfe1;
        text-decoration: none;

        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;

        @include below($mobile) {
            font-size: rem(42);
            line-height: (30/42);
        }

        &_rss {
            &::before {
                content: '';

                width: rem(20);
                height: rem(19);

                background-image: url(%=static=%assets/subscribe/rss.png);
                background-repeat: no-repeat;
                background-position: center;
                background-size: 100% 100%;

                @include below($mobile) {
                    width: rem(34);
                    height: rem(32);
                }
            }
        }

        &::before {
            content: '';

            display: inline-block;
            margin-right: rem(11);
        }
    }

    &__subscribe {
        padding: 0 rem(54);

        font-size: rem(14);
        font-weight: 500;
        line-height: (50/14);
        color: #ffffff;
        text-transform: uppercase;

        border: none;
        border-radius: 0;
        background-color: #3777e8;


        transition: all .3s;

        @include below($mobile) {
            width: 100%;

            font-size: rem(28);
            line-height: (90/28);
        }

        &:hover {
            background: #305beb;
        }
    }

    &__links {
        margin-bottom: rem(30);
        margin-left: auto;

        @include below($mobile) {
            margin-top: rem(70);
            margin-right: auto;

            text-align: center;
        }
    }

    &__input {
        width: rem(292);
        height: rem(52);
        padding: 0 rem(28);
        margin-right: rem(18);

        font-size: rem(18);
        color: #777;

        border: 1px solid rgba(119, 119, 119, .3);
        border-radius: 0;
        background: transparent;
        box-shadow: none;

        @include below($mobile) {
            width: 100%;
            height: rem(78);
            padding: 0 rem(38);
            margin-bottom: rem(61);

            font-size: rem(28);
        }

        &.error {
            color: red;

            border-color: red;
            &::placeholder {
                color: red;
            }
        }

        &::placeholder {
            font-size: rem(18);
            color: #777;

            @include below($mobile) {
                font-size: rem(28);
            }
        }

        & + label {
            display: none !important;
        }
    }

    &__titles {
        min-width: rem(432);

        @include below($desktop) {
            min-width: rem(450);
        }

        @include below($mobile) {
            min-width: 0;
        }
    }

    &__inputs {
        @include below($desktop) {
            display: flex;
            justify-content: flex-end;
        }

        @include below($mobile) {
            display: block;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        flex-grow: 1;
        padding-top: rem(37);

        @include below($desktop) {
            padding-right: rem(70);
        }

        @include below($mobile) {
            flex-direction: column-reverse;
            padding-top: rem(69);
            padding-right: rem(89);
            padding-left: rem(5);
        }
    }
}
