include ../title-subpage/title-subpage
include ../tabs/tabs
include ../finance-support/finance-support
include ../property-support/property-support
include ../taxes/taxes
include ../coWorking/coWorking

mixin p-support-mb2(data)
    +b.p-support-mb2()&attributes(attributes)
        block
        +title-subpage('Меры поддержки', 'малому бизнсу')._small-business
        +tabs(tabs.property)
            .tab__content
                +finance-support
            .tab__content.is-open
                +property-support
            .tab__content
                +taxes
            .tab__content
                +coWorking
