.benefits {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    @include below($mobile) {
        flex-direction: column;
    }

    &__item {
        width: 30.6%;
        padding-top: rem(32);
        padding-right: rem(20);
        padding-bottom: rem(65);
        padding-left: rem(58);

        font-family: $font-1;

        border-left: 1px dotted #b7b8bb;

        @include below($desktop) {

            position: relative;

            width: 32.6%;
            padding-top: 0;
            padding-right: rem(55);
            padding-bottom: 0;
            padding-left: 0;

            border-left: none;
        }

        @include below($mobile) {
            width: 100%;
            padding-right: rem(70);
            padding-bottom: rem(69);


            &:not(:last-child) {
                margin-bottom: rem(76);
                &::after {
                    content: '';

                    position: absolute;
                    bottom: 0;
                    left: rem(-90);

                    width: 100vw;

                    border: 1px dotted #b7b8bb;

                }
            }

        }

        &:nth-child(2n) {
            @include below($desktop) {
                &::before,
                &::after {
                    content: '';

                    position: absolute;
                    top: 0;

                    width: 1px;
                    height: 100%;

                    border-left: 1px dotted #b7b8bb;

                    @include below($mobile) {
                        content: '';

                        position: absolute;
                        bottom: 0;
                        left: rem(-90);

                        width: 100vw;
                        height: 0;

                        border: 1px dotted #b7b8bb;
                    }
                }

                &::before {
                    left: rem(-40);

                    @include below($mobile) {
                        display: none;
                    }
                }

                &::after {
                    right: rem(40);

                    @include below($mobile) {
                        top: auto;
                        right: auto;
                    }
                }
            }
        }
    }

    &__badge {
        display: inline-block;
        padding: rem(2) rem(9);

        font-family: $font-1;
        font-size: rem(16);
        font-weight: 500;
        color: #fafbfe;
        text-transform: uppercase;

        background-color: #3777e8;

        @include below($desktop) {
            min-width: rem(255);
        }

        @include below($mobile) {
            min-width: rem(492);
            padding-left: rem(89);
            margin-left: rem(-90);

            font-size: rem(20);
            font-weight: 500;
            line-height: (32/20);
        }

        &-dark {
            background-color: #414886;
        }

    }
    &__rate {
        margin-top: rem(24);

        font-size: rem(86);
        font-weight: 700;
        line-height: 1;
        color: $color1;
        letter-spacing: rem(0.9);

        @include below($mobile) {
            margin-top: rem(36);

            font-size: rem(160);
            font-weight: 700;
        }
    }

    &__dash {
        @include below($mobile) {
            font-size: rem(86);
        }
    }

    &__percent {
        font-size: rem(32);
        font-weight: 700;
        color: $color1;
    }
    &__years {
        margin-top: rem(18);

        font-size: rem(16);
        font-weight: 500;
        color: $color1;
        text-transform: uppercase;

        @include below($mobile) {
            margin-top: rem(9);

            font-size: rem(28);
            line-height: rem(28/42);
        }
    }
    &__amount {
        margin-top: rem(28);

        font-size: rem(14);
        font-style: italic;
        color: #000000;

        @include below($mobile) {
            margin-top: rem(65);

            font-size: rem(24);
            line-height: (42/24);
        }
    }
    &__sum {
        margin-top: rem(7);

        font-size: rem(18);
        font-weight: 400;
        color: #000000;

        @include below($mobile) {
            margin-top: 0;

            font-size: rem(28);
            line-height: (42/28);
        }
    }
    &__low {
        padding-right: rem(28);
        margin-top: rem(38);

        font-size: rem(14);
        font-weight: 400;
        color: #959595;

        @include below($desktop) {
            margin-bottom: 0;
        }

        @include below($mobile) {
            margin-top: rem(42);

            font-size: rem(24);
            line-height: (42/24);
        }
    }
}


.cecutient-mode .benefits {
    
    &__item {
        padding-top: rem(25);
        padding-left: rem(60);

        border-left: 1px solid #000;
    }
    
    &__badge {
        padding: rem(3) rem(13);

        font-size: rem(21);
        
        background: #000;
    }
    
    &__sum {
        font-size: rem(22);
        letter-spacing: rem(0.2);
    }
    
    &__amount {
        font-size: rem(20);
        letter-spacing: rem(0.2);
    }
    
    &__rate {
        color: #000;
    }
    
    &__percent {
        color: #000;
    }
    
    &__years {
        margin-top: rem(4);
        
        font-size: rem(20);
        line-height: rem(46);
        color: #000;
    }
}
