mixin benefits(data)
    +b.benefits()&attributes(attributes)
        each item in data.items
            +e.item
                +e.DIV.badge(class= item.badgeClass)= item.badge
                +e.rate!= item.rate
                +e.years= item.years
                +e.amount Объем инвестиций:
                +e.sum= item.sum
                +e.P.low= item.low
        block
