.content-box {
    max-width: $desktop;
    padding-bottom: rem(75);
    margin: 0 auto;
    overflow-x: hidden;

    @include below($desktop) {
        padding-bottom: rem(20);
    }

    &_reverse {
        .content-box__pic {
            order: -1;
        }

        .content-box__content {
            max-width: rem(1270);

            @include below($desktop) {
                max-width: rem(1030);
                padding-bottom: rem(40);
            }

            &::before {
                right: auto;
                left: 100%;
            }
        }

        .content-box__img {
            left: rem(-50);

            @include below($desktop) {
                left: rem(-75);
            }
        }

        .content-box__text-box {
            padding-left: rem(60);

            @include below($desktop) {
                padding-top: rem(40);
                padding-right: 0;
            }

            @include below($mobile) {
                padding-top: 0;
                padding-left: 0;
            }
        }
    }

    &__title {
        width: 50%;
        margin-top: rem(36);
        margin-bottom: rem(-90);

        font-size: rem(48);
        font-weight: 300;
        line-height: (54/48);
        color: #282828;

        @include below($desktop) {
            padding-right: rem(30);
            margin-bottom: rem(-142);
        }

        @include below($mobile) {
            width: 100%;
            padding-right: 0;
            margin-top: rem(-23);
            margin-bottom: rem(40);

            font-size: rem(60);
            letter-spacing: rem(-.75);
        }

        & + .content-box__container .content-box__text-box {
            padding-top: rem(139);

            @include below($desktop) {
                padding-top: rem(179);
            }

            @include below($mobile) {
                padding-top: 0;
            }
        }

        b {
            font-weight: 500;
        }
    }

    &__content {
        position: relative;

        max-width: rem(1170);
        padding-top: rem(35);
        margin: 0 auto;

        background-color: #f8f9fb;

        @include below($desktop) {
            max-width: rem(1025);
            padding-top: rem(30);
            padding-bottom: rem(55);
        }

        @include below($mobile) {
            padding-top: rem(100);
            padding-right: rem(40);
            padding-left: rem(90);
        }

        &::before {
            content: '';

            position: absolute;
            top: 0;
            right: 100%;

            width: 100%;
            height: 100%;

            background-color: #f8f9fb;
        }
    }

    &__container {
        display: flex;

        @include below($mobile) {
            flex-direction: column;
        }
    }

    &__text-box {
        width: 50%;
        padding-top: rem(35);
        padding-right: rem(50);

        @include below($desktop) {
            padding-right: rem(43);
        }

        @include below($mobile) {
            width: 100%;
            padding-right: 0;
        }
    }

    &__pic {
        position: relative;

        width: 50%;

        @include below($mobile) {
            order: -1;
            flex-shrink: 0;
            width: 100%;
            padding-right: rem(55);
            margin-bottom: rem(71);
        }
    }

    &__img {
        position: relative;
        top: rem(47);
        left: 0;

        display: block;
        width: rem(684);
        height: auto;

        box-shadow: 0 0.625rem 1.875rem rgba(47, 64, 76, 0.21);

        @include below($desktop) {
            width: rem(588);
        }

        @include below($mobile) {
            position: static;

            width: 100%;
        }
    }

    &__sub-title {
        font-size: rem(32);
        font-weight: 300;
        line-height: (42/32);
        color: #000000;

        @include below($mobile) {
            margin-bottom: rem(50);

            font-size: rem(42);

            & + .content-box__item {
                margin-top: rem(-10);
            }
        }

        &::after {
            content: '';

            display: block;
            width: rem(65);
            height: 1px;
            margin:  rem(20) 0 rem(25);

            background: #000;
        }
    }

    &__text {
        margin-bottom: rem(23);

        font-size: rem(18);
        font-weight: 400;
        line-height: (24.1/18);
        color: #282828;

        @include below($mobile) {
            margin-bottom: rem(42);

            font-size: rem(28);
            font-weight: 300;
            line-height: (42/28);
        }
    }
    &__head + &__text {
        font-weight: 300;
    }

    &__item {
        position: relative;

        padding-left: rem(50);

        @include below($mobile) {
            padding-left: rem(61);
            margin-bottom: rem(47);
        }

        &::before {
            @include size(rem(10));
            content: '';

            position: absolute;
            z-index: 1;
            top: rem(8);
            left: rem(5);

            border: 1px solid rgba(#000, .4);
            background-color: #fff;
            transform: rotate(45deg);

            @include below($mobile) {
                top: rem(12);
                left: rem(3);

                width: 1.125rem;
                height: 1.125rem;
            }
        }
    }

    &__head {
        margin-bottom: rem(2);

        font-size: rem(18);
        font-weight: 500;
        line-height: (24/18);
        color: #282828;

        @include below($mobile) {
            font-size: rem(28);
            line-height: (42/28);
        }
    }
}
