mixin content-box(data)
    +b.content-box(class=data.className)&attributes(attributes)
        +e.content
            if data.title
                +e.title!= data.title
            +e.container
                +e.text-box
                    +e.sub-title!= data.subTitle

                    if data.texts
                        each item in data.texts
                            +e.text!= item.text

                    if data.items
                        each item in data.items
                            +e.item
                                +e.head!= item.head
                                +e.text!= item.text


                +e.pic
                    +e.IMG.img(src=data.img)


