
.tab__content {
  display: none;
}
.tab__content.is-open {
  display: block;
}
.tab {
    &__title {
        display: inline-block;
        margin-right: rem(75);

        font-family: $font-1;
        font-size: rem(32);
        font-weight: 300;
        line-height: 2.2;
        color: #000000;
        text-decoration: none;

        border-bottom: rem(4) solid transparent;
        cursor: pointer;

        @include below($mobile) {
            position: relative;

            //margin-bottom: rem(15);

            font-size: rem(42);
            line-height: 1.9;

            border-bottom-width: rem(6);

            &::after {
                content: '';

                position: absolute;
                //bottom: rem(-6);
                bottom: 0;
                left: 0;

                width: calc(100vw - 5.625rem);
                height: rem(2);

                background: rgba(#f7f7f7, .2);

            }
        }


        &.is-active {
            color: $color1;

            border-color: $color1;
        }
        &:last-child {
            margin-right: 0;
        }
    }
    &__content {
        padding-top: rem(37);

        @include below($desktop) {
            padding-top: rem(54);
        }


    }
}

.tabs {

    &__title {
        @include below($mobile) {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            &::after,
            &::before {
                display: none;
            }
        }
    }

    &_small-business{
        margin-top: rem(24);

        .tabs__header{
            padding-top: rem(51);
            padding-bottom: rem(59);

            background-color: #3777e8;
            background-image: url(../img/general/city-bg.png);
            background-repeat: no-repeat;
            background-position: 47% rem(94);
            background-size: rem(1539) rem(257);

            @include below($mobile) {
                padding: rem(89) rem(35) rem(96) rem(53);
            }
        }

        .tabs__center{
            width: rem(1164);
            margin: auto;

            @include below($mobile) {
                width: 100%;
            }
        }

        .tabs__label{
            margin-left: rem(-2);

            font-size: rem(46);
            font-weight: 300;
            color: #fff;
            letter-spacing: rem(-0.4);

            @include below($mobile) {
                padding-left: rem(34);

                font-size: rem(60);
                line-height: rem(60);
            }

            &_bold{
                font-weight: 500;

                @include below($mobile) {
                    display: block;
                }
            }
        }

        .tabs__title{
            margin-top: rem(27);

            @include below($mobile) {
                margin-top: rem(64);
            }
        }

        .tab__title{
            padding: rem(22) 0 rem(21);
            margin-right: 62px;

            font-size: rem(16);
            font-weight: 500;
            color: #fff;
            letter-spacing: -0.15px;
            text-transform: uppercase;

            border: 1px solid transparent;

            @include below($mobile) {
                width: 100%;
                padding: rem(27) rem(33) rem(29) rem(37);

                font-size: rem(28);
                letter-spacing: rem(-.4);
            }

            &:last-child{
                margin-right: 0;
            }
        }

        .tab__title.is-active{
            position: relative;

            padding: rem(22) rem(33) rem(21) rem(37);

            border: 1px solid #fff;

            @include below($mobile) {
                padding: rem(27) rem(33) rem(29) rem(37);
            }

            &:after{
                content: '';

                position: absolute;
                top:rem(5);
                right: rem(5);
                bottom: rem(5);
                left: rem(5);

                display: block;

                border: rem(2) solid #fff;

                @include below($mobile) {
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;

                    width: calc(100% - #{rem(20)});
                    height: calc(100% - #{rem(20)});
                    margin: auto;

                    background: transparent;
                }

            }

        }

        .tabs__content{
            overflow: hidden;
        }

        .tab__content{
            width: rem(1164);
            padding-top: rem(132);
            margin: auto;

            @include below($mobile) {
                width: 100%;
            }
        }
    }

    &__text{
        @include below($mobile) {
            width: 100%;
            padding-right: rem(20);
        }
    }
}
