mixin tabs(data)
    if pageSettings.title != 'Меры поддержки малому бизнесу'
        +b.tabs()&attributes(attributes)
            .tabs__title.line-to-right
                each item in data
                    span.tab__title(class={'is-active': item.active})!= item.title
            .tabs__content
                block

    else
        +b.tabs._small-business()&attributes(attributes)
            .tabs__header
                .tabs__center
                    .tabs__label <span class="tabs__label_bold">Доступные</span> меры поддержки
                    .tabs__title
                        each item in data
                            span.tab__title(class={'is-active': item.active})!= item.title
            .tabs__content
                block


