include ../../checkbox/checkbox
include ../../btn/btn

mixin map-filter(data)
    +b.map-filter()&attributes(attributes)
        +e.top
            +e.FORM.search-form
                +e.INPUT.search-input(placeholder='Введите значение')
            +e.title Фильтр
                +e.SUP.count 0
                +e.A.reset(href=jv0) Сбросить
            +e.buttons
                +e.btn._hide
                +e.btn_close

        +e.FORM.content.custom-scroll.custom-scroll_theme_standart
            if data.name === 'land'

                +e.box._inner_visible(data-type='inputs')
                    +e.sub-title Укажите тип объекта
                    +e.inner
                        +checkbox({
                            text: 'Земельные участки',
                            name: 'land',
                            className: '_theme_standart',
                            checked: true
                        }).map-filter__checkbox

                +e.box(data-type='inputs')
                    +e.sub-title Адрес
                    +e.inner
                        +e.inputs
                            +e.INPUT.input(type='text' name='address' class='_width_full')

                +e.box_inner_visible(data-type='inputs')
                    +e.sub-title Собственик
                    +e.inner
                        +checkbox({
                            text: 'Только компании',
                            name: 'owner',
                            className: '_theme_standart',
                            checked: true
                        }).map-filter__checkbox

                +e.box_inner_visible(data-type='inputs')
                    +e.sub-title Формат реализации
                    +e.inner
                        +checkbox({
                            text: 'Аренда/продажа',
                            name: 'implementation',
                            className: '_theme_standart',
                            checked: true
                        }).map-filter__checkbox

                +e.box(data-type='inputs')
                    +e.sub-title Стоимость, руб
                    +e.inner
                        +e.inputs
                            +e.INPUT.input(type='text' placeholder='От' name='price-from')
                            +e.INPUT.input(type='text' placeholder='До' name='price-to')


                +e.box(data-type='inputs')
                    +e.sub-title Площадь
                    +e.inner
                        +e.inputs
                            +e.INPUT.input(type='text' placeholder='От' name='plottage-from')
                            +e.INPUT.input(type='text' placeholder='До' name='plottage-to')

                +e.box(data-type='inputs')
                    +e.sub-title Кадастровый номер
                    +e.inner
                        +e.inputs
                            +e.INPUT.input(type='text' name='cadastral' class='_width_full')

                +e.box(data-type='inputs')
                    +e.sub-title Удаленность от Москвы,км
                    +e.inner
                        +e.inputs
                            +e.INPUT.input(type='text' placeholder='От' name='distance-from')
                            +e.INPUT.input(type='text' placeholder='До' name='distance-to')

                +e.box(data-type='checkboxes')
                    +e.sub-title Назначение площади
                    +e.inner
                        +checkbox({
                            text: 'Вариант 1',
                            name: 'assignment-area-1',
                            className: '_theme_standart'
                        }).map-filter__checkbox


                        +checkbox({
                            text: 'Вариант 2',
                            name: 'assignment-area-2',
                            className: '_theme_standart'
                        }).map-filter__checkbox

                +e.box._inner_visible(data-type='checkboxes')
                    +e.sub-title Подключения
                    +e.inner
                        +checkbox({
                            text: 'Газоснабжение',
                            name: 'gas',
                            className: '_theme_standart',
                            checked: true
                        }).map-filter__checkbox

                        +checkbox({
                            text: 'Электричество',
                            name: 'electricity',
                            className: '_theme_standart'
                        }).map-filter__checkbox

                        +checkbox({
                            text: 'Водоснабжение',
                            name: 'water',
                            className: '_theme_standart',
                            checked: true
                        }).map-filter__checkbox


                        +checkbox({
                            text: 'Канализация',
                            name: 'sewerage',
                            className: '_theme_standart'
                        }).map-filter__checkbox


                        +checkbox({
                            text: 'Отопление',
                            name: 'heating',
                            className: '_theme_standart'
                        }).map-filter__checkbox

                +e.box(data-type='checkboxes')
                    +e.sub-title Форма собственности
                    +e.inner
                        +checkbox({
                            text: 'Вариант 1',
                            name: 'form-of-ownership-1',
                            className: '_theme_standart'
                        }).map-filter__checkbox


                        +checkbox({
                            text: 'Вариант 2',
                            name: 'form-of-ownership-2',
                            className: '_theme_standart'
                        }).map-filter__checkbox

                +e.box(data-type='checkboxes')
                    +e.sub-title Категория земель
                    +e.inner
                        +checkbox({
                            text: 'Вариант 1',
                            name: 'category-1',
                            className: '_theme_standart'
                        }).map-filter__checkbox


                        +checkbox({
                            text: 'Вариант 2',
                            name: 'category-2',
                            className: '_theme_standart'
                        }).map-filter__checkbox



                +e.box_inner_visible(data-type='inputs')
                    +e.sub-title ВРИ
                    +e.inner
                        +checkbox({
                            text: '- 2.0 жилая застройка',
                            name: 'vri',
                            className: '_theme_standart',
                            checked: true
                        }).map-filter__checkbox

                +e.box(data-type='checkboxes')
                    +e.sub-title Наличие строений
                    +e.inner
                        +checkbox({
                            text: 'Вариант 1',
                            name: 'building-1',
                            className: '_theme_standart'
                        }).map-filter__checkbox


                        +checkbox({
                            text: 'Вариант 2',
                            name: 'building-2',
                            className: '_theme_standart'
                        }).map-filter__checkbox

                +e.box(data-type='checkboxes')
                    +e.sub-title Доступ с автодороги
                    +e.inner
                        +checkbox({
                            text: 'Вариант 1',
                            name: 'entrance-1',
                            className: '_theme_standart'
                        }).map-filter__checkbox


                        +checkbox({
                            text: 'Вариант 2',
                            name: 'entrance-2',
                            className: '_theme_standart'
                        }).map-filter__checkbox

                +e.box(data-type='checkboxes')
                    +e.sub-title Присоединение к ж/д станции
                    +e.inner
                        +checkbox({
                            text: 'Вариант 1',
                            name: 'railroad-1',
                            className: '_theme_standart'
                        }).map-filter__checkbox


                        +checkbox({
                            text: 'Вариант 2',
                            name: 'railroad-2',
                            className: '_theme_standart'
                        }).map-filter__checkbox

                +e.box_inner_visible(data-type='inputs')
                    +e.sub-title Наличие обременений
                    +e.inner
                        +checkbox({
                            text: 'Есть обременение',
                            name: 'encumbrances',
                            className: '_theme_standart',
                        }).map-filter__checkbox

                +e.box(data-type='checkboxes')
                    +e.sub-title Расположение в ОЭЗ
                    +e.inner
                        +checkbox({
                            text: 'Вариант 1',
                            name: 'location-1',
                            className: '_theme_standart'
                        }).map-filter__checkbox


                        +checkbox({
                            text: 'Вариант 2',
                            name: 'location-2',
                            className: '_theme_standart'
                        }).map-filter__checkbox

                +e.box(data-type='checkboxes')
                    +e.sub-title Требуемые мощности
                    +e.inner
                        +checkbox({
                            text: 'Вариант 1',
                            name: 'power-1',
                            className: '_theme_standart'
                        }).map-filter__checkbox


                        +checkbox({
                            text: 'Вариант 2',
                            name: 'power-2',
                            className: '_theme_standart'
                        }).map-filter__checkbox

                +e.box(data-type='checkboxes')
                    +e.sub-title Опасность производства
                    +e.inner
                        +checkbox({
                            text: 'Вариант 1',
                            name: 'danger-1',
                            className: '_theme_standart'
                        }).map-filter__checkbox


                        +checkbox({
                            text: 'Вариант 2',
                            name: 'danger-2',
                            className: '_theme_standart'
                        }).map-filter__checkbox

                +e.box(data-type='inputs')
                    +e.sub-title Контактный телефон
                    +e.inner
                        +e.inputs
                            +e.INPUT.input(type='text' name='phone' class='_width_full')


        +e.bottom
            +btn({
                text: 'Оформить подписку',
                className: '_theme_light'
            })(data-popup="subscribe").map-filter__go-subscribe.btn_open-popup
            +btn({
                text: 'Добавить объект',
                className: '_theme_standart'
            })(data-popup="add-object").map__button.map-filter__show-btn.btn_open-popup
