.map-filter {
    clip: rect(0, 0, 0, 0);

    background-color: #fff;
    box-shadow: 0 rem(10) rem(30) rgba(47, 64, 76, 0.21);
    user-select: none;

    &_content-hidden {
        @include above(751px) {
            height: auto;

            .map-filter__content {
                display: none;
            }
        }
    }

    &__top {
        position: relative;
        z-index: 1;

        display: flex;
        align-items: center;
        justify-content: space-between;

        min-height: rem(52);

        padding: rem(17) rem(23) rem(12);

        box-shadow: 0 rem(10) rem(30) rgba(2, 6, 29, 0.075);

        @include below($mobile) {
            padding: rem(30) rem(48) rem(25);
        }

        &_search_visible {
            @include above(751px) {
                .map-filter__title {
                    display: none;
                }

                .map-filter__search-form {
                    display: block;
                }
            }
        }
    }

    &__search-form {
        position: absolute;

        width: calc(100% - 3.75rem);
        padding-right: rem(17);

        clip: rect(0, 0, 0, 0);
    }

    &__search-input {
        width: 100%;
        height: 100%;

        font-size: rem(18);
        font-weight: 300;
        color: #000000;

        border: none;

        outline: none;

        &::placeholder {
            color: #000;

            opacity: .4;
        }
    }

    &__title {
        width: calc(100% - 3.75rem);

        font-size: rem(24);
        font-weight: 400;
        line-height: (28/24);
        color: #000000;

        @include below($mobile) {
            position: relative;
            top: rem(18);

            display: flex;

            font-size: rem(56);
            line-height: (34/56);
        }
    }

    &__buttons {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: rem(60);
        margin-right: rem(-2);

        @include below($mobile) {
            order: -1;
            margin-right: rem(15);
        }
    }

    &__btn {
        display: block;

        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;

        &_hide {
            width: rem(22);
            height: rem(2);
            padding: rem(5) 0;

            background-image: url(%=static=%assets/map/map-filter/hide.svg);
            background-size: 100% rem(2);

            @include below($mobile) {
                display: none;
            }
        }

        &_close {
            width: rem(17);
            height: rem(16);

            background-image: url(%=static=%assets/map/map-filter/close.svg);
            background-size: 100% 100%;

            @include below($mobile) {
                width: rem(44);
                height: rem(44);
            }
        }
    }

    &__content {
        position: relative;

        height: calc(100% - 3.25rem);
        overflow-y: auto;

        @include below($mobile) {
            height: calc(100% - 18.75rem);
        }

        &::after {
            content: '';

            position: absolute;
            bottom: 0;
            left: 0;

            width: 100%;
            height: rem(10);

            background-color: rgba(255, 255, 255, 0);
            background-image: linear-gradient(to top, #fff , rgba(255, 255, 255, 0.8));
        }

        .mCSB_container {
            padding-top: rem(10);

            @include below($mobile) {
                padding-top: rem(40);
            }
        }
    }

    &__box {
        padding: rem(8.5) rem(20);

        border-bottom: rem(1) solid rgba(110, 117, 125, .1);

        @include below($mobile) {
            padding: rem(20) rem(50);
        }

        &_inner_visible {

            .map-filter__sub-title::after {
                transform: rotate(180deg);
            }

            .map-filter__inner {
                display: block;
            }
        }
    }

    &__inner {
        display: none;
    }

    &__sub-title {
        position: relative;

        display: inline-block;
        padding-right: rem(14);

        font-size: rem(14);
        font-weight: 400;
        line-height: (28/14);
        color: #000000;

        cursor: pointer;

        @include below($mobile) {
            font-size: rem(28);
            line-height: (56/28);
        }

        &::after {
            content: '';

            position: absolute;
            top: 50%;
            right: 0;

            width: rem(9);
            height: rem(6);
            margin-top: rem(-3);

            background-image: url(%=static=%assets/map/map-filter/arrow.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100% 100%;

            @supports (-ms-ime-align:auto) {
                width: 9px;
                height: 6.5px;

                background-size: 9px 6px;
            }

            @media  (-ms-high-contrast: none), (-ms-high-contrast: active) {
                width: 9.5px;
                height: 7px;

                background-size: 9px 5.5px;
            }

            @include below($mobile) {
                top: rem(22);
                right: rem(-25);

                width: rem(22);
                height: rem(12);
            }
        }
    }

    &__inputs {
        display: flex;
        justify-content: space-between;
        margin-top: rem(3);
        margin-bottom: rem(6);

        @include below($mobile) {
            justify-content: flex-start;
        }
    }

    &__input {
        width: calc(50% - .5rem);
        height: rem(32);
        padding: 0 rem(12);

        font-size: rem(14);
        font-weight: 400;
        color: #000000;

        border: rem(1) solid rgba(105, 112, 120, .6);
        border-radius: rem(4);
        outline: none;

        @include below($mobile) {
            width: rem(280);
            height: rem(76);
            padding: 0 rem(25);

            font-size: rem(28);

            &:not(:last-child) {
                margin-right: rem(30);
            }
        }

        &_width_full {
            width: 100%;
        }

        &::placeholder {
            color: rgba(0, 0, 0, .4);
        }
    }

    &__checkbox {
        padding: rem(3) 0;

        @include below($mobile) {
            padding: rem(14) 0;
        }
    }

    &__show-btn {
        position: absolute;
        top: 0;
        left: calc(100% + #{rem(21)});

        width: rem(204);
        //position: static;

        //width: rem(213);
    }

    &__count {
        top: rem(-22);
        left: rem(8);

        display: none;
        width: rem(48);
        height: rem(48);

        font-size: rem(24);
        font-weight: 500;
        line-height: (48/24);
        color: #ffffff;
        text-align: center;

        border-radius: 50%;
        background-color: #3777e8;

        @include below($mobile) {
            display: none;
        }
    }

    &__reset {
        position: relative;
        top: rem(-15);

        display: none;
        margin-left: auto;

        font-size: rem(28);
        font-weight: 400;
        line-height: (67/28);
        color: #3777e8;
        text-decoration: none;

        @include below($mobile) {
            display: inline-block;
            margin-right: rem(20);
        }
    }

    &__view-all {
        display: none;
        padding-top: rem(13);
        padding-bottom: rem(14);
        padding-left: rem(21);

        font-size: rem(14);
        line-height: rem(28);

        border-top: rem(1) solid rgba(#6e757d, .1);
        background-color: $light;

        @include above($mobile + 1) {
            display: block;
        }
    }

    &__view-all-link {
        text-decoration: none;
    }
}

.cecutient-mode {

    .map-filter {

        &__top {
            background-color: rgba($light, .5);
            box-shadow: 0 rem(2) 0 0 $dark;
        }
    }
}
