.checkbox {
    &__input {
        outline: none;
    }

    &__label {
        user-select: none;
    }

    &__text {
        cursor: pointer;
        &_tablet {
            display: none;

            @include below($desktop) {
                display: inline;
                & + .checkbox__text {
                    display: none;
                }
            }
        }
    }

    &_theme_standart {
        .checkbox {

            &__label {
                display: flex;
                flex-wrap: wrap;
                align-items: center;

                &::before {
                    content: '';

                    display: inline-block;
                    width: rem(20);
                    height: rem(20);
                    margin-right: rem(10);

                    border: rem(1) solid rgba(105, 112, 120, .6);
                    border-radius: rem(4);
                    cursor: pointer;

                    @include below($mobile) {
                        width: rem(48);
                        height: rem(48);
                        margin-right: rem(20);
                    }
                }
            }

            &__text {
                max-width: calc(100% - 1.875rem);

                font-size: rem(14);
                font-weight: 400;
                line-height: rem(18);
                color: #697078;

                @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
                    max-width: 100%;
                }

                @include below($mobile) {
                    font-size: rem(28);
                }
            }

            &__count {
                top: -0.375rem;
                left: 0.25rem;

                font-size: 0.5625rem;

                @include below($mobile) {
                    top: -0.625rem;
                    left: 0.9375rem;

                    font-size: 1.125rem;

                }
            }

            &__input {
                display: none;

                &:checked + .checkbox__label {
                    &::before {
                        border: none;
                        background-color: #3777e8;
                        background-image: url(%=static=%assets/checkbox/arrow.svg);
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: rem(12) rem(11);

                        @include below($mobile) {
                            background-size: rem(22) rem(18);
                        }
                    }
                }
            }

        }
    }

    &_theme_light {
        .checkbox {

            &__label {
                display: flex;
                align-items: center;

                &::before {
                    content: '';

                    display: inline-block;
                    width: rem(13);
                    height: rem(14);
                    margin-right: rem(10);

                    border: rem(1) solid #fff;
                    border-radius: rem(3);
                    cursor: pointer;

                    @include below($mobile) {
                        width: rem(26);
                        height: rem(28);
                        margin-right: rem(20);
                    }
                }
            }

            &__text {
                font-size: rem(18);
                font-weight: 300;
                line-height: (28/18);
                color: #fff;

                @include below($mobile) {
                    font-size: rem(28);
                }
            }

            &__input {
                display: none;

                &:checked + .checkbox__label {
                    &::before {
                        background-image: url(%=static=%assets/checkbox/arrow.svg);
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: rem(10) rem(8);

                        @include below($mobile) {
                            background-size: rem(20) rem(16);
                        }
                    }
                }
            }

        }
    }
}
