mixin checkbox(data)
    +b.checkbox(class=data.className)&attributes(attributes)
        +e.INPUT.input(type='checkbox' name=data.name id=data.name checked=data.checked disabled=data.disabled)
        +e.LABEL.label(for=data.name)
            if data.tabletText
                +e.text._tablet!= data.tabletText
                    if data.count
                        +e.SUP.count!=data.count
            +e.text(title=data.text)!= data.text
                if data.count
                    +e.SUP.count!=data.count
