.burger {
    @include center;
    display: inline-block;
    width: em(40);
    height: em(29);
    padding: 0;
    overflow: hidden;

    font-size: 1rem;
    vertical-align: middle;

    border: none;
    background: none;
    outline: none;

    &::before,
    &::after,
    &__line {
        position: absolute;
        left: 0;

        width: 100%;
        height: em(4);

        background: #333;

        transition: all .3s;

        .header_theme_fixed & {
            background-color: #3777e8;
        }
    }

    &_open {
        &::before,
        &::after,
        &__line {
            background-color: #3777e8;
        }
    }

    &::before {
        content: '';

        top: 0;
    }

    &::after {
        content: '';

        bottom: 0;
    }

    &__line {
        @include hide-text();
        top: 50%;

        transform: translateY(-50%);
    }

    &_open {
        &::before {
            top: 50%;

            transform: translateY(-50%) rotate(45deg);
        }
        &::after {
            bottom: 50%;

            transform: translateY(50%) rotate(-45deg);
        }
        .burger__line {
            opacity: 0;
            transform: translate(-100%, -50%);
        }
    }
}
