include ../title/title
include ../tabs/tabs

mixin s-block-1(data)
    +b.s-block-1()&attributes(attributes)
        +e.container
            +title({
                title: 'Налоговые льготы <b>на имущество и прибыль</b> (требует соглашения с ПМО)',
                subText: 'Регулируется статьей 26.15 ЗМО 151/2004 от 24.11.04 и ППМО 757/24 от 3.09.15'
            }).s-block-1__title

            +tabs(tabs.sBlock1)
                .tab__content.is-open
                    .tabs__text
                        span.content__subtitle-xs Инвестиционные проекты, реализуемые малыми предприятиям в сферах деятельности:
                        p.text-light
                            | Образование, здравоохранение, предоставление социальных услуг, организация отдыха и развлечений, культура и спорт, туристические услуги, научные исследования и разработки, высокотехнологичная и инновационная деятельность, обрабатывающие производства, производство и распределение тепловой энергии; сбор, очистка и распределение воды; сбор сточных вод; переработка отходов.

                    .benefits
                        .benefits__item
                            .benefits__badge Стратегический
                            .benefits__sum от 500 млн руб. до 5 лет
                            .benefits__amount <b>Налог на имущество:</b>
                            .benefits__rate
                                | 0
                                span.benefits__percent %
                                | -1,1
                                span.benefits__percent %
                            .benefits__years на 8 лет
                            .benefits__amount <b>Налог на прибыль:</b>
                            .benefits__rate
                                | 4,5
                                span.benefits__percent %
                            .benefits__years на 7 лет

                        .benefits__item
                            .benefits__badge.benefits__badge-dark Приоритетный
                            .benefits__sum от 50 млн руб. до 500 млн руб. до 3 лет
                            .benefits__amount <b>Налог на имущество:</b>
                            .benefits__rate
                                | 0
                                span.benefits__percent %
                                | -1,1
                                span.benefits__percent %
                            .benefits__years на 5 лет
                            .benefits__amount <b>Налог на прибыль:</b>
                            .benefits__rate
                                | 4,5
                                span.benefits__percent %
                            .benefits__years на 5 лет


                .tab__content
                    .tabs__text
                        span.content__subtitle-xs Инвестиционные проекты, реализуемые малыми предприятиям в сферах деятельности:
                        p.text-light
                            | Образование, здравоохранение, предоставление социальных услуг, организация отдыха и развлечений, культура и спорт, туристические услуги, научные исследования и разработки, высокотехнологичная и инновационная деятельность, обрабатывающие производства, производство и распределение тепловой энергии; сбор, очистка и распределение воды; сбор сточных вод; переработка отходов.

                    .benefits
                        .benefits__item
                            .benefits__badge Стратегический
                            .benefits__sum от 500 млн руб. до 5 лет
                            .benefits__amount <b>Налог на имущество:</b>
                            .benefits__rate
                                | 0
                                span.benefits__percent %
                                | -1,5
                                span.benefits__percent %
                            .benefits__years на 8 лет
                            .benefits__amount <b>Налог на прибыль:</b>
                            .benefits__rate
                                | 4,5
                                span.benefits__percent %
                            .benefits__years на 7 лет

                        .benefits__item
                            .benefits__badge.benefits__badge-dark Приоритетный
                            .benefits__sum от 50 млн руб. до 500 млн руб. до 3 лет
                            .benefits__amount <b>Налог на имущество:</b>
                            .benefits__rate
                                | 0
                                span.benefits__percent %
                                | -1,5
                                span.benefits__percent %
                            .benefits__years на 5 лет
                            .benefits__amount <b>Налог на прибыль:</b>
                            .benefits__rate
                                | 4,5
                                span.benefits__percent %
                            .benefits__years на 5 лет

                .tab__content
                    .tabs__text
                        span.content__subtitle-xs Инвестиционные проекты, реализуемые малыми предприятиям в сферах деятельности:
                        p.text-light
                            | Образование, здравоохранение, предоставление социальных услуг, организация отдыха и развлечений, культура и спорт, туристические услуги, научные исследования и разработки, высокотехнологичная и инновационная деятельность, обрабатывающие производства, производство и распределение тепловой энергии; сбор, очистка и распределение воды; сбор сточных вод; переработка отходов.

                    .benefits.benefits_mod
                        .benefits__item
                            .benefits__badge Стратегический
                            .benefits__sum от 3 млрд руб. в срок<br> до 5 лет
                            .benefits__amount <b>Налог на имущество:</b>
                            .benefits__rate
                                | 1,5
                                span.benefits__percent %
                            .benefits__years на 8 лет
                            .benefits__amount <b>Налог на прибыль:</b>
                            .benefits__rate
                                | 4,5
                                span.benefits__percent %
                            .benefits__years на 7 лет

                        .benefits__item
                            .benefits__badge.benefits__badge-dark Приоритетный
                            .benefits__sum от 1 млрд руб. до 3 млрд руб.<br> в срок до 3 лет
                            .benefits__amount <b>Налог на имущество:</b>
                            .benefits__rate
                                | 1,5
                                span.benefits__percent %
                            .benefits__years на 5 лет
                            .benefits__amount <b>Налог на прибыль:</b>
                            .benefits__rate
                                | 4,5
                                span.benefits__percent %
                            .benefits__years на 5 лет

                        .benefits__item
                            .benefits__badge.benefits__badge-dark Значимый
                            .benefits__sum от 200 млн руб. до 1 млрд руб.<br> в срок до 3 лет
                            .benefits__amount <b>Налог на имущество:</b>
                            .benefits__rate
                                | 1,1
                                span.benefits__percent %
                            .benefits__years на 3 года
                            .benefits__amount <b>Налог на прибыль:</b>
                            .benefits__rate
                                | 4,5
                                span.benefits__percent %
                            .benefits__years на 3 года

                .tab__content
                    .tabs__text
                        span.content__subtitle-xs Инвестиционные проекты, реализуемые малыми предприятиям в сферах деятельности:
                        p.text-light
                            | Образование, здравоохранение, предоставление социальных услуг, организация отдыха и развлечений, культура и спорт, туристические услуги, научные исследования и разработки, высокотехнологичная и инновационная деятельность, обрабатывающие производства, производство и распределение тепловой энергии; сбор, очистка и распределение воды; сбор сточных вод; переработка отходов.

                    .benefits.benefits_mod
                        .benefits__item
                            .benefits__badge Стратегический
                            .benefits__sum от 50 млн руб. в срок до 3 лет
                            .benefits__amount <b>Налог на имущество:</b>
                            .benefits__rate
                                | 1,5
                                span.benefits__percent %
                            .benefits__years на 5 лет
                            .benefits__amount <b>Налог на прибыль:</b>
                            .benefits__rate
                                | 4,5
                                span.benefits__percent %
                            .benefits__years на 5 лет
