.s-block-1 {
    padding-top: rem(65);
    padding-bottom: rem(44);

    &__container {
        max-width: rem(1165);
        margin: 0 auto;


        @include below($mobile) {
            padding-left: 5.625rem;
        }
    }

    .tabs__title {
        display: flex;
        margin-right: rem(-106);


        @include below(1400px){
            margin-right: rem(-40);
        }
    }

    .tab__title {
        padding-bottom: rem(24);
        margin-right: rem(70);

        font-size: rem(22);
        font-weight: 300;
        line-height: (24/22);
        vertical-align: top;


        @include below($mobile) {
            position: relative;

            margin-bottom: 0.9375rem;

            font-size: 2.625rem;
            line-height: 1.9;

            border-bottom-width: 0.375rem;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    .tabs__text {
        .text-light {
            max-width: rem(970);
            margin-top: 0;
            margin-bottom: rem(25);

            font-size: rem(18);
            font-weight: 300;
            line-height: (24.1/18);


            @include below($mobile) {
                font-size: rem(28);
            }
        }
    }

    &__title {
        margin-bottom: rem(40);
    }

    .benefits__sum {
        margin-top: rem(28);
    }

    .benefits__amount {
        margin-top: rem(38);

        letter-spacing: rem(.5);
    }

    .benefits__rate {
        margin-top: rem(6);
    }

    .benefits__years + .benefits__amount {
        margin-top: rem(52);
    }

    .benefits__item {
        width: 50%;
        padding-bottom: rem(40);


        @include below($mobile) {
            width: 100% ;
        }
    }

    .benefits_mod {
        margin-top: rem(61);
        .benefits__item {
            width: 33.33333%;
        }
        .benefits__sum {
            margin-bottom: rem(-10);
        }
    }

    .benefits__years{
        @include below($mobile) {
            line-height: normal;
        }
    }

    .content__subtitle-xs{
        @include below($mobile) {
            font-size: rem(30);
        }
    }

    .title__sub-text{
        @include below($mobile) {
            padding-right: rem(20);

            font-size: rem(24);
        }
    }
}

.cecutient-mode .s-block-1 {
    padding-top: rem(44);
    
    &__title {
        margin-bottom: rem(94);
    }
    
    .title__title {
        margin-bottom: 20px;        
    }
    
    .tabs__title {
        margin-right: rem(-2);

        border-bottom: rem(2) solid #000;
    }
    
    .tab__title {
        padding-top: rem(20);
        padding-right: rem(34);
        padding-bottom: rem(21);
        padding-left: rem(39);
        margin: 0;
        margin-bottom: rem(-2);
        margin-bottom: rem(-2);
        
        font-size: rem(20);
        font-weight: bold;       
        line-height: rem(24);
        color: #000;        
    }
    
    .tab__title:nth-child(4) {
        width: rem(220);
    }
    
    .tab__title.is-active {        
        padding-right: rem(32);        
        padding-left: rem(37);
        
        border: rem(2) solid #000;
        border-bottom-color: #fff;
        
    }
    
    .line-to-right::before,
    .line-to-right::after {
        display: none;
    }
    
    .tab__content {
        padding-top: 80px;
    }
    
    .content__subtitle-xs {
        padding-left: rem(2);

        font-size: rem(20);
        line-height: rem(46);
        
        letter-spacing: 0.3px;
    }
    
    .tabs__text .text-light {
        min-width: rem(1030);
        
        font-size: rem(20);
        font-weight: 400;
        line-height: rem(30);
    }
    
    .benefits__item {
        padding-bottom: rem(25);
    }
    
    .benefits__sum {
        margin-top: rem(20);
    }
    
    .benefits__amount {
        margin-top: rem(30);
    }
    
    .benefits__years + .benefits__amount {
        margin-top: rem(36);
    }
    
    .benefits__rate {
        margin-top: rem(3);
    }
}
