// Common styles of the project

*,
*::before,
*::after {
    box-sizing: border-box;
}
*:focus {
    outline: 0;
}
html, body {
    height: 100%;
    min-width: rem(320);
}

body.open-popup {

    &::before {
        content: '';
        position: fixed;
        z-index: 100001;
        display: block;
        width: 100%;
        height: 100%;
        background-color: rgba($dark, .4);
    }
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

html {

    @include above(0) {
        font-size: 2.1333333333vw;
    }

    @include above(751px) {
        font-size: 1.25vw;
    }

    @include above(1281px) {
        font-size: 16px;
    }

    @include between($tablet, $desktop) {
        // font-size: vw(16);
    }

    // android fix
    &.android.mobile {

        .map-controls__btn_add::before {
            top: calc(50% + #{rem(2)});
            height: rem(6);
        }
    }
}
a {
    color: $color1;
}
.h3 {
    margin-bottom: rem(24);
    color: #000000;
    font-family: $font-1;
    font-size: rem(32);
    font-weight: 300;
    line-height: 42px;
    &--light {
        color: #fff;
    }
}
.subtitle-border {
    position: relative;
    padding-bottom: rem(21);
    &:before {
        content: '';
        position: absolute;
        left: rem(2);
        bottom: 0;
        width: rem(65);
        height: 1px;
        background-color: #000;
    }
    &--light {
        &:before {
            background-color: #fff;
        }
    }

    &_bottom-offset-small{
        margin-bottom: rem(10)
    }
}
.span-inline {
    display: inline-block;
}

body.menu-open {
    position: fixed;
}

.cecutient-header {
    display: none;
}
.block {
    display: block;
}

.mobile-hidden {
    @include below($mobile) {
        display: none;
    }
}

.select2-container {
    z-index: 99999;
}

.errors {
    background-color: #fff;
    padding: rem(20);
    margin: rem(40) 0 0;
}

.error-text {
    color: red;
    font-size: rem(18);
    &:not(:last-child) {
        margin-bottom: rem(10);
    }
}

.error-parent {
    input {
        color: #fe9e9e !important;
    }
    .select2-selection__rendered {
        color: #fe9e9e !important;
    }
}

.error-badge {
    position: absolute;
    right: rem(0);
    background: #e44549;
    color: #ffffff;
    font-size: rem(16);
    font-weight: 400;
    line-height: (29.1/16);
    margin-left: rem(12);
    padding: 0 rem(15);

    &::before {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 rem(10) rem(10) rem(10);
        border-color: transparent transparent #e44549 transparent;
        content: '';
        bottom: 0;
        right: 100%;
        font-size: 0;
        margin-left: rem(-23);
    }

}

.loading-results {
    display: none;
}

.nowrap {
    white-space: nowrap;
}

.select2-container {

    &.select2-container--lang {

        .select2-dropdown {
            width: rem(56) !important;
            min-width: inherit !important;
            overflow: hidden;

            font-weight: 700;

            border: none;

            @include above($mobile + 1) {
                width: rem(56) !important;

                border-radius: 0 0 20px 20px;
            }

            @include below($mobile) {
                width: rem(120) !important;

                font-size: rem(35);
            }
        }

        .select2-results__option {
            line-height: 1.4;

            @include above($mobile + 1) {
                padding-left: rem(14);
            }

            &:hover {
                color: #fff !important;

                background-color: #3777e8;
            }
        }

        .select2-results__option[aria-selected=true] {
            display: none;
        }
    }
}

.img-off{
    .industry__img{
        display: none;
    }

    .content-box__img{
        display: none;
    }
}

.fancybox-container:not(.map-card__popup) {

    .fancybox-slide {
        overflow-y: scroll;
    }
}
