/* Your custom fonts here */

/* Example

@include font-face('Open Sans', '../fonts/OpenSans-Italic', normal, italic, $exts: woff woff2 ttf);

// Var for using custom font
$font-1: 'Open Sans', Helvetica, Arial, sans-serif;
*/

@include font-face('Exo 2', '../fonts/exo2-bold-webfont', 700, $exts: woff woff2);
@include font-face('Exo 2', '../fonts/exo2-regular-webfont', normal, $exts: woff woff2);
@include font-face('Ubuntu', '../fonts/ubuntu-bold-webfont', 700, $exts: woff woff2);
@include font-face('Ubuntu', '../fonts/ubuntu-light', 300, $exts: woff woff2);
@include font-face('Ubuntu', '../fonts/ubuntu-light-italic', 300, italic, $exts: woff woff2);
@include font-face('Ubuntu', '../fonts/ubuntu-regular-webfont', normal, $exts: woff woff2);
@include font-face('Ubuntu', '../fonts/ubuntu-italic-webfont', normal, italic, $exts: woff woff2);
@include font-face('Ubuntu', '../fonts/ubuntu-medium-webfont', 500, $exts: woff woff2);

$font-1: 'Ubuntu', Helvetica, Arial, sans-serif;
$font-2: 'Exo 2', Helvetica, Arial, sans-serif;
