// GUI stylies of the project
// For example, styles of the links, buttons and so on.
.btn {
    display: inline-block;
    &-default {
        padding: rem(11) rem(39);

        font-size: rem(28);
        font-weight: 500;
        color: #3777e8;
        letter-spacing: rem(-0.1);
        text-transform: uppercase;

        border: none;
        border-radius: 0;
        background-color: #ffffff;
        outline: none;
        appearance: none;
        transition: all .3s;

        &:hover {
            color: #fff;

            background-color: #000;
        }
        @include above($mobile + 1) {
            font-size: rem(14);
            line-height: (28/14);
        }
    }
}

.line-to-right {
    position: relative;
    &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: calc( 100% - 1.3125rem );
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }
    &:after {
        content: '';
        position: absolute;
        right: rem(8);
        bottom: rem(-5);
        width: rem(11);
        height: rem(11);
        border: 1px solid rgba(0, 0, 0, 0.4);
        transform: rotate(45deg);
    }
}

.text-light {
    font-weight: 300;
}

.badge {
    display: inline-block;
    padding: rem(2) rem(9);
    color: #fafbfe;
    font-family: $font-1;
    font-size: rem(16);
    font-weight: 500;
    // line-height: 1;
    text-transform: uppercase;
    background-color: #3777e8;
}

.btn-close,
.form .fancybox-close-small {
    position: relative;
    display: block;
    width: rem(32);
    height: rem(32);
    cursor: pointer;
    &:before,
    &:after {
        content: '';
        position: absolute;
        left: rem(-4);
        top: rem(13);
        display: block;
        width: rem(40);
        height: rem(5);
        background-color: #ffffff;
        border-radius: 2px;
    }
    &:before {
        transform: rotate(45deg);
    }
    &:after {
        transform: rotate(-45deg);
        // border-radi
    }
}

.form {
    .btn-close,
    .fancybox-close-small {
        position: absolute;
        top: rem(-19);
        right: rem(30);
    }
}
