// Mixins.

@mixin list-reset($margin: true, $padding: true) {
    @if $margin {
        margin: 0;
    }
    @if $padding {
        padding: 0;
    }

    text-indent: 0;

    list-style: none;
    list-style-position: outside;
}

@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin align-justify {
    text-align: justify;
    text-justify: newspaper;

    &::after {
        content: '';
        display: inline-block;
        width: 100%;
    }
}

@mixin hide-text {
    text-indent: 100%;
    white-space: nowrap;

    overflow: hidden;
}

@mixin hidden {
    position: absolute;
    clip: rect(0 0 0 0); /* for Internet Explorer */
    clip: rect(0, 0, 0, 0);

    height: 1px;
    width: 1px;
    padding: 0;
    margin: -1px;
    border: 0;

    overflow: hidden;
}

@mixin center($pos: absolute, $vert: true, $horiz: true) {
    position: $pos;
    @if ($horiz) {
        left: 50%;
    }
    @if ($vert) {
        top: 50%;
    }

    @if ($horiz == false) {
        transform: translateY(-50%);
    } @else if ($vert == false) {
        transform: translateX(-50%);
    } @else {
        transform: translate(-50%, -50%);
    }
}

@mixin full-size($pos: absolute) {
    position: $pos;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

@mixin size($val) {
    width: $val;
    height: $val;
}

// =============================================================================
// String Replace (вспомогательный миксин для font-face)
// =============================================================================

@function str-replace($string, $search, $replace: "") {
    $index: str-index($string, $search);

    @if $index {
        @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
    }

    @return $string;
}

// =============================================================================
// Font Face
// =============================================================================

// $name - название для font-family
// $path - путь к шрифту без формата
// $weight - font-weight
// $style - font-style
// $exts - форматы шрифта, которые используются
@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
    $src: null;

    $extmods: (
        eot: "?",
        svg: "#" + str-replace($name, " ", "_")
    );

    $formats: (
        otf: "opentype",
        ttf: "truetype"
    );

    @each $ext in $exts {
        $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
        $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
        $src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
    }

    @font-face {
        font-family: quote($name);
        font-style: $style;
        font-weight: $weight;
        src: $src;
    }
}

// =============================================================================
// Медиа запросы
// =============================================================================

// меньше указанной величины (по умолчанию ширина)
@mixin below($width, $orientation: 'width') {
    @media screen and (max-#{$orientation}: $width) {
        @content;
    }
}

// больше указанной величины (по умолчанию ширина)
@mixin above($width, $orientation: 'width') {
    @media screen and (min-#{$orientation}: $width) {
        @content;
    }
}

// между первой и второй величиной (по умолчанию ширина)
@mixin between($minWidth, $maxWidth, $orientation: 'width') {
    @media screen and (min-#{$orientation}: $minWidth) and (max-#{$orientation}: $maxWidth) {
        @content;
    }
}

// =============================================================================
// Функции пересчета значений
// =============================================================================

@function strip-unit($num) {
    @return $num / ($num * 0 + 1);
}

@function rem($num) {
    @return strip-unit($num) / 16 * 1rem;
}

@function em($num, $root: 16) {
    @return strip-unit($num) / $root * 1em;
}

@function vw($num, $root: 1366) {
    @return strip-unit($num) / $root * 100vw;
}

@function vh($num, $root: 590) {
    @return strip-unit($num) / $root * 100vh;
}

// =============================================================================
// Миксины специфичные для проекта
// =============================================================================

// Добавлять свои миксины здесь

@mixin placeholder {
    &::-webkit-input-placeholder {
        @content;
    }

    &:-moz-placeholder { /* Firefox 18- */
        @content;
    }

    &::-moz-placeholder {  /* Firefox 19+ */
        @content;
    }

    &:-ms-input-placeholder {
        @content;
    }
}

@mixin padding_x($padding) {
    padding-left: $padding;
    padding-right: $padding;
}

@mixin padding_y($padding) {
    padding-top: $padding;
    padding-bottom: $padding;
}

@mixin margin_x($margin) {
    margin-left: $margin;
    margin-right: $margin;
}

@mixin margin_y($margin) {
    margin-top: $margin;
    margin-bottom: $margin;
}
