$color1: #3777e8;
$color2: #fafbfe;
$container: rem(1373);
$dark: #000;
$light: #fff;
$gray: #697078;
$error: #ff0000;
$error-bg: #fefafa;
$bg-pages: #f6f6f6;

$desktop: 1599px;

$tablet: 1279px;

$mobile: 750px;
