.finance-support {

    .content {
        padding-top: 0;

        &__inner {
            padding-top: 0;
            padding-left: rem(104);

            @include above($mobile + 1) {
                @include padding_x(0);
            }

            @include below($mobile) {
                padding-top: 0;
            }
        }
    }

    .subtitle-border {
        font-size: rem(42);
        line-height: rem(42);
    }

    .conditions--sm {

        .conditions__item {

            &::after {
                display: none;
            }

            &:not(:last-child) {
                margin-bottom: rem(107);
            }
        }

        .conditions__content {
            @include below($mobile) {
                padding-left: rem(36);
                margin-top: rem(-55);
                margin-left: rem(10);
            }
        }

        .conditions__numeric::before {
            @include below($mobile) {
                margin-left: rem(-34);

                font-size: rem(211);
                font-weight: 500;
                line-height: rem(63);
            }
        }

        .conditions__icon {
            @include below($mobile) {
                top: rem(-73) !important;
                left: rem(213);

                width: rem(63);
                height: rem(70);
                margin-top: rem(17);
                margin-bottom: 0;
                margin-left: rem(-10);

                &.icon-write {
                    margin-left: rem(5);

                    background-image: url(%=static=%assets/conditions/icon.png);
                    background-size: rem(58) rem(57);
                }
            }
        }
    }

    &__title{
        margin: 0;
        margin-left: rem(-2);

        font-size: rem(48);
        font-weight: 300;
        letter-spacing: rem(-0.4);

        @include below($mobile) {
            font-size: rem(60);
            line-height: rem(60);
        }

        &_bold{
            font-weight: 500;
        }
    }

    &__description{
        margin: rem(26) 0 rem(64) rem(1);

        font-size: rem(18);
        line-height: 1.6;
        letter-spacing: rem(-0.2);

        @include below($mobile) {
            padding-right: rem(50);

            font-size: rem(28);
            line-height: rem(42);

            br {
                display: none;
            }
        }
    }

    &__paragraph{
        margin-top: rem(25);

        font-size: rem(18);
        line-height: 1.3;
        letter-spacing: rem(-0.2);

        @include below($mobile) {
            font-size: rem(28);
            line-height: rem(42);
        }
    }

    &__info{
        display: flex;

        @include below($mobile) {
            flex-wrap: wrap;
        }

        .list{
            margin-top: rem(14);
        }

        .list__item{
            padding-left: rem(35);
            margin-bottom: rem(24);
        }
    }

    &__equipment{
        width: 31.7%;
        padding-top: rem(30);
        padding-right: rem(20);

        border-right: 1px dotted #b7b8bb;

        @include below($mobile) {
            width: 100%;

            border-right: none;
            border-bottom: 1px dotted #b7b8bb;
        }
    }

    &__clarification{
        margin-top: rem(22);
        margin-bottom: 0;

        font-size: rem(14);
        font-style: italic;

        @include below($mobile) {
            font-size: rem(28);
            line-height: rem(42);
        }

        &_top-offset-small{
            margin-top: rem(4);
        }
    }

    &__entrepreneurship{
        width: 68.3%;
        padding-top: rem(30);
        padding-left: rem(38);

        @include below($mobile) {
            width: 100%;
            padding-left: 0;
        }
    }

    &__group{
        display: flex;

        @include below($mobile) {
            flex-wrap: wrap;
        }
    }

    &__group-container{

        &_conditions-obtaining{
            @include above($mobile + 1) {
                width: 51.3%;
                padding-right: rem(15);
            }
        }
    }

    &__text{
        margin-top: rem(16);

        font-size: rem(18);
        line-height: 1.35;
        letter-spacing: rem(-0.2);

        @include below($mobile) {
            font-size: rem(28);
            line-height: rem(42);
        }
    }

    &__mechanism-obtaining{
        margin-top: rem(77);

        .subtitle-border {
            font-size: rem(42);
            line-height: rem(48);
        }

        .conditions__list {
            margin-top: rem(67);
        }

        .conditions--sm .conditions__item:nth-child(1){
            @include above($mobile + 1) {
                width: 34.1%;
            }
        }

        .conditions--sm .conditions__item:nth-child(2){
            @include above($mobile + 1) {
                width: 32.5%;
            }
        }

        .conditions--sm .conditions__item:nth-child(3){
            @include above($mobile + 1) {
                width: 33.4%;
            }
        }

        .conditions--sm .conditions__item:nth-child(1):after{
            @include above($mobile + 1) {
                top: rem(-37);
                left: rem(136);
            }
        }

        .conditions--sm .conditions__item:nth-child(2):after{
            top: rem(-37);
            left: rem(118);

            width: 17.1875rem;
            height: 2.4375rem;

            background: url(../img/general/round-line-triangle.svg) no-repeat;
        }

        .conditions--sm .conditions__list{
            @include above($mobile + 1) {
                padding-right: 0;
                padding-left: rem(13);
                margin-right: rem(-30);
            }
        }

        .conditions--sm .conditions__content{
            @include above($mobile + 1) {
                padding-right: 0;
            }
        }

        .conditions--sm .conditions__numeric::before{
            @include above($mobile + 1) {
                transform: translate(rem(4), 0);
            }
        }

        &_get-surety{
            margin-top: rem(112);
        }

    }

    &__click-icon{
        top: rem(-18) !important;
        left: rem(102);

        width: rem(34);
        height: rem(44);
        margin: 0 !important;
    }

    &__print-icon{
        top: rem(-18) !important;
        left: rem(114);

        width: rem(42);
        height: rem(41);
        margin: 0 !important;
    }

    &__doc-icon{
        top: rem(-18) !important;
        left: rem(116);

        width: rem(40);
        height: rem(44);
        margin: 0 !important;
    }


    &__start-competition{
        display: flex;
        margin-top: rem(92);

        @include below($mobile) {
            flex-wrap: wrap;
        }
    }

    &__start-competition-info{
        width: 35%;
        padding-right: 20px;

        @include below($mobile) {
            width: 100%;
            padding-right: rem(50);
        }

        .subtitle-border{
            margin-top: rem(24);
            margin-bottom: rem(35);
        }

        .list__item{
            margin-bottom: rem(29);
        }
    }

    &__start-competition-docs{
        width: 65%;

        @include below($mobile) {
            width: calc(100% + #{rem(94)});
            margin-right: rem(-75);
            margin-left: rem(-94);
        }

        .subtitle-border{
            padding-bottom: rem(25);
        }

        .blue-side{
            max-width: 100%;
            padding: rem(61) 0px rem(46) rem(80);
        }

        .blue-side__items{
            margin-top: rem(39);
        }

        .blue-side__item{
            align-items: flex-start;
            margin-bottom: rem(31);
        }

        .blue-side__cnt{
            margin-top: 0;
        }

        .blue-side__info-group{
            margin-top: rem(-4);
        }
    }

    &__guarantee-fund{
        //margin-top: rem(135);

        .subtitle-border{
            padding-bottom: rem(28);
            margin-top: rem(71);

            @include below($mobile) {
                padding-right: rem(50);

                font-size: rem(42);
                line-height: rem(52);
            }
        }
    }

    &__guarantee-fund-title{
        font-size: rem(48);
        font-weight: 300;
        line-height: 1.1;
        color: #282828;
        letter-spacing: rem(-0.5);

        &_bold{
            font-weight: 500;
        }
    }

    &__doc-surety-icon{
        top: -1.125rem !important;
        left: rem(101);

        width: 2.5rem;
        height: 2.75rem;
        margin: 0 !important;
    }

    &__check-list-icon{
        top: rem(-20) !important;
        left: rem(116);

        width: rem(42);
        height: rem(42);
        margin: 0 !important;

    }

    &__signature-icon{
        position: absolute;
        top: rem(-17);
        left: rem(117);

        display: block;

        width: rem(50);
        height: rem(45);

    }

    &__banks{
        margin-top: rem(55);
    }

    &__micro-loan{
        margin-top: rem(128);
    }

    &__economic-activity{
        margin-top: rem(156);

        @include below($mobile) {
            padding-right: rem(50);
        }
    }

    &__use-support{
        margin-top: rem(122);

        .subtitle-border {
            font-size: rem(42);
            line-height: rem(48);
        }
    }

    &__use-support-conent{
        display: flex;
        padding-bottom: rem(121);
        margin-right: rem(-100);

        @include below($mobile) {
            flex-wrap: wrap;
            padding-right: rem(50);

        }
    }

    &__use-support{

        .conditions--sm .conditions__numeric::before {
            -webkit-transform: translate(0.25rem, 0);
            transform: translate(0.25rem, 0);
        }

        .conditions--sm .conditions__item:nth-child(1):after {
            top: -2.3125rem;
            left: 8.5rem;
        }

        .conditions--sm .conditions__list{
            padding-right: 0;
            padding-left: 0.8125rem;
            margin-top: rem(52);
        }

        .conditions--sm .conditions__item:nth-child(1) {
            width: rem(407);
        }

        .conditions--sm .conditions__item:nth-child(2) {
            width: rem(348);
            overflow: hidden;

            @include below($mobile) {
                overflow: visible;
            }
        }

        .conditions--sm .conditions__item:nth-child(2):after{
            display: none;
        }

        .conditions__title{
            margin-bottom: rem(23);
        }
    }

    &__review-icon{
        top: rem(-16) !important;
        left: rem(114);

        width: rem(41);
        height: rem(42);
        margin: 0 !important;
    }

    &__plan{
        padding-top: rem(27);
        padding-left: rem(40);

        border-left: 1px dotted #b7b8bb;

        @include below($mobile) {
            position: relative;

            border-left: none;

            &::before {
                content: '';

                position: absolute;
                top: 0;
                left: rem(-92);

                display: block;
                width: 100vw;
                height: 1px;

                border-bottom: 1px dotted #b7b8bb;
            }
        }

        .list{
            margin-top: rem(36);
        }

        .list__item {
            padding-left: rem(36);
            margin-bottom: rem(24);
        }

        .list__item:before {
            top: rem(7);
            left: rem(2);
        }
    }
}
