include ../have-questions/have-questions
include ../surety/surety
include ../banks/banks
include ../micro-loan/micro-loan
include ../icon/icon
include ../economic-activity/economic-activity

mixin finance-support(data)
    +b.finance-support()&attributes(attributes)
        .content
            .container
                .content__inner
                    +e.H3.title <span class="finance-support__title_bold">Субсидии</span> субъектам МСП
                    +e.P.description
                        |В Московской области широко распространено субсидирование малого и среднего предпринимательства. Для этого необходимо<br>
                        |вести бизнес в Московской области, быть зарегитрированным в Едином реестре субъектов МСП, подать необходимые документы<br>
                        |в ГКУ МО «Московский областной центр поддержки предпринимательства» и принять участие в конкурсе Министерства<br>
                        |инвестиций и инноваций Московской области. Ориентировочные сроки проведения конкурса – август 2017 года

                    h3.h3.subtitle-border.subtitle-border_bottom-offset-small Финансовая поддержка
                    +e.info
                        +e.equipment
                            span.badge Приобретение оборудования
                            +e.P.paragraph
                                |Приобретение оборудования<br>
                                |производственными компаниями
                            +e.P.clarification Условия получения:

                            +b.UL.list
                               +e.item Создание / развитие /<br> модернизация производства.
                               +e.item Не более 50 % стоимости оборудования.
                               +e.item Не более 10 млн рублей.

                        +e.entrepreneurship
                            span.badge Поддержка Предпринимательства
                            +e.P.paragraph
                                |Поддержка предпринимательства<br>
                                |в социальной сфере

                            +e.group
                                +e.group-container._conditions-obtaining
                                    +e.P.clarification._top-offset-small Условия получения:
                                    +b.UL.list
                                        +e.item Частичная компенсация затрат<br> на аренду / ремонт / коммунальные <br> услуги / оборудования.
                                        +e.item Не более 85 % целевых затрат.
                                        +e.item Не более 1,5 млн. рублей.

                                +e.group-container
                                    +e.P.clarification._top-offset-small Сферы деятельности:
                                    +e.P.text
                                        |Социальное обслуживание граждан;<br>
                                        |здравоохранение, физкультура, спорт;<br>
                                        |детские центры, кружки, секции,<br>
                                        |творческие мастерские, театры-студии;<br>
                                        |производство медицинской техники и<br>
                                        |изделий для инвалидов; народно-<br>
                                        |художественные промыслы и ремесла.<br>

                    +e.mechanism-obtaining
                        h3.h3.subtitle-border.subtitle-border_bottom-offset-small Механизм получения
                        +b.conditions.conditions--sm
                            +e.list
                                +e.item
                                    +e.numeric
                                        +icon({ icon: 'click', class: 'conditions__icon finance-support__click-icon' })

                                    +e.content
                                        +e.H3.title Регистрация на сайте<br>www.fpmo.ru

                                        +e.P.desc
                                            |Зарегистрируйтесь на сайте<br>
                                            |Московского областного центра<br>
                                            |поддержки предпринимательства<br>
                                            |и введите данные о вашем бизнесе.<br>
                                            = ' '
                                            +e.A(href=jv0).desc-link Зарегистрироваться
                                +e.item
                                    +e.numeric
                                        +icon({ icon: 'print', class: 'conditions__icon finance-support__print-icon' })

                                    +e.content
                                        +e.H3.title Подготовка комплекта <br> документов

                                        +e.P.desc
                                            |Распечатайте и подпишите<br>
                                            |сформированные документы.<br>
                                            |Сделайте копии учредительных<br>
                                            |документов, документов по затратам,<br>
                                            |оформите ТЭО.

                                +e.item
                                    +e.numeric
                                        +icon({ icon: 'doc', class: 'conditions__icon finance-support__doc-icon' })

                                    +e.content
                                        +e.H3.title Подача документов<br>на конкурс

                                        +e.P.desc
                                            |Подайте прошитый комплект документов<br>
                                            |в МФЦ (Одинцово, Красногорск, Химки,<br>
                                            |Реутов, Подольск) или в ГКУ МО<br>
                                            |«Московский областной центр поддержки<br>
                                            |предпринимательства»

                    +e.start-competition
                        +e.start-competition-info
                            h3.h3.subtitle-border Старт конкурса будет объявлен на сайтах

                            +b.UL.list
                               +e.item
                                    +e.site-name Министерство инвестиций и инноваций Московской области
                                    +e.divide Раздел: «Документы / Малому и среднему предпринимательству»
                                    +e.A.site-link(href="http://mii.mosreg.ru" target="_blank") http://mii.mosreg.ru
                               +e.item
                                    +e.site-name Малый бизнес Подмосковья
                                    +e.divide Раздел: «Бизнесу»
                                    +e.A.site-link(href="http://mbmosreg.ru" target="_blank") http://mbmosreg.ru

                        +e.start-competition-docs
                            +b.blue-side
                                h3.h3.h3--light.subtitle-border.subtitle-border--light Официальные <b>документы</b>
                                +e.items
                                   +e.item
                                        +e.icon
                                            +icon({ icon: 'business-plan', class: '' })
                                        +e.info-group
                                            +e.cnt
                                                p Подпрограмма Развитие МСП в Московской области
                                            +e.A.act(href="#") Скачать (4.5Кб .doc)
                                   +e.item
                                        +e.icon
                                            +icon({ icon: 'document-founder', class: '' })
                                        +e.info-group
                                            +e.cnt
                                                p Постановление о конкурсе
                                            +e.A.act(href="#") Скачать (4.5Кб .doc)
                                   +e.item
                                        +e.icon
                                            +icon({ icon: 'finance-grow', class: '' })
                                        +e.info-group
                                            +e.cnt
                                                p Найди себя в Едином Реестре МСП
                                            +e.A.act(href="#") Перейти на сайт www.ofd.nalog.ru

                    +have-questions
                    +e.guarantee-fund
                        +e.guarantee-fund-title
                            |<span class="finance-support__guarantee-fund-title_bold">Гарантийный фонд Московской области –</span><br>
                            |поручаемся за Ваш бизнес!

                        h3.h3.subtitle-border Предоставление поручительств малому и среднему бизнесу<br>по кредитам и банковским гарантиям
                        +surety


                    +e.mechanism-obtaining._get-surety
                        h3.h3.subtitle-border.subtitle-border_bottom-offset-small Как получить поручительства
                        +b.conditions.conditions--sm
                            +e.list
                                +e.item
                                    +e.numeric
                                        +icon({ icon: 'doc', class: 'conditions__icon finance-support__doc-surety-icon' })

                                    +e.content
                                        +e.H3.title Подать заявку<br>на кредит/гарантию

                                        +e.P.desc
                                            |Подайте заявку на кредит/<br>
                                            |банковскую гарантию с пакетом<br>
                                            |документов в любой из банков-<br>
                                            |партнеров. Список банков доступен<br>
                                            |на сайте
                                            +e.A(href=jv0) mosreg-garant.ru
                                +e.item
                                    +e.numeric
                                        +icon({ icon: 'check-list', class: 'conditions__icon finance-support__check-list-icon' })

                                    +e.content
                                        +e.H3.title Cоставить заявку на<br>предоставление поручительства

                                        +e.P.desc
                                            |Если банк выдаст положительное<br>
                                            |решение и в случае недостаточности<br>
                                            |обеспечения составьте заявку на<br>
                                            |предоставление поручительства<br>
                                            |вместе со специалистом банка


                                +e.item
                                    +e.numeric
                                        +icon({ icon: 'dogovor', class: 'conditions__icon finance-support__signature-icon' })
                                        //-img.finance-support__signature-icon(src="%=static=%img/assets/finance-support/signature.png" alt = "Иконка с подписью")

                                    +e.content
                                        +e.H3.title Заключить 3-сторонний<br>договор поручительства

                                        +e.P.desc
                                            |В случае получения<br>
                                            |положительного решения фонда<br>
                                            |(3 дня), заключить 3-сторонний<br>
                                            |договор поручительства

                    +e.banks
                        +banks
                    +e.micro-loan
                        +micro-loan
                    +e.economic-activity
                        +economic-activity
                    +e.use-support
                        h3.h3.subtitle-border Как воспользоваться поддержкой
                        +e.use-support-conent
                            +e.manual
                                +b.conditions.conditions--sm
                                    +e.list
                                        +e.item
                                            +e.numeric
                                                +icon({ icon: 'click', class: 'conditions__icon finance-support__click-icon' })

                                            +e.content
                                                +e.H3.title Ознакомиться<br>с информацией

                                                +e.P.desc
                                                    |Узнайте больше об основных<br>
                                                    |целях деятельности Фонда<br>
                                                    |поддержки ВЭД и оказываемых<br>
                                                    |Фондом услугах на сайте<br>
                                                    |«Малый бизнес Подмосковья»<br>
                                                    +e.A(href="www.mbmosreg.ru") www.mbmosreg.ru
                                        +e.item
                                            +e.numeric
                                                +icon({ icon: 'review', class: 'conditions__icon finance-support__review-icon' })

                                            +e.content
                                                +e.H3.title Подать заявку<br>в фонд поддержки ВЭД

                                                +e.P.desc
                                                    |Подайте заявку на любую из мер
                                                    |поддержки по ВЭД, заполнив
                                                    |форму на сайте. Подать заявку
                                                    |также можно по телефону
                                                    |+7(926) 971-62-64 и по имейл
                                                    +e.A(href="mailto:exporthelp@mosreg.ru") exporthelp@mosreg.ru

                            +e.plan
                                span.badge Планируемые мероприятия
                                +b.UL.list
                                    +e.item
                                        +e.event-name Обучающие семинары
                                        +e.event-info
                                            |2017: «Современные электронные <br>
                                            |каналы продаж на зарубежные рынки»,  <br>
                                            |«Рентабельность и риски экспортной  <br>
                                            |сделки. Экспортный контроль» и др.
                                    +e.item
                                        +e.event-name Бизнес-миссии
                                        +e.event-info
                                            |2017: Узбекистан, КНР, Германия и др.
                                    +e.item
                                        +e.event-name Международные выставки
                                        +e.event-info
                                            |2017: «Промышленность»: Сербия; <br>
                                            |«Машиностроение», Чехия и др.
                                    +e.item
                                        +e.event-name Услуги в области ВЭД
