.button-base {

    &__button {
        width: 100%;
        padding-top: rem(10);
        padding-bottom: rem(8);

        font-size: rem(14);
        font-weight: 500;
        line-height: rem(24);
        color: $light;
        text-align: center;
        text-transform: uppercase;

        border: none;
        background-color: #305beb;
        cursor: pointer;
    }
}
