mixin logo(data)
    +b.logo(href='index.html')&attributes(attributes)
        +e.DIV.icon-wrap
            +icon({ icon: 'logo', class: 'logo__icon' })

        +e.DIV.text
            +e.P.title Инвестиционный портал
            +e.subtitle Московской области
