.logo {
    position: relative;
    top: 0;

    display: flex;
    align-items: center;

    font-family: $font-2;
    color: #282828;
    text-decoration: none;

    &__text {
        position: relative;
        bottom: rem(-3);

        @include below($mobile) {
            // margin-bottom: rem(-4);
        }
    }

    .header_theme_simple & {
       // align-items: flex-end;
    }

    .header_theme_light & {
        align-items: center;
    }

    &_theme_light {
        color: #fff;
    }

    &__icon-wrap {
        margin-right: rem(25);

        @include above($mobile + 1) {
            margin-right: rem(15);
        }
    }

    &__icon {
        width: rem(57);
        height: rem(80);
        fill: #697078;

        @include above($mobile + 1) {
            width: rem(36);
            height: rem(50);
        }

        .header_theme_light & {
            position: relative;
            //top: rem(-6);
        }
    }


    &__title {
        margin: 0;
        margin-top: rem(4);

        font-size: rem(18);
        font-weight: 700;
        line-height: (26 / 23);
        letter-spacing: -.02em;

        @include above($mobile + 1) {
            font-size: rem(18);
        }

        @include above($desktop + 1) {
            font-size: rem(23);
        }

        @include below($mobile) {
            font-size: rem(36);
            line-height: rem(40);
            letter-spacing: rem(-.4);
        }

        .header_theme_light & {
            position: relative;
            //top: rem(-3);
        }
    }

    &__subtitle {
        font-size: rem(21);
        line-height: (20 / 13);

        @include above($mobile + 1) {
            font-size: rem(13);
        }

        @include below($mobile) {
            font-size: rem(22);
            line-height: rem(40);
        }

        .header_theme_simple & {
            display: block;
        }

        .header_theme_light & {
            /*@include below($desktop) {
                display: none;
            }*/
        }

        .footer & {
            @include above($mobile + 1) {
                display: block;
            }
        }
    }
}

.cecutient-mode .logo {
    align-items: flex-end;

    &__icon {
        position: relative;
        top: rem(5);

        width: 100%;
        height: 100%;
        fill: $dark;

        &-wrap {
            width: rem(47);
            height: rem(66);
            margin-right: rem(17);
        }
    }
    &__text {
        margin-bottom: rem(-4);
    }
    &__title {
        top: 0;

        font-family: $font-1;
        font-size: rem(20);
        font-weight: 700;
        line-height: rem(30);
        letter-spacing: rem(-0.1);
    }
    &__subtitle {
        font-family: $font-1;
        font-size: rem(20);
        font-weight: 500;
        line-height: rem(30);
        letter-spacing: rem(-0.1);
    }
}
