include ../content/content
include ../projects/projects
include ../file-size/file-size
include ../icon/icon
include ../measures-list/measures-list
include ../investclimate/investclimate

mixin property-support(data)
    +b.property-support()&attributes(attributes)
        block
        +content._theme_property-support
            H2.title #[strong Объекты]#{' '} имущества
            p.property-support__description На территории Московской области
                = ' '
                span.property-support__strong 1 379 объектов государственного и муниципального недвижимого имущества общей площадью
                = ' '
                | 195 572,48 кв.м.  доступно для предпринимателей.
        +content._theme_projects-property
            .projects
                .projects__location
                    .projects__left
                        h4.projects__title Аренда площадей
                        p.projects__count #[strong 1379] объектов
                        p.projects__text Для получения в аренду объекта муниципальной собственности обратиться по телефонам Комитетов по управлению имущества соответствующего муниципального образования заполнить и представить заявления.
                        +file-size(file_size.property)
                    .projects__right
                        .projects__map-wrap
                            .projects__map-marker
                                a(href="/map").projects__map-count 12
                            .projects__map-marker
                                a(href="/map").projects__map-count 4
                            .projects__map-marker
                                a(href="/map").projects__map-count 9
                            .projects__map-marker
                                a(href="/map").projects__map-count 7
                            .projects__map-marker
                                a(href="/map").projects__map-count 9
                            .projects__map-marker
                                a(href="/map").projects__map-count 4
                            .projects__map-marker
                                a(href="/map").projects__map-count 7
                            .projects__map-marker
                                a(href="/map").projects__map-count 12
                            .projects__map-marker
                                a(href="/map").projects__map-count 15
                            .projects__map-marker
                                a(href="/map").projects__map-count 6
                            +icon({ icon: 'map', class: 'projects__map' })
        .content.content_theme_return.content_theme_return_property.content-gray-right
            .container
                .content__inner
                    h2.content__title
                        | Льготы на аренду для
                        = ' '
                        b социально-значимых
                            br
                            = ' '
                            | предприятий
                    .content__col-wrap
                        .content__col-l
                            .badge  Льготы на аренду
                            .big-price
                                span.big-price__price 50
                                .big-price__aftertext
                                    .big-price__afterbot
                                        | %
                            .description Предприниматели, осуществляющие социально-значимые виды деятельности вправе получить 50% льготу на аренду муниципальных и региональных помещений.
                        .content__col-r
                            h3.h3.subtitle-border Перечень социально-значимых видов деятельности
                            ul.list
                                li.list__item   Магазины шаговой доступности, пекарни до 100 кв.м включительно
                                li.list__item   Парикмахерские, химчистки, ремонт обуви, дома быта до 100 кв.м включительно
                                li.list__item   Ветеринарные клиники до 100 кв.м включительно
                                li.list__item   Частные детские сады и образовательные центры
                                li.list__item   Развитие  здравоохранения
                                li.list__item   Развитие физической культуры, спорта
                                li.list__item   Социальное обслуживание граждан
                                li.list__item   Народно-художественные промыслы и ремесла
        +content._theme_investclimate._theme_investclimate_ministry
            +e.title
                b   Министерство имущественных отношений
                br
                = ' '
                | Московской области
            +investclimate(investclimate.property)





