.property-support {

    &__description {
        font-size: rem(24);
        font-weight: 300;
        line-height: rem(36);
        color: $dark;
    }

    &__strong {
        font-weight: 500;
    }

    &__investclimate {
        margin-top: rem(68);
    }


}
