include ../checkbox/checkbox
include ../input-base/input-base
include ../button-base/button-base

mixin p-popups(data)
    +b.p-popups()&attributes(attributes)
        block
        //- Попап фильтр
        .popup-base.popup-base_visible.popup-base_filter
            .popup-base__header
                p.popup-base__title Фильтр
                a(href=jv0).popup-base__minify
                a(href=jv0).popup-base__close
            .popup-base__body
                form.popup-base__form
                    .popup-base__box
                        label.popup-base__label.popup-base__label_openable Площадь участка, га
                        .popup-base__inner
                            .popup-base__between
                                +input-base({placeholder: 'от', class: 'popup-base__input'})
                                +input-base({placeholder: 'до', class: 'popup-base__input'})
                    .popup-base__box
                        label.popup-base__label.popup-base__label_openable Удалённость от Москвы, км.
                        .popup-base__inner
                            .popup-base__between
                                +input-base({placeholder: 'от', class: 'popup-base__input'})
                                +input-base({placeholder: 'до', class: 'popup-base__input'})
                    .popup-base__box
                        +checkbox({
                            name: 'located-oez',
                            text: 'Расположен в ОЭЗ',
                            className: '_theme_standart',
                            checked: true
                        }).popup-base__checkbox
                    .popup-base__box
                        +checkbox({
                            name: 'lease-1',
                            text: 'Аренда',
                            className: '_theme_standart',
                            checked: false
                        }).popup-base__checkbox
                        +checkbox({
                            name: 'sale-1',
                            text: 'Продажа',
                            className: '_theme_standart',
                            checked: false
                        }).popup-base__checkbox
                    .popup-base__box
                        label.popup-base__label.popup-base__label_openable Подключены
                        .popup-base__inner
                            +checkbox({
                                name: 'gas',
                                text: 'Газ',
                                className: '_theme_standart',
                                checked: false
                            }).popup-base__checkbox
                            +checkbox({
                                name: 'electricity',
                                text: 'Электричество',
                                className: '_theme_standart',
                                checked: true
                            }).popup-base__checkbox
                            +checkbox({
                                name: 'electricity',
                                label: 'water-supply',
                                className: '_theme_standart',
                                checked: fasle
                            }).popup-base__checkbox
                            +checkbox({
                                name: 'Sewerage',
                                label: 'Канализация',
                                className: '_theme_standart',
                                checked: false
                            }).popup-base__checkbox
                    .popup-base__box
                        label.popup-base__label.popup-base__label_openable Стоимость, руб
                        .popup-base__inner
                            .popup-base__between
                                +input-base({placeholder: 'от', class: 'popup-base__input'})
                                +input-base({placeholder: 'до', class: 'popup-base__input'})
                    .popup-base__box
                        a(href=jv0).popup-base__link Больше параметров
        br
        br
        //- Попап авторизация
        .popup-base.popup-base_visible.popup-base_authorization
            .popup-base__header
                p.popup-base__title Авторизация
                a(href=jv0).popup-base__close
            .popup-base__body
                form.popup-base__form
                    .popup-base__box
                        +input-base({placeholder: 'Email'})
                        +input-base({placeholder: 'Пароль'})
                        +button-base({value: 'Войти'})
                    .popup-base__box.popup-base__box_flex
                        span.popup-base__label Войти через портал
                        a(href=jv0).popup-base__link
                            img(src="%=static=%img/content/gosuslugi/gosuslugi.png").popup-base__ico
                    .popup-base__box.popup-base__box_links
                        a(href=jv0).popup-base__register Регистрация
                        a(href=jv0).popup-base__reestablish Забыли пароль

        br
        br
        //- Попап регистрации
        .popup-base.popup-base_visible.popup-base_registration
            .popup-base__header
                p.popup-base__title Регистрация
                a(href=jv0).popup-base__close
            .popup-base__body
                form.popup-base__form
                    .popup-base__box
                        +input-base({placeholder: 'Email', class: 'popup-base__input'})
                        +input-base({placeholder: 'ФИО', class: 'popup-base__input'})
                        +input-base({placeholder: 'Пароль', class: 'popup-base__input'})
                        +input-base({placeholder: 'Повторите пароль', class: 'popup-base__input'})
                        +button-base({value: 'Зарегистрироваться'})

        br
        br
        //- Попап подписка
        .popup-base.popup-base_visible.popup-base_subscribe
            .popup-base__header
                p.popup-base__title Подписка
                a(href=jv0).popup-base__close
            .popup-base__body
                form.popup-base__form
                    .popup-base__box
                        label.popup-base__label.popup-base__label_only-text Укажите адрес почты, на которую хотите получать информацию о появлении новых объектов.
                        +input-base({placeholder: 'Email', class: 'popup-base__input'})
                    .popup-base__box
                        label.popup-base__label.popup-base__label_only-text Укажите параметры интересующих объектов
                    .popup-base__box
                        label.popup-base__label.popup-base__label_openable Тип объекта
                        .popup-base__inner
                            +checkbox({
                                name: 'industrial-park',
                                text: 'Индустриальные парки',
                                className: '_theme_standart',
                                checked: true
                            }).popup-base__checkbox
                            +checkbox({
                                name: 'techno-park',
                                text: 'Технопарки',
                                className: '_theme_standart',
                                checked: true
                            }).popup-base__checkbox
                            +checkbox({
                                name: 'oez',
                                text: 'ОЭЗ',
                                className: '_theme_standart',
                                checked: true
                            }).popup-base__checkbox
                            +checkbox({
                                name: 'braundfields',
                                text: 'Браунфилды',
                                className: '_theme_standart',
                                checked: true
                            }).popup-base__checkbox
                    .popup-base__box
                        label.popup-base__label.popup-base__label_openable Площадь, га
                        .popup-base__inner
                            .popup-base__between
                                +input-base({placeholder: 'от', class: 'popup-base__input'})
                                +input-base({placeholder: 'до', class: 'popup-base__input'})
                    .popup-base__box
                        +checkbox({
                            name: 'lease',
                            text: 'Аренда',
                            className: '_theme_standart',
                            checked: false
                        }).popup-base__checkbox
                    .popup-base__box
                        +checkbox({
                            name: 'sale',
                            text: 'Продажа',
                            className: '_theme_standart',
                            checked: false
                        }).popup-base__checkbox
                    .popup-base__box
                        label.popup-base__label.popup-base__label_openable Стоимость, руб
                        .popup-base__inner
                            .popup-base__between
                                +input-base({placeholder: 'от', class: 'popup-base__input'})
                                +input-base({placeholder: 'до', class: 'popup-base__input'})
                    .popup-base__box
                        label.popup-base__label.popup-base__label_openable Удалённость от Москвы
                        .popup-base__inner
                            .popup-base__between
                                +input-base({placeholder: 'от', class: 'popup-base__input'})
                                +input-base({placeholder: 'до', class: 'popup-base__input'})
                    .popup-base__box
                        +button-base({value: 'Подписаться'})
        br
        br
