include ../download/download

mixin table(data)
    +b.table()&attributes(attributes)
        +e.TABLE.table

            +e.THEAD.thead
                +e.TR.tr
                    each item in data.th
                        +e.TH.th!= item.text

            +e.TBODY.tbody
                each item, n in data.tr
                    +e.TR.tr
                        +e.TD.td!= n + 1 + '.'
                        +e.TD.td!= item.td
                        +e.TD.td
                            +download(download.table)
                        +e.TD.td
                            +download(download.table)


