.table {
    &__thead {
        .table {
            &__tr {
                border-top: 1px solid #dadbdc;
                border-bottom: 1px solid #dadbdc;
                background: #fafcfd;
            }

            &__th {
                padding: rem(26) 0 rem(33);

                font-size: rem(18);
                font-weight: 500;
                line-height: (28/18);
                color: #000000;
                text-align: left;

                &:nth-child(1) {
                    min-width: rem(120);
                    padding-left: rem(24);
                }

                &:nth-child(2) {
                    min-width: rem(300);
                }

                &:nth-child(3) {
                    min-width: rem(407);
                }
            }
        }
    }

    &__tbody {
        .table {

            &__tr {
                border-bottom: 1px solid #dadbdc;
            }

            &__td {
                padding: rem(22) 0;

                font-size: rem(18);
                font-weight: 300;
                line-height: (28/18);
                color: #000000;
                vertical-align: top;

                &:nth-child(1) {
                    padding-left: rem(22);
                }
            }
        }
    }

    .download {
        max-width: rem(380);
        margin-top: rem(3);

        .download__link {
            line-height: (24/18);
        }

        .download__type {
            margin-top: rem(3);

            line-height: (24/14);
        }

        .download__link-box {
            padding-top: rem(6);

            line-height: (24/18);
        }


        &::before {
            display: none;
        }

        .download__icon-box {
            padding-right: rem(12);
            margin-top: rem(5);
        }
    }
}
