include ../icon/icon

mixin search(data)
    +b.search()&attributes(attributes)
        +e.INPUT.input(name='search' type='search' placeholder='Поиск' required=true)
        +e.BUTTON.btn._submit(type='submit')
            +icon({ icon: 'search-1', class: 'search__icon' })
        +e.BUTTON.btn._reset(type='reset')
            +icon({ icon: 'reset', class: 'search__icon' })
