.search {
    position: relative;

    display: flex;
    align-items: center;
    width: 100%;
    height: rem(51);
    //margin-right: rem(50);

    border: 1px solid #000000;

    &__input {
        width: 100%;
        padding: rem(8) rem(23);
        margin-top: rem(3);
        margin-left: rem(54);

        font-size: rem(18);
        line-height: (24/18);

        border: none;
        border-left: 1px solid #cccccc;

        @include below ($tablet) {
            width: rem(120);
        }

        @include below ($desktop) {
            width: rem(130);
        }
    }

    &__btn {
        position: absolute;

        padding: 0;

        border: none;

        background: none;
        cursor: pointer;

        &_submit {
            top: calc(50% - #{rem(7)});
            left: rem(20);

            width: rem(15);
            height: rem(14);
        }

        &_reset {
            z-index: 10;
            top: calc(50% - #{rem(12.5)});
            right: rem(20);

            width: rem(23);
            height: rem(23);

            background-color: $light;
        }
    }

    &__icon {
        position: absolute;
        top: 0;
        left: 0;

        color: #4a72b8;
    }
}
