.projects {
    @include between($mobile + 1, $desktop) {
        padding-right: rem(72);
        margin-top: rem(-9);
    }

    &__cecutient-mode-text {
        display: none;
        align-items: center;
        justify-content: center;

        width: 100%;
        height: 100%;

        font-size: rem(32);
        font-weight: 500;
        color: #000000;
        text-align: center;
        text-decoration: none;
    }

    &__slider {
        margin-top: rem(42);

        @include above($desktop + 1) {
            // margin-right: calc(50% - 50vw);
        }

        .slick-slide {
            @include above($mobile + 1) {
                margin: 0 .5px;
            }
        }

        .slick-list {
            padding-bottom: rem(35);

            @include above($mobile + 1) {
                margin: 0 -.5px;
            }
        }
    }

    &__item {
        width: rem(563);

        box-shadow: 0 rem(80) rem(50) rem(-85) rgba(0, 0, 0, .8);

        @include above($mobile + 1) {
            width: rem(341);
        }

        @include above($desktop + 1) {
            // width: rem(384);
        }

        @include above(1980px) {
            // width: rem(600);
        }
    }

    &__location {
        margin-top: rem(65);

        @include above($mobile + 1) {
            display: flex;
            flex-wrap: wrap;
            margin-top: rem(78);
        }

        @include above($desktop + 1) {
            margin-top: rem(110);
        }

    }

    &__left {
        @include below($mobile) {
            width: 100%;
        }

        @include above($mobile + 1) {
            position: relative;
            z-index: 1;

            width: rem(440);
        }
    }

    &__right {
        @include below($mobile) {
            width: 100%;
        }

        @include above($mobile + 1) {
            position: relative;
            z-index: 0;

            width: rem(518);
            height: rem(589);
            padding-left: rem(76);
        }
    }

    &__left {
        @include above($mobile + 1) {
            padding-right: rem(20);
        }

        @include above($desktop + 1) {
            width: rem(504);
            padding-right: rem(12);
        }
    }

    &__title {
        position: relative;

        padding-bottom: rem(17);
        margin-top: 0;
        margin-bottom: rem(10);

        font-size: rem(42);
        font-weight: 300;
        line-height: (48 / 32);

        color: rgba(#000, .75);

        @include above($mobile + 1) {
            font-size: rem(32);
        }

        @include below($mobile) {
            margin-bottom: rem(22);

            line-height: (56/42);
        }

        &_mobile {
            display: none;

            @include below($desktop) {
                display: block;
                & + .projects__title {
                    display: none;
                }
            }

            @include below($mobile) {
                display: none;

                & + .projects__title {
                    display: block;
                }
            }
        }

        &::before {
            content: '';

            position: absolute;
            z-index: 1;
            bottom: 0;
            left: 0;

            height: 1px;

            background-color: #000;

            @include below($mobile) {
                bottom: rem(-10);

                width: rem(120);
            }

            @include above($mobile + 1) {
                right: rem(-122);
            }

            @include above($desktop + 1) {
                right: rem(-130);
            }
        }

        &::after {
            @include above($mobile + 1) {
                @include size(rem(11));
                content: '';

                position: absolute;
                z-index: 1;
                right: rem(-133);
                bottom: rem(-5);

                border: 1px solid #000;
                transform: rotate(45deg);
            }

            @include above($desktop + 1) {
                right: rem(-142);
                bottom: rem(-5);
            }
        }
    }

    &__text {
        margin: 0;

        font-size: rem(28);
        font-weight: 300;
        line-height: (24 / 18);
        color: rgba(#000, .75);

        @include above($mobile + 1) {
            font-size: rem(18);
        }

        @include below($desktop) {
            br {
                content: ' ';
            }
        }

        @include below($mobile) {
            line-height: (42/28);
        }
    }

    &__count {
        margin-top: rem(-30);
        margin-bottom: rem(-27);

        font-size: rem(32);
        color: #3777e8;

        @include above($mobile + 1) {
            margin-top: rem(24);
        }

        @include above($desktop + 1) {
            margin-top: 0;
        }

        @include between($mobile + 1, $desktop) {
            margin-bottom: rem(-18);
        }

        @include below($mobile) {
            margin-bottom: rem(-36);
        }

        strong {
            font-size: rem(211);
            font-weight: 500;

            @include above($mobile + 1) {
                font-size: rem(140);
            }

            @include above($desktop + 1) {
                font-size: rem(160);
            }
        }
    }

    &__map-wrap {
        position: relative;

        height: 100%;

        @include between($mobile + 1, $desktop) {
            right: rem(-123);
        }

        @include below($mobile) {
            top: rem(85);
        }
    }

    &__map-marker {
        @include size(rem(30));
        position: absolute;
        z-index: 1;

        font-size: rem(23);
        font-weight: 700;
        color: #3777e8;
        text-align: center;

        border: 2px solid #fff;
        border-radius: 50%;
        background-color: #3777e8;
        box-shadow: 0 rem(6) rem(25) rgba(0, 0, 0, .24);
        cursor: pointer;

        transition: all .3s;

        @include above($mobile + 1) {
            transform: scale(1);
        }

        &:nth-child(1) {
            top: rem(112);
            left: rem(-1);

            @include above($mobile + 1) {
                top: rem(112);
                left: rem(-1);
            }

            @include below($mobile) {
                left: rem(7);
            }
        }

        &:nth-child(2) {
            top: rem(193);
            left: rem(71);

            @include above($mobile + 1) {
                top: rem(193);
                left: rem(71);
            }

            @include below($mobile) {
                left: rem(96);
            }
        }

        &:nth-child(3) {
            top: rem(120);
            left: rem(74);

            @include above($mobile + 1) {
                top: rem(120);
                left: rem(74);
            }

            @include below($mobile) {
                left: rem(239);
            }
        }

        &:nth-child(4) {
            top: rem(74);
            left: rem(114);

            @include above($mobile + 1) {
                top: rem(74);
                left: rem(114);
            }

            @include below($mobile) {
                left: rem(247);
            }
        }

        &:nth-child(5) {
            top: rem(36);
            left: rem(279);

            @include above($mobile + 1) {
                top: rem(36);
                left: rem(279);
            }

            @include below($mobile) {
                left: rem(286);
            }
        }

        &:nth-child(6) {
            top: rem(83);
            right: rem(174);

            @include above($mobile + 1) {
                top: rem(83);
                right: rem(174);
            }

            @include below($mobile) {
                right: rem(107);
            }
        }

        &:nth-child(7) {
            top: rem(125);
            left: rem(286);

            @include above($mobile + 1) {
                top: rem(127);
                left: rem(289);
            }

            @include below($mobile) {
                left: rem(325);
            }
        }

        &:nth-child(8) {
            top: rem(245);
            right: rem(-58);

            @include above($mobile + 1) {
                top: rem(245);
                right: rem(-58);
            }


            @include below($mobile) {
                left: rem(249);
            }
        }

        &:nth-child(9) {
            right: rem(44);
            bottom: rem(211);

            @include above($mobile + 1) {
                right: rem(44);
                bottom: rem(211);
            }

            @include below($mobile) {
                right: rem(63);
            }
        }

        &:nth-child(10) {
            right: rem(3);
            bottom: rem(366);

            @include above($mobile + 1) {
                right: rem(3);
                bottom: rem(366);
            }

            @include below($mobile) {
                right: rem(-24);
            }
        }

        &:nth-child(11) {

            right: rem(-47);
            bottom: rem(242);

            @include below($mobile) {
                display: none;
            }
        }

        &:nth-child(12) {

            right: rem(-81);
            bottom: rem(276);

            @include below($mobile) {
                display: none;
            }
        }

        &:hover {
            transform: scale(1.3);
        }

        &_size {

            &_big {
                width: rem(45);
                height: rem(45);

                &::before,
                &::after {
                    content: '';

                    position: absolute;
                    top: 50%;
                    left: 50%;

                    display: block;

                    border-radius: 50%;
                    transform: translate(-50%, -50%);
                }

                &::before {
                    width: rem(28);
                    height: rem(28);

                    background-color: #3d82fb;
                }

                &::after {
                    width: rem(16);
                    height: rem(16);

                    background-color: #fff;
                }
            }

            &_small {
                width: rem(22);
                height: rem(22);
            }
        }
    }

    &__map-count {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;

        display: block;
        width: 100%;
        height: 100%;

        text-decoration: none;

        border-radius: 50%;
    }

    &__map {
        position: relative;
        top: rem(-111);
        right: rem(45);

        width: rem(623);
        height: rem(589);
        fill: #e6e8ee;

        @include above($mobile + 1) {
            top: rem(-56);
            right: rem(47);
        }

        @include below($mobile) {
            width: rem(780);
            height: rem(815);
        }
    }

    &__btn {
        position: relative;

        display: inline-block;
        padding: 0 rem(55);
        margin-top: rem(38);

        font-size: rem(14);
        font-weight: 500;
        line-height: rem(50);
        color: #000;
        white-space: nowrap;
        text-decoration: none;
        text-transform: uppercase;

        border: 1px solid #000;
        box-shadow: 0 rem(15) rem(20) rem(-8) rgba(0, 0, 0, 0.1);

        transition: all .3s;

        @include above($mobile + 1) {
            margin-top: rem(35);
        }

        @include above($desktop + 1) {
            margin-top: rem(38);
        }

        @include below($mobile) {
            position: absolute;
            z-index: 2;
            right: rem(38);
            bottom: rem(130);
            left: rem(55);

            font-size: rem(28);
            line-height: rem(106);
            text-align: center;

            background-color: #fff;
        }

        &:hover {
            color: #fff;

            border-color: #305beb;
            background: #305beb;
            box-shadow: 0 rem(15) rem(20) rem(-8) rgba(55, 119, 232, 0.6);
        }

        &_blue {
            padding: 0 #{rem(25)};

            color: $light;

            border-color: $color1;
            background-color: $color1;
        }
    }

    &__advantages {
        padding-top: rem(62);

        @include below($desktop) {
            padding-top: rem(21);
        }
    }

    &__adv-items {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: rem(20);


        &_mobile {
            display: none;

            @include below($desktop) {
                display: flex;

                & + .projects__adv-items {
                    display: none;
                }
            }

            @include below($mobile) {
                display: none;

                & + .projects__adv-items {
                    display: flex;
                }
            }

            .projects__number {
                color: #fff;

                .cecutient-mode & {
                    color: #000;
                }

                &::before {
                    background-color: #fff;
                }
            }

            .projects__adv-text {
                color: #fff;

                .cecutient-mode & {
                    color: #000;
                }
            }
        }
    }

    &__adv-item {
        display: flex;
        width: 50%;
        margin-bottom: rem(50);

        @include below($desktop) {
            width: 45%;
        }

        @include below($mobile) {
            margin-bottom: rem(45);

            &:nth-child(2n - 1) {
                .projects__number {
                    min-width: 0;
                    margin-right: rem(25);
                }
            }
        }

        &:nth-child(2n) {
            padding-left: rem(16);

            @include below($desktop) {
                padding-left: rem(10);
            }
        }
    }

    &__number {

        position: relative;

        min-width: rem(70);
        min-height: rem(73);
        padding-right: rem(12);
        margin-top: rem(-7);

        font-size: rem(48);
        font-weight: 700;
        line-height: (58/48);
        color: #3777e8;
        text-align: right;


        @include below($mobile) {
            padding-right: 0;
            margin-right: rem(14);

            font-size: rem(56);
            font-weight: 700;
            line-height: (58/56);
        }

        &::before {
            content: '';

            position: absolute;
            bottom: rem(-3);
            left: 0;

            width: rem(65);
            height: 1px;

            background-color: #000;

            @include below($mobile) {
                display: none;
            }
        }
    }

    &__adv-text {
        margin-left: rem(5);

        font-size: rem(16);
        font-weight: 400;
        line-height: (22/16);
        color: #000000;
        letter-spacing: rem(-.2);
        text-transform: uppercase;

        @include below($desktop) {
            opacity: .8;
        }

        @include below($mobile) {
            font-size: rem(23);
            line-height: (28/23);
        }
    }

    &__buttons {
        display: flex;
        margin-right: rem(-400);
    }

    &__adv-btn {
        display: inline-block;
        padding: rem(14) rem(21) rem(14) rem(16);

        font-size: rem(14);
        font-weight: 500;
        line-height: (24/14);
        color: #ffffff;
        text-decoration: none;
        letter-spacing: rem(-.3);
        text-transform: uppercase;

        background-color: #3777e8;
        box-shadow: 0 rem(15) rem(20) rem(-8) rgba(55, 119, 232, 0.6);

        transition: all .3s;


        @include below($desktop) {
            display: none;
        }

        @include below($mobile) {
            position: absolute;
            z-index: 1;
            bottom: rem(-659);
            left: rem(-40);

            display: inline-block;

            width: calc(100vw - 5.7rem);
            padding: rem(23) 0;

            font-size: rem(28);
            font-weight: 500;
            line-height: (34/28);
            color: #000000;
            text-align: center;
            text-transform: uppercase;

            border: 1px solid #000;
            background-color: #fff;
            box-shadow: 0 rem(15) rem(20) rem(-8) rgba(0, 0, 0, 0.1);

            transition: all .3s;
        }

        &:hover {
            color: #fff;

            background: #305beb;
        }

        &_mobile {
            position: absolute;
            bottom: rem(-20);
            left: rem(63);

            display: none;
            padding: rem(14) rem(55);

            color: #3878e8;

            background-color: #ffffff;
            box-shadow: 0 0.625rem 1.875rem rgba(47, 64, 76, 0.21);

            @include below($desktop) {
                display: inline-block;

                & + .projects__adv-btn {
                    display: none;
                }
            }

            @include below($mobile) {
                display: none;


                & + .projects__adv-btn {
                    display: inline-block;
                }
            }
        }

        &_theme_light {
            color: #000;

            border: rem(2) solid #000;
            background-color: transparent;

            &:hover {
                border-color: #305beb;
                background-color: #305beb;
                box-shadow: 0 rem(15) rem(40) rem(-15) rgba(48, 91, 235, 1);
            }
        }

        .cecutient-mode .p-business__projects & {

            color: #fff !important;

            background-color: #000;
            box-shadow: none;
        }
    }
}

.cecutient-mode {

    .projects {
        padding: 0;
        padding-bottom: rem(32);
        .slick-list {
            height: rem(512);
        }
        &__right {
            padding-left: 0;
        }
        &__title {
            color: $dark;
        }
        &__slider {
            margin-top: rem(57);
            margin-right: rem(1);
        }
        &__slider .slick-slide {
            margin: 0 rem(-1);
        }
        .slider_theme_default .slick-arrow {
            background-color: #000 !important;
        }
        .slick-list {
            max-width: rem(1165);
            margin-right: 0;
            margin-left: 0;
            overflow: hidden;
        }

        &__item {
            border: rem(2) solid $dark;
            .project {
                height: rem(498);
                &__content {
                    padding-left: rem(35);
                    // transform: translateY(rem(88));
                    margin-top: rem(48);

                    @include below($desktop) {
                        margin-top: 0;
                    }
                }

                &:hover {
                    .project__content {
                        margin-top: rem(40);
                    }
                }
            }
        }

        .slick-prev,
        .slick-next {
            box-shadow: none;
        }
        .slick-prev {
            @include below($tablet) {
                left: rem(-48);
            }
        }
        .slick-next {
            right: rem(-70);
        }
        .slick-next {
            @include below($tablet) {
                right: rem(-48);
            }
        }

        &__location {
            margin-top: rem(170);
        }

        &__title {
            padding-bottom: rem(99);

            font-size: rem(32);
            font-weight: 500;
            line-height: (48/32);

            &::before {
                right: rem(-160);

                height: rem(2);
            }
        }

        &__left {
            flex-basis: auto;
            width: calc(100% - 32.375rem);
            padding-right: rem(160);
        }

        &__right {
            flex-basis: auto;
            width: rem(518);
            margin-top: rem(10);
            margin-bottom: rem(67);

            border: rem(2) solid #000000;
            background-color: #f4f5f6;
        }

        &__map-wrap {
            display: none;
        }

        &__title {
            &::after {
                display: none;
            }
        }

        &__count {
            margin-bottom: rem(-14);

            font-weight: 500;

            color: #000;
        }

        &__text {
            font-size: rem(20);
            font-weight: 400;
            line-height: (32/20);
            color: #000000;
            br {
                display: none;
            }
        }

        &__btn {
            padding: 0 rem(30);
            margin-top: rem(34);

            font-size: rem(18);
            font-weight: 700;
            line-height: (52/18);
            color: #ffffff;
            text-transform: uppercase;

            background-color: #000;
            box-shadow: none;
            &:hover {
                border-color: transparent;
                box-shadow: none;
            }
        }

        &__cecutient-mode-text {
            display: flex;
        }
    }
}


.cecutient-mode .p-investor__projects .projects {

    &__title {
        display: block;
        padding-right: rem(20);
        padding-bottom: rem(20);

        font-size: rem(26);
        line-height: rem(35);

        br {
            display: none;
        }

        b {
            font-weight: bold !important;
        }

        &::before {
            width: 100%;
        }

        &_mobile {
            display: none;
        }
    }


    &__left {
        width: calc(100% - 32.375rem);
        padding: 0;

        background-color: transparent;
    }

    &__right {
        display: block;
        height: rem(502);
        padding: 0;
        margin-top: rem(-70);
    }

    &__advantages {
        padding-top: rem(73);
    }

    &__number {
        min-width: auto;

        text-align: left;

        &::before {
            content: none;
        }
    }

    &__adv-text {
        width: rem(200);
        margin-left: 0;
    }

    &__adv-item {
        width: 40%;
    }

    &__adv-btn {
        padding: rem(11) rem(20);

        font-size: rem(18);

        box-shadow: none;
    }

    &__location {
        display: flex;
        margin-top: rem(-7);

        background: none;
    }
}
