include ../slider/slider
include ../project/project
include ../icon/icon

mixin projects(data)
    +b.projects()&attributes(attributes)
        if !data.settings.noSlider
            +slider.slider_theme_default.projects__slider(data-settings=data.settings)
                each item in data.items
                    +e.item
                        +project(item)(style=`background-image: url(%=static=%img/assets/projects/${item.bg})`)

        +e.location
            +e.left
                if data.mobileTitle
                    +e.H4.title._mobile!= data.mobileTitle || 'Все объекты на единой интерактивной карте'
                +e.H4.title!= data.title || 'Все объекты на единой интерактивной карте'

                if !data.settings.noDefaultContent
                    +e.P.count более #[strong 600]
                    +e.P.text земельных участков и готовых проектов, собранных <br> на единой интерактивной карте портала

                    +e.btn(href=jv0) Посмотреть все объекты на карте

                if data.advantages
                    +e.advantages
                        if data.advantages.mItems
                            +e.adv-items._mobile
                                each item in data.advantages.mItems
                                    +e.adv-item
                                        +e.number!= item.number
                                        +e.adv-text!= item.text

                        +e.adv-items
                            each item in data.advantages.items
                                +e.adv-item
                                    +e.number!= item.number
                                    +e.adv-text!= item.text

                        if data.advantages.mButton
                            +e.A.adv-btn._mobile(href=jv0)!= data.advantages.mButton

                        +e.buttons
                            +e.A.adv-btn(href=jv0)!= data.advantages.button

                            if data.advantages.button2
                                +e.A.adv-btn._theme_light(href=jv0)!= data.advantages.button2


            +e.right
                +e.A(href=jv0).cecutient-mode-text Перейти к объектам <br> на карте
                +e.map-wrap
                    +e.map-marker: +e.A(href="/map").map-count 12
                    +e.map-marker: +e.A(href="/map").map-count 4
                    +e.map-marker: +e.A(href="/map").map-count 9
                    +e.map-marker: +e.A(href="/map").map-count 7
                    +e.map-marker: +e.A(href="/map").map-count 9
                    +e.map-marker: +e.A(href="/map").map-count 4
                    +e.map-marker: +e.A(href="/map").map-count 7
                    +e.map-marker: +e.A(href="/map").map-count 12
                    +e.map-marker: +e.A(href="/map").map-count 14
                    +e.map-marker: +e.A(href="/map").map-count 15
                    +e.map-marker: +e.A(href="/map").map-count 6
                    +icon({ icon: 'map', class: 'projects__map' })
