.pagination {
    display: flex;

    @include below($mobile) {
        margin-top: rem(50);
    }

    &__marker {
        @include size(rem(46));
        z-index: 1;

        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: rem(20);

        font-size: rem(18);
        font-weight: 700;
        color: #3777e8;
        text-decoration: none;

        border: 2px solid #3777e8;
        border-radius: 50%;
        background-color: #fff;
        box-shadow: 0 6px 25px rgba(0, 0, 0, 0.24);
        cursor: pointer;
        &:hover {
            transform: scale(1.25);

            transition: all .3s;


        }
        &_active {
            transform: scale(1.25);
        }
    }
}
