mixin pagination(data)
    +b.pagination()&attributes(attributes)
        - var i = 1
        while i <= data.total
            +e.A.marker(class={'_active': i === data.active} href=jv0)= i
            - i += 1
