include ../logo/logo
include ../main-nav/main-nav
include ../icon/icon
include ../burger/burger
include ../social/social

mixin header(data)
    +b.HEADER.header()&attributes(attributes)

        +b.cecutient-header.container
            +e.left
                +e.font
                    +e.A.font__item.cecutient-header__font__item--md.is-active(href=jv0 data-size='md')
                        span А
                    +e.A.font__item.cecutient-header__font__item--lg(href=jv0 data-size='lg')
                        span А
                    +e.A.font__item.cecutient-header__font__item--xl(href=jv0 data-size='xl')
                        span А
                +e.palette
                    +e.A.palette__item.cecutient-header__palette__item--light.is-active(href=jv0 data-palette='light')
                        span
                    +e.A.palette__item.cecutient-header__palette__item--dark(href=jv0 data-palette='dark')
                        span
                    +e.A.palette__item.cecutient-header__palette__item--sky(href=jv0 data-palette='sky')
                        span
                    +e.A.palette__item.cecutient-header__palette__item--blue(href=jv0 data-palette='blue')
                        span
                    +e.A.palette__item.cecutient-header__palette__item--brown(href=jv0 data-palette='brown')
                        span
            .header__right
                .header__controls
                    .header__off-image.js-off-image
                        +icon({ icon: 'off-image', class: 'header__off-image-ico' })
                    .header__select
                        select(class='aaa' data-current-lang='ru' data-url='http://investmo.zephyrlab.ddemo.ru/language')
                            option Ru
                            option En
                            option Ge

                    .header__control.header__control_theme_link(href=jv0)
                        // i.icon.icon-desktop
                        +icon({ icon: 'desktop', class: 'control__icon' })

        +e.container.container
            +logo.header__logo

            +social(social.default)._theme_horizontal.header__social

            +e.control._theme_burger
                +burger

            +e.right
                +main-nav(mainNav.default)

                +e.controls
                    +e.select
                        select(class='aaa' data-current-lang='ru' data-url='http://investmo.zephyrlab.ddemo.ru/language')
                            option Ru
                            option En
                            option Ge

                    +e.control._theme_link(href=jv0)
                        +icon({ icon: 'glasses', class: 'control__icon' })
