.header {
    position: absolute;
    z-index: 10000;
    top: 0;
    right: 0;
    left: 0;

    flex-shrink: 0;
    padding: rem(30) rem(15);

    background-color: #fff;

    transition: background .5s, box-shadow .5s, top .5s;

    @include above($mobile + 1) {
        padding: rem(25) 0 rem(14);
    }

    &_theme_static {
        position: relative;
    }


    &_theme_stories {

        &:not(.header_theme_fixed) {
            @include below($mobile) {
                position: absolute;

                .logo {
                    color: #fff;
                }

                .logo__icon {
                    opacity: .6;
                    fill: #fff;
                }
            }
        }

        .header__right {
            &::before {
                display: none;
            }
            &::after {
                display: none;
            }
        }

        &.header_theme_simple .header__select .select2-selection__rendered {
            color: #3777e8;

            border: 1px solid #3777e8;
            box-shadow: none;

            @include below($mobile) {
                border-color: transparent;
            }
        }

        &.header_theme_simple .header__select .select2-selection__arrow {
            background-image: url(%=static=%assets/header/arrow-active.svg);
        }

        &.header_theme_simple .header__control {
            color: #3777e8;

            border: rem(1) solid #3777e8;
            box-shadow: none;
            stroke: #3777e8;

            .header__select {
                color: #3777e8;
            }
        }

        .select2-dropdown {
            border: rem(1) solid #3777e8 !important;
            border-top: none !important;

            @include below($mobile) {
                border: none !important;
            }
        }
    }

    &_theme_fixed {
        position: fixed;
        z-index: 100000;

        box-shadow: 0 14px 20px rgba(2, 6, 29, .1);

        will-change: transform;

        & + .p-support {
            @include below($desktop) {
                margin-top: rem(124);
            }

            @include below($mobile) {
                margin-top: rem(51);
            }
        }

        & + .title-subpage {
            margin-bottom: rem(98);
        }
    }

    &_theme_simple {
        //padding: rem(30) rem(15);

        background-color: transparent;
        box-shadow: none;

        /*@include above($mobile + 1) {
            padding: rem(15) 0;
        }*/
    }

    &_theme_shadow {
        box-shadow: 0 rem(14) rem(20) rgba(2, 6, 29, 0.1);
    }

    &_theme_no-line {

        .header__right {

            &::before,
            &::after {
                display: none;
            }
        }
    }

    &.menu-open {
        position: fixed;
        z-index: 5;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        overflow: auto;

        background-color: #fff;
        box-shadow: 0 14px 20px rgba(2, 6, 29, .1);

        @include below($mobile) {
            padding: 1.875rem 0.9375rem;
        }
    }

    &__container {
        position: relative;

        @include above($mobile + 1) {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    &__right {

        display: none;

        @include above($mobile + 1) {
            display: flex;
            padding-top: rem(10);
        }

        .main-nav {
            position: relative;
            top: rem(2);
        }

        .menu-open & {
            @include below($mobile) {
                padding-top: rem(135);
            }
        }
    }

    &.menu-open &__right {
        display: block;
    }

    &__controls {
        display: flex;

        @include below($mobile) {
            justify-content: center;
        }

        .icon_user-lc {
            width: rem(20);
            height: rem(20);
            stroke: none;
        }

        .icon_glasses {
            width: rem(29);
            height: rem(29);
        }

        .header_theme_fixed & .icon_glasses,
        .header_theme_static & .icon_glasses {
            fill: #3777e8;
        }
    }

    &__off-image {
        position: relative;

        width: rem(70);
        margin-right: rem(20);

        border-radius: rem(25);
        cursor: pointer;
    }

    &__off-image-ico {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        width: rem(44);
        height: rem(33);
        margin: auto;
        fill: $light;
        stroke: $light;
        stroke-width: 0;
    }

    &_theme_simple &__right {
        position: relative;

        @include above($mobile + 1) {
            align-items: flex-start;
        }

        &::before {
            @include above($mobile + 1) {
                @include size(rem(12));
                content: '';

                position: absolute;
                bottom: rem(-6);
                left: rem(-14);

                border: 1px solid rgba(#000, .4);
                transform: rotate(45deg);
            }
        }

        &::after {
            @include above($mobile + 1) {
                content: '';

                position: absolute;
                bottom: 0;
                left: 0;

                width: 100%;
                height: 1px;

                background-color: rgba(#000, .2);
            }
        }
    }

    &__logo {
        padding-left: rem(6);

        @include below($mobile) {
            padding-right: rem(180);
        }

        .menu-open & {
            @include below($mobile) {
                display: none;
            }
        }
    }

    &_theme_fixed &__logo {
        @include below($mobile) {
            top: 0;
        }
    }

    &__controls {
        @include above($mobile + 1) {
            position: relative;
            // top: rem(8);
            top: 0;

            margin: 0 rem(10) 0 rem(60);
        }
    }

    &_theme_simple &__controls {
        top: 0;

        @include above($mobile + 1) {
            margin: rem(7) 0 0 rem(30);
        }

        @include above($desktop + 1) {
            //margin: rem(7) rem(3) 0 rem(27);
        }
    }

    &_theme_fixed &__controls {
        @include above($mobile + 1) {
            margin: rem(7) 0 0 rem(30);
        }

        @include above($desktop + 1) {
            //margin: rem(7) rem(3) 0 rem(60);
        }
    }

    &__control {
        position: relative;

        display: flex;
        align-items: center;
        justify-content: center;
        width: rem(106);
        height: rem(76);

        color: #3777e8;

        border: 1px solid #3777e8;
        border-radius: 37px;
        background-color: #fff;
        stroke: #3777e8;

        @include above($mobile + 1) {
            width: rem(56);
            height: rem(40);

            border-radius: 20px;
        }

        .icon_desktop {
            width: rem(200);
            height: rem(200);

            transform: scale(2.5);
            fill: $light;
            stroke-width: 0;
        }

        &_theme_burger {
            position: absolute;
            z-index: 1;
            top: rem(42);
            right: rem(3);

            width: rem(106);
            height: rem(76);

            border-radius: 37px;
            transform: translateY(-50%);

            @include above($mobile + 1) {
                display: none;
            }

            .menu-open & {
                @include below($mobile) {
                    // top: rem(32);
                    // right: rem(-12);

                    border: none;
                }
            }
        }

        .header_theme_simple & {
            color: #000;

            border: none;
            background-color: #fff;
            box-shadow: 0 #{rem(18)} #{rem(30)} #{rem(-15)} rgba(0, 0, 0, 0.3);
            stroke: #000;
        }

        .menu-open & {
            box-shadow: none;
        }

        .menu-open &_theme_link {
            display: none;
        }

        &:not(:last-child) {
            @include above($mobile + 1) {
                margin-right: rem(20);
            }
        }
    }

    &_theme_light .header__control {
        @include below($desktop) {
            color: #3777e8;

            border: rem(1) solid #3777e8;
            box-shadow: none;
            stroke: #3777e8;

            .header__select {
                color: #3777e8;
            }
        }
    }

    &__select {
        position: relative;

        margin-right: rem(10);

        @include above($desktop + 1) {
            margin-right: rem(20);
        }

        .select2-container {
            & + .select2-container--open {
                top: 100% !important;
                left: 0 !important;

                .select2-dropdown {
                    min-width: 0 !important;

                    border-radius: 0 0 rem(20) rem(20);
                    background: #fff;
                    box-shadow: none;
                }
            }

        }

        .select2-selection--single {
            height: auto !important;
        }

        .menu-open & {
            @include below($mobile) {
                position: absolute;
                top: rem(10);
                left: rem(38);

                &::before {
                    content: '';

                    position: absolute;
                    bottom: rem(-32);
                    left: 0;

                    width: rem(113);
                    height: 1px;

                    background-color: #000;
                }
            }
        }

        .select2-selection__rendered {
            padding: 0 !important;

            font-weight: 500;
            line-height: rem(40);

            border: 1px solid transparent;
            background-color: #fff;

            @include below($mobile) {
                font-size: rem(35);
            }

            @include above($mobile + 1) {
                width: rem(56);
                height: rem(40);
                padding-left: rem(14) !important;

                border-radius: 20px;
            }

            .header_theme_simple & {
                box-shadow: 0 3px 20px -5px rgba(0, 0, 0, .6);
            }

            .header_theme_fixed &,
            .header_theme_static & {
                color: #3777e8;

                border-color: #3777e8;
                box-shadow: none;
            }

            .header_theme_light & {
                @include below($desktop) {
                    color: #3777e8;

                    border-color: #3777e8;
                    box-shadow: none;
                }
            }

            .menu-open & {
                @include below($mobile) {
                    color: #3777e8;

                    border: none;

                    box-shadow: none;
                }
            }
        }

        .select2-selection__arrow {
            position: absolute;
            top: rem(18);
            right: rem(11);

            width: rem(9);
            height: rem(7);

            background-image: url(%=static=%assets/header/arrow.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100%;
            fill: #000;

            @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
                width: 9px;
                height: 7px;

                background-image: url(%=static=%assets/header/arrow.png);
                background-size: 7px 4px;
            }


            .header_theme_fixed &,
            .header_theme_static & {
                background-image: url(%=static=%assets/header/arrow-active.svg);
            }

            .menu-open & {
                @include below($mobile) {
                    top: rem(17);
                    right: rem(-27);

                    width: rem(18);
                    height: rem(11);

                    background-image: url(%=static=%assets/header/arrow-active.svg);
                }
            }
        }

        .select2-container--open .select2-selection__rendered {
            border-radius: 20px 20px 0 0;
        }

        .select2-container--open .select2-selection__arrow {
            transform: rotate(180deg);
        }
    }

    .main-nav__link.active {
        position: relative;

        color: #3777e8;

        &::before {
            content: '';

            position: absolute;
            top: rem(-44);
            left: 0;

            width: 100%;
            height: rem(4);

            background: #3777e8;

            @include below($mobile) {
                display: none;
            }
        }
    }

    &_theme_light {

        .header__select .select2-selection__arrow {
            @include below($desktop) {
                right: rem(9);

                background-image: url(%=static=%assets/header/arrow-active.svg);
            }
        }

        &:not(.header_theme_fixed) {
            //padding: rem(24) 0;

            @include below($desktop) {
                //padding: rem(13) 0;
                background-color: #fff;
            }

            @include below($mobile) {
                padding: rem(22) rem(10) 10px;

                background-color: transparent;

                .logo__text{
                    margin-top: rem(20);
                }

                .logo__subtitle{
                    letter-spacing: rem(0.25);

                    transform: translate(rem(2), rem(-7));
                }

                .logo__icon{
                    width: rem(60);
                    height: rem(84);
                }

                .logo__icon-wrap {
                    margin-top: rem(2);
                    margin-right: rem(22);
                }

                .header__control_theme_burger{
                    top: rem(46);

                    width: rem(113);
                    height: rem(81);
                }

                &.menu-open {
                    background-color: #fff;
                }
            }

            .main-nav__link {
                color: #fff;

                @include below($desktop) {
                    color: #282828;
                }

                &.active {
                    position: relative;

                    //color: #75a0eb;

                    &::before {
                        content: '';

                        position: absolute;
                        top: -2.75rem;
                        left: 0;

                        width: 100%;
                        height: 0.25rem;

                        background: #fff;

                        @include below($desktop) {

                            background-color: #3777e8;
                        }
                    }
                }
            }

            .logo {
                color: #fff;

                @include below($desktop) {
                    color: #282828;
                }

                @include below($mobile) {
                    color: #fff;
                }
            }

            .logo__icon {
                opacity: .6;
                fill: #fff;

                @include below($desktop) {
                    fill: #697078;
                }

                @include below($mobile) {
                    fill: #fff;
                }
            }

            .header__right::before {
                display: none;
            }

            .header__right::after {
                display: none;
            }

            .logo__subtitle {
                @include below($desktop) {
                    display: block;
                }

                @include below($mobile) {
                    display: block;
                }
            }

            .logo__text {
                @include below($desktop) {
                    //top: 0;
                }
            }
        }

    }

    &_mobile_color-mod {
        @include below($mobile) {

            .logo__title {
                color: #fff;
            }

            .logo__subtitle {
                color: #fff;
            }

            .header__control {
                //-background-color: #3777e8;
                background-color: #fff;
            }

            .burger::before, .burger::after, .burger__line {

            }

            .logo__icon {
                fill: #697078;
            }

            .burger::before, .burger::after, .burger__line {
                background: #000;
            }
        }
    }

    &.header_theme_fixed {
        @include below($mobile) {

            .logo__title {
                color: #282828;
            }

            .logo__subtitle {
                color: #282828;
            }
        }
    }

    &__social {
        display: none !important;
        order: 2;

        @include above($desktop) {

            .social__item:not(:last-child) {
                margin-right: rem(27) !important;
            }
        }
    }

    &_no-line{
        .header__right{
            &:after{
                display: none;
            }

            &:before{
                display: none;
            }
        }
    }
}

.select2-container--lang {
    z-index: 100000;

    .select2-dropdown {
        overflow: hidden;

        font-weight: 700;

        border: none;

        @include above($mobile + 1) {
            width: rem(56) !important;

            border-radius: 0 0 20px 20px;
        }

        @include below($mobile) {
            width: rem(120) !important;

            font-size: rem(35);
        }
    }

    .select2-results__option {
        line-height: 1.4;

        @include above($mobile + 1) {
            padding-left: rem(14);
        }

        &:hover {
            color: #fff !important;

            background-color: #3777e8;
        }
    }

    .select2-results__option[aria-selected=true] {
        display: none;
    }
}

.cecutient-mode  {

    .cecutient-header {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        justify-content: space-between;
        padding-top: rem(8);
        margin-bottom: rem(20);

        &__left {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-end;
            width: rem(470);
            padding-bottom: rem(13);
        }
        .header__controls {
            display: flex;
            margin-right: rem(-4);
        }
        .header__control_theme_link {
            width: rem(70);
            height: rem(50);

            border-radius: rem(25);
            background-color: $dark;
            box-shadow: none;
        }
        .header__right {
            display: flex;
            justify-content: flex-end;
            width: calc(100% - #{rem(470)});
        }
        .header__select {
            select {

            }
            .select2-selection {
                width: rem(70);
                height: rem(50) !important;
            }
            .select2-selection__rendered {
                width: 100%;
                height: 100%;
                padding-top: rem(5) !important;
                padding-left: rem(15) !important;

                font-size: rem(18);
                font-weight: 700;
                color: $light;

                border-radius: rem(25);
                background-color: $dark;
                box-shadow: none;
            }
            .select2-selection__arrow {
                top: rem(22);
                right: rem(15) !important;

                width: rem(15);
                height: rem(9);

                // background-image: url(%=static=%general/dropdown.svg);
                background-size: cover;
            }
        }
    }
    .header {
        position: static !important;

        padding: rem(15) 0;

        box-shadow: none !important;

        &__container {
            flex-wrap: wrap;
        }
        &__right {
            order: 0;
            width: 100%;
            &:before,
            &:after {
                display: none;
            }
        }
        &__controls {
            display: none;
        }
        &__logo {
            order: 1;
            padding-left: 0;
            margin-top: rem(28);
        }
    }

    .cecutient-header__font {
        display: flex;
        align-items: flex-end;
        width: rem(237);
        height: rem(60);
        //margin-right: rem(101);
        &__item {
            // display: inline;
            position: relative;

            display: inline-block;
            padding: rem(6) rem(11);
            margin-right: rem(14);

            font-family: Arial;
            font-weight: 700;
            line-height: 1;
            color: $dark;
            text-align: center;
            text-decoration: none;
            text-transform: uppercase;
            &--md {
                top: rem(4);

                margin-right: rem(1);

                font-size: rem(22);
                &.is-active {
                    top: 0;

                    width: rem(37);
                    height: rem(37);
                    margin-right: rem(2);
                }
            }
            &--lg {
                top: rem(7);

                margin-right: rem(-7);

                font-size: rem(36);
                &.is-active {
                    top: 0;

                    width: rem(53);
                    height: rem(53);
                    margin-right: rem(2);
                }
            }
            &--xl {
                top: rem(9);

                margin-right: 0;

                font-size: rem(48);
                &.is-active {
                    top: 0;

                    width: rem(60);
                    height: rem(60);
                }
            }
            &.is-active {
                position: relative;

                display: inline-flex;
                align-items: flex-end;
                justify-content: center;
                margin-right: rem(2);

                color: $light;

                border-radius: rem(4);
                background-color: $dark;
                &:before {
                    content: '';

                    position: absolute;
                    bottom: rem(-8);
                    left: 50%;

                    display: block;
                    width: 0;
                    height: 0;
                    margin-left: rem(-7);

                    border-width: rem(8) rem(7) 0 rem(7);
                    border-style: solid;
                    border-color: #000000 transparent transparent transparent;
                }
            }
        }
    }
    .cecutient-header__palette {
        display: flex;
        align-items: flex-start;
        width: rem(230);
        &__item {
            display: flex;
            align-items: center;
            justify-content: center;
            width: rem(37);
            height: rem(37);
            margin-right: rem(11);

            border-radius: rem(4);
            &.is-active {
                position: relative;

                &:after {
                    content: '';

                    position: absolute;
                    z-index: 0;
                    bottom: rem(-11);
                    left: 50%;

                    display: block;
                    width: 0;
                    height: 0;
                    margin-left: rem(-6);

                    border-width: rem(11) rem(6) 0 rem(6);
                    border-style: solid;
                }

                &::before {
                    content: '';

                    position: absolute;
                    z-index: 2;
                    bottom: rem(-10);
                    left: 50%;

                    display: block;
                    width: 0;
                    height: 0;
                    margin-left: rem(-6);

                    border-width: rem(11) rem(6) 0 rem(6);
                    border-style: solid;
                    border-color: #fff transparent transparent transparent;
                }
            }
            &:last-child {
                margin-right: 0;
            }
            span {
                display: block;
                width: rem(14);
                height: rem(14);
            }
            &--light {
                border: rem(1) solid rgba(0, 0, 0, 0.38);
                background-color: $light;
                &.is-active {

                    span {

                    }
                }
                span {
                    position: relative;

                    background-color: $dark;
                }

                &::after {
                    border-color: $dark transparent transparent transparent;
                }
            }
            &--dark {
                background-color: $dark;

                &.is-active {
                    border: 0.0625rem solid #fff;

                    &::after {
                        z-index: 0;

                        border-color: #fff transparent transparent transparent;
                    }

                    &::before {
                        z-index: 1;
                        bottom: rem(-9);

                        border-color: #000 transparent transparent transparent;
                    }
                }

                &:after {
                    border-color: $dark transparent transparent transparent;
                }
                span {
                    background-color: $light;
                }
            }
            &--sky {
                background-color: #a0d3fd;
                &:after {
                    border-color: #a0d3fd transparent transparent transparent;
                }
                span {
                    background-color: #195183;
                }

                &.is-active {
                    border: 0.0625rem solid #195183;

                    &::after {
                        z-index: 0;

                        border-color: #195183 transparent transparent transparent;
                    }

                    &::before {
                        z-index: 1;
                        bottom: rem(-9);

                        border-color: #a0d3fd transparent transparent transparent;
                    }
                }
            }
            &--blue {
                background-color: #175182;
                &:after {
                    border-color: #175182 transparent transparent transparent;
                }
                span {
                    background-color: #9dd1ff;
                }

                &.is-active {
                    border: 0.0625rem solid #9dd1ff;

                    &::after {
                        z-index: 0;

                        border-color: #9dd1ff transparent transparent transparent;
                    }

                    &::before {
                        z-index: 1;
                        bottom: rem(-9);

                        border-color: #175182 transparent transparent transparent;
                    }
                }
            }
            &--brown {
                background-color: #382210;
                &:after {
                    border-color: #382210 transparent transparent transparent;
                }
                span {

                    background-color: #a9e44d;
                }


                &.is-active {
                    border: 0.0625rem solid #a9e44d;

                    &::after {
                        z-index: 0;

                        border-color: #a9e44d transparent transparent transparent;
                    }

                    &::before {
                        z-index: 1;
                        bottom: rem(-9);

                        border-color: #382210 transparent transparent transparent;
                    }
                }
            }
        }
    }
}


.cecutient-mode {
    .header__select .select2-selection__arrow {
        background-image: url(%=static=%general/dropdown.svg) !important;
    }


    &.cecutient-mode_palette {

        &_light {
            .header__select .select2-selection__arrow {
                background-image: url(%=static=%general/dropdown.svg) !important;
            }
        }

        &_dark {
            .header__select .select2-selection__arrow {
                background-image: url(%=static=%general/dropdown-dark.svg) !important;
            }
        }

        &_sky {
            .header__select .select2-selection__arrow {
                background-image: url(%=static=%general/dropdown-sky.svg) !important;
            }
        }

        &_blue {
            .header__select .select2-selection__arrow {
                background-image: url(%=static=%general/dropdown-blue.svg) !important;
            }
        }

        &_brown {
            .header__select .select2-selection__arrow {
                background-image: url(%=static=%general/dropdown-brown.svg) !important;
            }
        }

    }

    .header__control_theme_link{
        border: 0 !important;
    }

    .select2-container--lang .select2-selection__rendered{
         border: 0 !important;
    }
}
