include ../icon/icon

mixin conditions(data, button)
    +b.conditions()&attributes(attributes)
        +e.UL.list
            each item in data.items
                +e.item

                    +e.numeric
                        if item.icon
                            +icon({ icon: `${item.icon}`, class: 'conditions__icon' })
                        if item.iconPng
                            I.icon.conditions__icon(class= item.iconPng)

                    +e.content
                        +e.H3.title!= item.title

                        +e.P.desc!= item.desc
                        if item.button !== false
                            +e.A(href=jv0) Подробнее
