.conditions {
    margin-top: rem(20);

    @include above($mobile + 1) {
        margin-top: rem(-25);
    }

    @include above($desktop + 1) {
        margin-top: rem(42);
    }

    &__list {
        @include list-reset;
        counter-reset: item;

        @include above($mobile + 1) {
            display: flex;
            flex-wrap: wrap;
            padding-right: rem(80);
            margin-left: rem(-5);
        }

        @include above($desktop + 1) {
            display: flex;
            margin-left: rem(-13);
        }

        @include below($mobile) {
            padding-left: rem(24);
        }
    }

    &__item {
        position: relative;

        display: block;
        padding-top: rem(157);
        padding-left: rem(57);

        @include above($mobile + 1) {
            width: (100% / 3);
            padding-top: rem(30);
            padding-left: rem(45);
        }

        @include above($desktop + 1) {
            padding-top: rem(48);
            padding-left: rem(49);
        }

        @include below($mobile) {
            &:not(:last-child) {
                margin-bottom: rem(-3);
            }
        }

        &::before {
            content: counter(item, decimal-leading-zero) ' ';

            position: absolute;
            top: 0;
            left: 0;

            font-size: rem(211);
            font-weight: 500;
            color: #3777e8;
            counter-increment: item;

            @include above($mobile + 1) {
                font-size: rem(140);
            }

            @include above($desktop + 1) {
                font-size: rem(160);
            }
        }
    }

    &__content {
        position: relative;

        width: rem(557);

        padding: rem(21) rem(65);

        font-size: rem(18);
        font-weight: 300;
        line-height: (28 / 18);

        background-color: rgba(#fff, .9);

        transition: all .3s;

        @include above($mobile + 1) {
            width: rem(310);
            padding: rem(21) rem(15) rem(21) rem(40);
            margin-top: rem(63);
        }

        @include above($desktop + 1) {
            width: rem(355);
            padding: rem(21) rem(15) rem(21) rem(60);
        }
    }

    &__item:hover &__content {
        background-color: #fff;
        box-shadow: 0 rem(8) rem(20) rgba(2, 6, 29, .1);

        @include below($mobile) {
            background-color: rgba(255, 255, 255, .9);
            box-shadow: none;
        }
    }

    &__title {
        margin-top: 0;
        margin-bottom: rem(22);

        font-size: rem(28);
        font-weight: 400;
        line-height: (42 / 28);
        text-transform: uppercase;

        @include above($mobile + 1) {
            font-size: rem(16);
            line-height: (24 / 16);
        }

        @include below($mobile) {
            margin-bottom: rem(19);

            font-size: rem(28);
            line-height: rem(42);
        }
    }

    &__desc {
        position: relative;

        padding-top: rem(23);
        margin-top: 0;
        margin-bottom: 0;

        color: #282828;

        @include below($mobile) {
            padding-top: rem(34);

            font-size: rem(28);

            br {
                display: none;
            }
        }

        &::before {
            content: '';

            position: absolute;
            top: 0;
            left: 0;

            width: rem(65);
            height: 1px;

            background-color: #000;
        }
    }

    &__desc-link {
        @include below($mobile) {
            display: block;
        }
    }

    a {
        color: #3777e8;
        text-decoration: none;

        border-bottom: 1px solid transparent;

        transition: all .2s;

        @include below($mobile) {
            font-size: rem(28);
        }

        &:hover {
            border-color: #3777e8;
        }
    }

    &__icon {
        position: absolute;
        z-index: 1;

        margin-bottom: rem(17);
        margin-left: rem(165);
        fill: #3777e8;

        @include above($mobile + 1) {
            top: rem(20);

            &.icon_tower {
                top: rem(40);
                left: rem(-3);
            }

            &.icon_arrows {
                top: rem(40);
                left: rem(12);
            }

            &.icon_investments {
                top: rem(40);
                left: rem(15);
            }
        }

        @include above($desktop + 1) {
            top: rem(20);

            &.icon_tower {
                top: rem(46);
                left: rem(23);
            }

            &.icon_arrows {
                top: rem(44);
                left: rem(35);
            }

            &.icon_investments {
                top: rem(35);
                left: rem(33);
            }
        }

        @include below($mobile) {
            top: rem(-7);

            &.icon_tower {
                top: rem(78);
                left: rem(54);

                width: rem(40);
                height: rem(48);
            }

            &.icon_arrows {
                top: rem(70);
                left: rem(71);

                width: rem(47);
                height: rem(56);
            }

            &.icon_investments {
                top: rem(88);
                left: rem(73);

                width: rem(62);
                height: rem(59);
            }
        }
    }

    &--sm {

        .conditions__list {
            justify-content: flex-start;
            padding-left: rem(18);
            margin-top: rem(80);

            @include above($mobile + 1) {
                padding-right: 0;
                padding-left: 0;
            }
        }
        .conditions__item {
            width: rem(386);
            padding-top: rem(41);
            padding-left: 0;
            margin-left: 0;

            @include below($desktop) {
                width: rem(359);
            }

            &:hover {
                .conditions__content {
                    box-shadow: none;
                }
            }
            &:before {
                display: none;
            }
            &:nth-child(1) {
                &:after {
                    content: '';

                    position: absolute;
                    top: rem(-39);
                    left: rem(125);

                    display: block;
                    width: rem(275);
                    height: rem(39);

                    background: url(%=static=%general/round-line-triangle.svg) no-repeat;
                    background-size: 100%;

                    @include below($desktop) {
                        left: rem(104);
                    }
                }
            }
            &:nth-child(2) {
                &:after {
                    content: '';

                    position: absolute;
                    top: rem(-39);
                    left: rem(125);

                    display: block;
                    width: rem(256);
                    height: rem(29);

                    background: url(%=static=%general/round-line.svg) no-repeat;
                    background-size: 100%;


                    @include below($desktop) {
                        left: rem(105);

                        width: rem(275);
                        height: rem(39);

                        background: url(%=static=%general/round-line-triangle.svg) no-repeat;
                        background-size: 100%;
                    }
                }
                .conditions__icon {
                    top: rem(-17);

                    margin-left: rem(20);
                }
            }
            &:nth-child(3) {
                .conditions__icon {
                    // top: rem(22);

                    margin-left: rem(26);
                }
            }
        }
        .conditions__numeric {
            position: relative;

            &::before {
                content: counter(item, decimal-leading-zero) ' ';

                display: inline-block;
                margin-top: rem(-26);
                margin-left: rem(-7);
                // position: absolute;
                // top: 0;
                // left: 0;
                // left: rem(-5);

                font-size: rem(86);

                // font-size: rem(211);
                font-weight: 500;
                line-height: 1;
                color: #3777e8;
                counter-increment: item;

                // @include above($mobile + 1) {
                //     font-size: rem(140);
                // }

                // @include above($desktop + 1) {
                //     font-size: rem(160);
                // }
            }
            &:after {
                content: '';

                position: absolute;
                bottom: rem(11);
                left: rem(-7);

                display: block;
                width: rem(100);
                height: 55%;

                background: #fff;
                opacity: 0.9;

                @include below($mobile) {
                    display: none;
                }
            }
        }
        .conditions__content {
            position: relative;

            padding-right: rem(70);

            margin-top: rem(-11);

            @include above($mobile + 1) {
                padding-left: 0;
            }

            @include below($desktop) {
                padding-right: rem(40);
            }

            &:before {
                content: '';

                position: absolute;

                opacity: 0.1;

            }
        }
        .conditions__icon {
            top: rem(-20);

            margin-left: rem(9);
        }
    }

}

.cecutient-mode {
    .conditions {

        &__item {
            display: flex;
            flex-direction: column;
            padding-top: 0;
            padding-left: rem(7);

            &:hover {
                .conditions__content {
                    box-shadow: none;
                }
            }

            &:nth-child(2n) {
                padding-left: rem(72);
            }

            &:nth-child(3n) {
                padding-left: rem(110);
            }

            &::before {
                line-height: (170/160);
            }
        }

        &__title {
            display: block;
            width: 100%;

            font-size: rem(22);
            font-weight: 700;
            line-height: (32/22);
        }

        &__list {
            padding-right: 0;
        }

        &__content {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            flex-grow: 1;
        }

        &__desc {
            max-width: rem(290);
            margin-bottom: rem(15);

            font-size: rem(22);
            font-weight: 300;
            line-height: (32/22);

            & + a {
                display: inline-block;
                padding: 0 rem(86);
                margin-top: auto;

                font-size: rem(18);
                font-weight: 700;
                line-height: (52/18);
                color: #ffffff;
                text-transform: uppercase;

                background-color: #000000;
            }
        }
    }
}
