.news-box {
    max-width: rem(1372);
    padding: rem(92) rem(104) rem(20);
    margin: 0 auto;

    background-color: #fff;

    @include below($desktop) {
        max-width: rem(1174);
        padding: rem(75) rem(75) rem(20);
    }

    @include below($mobile) {
        padding-top: rem(100);
        padding-right: rem(90);
        padding-bottom: rem(6);
        padding-left: rem(90);
    }

    &__one-news {
        margin-bottom: rem(52);

        @include below($desktop) {
            margin-bottom: rem(48);
        }

        @include below($mobile) {
            margin-bottom: rem(108);
        }
    }
}
