.stories {
    margin-top: rem(56);

    @include between($mobile + 1, $desktop) {
        margin-top: rem(-10);
    }

    &__row {
        @include above($mobile + 1) {
            display: flex;
            align-items: flex-start;
        }
    }

    &__item {
        display: none;

        &_state_active {
            display: block;
        }
    }
    &__text {
        text-transform: uppercase;

        &_visible {
               // display: none;
            }

    }

    &__thumb {
        position: relative;

        @include above($mobile + 1) {
            max-width: rem(511);
        }

        @include above($desktop + 1) {
            max-width: rem(576);
        }

        &::before {
            content: '';

            position: absolute;
            bottom: 0;
            left: 0;

            width: 100%;
            height: rem(134);

            background-color: rgba(255, 255, 255, 0);
            background-image: linear-gradient(to top, rgba(3, 24, 45, 0.82) 0%, rgba(14, 21, 58, 0) 100%);
        }
    }

    &__img {
        display: block;
        max-width: 100%;

        box-shadow: 0 30px 40px -30px rgba(0, 0, 0, 0.75);

        @include below($mobile) {
            width: 100%;
        }

        &_mob {
            display: none;

            @include below($mobile) {
                display: block;

                & + .stories__img {
                    display: none;
                }
            }
        }
    }

    &__content {
        margin-top: rem(75);

        @include above($mobile + 1) {
            flex: 1;
            padding-left: rem(50);
            margin-top: rem(-8);
        }

        @include above($desktop + 1) {
            padding-left: rem(70);
        }
    }

    &__link-desc {
        text-decoration: none;
    }

    &__title {
        position: relative;

        padding-bottom: rem(29);
        margin-top: 0;
        margin-bottom: rem(50);

        font-size: rem(42);
        font-weight: 300;
        line-height: (54 / 42);

        color: $dark;

        @include above($mobile + 1) {
            max-width: rem(385);
            padding-bottom: rem(21);
            margin-bottom: rem(22);

            font-size: rem(32);
            line-height: (42 / 32);
        }

        @include below($mobile) {
            padding-right: rem(75);
        }

        &::before {
            content: '';

            position: absolute;
            bottom: 0;
            left: 0;

            width: rem(65);
            height: 1px;

            background-color: #000;
        }
    }

    &__desc {
        max-width: rem(470);
        margin-top: 0;

        font-size: rem(18);
        font-weight: 300;
        line-height: (28 / 18);

        color: $dark;

        @include below($mobile) {
            display: none;
        }

        @include between($mobile + 1, $desktop) {
            display: block; /* Fallback for non-webkit */
            display: -webkit-box;
            margin-bottom: rem(22);
            overflow: hidden;

            text-overflow: ellipsis;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
        }
    }

    &__info {
        margin-top: 0;

        font-size: rem(28);
        font-weight: 300;
        color: $dark;

        @include above($mobile + 1) {
            font-size: rem(14);
        }

        &:not(:last-child) {
            margin-bottom: rem(5);

            @include above($mobile + 1) {
                margin-bottom: rem(10);
            }
        }

        strong {
            font-weight: 500;
        }
    }

    &__controls {
        @include list-reset;
        margin-top: rem(80);

        @include above($mobile + 1) {
            display: flex;
            flex-wrap: wrap;
            // justify-content: space-between;
            padding-right: rem(73);
            margin-top: rem(62);
            margin-bottom: rem(-66);
        }

        @include above($desktop + 1) {
            padding-right: rem(106);
            margin-top: rem(64);
        }

        @include below($mobile) {
            padding: 0 rem(19) rem(19);
            margin-right: calc(50% - 50vw);
            margin-left: calc(50% - 50vw);
            overflow-x: auto;

            font-size: 0;
            white-space: nowrap;
        }
    }

    &__control {
        @include size(rem(200));
        position: relative;

        display: none;

        vertical-align: top;

        text-decoration: none;

        border: 1px solid transparent;
        background-color: #f8f9fb;
        box-shadow: 0px 25px 40px -32px rgba(0,0,0,0.3);
        cursor: pointer;

        transition: all .3s;

        @include above($mobile + 1) {
            margin-bottom: rem(66);
        }

        @include below($mobile) {
            &:not(:last-child) {
                margin-right: rem(17);
            }
        }

        @include above($mobile + 1) {
            @include size(rem(180));
            display: none;

            &:nth-child(5n) {
                margin-right: 0 !important;
            }

            &.visible {
                display: block;
            }

        }

        &.visible {
            display: inline-block;
        }

        &.show-all {

            .stories__link-arrow {
                transform: rotate(-180deg);
            }
        }

        &:not(:last-child) {
            margin-right: rem(30);

            @include above($desktop + 1) {
                margin-right: rem(66);
            }

        }

        &_active {
            border-color: #3777e8;

            &::before {
                content: '';

                position: absolute;
                top: rem(6);
                right: rem(6);
                bottom: rem(6);
                left: rem(6);

                border: 2px solid #3777e8;
            }
        }
    }

    &__play-buttons {
        position: relative;

        display: none;
    }

    &__button {
        position: absolute;
        top: rem(191);

        width: rem(45);
        height: rem(45);

        border: none;
        background-color: $dark;
        transform: rotate(45deg);

        &::before {
            content: '';

            position: absolute;

            width: rem(10);
            height: rem(17);

            background-image: url(%=static=%assets/slider/arrow2.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100% 100%;
        }
    }

    &__prev-button {
        left: rem(-83);

        &::before {
            top: calc(50% - #{rem(8.5)});
            left: calc(50% - #{rem(7)});

            transform: rotate(135deg);
        }
    }

    &__next-button {
        right: rem(-83);

        &::before {
            top: calc(50% - #{rem(10.5)});
            left: calc(50% - #{rem(4)});

            transform: rotate(-45deg);
        }
    }

    &__link {
        @include size(100%);
        display: block;
        padding: rem(38) rem(40) 0;

        font-size: rem(18);
        font-weight: 500;
        line-height: (24 / 18);
        color: #fff;
        text-align: center;
        white-space: normal;
        text-decoration: none;

        background-color: #3777e8;
    }

    &__link-arrow {
        @include size(rem(32));
        position: relative;

        display: block;
        margin: 0 auto rem(23);

        border: 1px solid rgba(#f8f9fb, .4);
    }

    &__logo {
        @include center;
        display: block;
        max-width: rem(124);

        opacity: .2;

        transition: all .3s;
        will-change: opacity;
    }

    &__control:hover &__logo,
    &__control_active &__logo {
        opacity: 1;
    }

    &__icon {
        @include center;
        width: rem(9);
        height: rem(14);
        stroke: #fff;

    }

    &__btn {
        position: relative;

        display: inline-block;
        padding: 0 rem(62) 0 rem(46);
        margin-top: rem(22);

        font-size: rem(14);
        font-weight: 500;
        line-height: rem(50);
        color: #000;
        text-decoration: none;
        text-transform: uppercase;

        border: 1px solid #000;

        box-shadow: 0 rem(15) rem(20) rem(-8) rgba(0, 0, 0, 0.1);

        transition: all .3s;

        @include below($mobile) {
            display: none;
        }

        &::before {
            @include center($horiz: false);
            content: '';

            right: rem(30);

            width: rem(8);
            height: rem(14);

            background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI5LjA4IiBoZWlnaHQ9IjE0Ljc0IiB2aWV3Qm94PSIwIDAgOS4wOCAxNC43NCI+PHBhdGggZmlsbD0ibm9uZSIgc3Ryb2tlPSIjMDAwIiBzdHJva2UtbWl0ZXJsaW1pdD0iNTAiIGQ9Ik0uNyAxNC4xOGw3LjQ1LTYuODFMLjcuNTYiLz48L3N2Zz4=');
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100%;

            @include between($mobile + 1, $desktop) {
                right: rem(25);

                margin-top: rem(2);
            }

            @include below($desktop) {
                margin-top: rem(-1);
            }
        }

        &:hover {
            color: #fff;

            border-color: #305beb;
            background-color: #305beb;
            box-shadow:0 rem(15) rem(20) rem(-8) rgba(55, 119, 232, 0.6);

            &::before {
                background-image: url(%=static=%minified-svg/arrow-button-white.svg);
            }
        }
    }

    &__counter {
        position: absolute;
        bottom: rem(-40);
        left: rem(25);

        display: flex;

        font-size: rem(24);
        color: #fff;
        text-shadow: 0 10px 30px rgba(47, 64, 76, 0.21);

        @include above($mobile + 1) {
            bottom: rem(-30);
            left: rem(30);
        }
    }

    &__counter-item:first-child {
        position: relative;

        padding-right: rem(24);

        font-size: rem(80);
        font-weight: 700;
        color: #3777e8;

        @include above($mobile + 1) {
            font-size: rem(68);
        }

        &::after {
            content: '/';

            position: absolute;
            top: rem(15);
            right: 0;

            font-size: rem(28);
            font-weight: 400;
            color: #fff;

            @include above($mobile + 1) {
                font-size: rem(24);
            }
        }
    }

    &__counter-item:last-child {
        position: relative;
        top: rem(16);

        margin-left: rem(5);

        @include below($mobile) {
            font-size: rem(28);
        }
    }

    &__c-text {
        display: none;

        font-size: rem(28);
        font-weight: 700;
        line-height: (32/28);
        text-transform: uppercase;
    }
}

.cecutient-mode {
    .stories {

        &__thumb {
            display: none;
        }

        &__controls {
            justify-content: space-between;
            padding-right: 0;
            margin-top: rem(43);
        }

        &__controls .visible {
            display: flex;
        }

        &__control {
            align-items: center;
            justify-content: center;

            border: rem(2) solid #000;

            &.visible:not(.stories__control_btn) {
                display: flex;
            }
            &:nth-child(5) {
                display: flex;
            }
            &_hidden {
                display: none;
            }

            &_btn {
                align-self: center;
                width: rem(346);
                height: rem(52);
                margin: 0 35% !important;

                border: none;
            }

            &_active {
                border-width: rem(16);

                &::before {
                    display: none;
                }
            }

            &:not(:nth-child(5n)) {
            margin-right: rem(64);
            }
        }

        &__item {
            border: rem(2) solid #000000;
            background-color: #f4f5f6;
        }

        &__content {
            padding-top: rem(57);
            padding-right: rem(65);
            padding-bottom: rem(45);
            padding-left: rem(77);
        }

        &__title {
            max-width: none;
            margin-bottom: rem(33);

            font-size: rem(32);
            font-weight: 400;
            line-height: (42/32);

            &::before {
                bottom: rem(-10);

                height: rem(2);
            }
        }

        &__desc {
            max-width: none;
            margin-bottom: rem(32);

            font-size: rem(20);
            font-weight: 400;
            line-height: (32/20);
        }

        &__info {
            margin-bottom: 0;

            font-size: rem(20);
            font-weight: 400;
            line-height: rem(32);

            strong {
                font-weight: 500;
            }
        }

        &__btn {
            font-size: 18px;
            font-weight: 700;
            color: #fff;

            background-color: #000;

            &:hover {
                border-color: transparent;
                box-shadow: none;
            }
        }

        &__logo {
            display: none;
        }

        &__c-text {
            display: inline-block;
            align-items: center;
            padding: rem(10);

            font-size: rem(28);
            font-weight: 700;
            line-height: (32/28);
            color: #000;
            text-align: center;
            text-transform: none;
            word-break: break-all;
        }

        &__text {
            font-size: rem(28);
            font-weight: 700;
            line-height: (32/28);
            color: #000;
            text-transform: uppercase;
            &_hidden {
                @include hidden;
            }
            &_visible {
                display: block;

                font-size: rem(18);
                font-weight: 700;
                color: #fff;
            }
        }
        &__btn {
            width: rem(200);
            padding-left: rem(34);

            font-size: rem(18);
            font-weight: 700;
            line-height: (52/18);
            color: #fff;
            text-transform: uppercase;

            background-color: #000;
            box-shadow: none;
            &::before {
                right: rem(22);

                width: rem(12);
                height: rem(13);

                background-image: url(%=static=%minified-svg/arrow-button-white.svg);
            }
        }
        &__link {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0;

            background-color: #fff;
            &_btn {
                width: rem(364);

                color: #fff;

                background-color: #000;

                transition: all .3s;
                    &::before {
                        color: #fff;
                    }
            }
        }


        &__link-arrow {
            display: none;
        }
    }
}


.cecutient-mode {

    .stories {

        &__item {
            //background-color: #f4f5f6;
        }

        &__control {
            //background-color: #f8f9fb;
        }

        &__play-buttons {
            display: block;
        }
    }

    .stories .stories__btn::before {
        top: 0;
        bottom: 0;

        width: rem(13);
        margin: auto;

        background-image: url(%=static=%general/dropdown.svg);
        transform: rotate(-90deg);
    }

    &.cecutient-mode_palette {

        &_light {
            .stories .stories__btn::before {
                background-image: url(%=static=%general/dropdown.svg);
            }
        }

        &_dark {
            .stories .stories__btn::before {
                background-image: url(%=static=%general/dropdown-dark.svg);
            }
        }

        &_sky {
            .stories .stories__btn::before {
                background-image: url(%=static=%general/dropdown-sky.svg);
            }
        }

        &_blue {
            .stories .stories__btn::before {
                background-image: url(%=static=%general/dropdown-blue.svg);
            }
        }

        &_brown {
            .stories .stories__btn::before {
                background-image: url(%=static=%general/dropdown-brown.svg);
            }
        }
    }

}
