include ../slider/slider
include ../icon/icon

mixin stories(data)
    -data = data || {}
    +b.stories()&attributes(attributes)
        +e.play-buttons
            +e.BUTTON(data-direction="prev").prev-button.stories__button
            +e.BUTTON(data-direction="next").next-button.stories__button
        +e.item
            +e.row
                +e.thumb
                    if data.thumbMobImg
                        +e.IMG.img._mob(src=data.thumbMobImg alt='')
                    +e.A(href=jv0).link-img
                        +e.IMG.img(src=data.thumbImg || '%=static=%img/assets/stories/thumb1.jpg' alt='')

                    +e.counter
                        +e.counter-item._current
                        +e.counter-item._total

                +e.content
                    +e.A.link-desc(href=jv0)
                        +e.H3.title Открытие нового завода косметической компании Oriflame 1

                        +e.P.desc «Oriflame Cosmetics S.A.» — косметическая компания, специализирующаяся на разработке, производстве и продаже препаратов по уходу за кожей средств личной гигиены, парфюмерии и декоративной косметики.

                        +e.P.info #[strong Дата запуска:] 2015

                        +e.P.info #[strong Страна происхождения:] Швеция

                    +e.btn(href=jv0) Подробнее

        +e.item
            +e.row
                +e.thumb
                    if data.thumbMobImg
                        +e.IMG.img._mob(src=data.thumbMobImg alt='')
                    +e.A(href=jv0).link-img
                        +e.IMG.img(src=data.thumbImg || '%=static=%img/assets/stories/thumb1.jpg' alt='')

                    +e.counter
                        +e.counter-item._current
                        +e.counter-item._total

                +e.content
                    +e.A.link-desc(href=jv0)
                        +e.H3.title Открытие нового завода косметической компании Oriflame 2

                        +e.P.desc «Oriflame Cosmetics S.A.» — косметическая компания, специализирующаяся на разработке, производстве и продаже препаратов по уходу за кожей средств личной гигиены, парфюмерии и декоративной косметики.

                        +e.P.info #[strong Дата запуска:] 2015

                        +e.P.info #[strong Страна происхождения:] Швеция

                    +e.btn(href=jv0) Подробнее

        +e.item._state_active
            +e.row
                +e.thumb
                    if data.thumbMobImg
                        +e.IMG.img._mob(src=data.thumbMobImg alt='')
                    +e.A(href=jv0).link-img
                        +e.IMG.img(src=data.thumbImg || '%=static=%img/assets/stories/thumb1.jpg' alt='')

                    +e.counter
                        +e.counter-item._current
                        +e.counter-item._total

                +e.content
                    +e.A.link-desc(href=jv0)
                        +e.H3.title Открытие нового завода косметической компании Oriflame

                        +e.P.desc «Oriflame Cosmetics S.A.» — косметическая компания, специализирующаяся на разработке, производстве и продаже препаратов по уходу за кожей средств личной гигиены, парфюмерии и декоративной косметики.

                        +e.P.info #[strong Дата запуска:] 2015

                        +e.P.info #[strong Страна происхождения:] Швеция

                    +e.btn(href=jv0) Подробнее

        +e.item
            +e.row
                +e.thumb
                    if data.thumbMobImg
                        +e.IMG.img._mob(src=data.thumbMobImg alt='')
                    +e.A(href=jv0).link-img
                        +e.IMG.img(src=data.thumbImg || '%=static=%img/assets/stories/thumb1.jpg' alt='')

                    +e.counter
                        +e.counter-item._current
                        +e.counter-item._total

                +e.content
                    +e.A.link-desc(href=jv0)
                        +e.H3.title Открытие нового завода косметической компании Oriflame 4

                        +e.P.desc «Oriflame Cosmetics S.A.» — косметическая компания, специализирующаяся на разработке, производстве и продаже препаратов по уходу за кожей средств личной гигиены, парфюмерии и декоративной косметики.

                        +e.P.info #[strong Дата запуска:] 2015

                        +e.P.info #[strong Страна происхождения:] Швеция

                    +e.btn(href=jv0) Подробнее

        +e.item
            +e.row
                +e.thumb
                    if data.thumbMobImg
                        +e.IMG.img._mob(src=data.thumbMobImg alt='')
                    +e.A(href=jv0).link-img
                        +e.IMG.img(src=data.thumbImg || '%=static=%img/assets/stories/thumb1.jpg' alt='')

                    +e.counter
                        +e.counter-item._current
                        +e.counter-item._total

                +e.content
                    +e.A.link-desc(href=jv0)
                        +e.H3.title Открытие нового завода косметической компании Oriflame 1

                        +e.P.desc «Oriflame Cosmetics S.A.» — косметическая компания, специализирующаяся на разработке, производстве и продаже препаратов по уходу за кожей средств личной гигиены, парфюмерии и декоративной косметики.

                        +e.P.info #[strong Дата запуска:] 2015

                        +e.P.info #[strong Страна происхождения:] Швеция

                    +e.btn(href=jv0) Подробнее

        +e.item
            +e.row
                +e.thumb
                    if data.thumbMobImg
                        +e.IMG.img._mob(src=data.thumbMobImg alt='')
                    +e.A(href=jv0).link-img
                        +e.IMG.img(src=data.thumbImg || '%=static=%img/assets/stories/thumb1.jpg' alt='')

                    +e.counter
                        +e.counter-item._current
                        +e.counter-item._total

                +e.content
                    +e.A.link-desc(href=jv0)
                        +e.H3.title Открытие нового завода косметической компании Oriflame 2

                        +e.P.desc «Oriflame Cosmetics S.A.» — косметическая компания, специализирующаяся на разработке, производстве и продаже препаратов по уходу за кожей средств личной гигиены, парфюмерии и декоративной косметики.

                        +e.P.info #[strong Дата запуска:] 2015

                        +e.P.info #[strong Страна происхождения:] Швеция

                    +e.btn(href=jv0) Подробнее

        +e.item
            +e.row
                +e.thumb
                    if data.thumbMobImg
                        +e.IMG.img._mob(src=data.thumbMobImg alt='')
                    +e.A(href=jv0).link-img
                        +e.IMG.img(src=data.thumbImg || '%=static=%img/assets/stories/thumb1.jpg' alt='')

                    +e.counter
                        +e.counter-item._current
                        +e.counter-item._total

                +e.content
                    +e.A.link-desc(href=jv0)
                        +e.H3.title Открытие нового завода косметической компании Oriflame 4

                        +e.P.desc «Oriflame Cosmetics S.A.» — косметическая компания, специализирующаяся на разработке, производстве и продаже препаратов по уходу за кожей средств личной гигиены, парфюмерии и декоративной косметики.

                        +e.P.info #[strong Дата запуска:] 2015

                        +e.P.info #[strong Страна происхождения:] Швеция

                    +e.btn(href=jv0) Подробнее

        +e.item
            +e.row
                +e.thumb
                    if data.thumbMobImg
                        +e.IMG.img._mob(src=data.thumbMobImg alt='')
                    +e.A(href=jv0).link-img
                        +e.IMG.img(src=data.thumbImg || '%=static=%img/assets/stories/thumb1.jpg' alt='')

                    +e.counter
                        +e.counter-item._current
                        +e.counter-item._total

                +e.content
                    +e.A.link-desc(href=jv0)
                        +e.H3.title Открытие нового завода косметической компании Oriflame 1

                        +e.P.desc «Oriflame Cosmetics S.A.» — косметическая компания, специализирующаяся на разработке, производстве и продаже препаратов по уходу за кожей средств личной гигиены, парфюмерии и декоративной косметики.

                        +e.P.info #[strong Дата запуска:] 2015

                        +e.P.info #[strong Страна происхождения:] Швеция

                    +e.btn(href=jv0) Подробнее

        +e.item
            +e.row
                +e.thumb
                    if data.thumbMobImg
                        +e.IMG.img._mob(src=data.thumbMobImg alt='')
                    +e.A(href=jv0).link-img
                        +e.IMG.img(src=data.thumbImg || '%=static=%img/assets/stories/thumb1.jpg' alt='')

                    +e.counter
                        +e.counter-item._current
                        +e.counter-item._total

                +e.content
                    +e.A.link-desc(href=jv0)
                        +e.H3.title Открытие нового завода косметической компании Oriflame 2

                        +e.P.desc «Oriflame Cosmetics S.A.» — косметическая компания, специализирующаяся на разработке, производстве и продаже препаратов по уходу за кожей средств личной гигиены, парфюмерии и декоративной косметики.

                        +e.P.info #[strong Дата запуска:] 2015

                        +e.P.info #[strong Страна происхождения:] Швеция

                    +e.btn(href=jv0) Подробнее

        +e.item
            +e.row
                +e.thumb
                    if data.thumbMobImg
                        +e.IMG.img._mob(src=data.thumbMobImg alt='')
                    +e.A(href=jv0).link-img
                        +e.IMG.img(src=data.thumbImg || '%=static=%img/assets/stories/thumb1.jpg' alt='')

                    +e.counter
                        +e.counter-item._current
                        +e.counter-item._total

                +e.content
                    +e.A.link-desc(href=jv0)
                        +e.H3.title Открытие нового завода косметической компании Oriflame 2

                        +e.P.desc «Oriflame Cosmetics S.A.» — косметическая компания, специализирующаяся на разработке, производстве и продаже препаратов по уходу за кожей средств личной гигиены, парфюмерии и декоративной косметики.

                        +e.P.info #[strong Дата запуска:] 2015

                        +e.P.info #[strong Страна происхождения:] Швеция

                    +e.btn(href=jv0) Подробнее

        +e.item
            +e.row
                +e.thumb
                    if data.thumbMobImg
                        +e.IMG.img._mob(src=data.thumbMobImg alt='')
                    +e.A(href=jv0).link-img
                        +e.IMG.img(src=data.thumbImg || '%=static=%img/assets/stories/thumb1.jpg' alt='')

                    +e.counter
                        +e.counter-item._current
                        +e.counter-item._total

                +e.content
                    +e.A.link-desc(href=jv0)
                        +e.H3.title Открытие нового завода косметической компании Oriflame 2

                        +e.P.desc «Oriflame Cosmetics S.A.» — косметическая компания, специализирующаяся на разработке, производстве и продаже препаратов по уходу за кожей средств личной гигиены, парфюмерии и декоративной косметики.

                        +e.P.info #[strong Дата запуска:] 2015

                        +e.P.info #[strong Страна происхождения:] Швеция

                    +e.btn(href=jv0) Подробнее

        +e.UL.controls
            +e.control
                +e.c-text МАRS
                +e.IMG.logo(src='%=static=%img/assets/stories/mars.png' alt='')

            +e.control
                +e.c-text МАRS
                +e.IMG.logo(src='%=static=%img/assets/stories/michelin.png' alt='')

            +e.control._active
                +e.c-text МАRS
                +e.IMG.logo(src='%=static=%img/assets/stories/oriflame.png' alt='')

            +e.control
                +e.c-text МАRS
                +e.IMG.logo(src='%=static=%img/assets/stories/kronospan.png' alt='')

            +e.control._hidden
                +e.c-text МАRS
                +e.IMG.logo(src='%=static=%img/assets/stories/mars.png' alt='')

            +e.control._hidden
                +e.c-text МАRS
                +e.IMG.logo(src='%=static=%img/assets/stories/michelin.png' alt='')

            +e.control._hidden
                +e.c-text МАRS
                +e.IMG.logo(src='%=static=%img/assets/stories/oriflame.png' alt='')

            +e.control._hidden
                +e.c-text МАRS
                +e.IMG.logo(src='%=static=%img/assets/stories/kronospan.png' alt='')

            +e.control._hidden
                +e.c-text МАRS
                +e.IMG.logo(src='%=static=%img/assets/stories/kronospan.png' alt='')

            +e.control._hidden
                +e.c-text МАRS
                +e.IMG.logo(src='%=static=%img/assets/stories/mars.png' alt='')

            +e.control._hidden
                +e.c-text МАRS
                +e.IMG.logo(src='%=static=%img/assets/stories/michelin.png' alt='')

            +e.control._theme_link._btn
                +e.link(href=jv0)._btn
                    +e.link-arrow
                        +icon({ icon: 'arrow', class: 'stories__icon' })

                    //- +e.text._hidden(data-open="Меньше проектов") Больше проектов
                    +e.text._visible(data-open="Скрыть другие кейсы") Посмотреть другие кейсы
