mixin surety(data)
    +b.surety()&attributes(attributes)
        +e.box
            +e.item
                +e.title <span class="surety__title_bold">Предоставление поручительств</span><br> по банковским кредитам
                +e.rate-box
                    +e.rate до <span class="surety__num">50</span>% 
                    +e.origin от суммы<br>кредита

                +e.time на срок до 5 лет (торговля – 18 мес.)
                    
                +e.limit
                    +e.limit-title Максимальная сумма:
                    +e.limit-value 42 млн. руб.

                +e.note Вознаграждение Фонда 1-2% годовых от суммы поручительства
            +e.item
                +e.title <span class="surety__title_bold">Предоставление поручительств</span><br> по банковским гарантиям<br>(44 и 223 ФЗ)
                +e.rate-box
                    +e.rate до <span class="surety__num">50</span>% 
                    +e.origin от суммы<br>банковской гарантии

                +e.time на срок до 3 лет
                    
                +e.limit
                    +e.limit-title Максимальная сумма:
                    +e.limit-value 30 млн. руб.

                +e.note Вознаграждение Фонда 1% годовых от суммы поручительства


            +e.item
                +e.title <span class="surety__title_bold">Предоставление согарантий</span><br> по банковским кредитам<br>совместно с Корпорацией МСП
                +e.rate-box
                    +e.rate до <span class="surety__num">70</span>% 
                    +e.origin от суммы<br>кредита
                    
                +e.time на срок до 5 лет
                    
                +e.limit
                    +e.limit-title Сумма:
                    +e.limit-value от 42 млн. руб. до 2,0 млрд. руб.;

                +e.note Вознаграждение Фонда от 0,75% годовых от суммы поручительства


                    
            
            
