.surety {
    &__box{
        display: flex;
        padding-top: rem(23);

        @include below($mobile) {
            flex-wrap: wrap;
        }
    }

    &__item{
        width: 33.33%;
        padding-top: rem(25);
        padding-right: rem(20);
        padding-bottom: rem(23);
        padding-left: rem(33);

        border-left: 1px dotted #b7b8bb;

        @include below($mobile) {
            position: relative;

            width: 100%;

            border-left: none;

            &::after {
                content: '';

                position: absolute;
                bottom: 0;
                left: rem(-92);

                display: block;
                width: 100vw;
                height: 1px;

                border-bottom: 1px dotted #b7b8bb;
            }
        }
    }

    &__title{
        height: rem(87);

        font-size: rem(18);
        font-weight: 300;
        line-height: 1.3;

        @include below($mobile) {
            height: auto;

            font-size: rem(28);
            line-height: rem(42);
        }

        &_bold{
            font-weight: 500;
        }
    }

    &__rate-box{
        position: relative;
    }

    &__rate{
        font-size: rem(32);
        font-weight: 600;
        color: #3777e8;
        letter-spacing: rem(0.1);
    }

    &__num{
        font-size: rem(86);
    }

    &__origin{
        position: absolute;
        top: rem(19);
        left: rem(151);

        font-size: rem(14);
        font-weight: 500;
        color: #3777e8;
        text-transform: uppercase;
    }

    &__time{
        margin-top: rem(-11);

        font-size: rem(18);
        font-weight: 500;
        color: #3777e8;

        @include below($mobile) {
            font-size: rem(28);
            line-height: rem(42);
        }
    }

    &__limit{
        margin-top: rem(32);
    }

    &__limit-title{
        font-size: rem(14);
        font-weight: 500;
        font-style: italic;

        @include below($mobile) {
            font-size: rem(28);
            line-height: rem(42);
        }
    }

    &__limit-value{
        margin-top: rem(7);

        font-size: rem(18);
        font-weight: 500;

        @include below($mobile) {
            font-size: rem(28);
            line-height: rem(42);
        }
    }

    &__note{
        margin-top: rem(32);

        font-size: rem(14);
        line-height: 1.3;
        color: #959595;

        @include below($mobile) {
            font-size: rem(18);
            line-height: rem(24);
        }
    }
}
