include ../title-subpage/title-subpage
include ../tabs/tabs
include ../finance-support/finance-support
include ../have-questions/have-questions
include ../surety/surety
include ../banks/banks
include ../micro-loan/micro-loan
include ../economic-activity/economic-activity
include ../taxes/taxes
include ../property-support/property-support
include ../coWorking/coWorking

mixin p-support-mb(data)
    +b.p-support-mb()&attributes(attributes)
        +title-subpage('Меры поддержки', 'малому бизнесу')._small-business
        +tabs(tabs.finance)
            .tab__content.is-open
                +finance-support
            .tab__content
                +property-support
            .tab__content
                +taxes
            .tab__content
                +coWorking
