.p-support-mb {
    background-image: none !important;

    @include above($mobile + 1) {
        margin-top: rem(28);
    }

    .tab__content {
        width: 100%;
    }

    .title-subpage__top {
        @include below($mobile) {
            padding-top: rem(114);
            padding-left: rem(70);

            background: none !important;
        }
    }

    .title-subpage__brand {
        @include below($desktop) {
            display: block;
            margin-bottom: rem(-9);
            margin-left: rem(15);

            font-size: rem(80);
            font-weight: 500;
            line-height: (1);
        }

        @include below($mobile) {
            margin-bottom: 0;

            font-size: rem(90);
            line-height: 1;
            color: #000000;
        }
    }

    .title-subpage__title  {
        @include below($desktop) {

            padding-bottom: rem(4);

            overflow: visible;

            h1 {
                font-size: rem(80);
                font-weight: 300;
                line-height: (1);
            }

            &::after,
            &::before {
                display: none;
            }
        }

        @include below($mobile) {
            color: rgba(#000, .2);
        }
    }

    .title-subpage__title-box {
        @include below($mobile) {
            display: inline;

            font-size: rem(90);
        }
    }


    .title-subpage__divider {
        @include below($desktop) {
            top: rem(-8);

            margin-right: rem(7);
            margin-left: rem(8);

            font-size: rem(50);
        }


        @include below($mobile) {
            font-size: rem(60);
            color: rgba(#000, .2);
        }
    }

    .title-subpage__back-link {
        @include below($desktop) {
            position: absolute;
            top: 0;
            left: 0;

            font-size: 0;
            &::before {
                left: rem(42);

                width: rem(24);
                height: rem(26);
                margin-top: rem(26);

                background-image: url(%=static=%assets/p-stories/arrow-mob.svg);
            }
        }

        @include below($mobile) {
            &::before {
                left: rem(-3);

                width: rem(42);
                height: rem(44);
                margin-top: rem(135);

                background-image: url(%=static=%assets/p-stories/arrow-mob-b.svg);
            }
        }
    }
}
