mixin items-box(data)
    +b.items-box()&attributes(attributes)
        +e.container
            +e.title!= data.title

            +e.items
                each item in data.items
                    +e.item
                        +e.sub-title!= item.title
                        +e.mini-title!= item.miniTitle
                        +e.text!= item.text
                        +e.A.link(href=jv0)!= item.link


