.items-box {
    padding-top: rem(78);

    @include below($desktop) {
        padding-top: rem(60);
    }

    @include below($mobile) {
        padding-top: rem(87);
        padding-right: rem(50);
        padding-bottom: rem(20);
        padding-left:rem(87);
    }

    &__container {
        max-width: rem(1170);
        margin: 0 auto;

        @include below($desktop) {
            max-width: rem(1035);
        }
    }

    &__title {
        margin-bottom: rem(54);

        font-size: rem(48);
        font-weight: 300;
        line-height: (54/48);
        color: #282828;

        @include below($desktop) {
            margin-bottom: rem(35);
        }

        @include below($mobile) {
            margin-bottom: rem(57);

            font-size: rem(60);
        }

        b {
            font-weight: 500;
        }
    }

    &__items {
        display: flex;
        padding-bottom: rem(85);

        @include below($desktop) {
            padding-bottom: rem(50);
        }

        @include below($mobile) {
            flex-direction: column;
        }
    }

    &__item {
        position: relative;

        width: 33.33333%;
        padding-left: rem(50);

        @include below($mobile) {
            width: 100%;
            padding-left: rem(65);
            margin-bottom: rem(49);
        }

        &:not(:last-child) {
            padding-right: rem(5);
        }

        &::before {
            @include size(10px);
            content: '';

            position: absolute;
            z-index: 1;
            top: rem(8);
            left: rem(8);

            border: 1px solid rgba(#000, .4);
            background-color: #fff;
            transform: rotate(45deg);

            @include below($mobile) {
                @include size(10px);
            }
        }
    }

    &__sub-title {
        margin-bottom: rem(9);

        font-size: rem(18);
        font-weight: 500;
        line-height: (28/18);
        color: #000000;

        @include below($mobile) {
            margin-bottom: 0;

            font-size: rem(28);
            line-height: (42/28);
        }
    }

    &__mini-title {
        font-size: rem(14);
        font-style: italic;
        line-height: (28/14);
        color: #000000;

        @include below($mobile) {
            font-size: rem(28);
            line-height: (42/28);
        }
    }

    &__text {
        margin-bottom: rem(3);

        font-size: rem(18);
        font-weight: 300;
        line-height: (28/18);
        color: #000000;

        @include below($mobile) {
            margin-bottom: rem(21);

            font-size: rem(28);
            line-height: (42/28);
        }
    }

    &__link {
        font-size: rem(18);
        font-weight: 400;
        line-height: (36/18);
        color: #3777e8;
        text-decoration: none;

        @include below($mobile) {
            font-size: rem(28);
            line-height: (42/28);
        }

        &:hover {
            text-decoration: underline;
        }
    }
}
