.hero {
    /*position: fixed;
    top: 0;
    left: 0;

    width: 100%;*/
    position: relative;

    padding-top: rem(267);
    padding-bottom: rem(568);
    margin-bottom: rem(-596);

    background-image: url(%=static=%assets/hero/hero_bg-new.png);
    background-position: center;
    background-size: cover;

    @include above($mobile + 1) {
        padding-top: rem(168);
        padding-bottom: rem(240);
        margin-bottom: rem(-268);

        &::before {
            display: block;
        }
    }

    @include above($desktop + 1) {
        padding-top: rem(180);
        padding-bottom: rem(568);
        margin-bottom: rem(-596);

        /*&::before {

            display: none;
        }*/
    }

    @include below($mobile) {
        padding-bottom: rem(639);

        /*&::before {
            display: block;
        }*/
    }

    /*&::before {
        content: '';

        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        background-image: url(%=static=%assets/hero/bloom.png);
        background-position: center;
        background-size: cover;
    }*/

    &::after {
        content: '';

        position: absolute;
        bottom: rem(-107);

        width: 100%;
        height: rem(568);

        background: linear-gradient(to bottom, transparent 0%, #fff 30%);

        @include below($desktop) {
            height: rem(240);
        }
    }

    &__container {
        position: relative;
        z-index: 1;

        display: flex;
        flex-direction: column-reverse;

        @include above($mobile + 1) {
            flex-direction: row;
        }
    }

    &__sidebar {
        position: relative;

        @include above($mobile + 1) {
            width: rem(63);
            padding-left: rem(7);
            margin-top: rem(14);
        }

        @include above($desktop + 1) {
            width: rem(95);
        }
    }

    &__content {
        padding-left: rem(86);

        @include above($mobile + 1) {
            padding-left: rem(6);
        }
    }

    &__title {
        margin-top: 0;
        margin-bottom: rem(48);

        font-size: rem(75);
        font-weight: 300;
        line-height: (68 / 64);
        letter-spacing: -.01em;

        @include above($mobile + 1) {
            margin-bottom: rem(28);

            font-size: rem(64);
        }

        strong {
            font-weight: 500;

            @include above($mobile + 1) {
                display: block;
            }
        }
    }

    &__subtitle {
        position: relative;

        padding-top: rem(44);
        margin-top: 0;

        font-size: rem(36);
        font-weight: 400;
        color: rgba(#000, .75);

        @include below($mobile) {
            padding-right: rem(130);

            line-height: (54 / 36);

            span {
                display: inline;

                white-space: nowrap;
            }

            br {
                content: ' ';
            }
        }

        @include above($mobile + 1) {
            padding-top: rem(40);

            font-size: rem(20);
        }

        @include below($mobile) {
            padding-top: rem(40);
            padding-left: rem(5);
        }

        span {
            display: block;
        }

        &::before {
            content: '';

            position: absolute;
            top: 0;
            left: rem(8);

            width: rem(109);
            height: 1px;

            background-color: #000;

            @include above($mobile + 1) {
                left: 0;

                width: rem(65);
            }
        }
    }

    &__btn {
        position: relative;

        display: block;
        padding: 0 rem(59);
        margin-top: rem(203);

        line-height: rem(106);
        text-align: center;

        background-color: #3777e8;

        box-shadow: 0px 15px 40px -15px #3777e8;

        transition: all .3s;

        @include above($mobile + 1) {
            display: inline-block;
            margin-top: rem(23);

            line-height: rem(52);
        }

        @include below($mobile) {
            max-width: rem(566);
            height: rem(106);
            margin-top: rem(209);
            margin-left: rem(5);

            & .btn__text {
                font-size: rem(36);
                line-height: rem(106);
            }
        }

        &:hover {
            background-color: #305beb;
        }
    }

    &__link-wrap {
        margin-top: rem(110);

        text-align: center;

        @include above($mobile + 1) {
            display: inline-block;
            padding-bottom: rem(100);
            margin-top: rem(50);
            overflow: hidden;
        }

        @include above($desktop + 1) {
            margin-top: rem(126);
        }

        @include below($mobile) {
            position: relative;

            margin-top: rem(116);

            &::before {
                content: '';

                position: absolute;

                bottom: rem(-113);
                left: 50%;

                width: 1px;
                height: rem(74);
                margin-left: rem(-2);

                background-color: #fff;
            }
        }
    }

    &__link {
        display: inline-block;

        font-size: rem(28);
        font-weight: 300;
        color: #fff;
        white-space: nowrap;
        text-decoration: none;
        letter-spacing: -.02em;

        transition: all .3s;

        @include above($mobile + 1) {
            position: relative;
            right: rem(-10);
            bottom: rem(-28);

            font-size: rem(14);
            font-weight: 700;
            color: #282828;
            text-transform: uppercase;

            transform: translate(1.1em, 0) rotate(90deg);
            transform-origin: 0 0;
        }

        &:hover {
            color: #3777e8;
        }

        &::before {
            @include above($mobile + 1) {
                content: '';

                float: left;
                margin-top: 100%;
            }
        }

        &::after {
            @include above($mobile + 1) {
                content: '';

                position: absolute;
                right: rem(-64);
                bottom: rem(107);

                width: rem(46);
                height: rem(45);

                background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNS43NCIgaGVpZ2h0PSI0Ni41NCIgdmlld0JveD0iMCAwIDE1Ljc0IDQ2LjU0Ij48cGF0aCBmaWxsPSJub25lIiBzdHJva2U9IiMwMDAiIHN0cm9rZS1taXRlcmxpbWl0PSI1MCIgZD0iTTguMzcgMHY0NE0xNS4zNyAzNy42Nkw3Ljg3IDQ2bC03LjUtOC4zNCIvPjwvc3ZnPg==');
                background-repeat: no-repeat;
                background-position: center;
                opacity: .5;
                transform: rotate(-90deg);
            }
        }

        &:hover::after {
            @include above($mobile + 1) {
                background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNS43NCIgaGVpZ2h0PSI0Ni41NCIgdmlld0JveD0iMCAwIDE1Ljc0IDQ2LjU0Ij48cGF0aCBmaWxsPSJub25lIiBzdHJva2U9IiMzNzc3ZTgiIHN0cm9rZS1taXRlcmxpbWl0PSI1MCIgZD0iTTguMzcgMHY0NE0xNS4zNyAzNy42Nkw3Ljg3IDQ2bC03LjUtOC4zNCIvPjwvc3ZnPg==');
                opacity: 1;
            }
        }
    }

    &__social {
        display: none;

        @include above($mobile + 1) {
            display: block;
        }
        .social__title {
            display: none;
        }
    }
}

.cecutient-mode .hero {
    padding-top: rem(44);

    &::after {
        display: none;
    }
    &__title {
        font-weight: 400;
        strong {
            font-weight: 700;
        }
    }
    &__subtitle {
        font-size: rem(20);
        font-weight: 500;

    }
    &__container {
        position: relative;
    }
    &__content {
        padding-left: 0;
    }
    .social {
        display: flex;
        align-items: flex-start;
        &__list {
            display: flex;
        }
        &__item {
            margin-bottom: 0;
            &:not(:last-child) {
                margin-right: rem(11);
            }
        }
        &__title {
            display: block;
            margin-top: rem(-10);
            margin-right: rem(39);

            font-size: rem(18);
            font-weight: 700;
            color: $dark;
        }
        &__link {
            border-color: $dark;
            background-color: $dark;
            fill: $light;
        }
    }

    &__link-wrap {
        display: none;
    }

    &__sidebar {
        position: absolute;
        z-index: 9;
        top: rem(-112);
        right: rem(-6);

        display: block;
        width: auto;
    }
    &__title {
        margin-left: rem(-4);

        letter-spacing: rem(0.2);
    }
    &__subtitle {
        padding-top: 0;

        font-weight: 500;
        color: rgba(0, 0, 0, 1);
        white-space: nowrap;
        letter-spacing: rem(0.05);
        &:before {
            display: none;
        }
    }
    &__btn {
        padding-right: rem(34);
        padding-left: rem(42);
        margin-top: rem(27);
        .btn__text {
            font-size: rem(18);
            font-weight: 700;
        }
    }
}
