include ../social/social

mixin hero(data)
    +b.SECTION.hero()&attributes(attributes)
        +e.container.container
            +e.ASIDE.sidebar
                +social(social.default)._theme_light._theme_vertical.hero__social

                +e.link-wrap
                    +e.link.js-hero__link(href="#content") Смотреть дальше

            +e.content
                +e.H1.title #[strong Инвестировать] в&nbsp;Московскую Область – #[strong просто!]
                +e.P.subtitle С вас инициатива, #[span об&nbsp;остальном <span class='block'></span> позаботится] Московская&nbsp;Область

                +b.btn._theme_standart.hero__btn(href=jv0)
                    +e.text Выбрать проект
