mixin micro-loan(data)
    +b.micro-loan()&attributes(attributes)
        +e.H3.title <span class="micro-loan__title_bold">Микрозаймы</span> малому и среднему бизнесу
        +e.P.clarification Московский областной фонд микрофинансирования дает возможность<br>получить займ на выгодных условиях
        +e.info
            +e.conditions
                span.badge Микрозаймы
                +e.money
                    +e.money-text до <span class="micro-loan__num">3</span>
                    +e.currency млн.<br>руб.

                +e.conditions-wrapper
                    +e.conditions-item
                        +e.conditions-item-icon
                            +e.percent-icon %
                        +e.conditions-item-text от 8% до 13% годовых
                    +e.conditions-item
                        +e.conditions-item-icon
                            +icon({ icon: 'alarm-clock', class: 'micro-loan__clock-icon' })
                        +e.conditions-item-text cрок до 36 месяцев



            +e.advantage
                +e.IMG(src="%=static=%img/assets/micro-loan/mofm.png" alt="").logo
                h3.h3.subtitle-border Преимущества программы Фонда
                +b.UL.list
                    +e.item Без дополнительных <b>комиссий</b>
                    +e.item <b>Оптимальный</b> пакет документов
                    +e.item Широкий спектр принимаемого <b>обеспечения</b> (залог, поручительство)
                    +e.item <b>Быстрота</b> рассмотрения заявки (от 3 до 10 дней)
                    +e.item Гибкий график <b>возврата займа</b> (возможна отсрочка погашения)
                    +e.item Досрочное погашение без <b>комиссий</b>
                    +e.item Финансирование <b>начинающего</b> бизнеса

        +e.how-get
            +e.blue-box
                h3.h3.h3--light.subtitle-border.subtitle-border--light Как получить микрозайм?
                +e.UL.step-list
                    +e.step-list-item
                        +e.step-list-text Найдите себя в реестре субъектов МСП
                        +e.A.step-list-link(href="https://rmsp.nalog.ru/search.html") https://rmsp.nalog.ru/search.html
                    +e.step-list-item
                        +e.step-list-text Скачайте перечень и формы документов к заявке на сайте Фонда
                        +e.A.step-list-link(href="www.mofmicro.ru") www.mofmicro.ru
                    +e.step-list-item
                        +e.step-list-text Скачайте с сайта ФНС выписку из ЕГРЮЛ (ЕГРИП)
                        +e.A.step-list-link(href="https://egrul.nalog.ru/") https://egrul.nalog.ru/
                    +e.step-list-item
                        +e.step-list-text Возьмите в ИФНС справку об отсутствии задолженности<br>перед бюджетом
                    +e.step-list-item
                        +e.step-list-text Определитесь с обеспечением займа и подготовьте<br>подтверждающие документы
                    +e.step-list-item
                        +e.step-list-text Подайте заявку с пакетом документов в Фонд лично<br>или через представителя

            +e.contacts
                h3.h3.subtitle-border Московский<br>областной фонд<br>микрофинансирования
                +e.UL.contacts-list
                    +e.contacts-list-item
                        +e.IMG.phone-icon(src="%=static=%img/assets/micro-loan/phone.png" alt = "Телефон")
                        +e.A(href="tel:+7 (495) 730-50-76").contacts-list-text +7 (495) 730-50-76
                    +e.contacts-list-item
                        +e.IMG.site-icon(src="%=static=%img/assets/micro-loan/site.png" alt = "Сайт")
                        +e.contacts-list-text www.mofmicro.ru
                    +e.contacts-list-item
                        +e.IMG.mail-icon(src="%=static=%img/assets/micro-loan/e-mail.png" alt = "Почта")
                        +e.contacts-list-text fond@mofmicro.ru
                    +e.contacts-list-item
                        +e.IMG.point-icon(src="%=static=%img/assets/micro-loan/point.png" alt = "Адрес")
                        +e.contacts-list-text г. Красногорск,<br>бульвар Строителей,<br>дом 2, офис 44
