.micro-loan {

    &__title{

        margin: 0;

        font-size: rem(48);
        font-weight: 300;
        letter-spacing: rem(-0.5);

        &_bold{
            font-weight: 500;
        }
    }

    &__clarification{
        margin-top: rem(14);
        margin-bottom: 0;

        font-size: rem(24);
        font-weight: 300;
        line-height: 1.5;

        @include below($mobile) {
            padding-right: rem(50);
        }
    }

    &__info{
        display: flex;
        margin-top: rem(44);

        @include below($mobile) {
            flex-wrap: wrap;
        }
    }

    &__conditions{
        width: 33.4%;
        padding-top: rem(33);

        border-right: 1px dotted #b7b8bb;

        @include below($mobile) {
            position: relative;

            width: 100%;

            border-right: none;

            &::after {
                content: '';

                position: absolute;
                bottom: 0;
                left: rem(-92);

                display: block;
                width: 100vw;
                height: 1px;

                border-bottom: 1px dotted #b7b8bb;
            }
        }
    }

    .badge {
        padding-right: rem(14);
    }


    &__money{
            margin-top: rem(-11);
    }

    &__money-text{
        display: inline-block;

        font-size: rem(32);
        color: #3777e8;
    }

    &__num{
        font-size: rem(160);
        font-weight: 600;
    }

    &__currency{
        display: inline-block;
        margin-left: rem(6);

        font-size: rem(32);
        line-height: 1.2;
        color: #3777e8;
    }

    &__conditions-wrapper{
        margin-top: rem(29);

        @include below($mobile) {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
    }

    &__conditions-item{
        position: relative;

        margin-bottom: rem(50);

        @include below($mobile) {
            width: 50%;
        }

        &:nth-of-type(2) &-icon {
            top: rem(-17);
        }
    }

    &__conditions-item-icon{
        position: absolute;
        top: rem(-13);
        left: 0;

        width: rem(48);
        height: rem(48);

        border-radius: 50%;
        background: #fff;
        box-shadow: 0 0.625rem 1.875rem rgba(47, 64, 76, 0.21);
    }

    &__percent-icon{
        font-size: rem(24);
        font-weight: 500;
        line-height: rem(48);
        text-align: center;
    }

    &__conditions-item-text{
        padding-left: rem(80);

        font-size: rem(16);
        text-transform: uppercase;
    }

    &__clock-icon{
        position: absolute;
        top:50%;
        left: 50%;

        width: rem(23);
        height: rem(24);

        transform: translate(-50%, -50%);
    }

    &__logo {
        position: absolute;
        top: 0;
        right: 0;

        @include below($mobile) {
            position: static;
        }
    }

    &__advantage {
        position: relative;

        width: 66.6%;
        padding-left: rem(58);

        @include below($mobile) {
            width: 100%;
            padding-right: rem(50);
            padding-left: 0;
            margin-top: rem(25);
        }

        .subtitle-border{
            padding-bottom: rem(23);
            margin-top: rem(21);
            margin-bottom: rem(33);

            @include below($mobile) {
                font-size: rem(42);
                line-height: rem(48);
            }
        }

        .list__item{
            padding-left: rem(47);
            margin-bottom: rem(23);
        }

        .list__item:before{
            top: rem(7);
            left: rem(4);
        }
    }

    &__how-get{
        display: flex;
        margin-top: rem(95);

        @include below($mobile) {
            flex-wrap: wrap;
        }
    }

    &__blue-box{
        width: 65.2%;
        padding-bottom: rem(67);
        padding-left: rem(80);

        background-color: #3777e8;
        box-shadow: 0 10px 30px rgba(47, 64, 76, 0.21);

        @include below($mobile) {
            width: 100vw;
            margin-left: rem(-92);
        }

        .subtitle-border{
            padding-bottom: rem(22);
            margin-top: rem(55);
        }
    }


    &__step-list{
        padding: 0;
        margin: rem(34) 0 0 0;

        list-style-type: none;
        counter-reset: item;
    }

    &__step-list-text{
        font-size: rem(18);
        font-weight: 300;
        line-height: 1.35;
        color: #fff;
    }

    &__step-list-link{
        display: inline-block;
        margin-top: rem(4);

        font-size: rem(16);
        font-weight: 300;
        color: #fff;
        text-decoration: none;

        opacity: 0.6;
    }

    &__step-list-item{
        position: relative;

        padding-left: rem(62);
        margin-bottom: rem(26);

        &:last-child{
            margin-bottom: 0;
        }

        &:before{
            content: counter(item, decimal-leading-zero) " ";

            position: absolute;
            top: rem(-2);
            left: rem(2);

            font-size: rem(32);
            color: #fff;
            counter-increment: item;
        }

    }

    &__contacts{

        width: 34.8%;
        padding-left: rem(55);

        @include below($mobile) {
            width: 100%;
            padding-right: rem(50);

        }

        .subtitle-border{
            padding-bottom: rem(28);
            margin-top: rem(55);

            word-break: break-all;
        }
    }

    &__contacts-list{
        padding: 0;
        margin: rem(37) 0 0 0;

        list-style-type: none;
    }

    &__contacts-list-item{
        position: relative;

        margin-bottom: rem(32);
    }

    &__contacts-list-text{
        padding-left: 46px;

        font-size: rem(24);
        font-weight: 300;
        line-height: 1.25;
        color: $dark;
        text-decoration: none;
    }

    &__phone-icon{
        position: absolute;
        top: rem(3);
        left: rem(4);

        display: block;
        width: rem(24);
    }

    &__site-icon{
        position: absolute;
        top: rem(5);
        left: rem(4);

        display: block;
        width: rem(24);
    }

    &__mail-icon{
        position: absolute;
        top: rem(7);
        left: rem(4);

        display: block;
        width: rem(24);
    }

    &__point-icon{
        position: absolute;
        top: rem(3);
        left: rem(7);

        display: block;
        width: rem(18);
    }


}
