.share {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    &__text {
        margin-right: rem(40);

        font-family: $font-1;
        font-size: rem(16);
        font-weight: 400;

        color: rgba(40,40,40, 0.6);
    }
    &__links {
        display: flex;
        align-items: center;
    }
    &__link {
        margin-right: rem(29);

        background-color: $color1;
        box-shadow: rem(6) rem(6) rem(16) rgba(55, 119, 232, 0.24);
        
        fill: #fff;

        @include below(750px) {
            width: rem(49) !important;
            height: rem(49) !important;
        }
        &:last-child {
            margin-right: 0;
        }
        .icon_fb {
            fill: #fff;
        }
    }
    &-vk {

    }
    &-fb {

    }
}
