mixin share(data)
    +b.share()&attributes(attributes)
        +e.SPAN.text Поделиться в соцсетях:
        +e.links
            +e.A.link.social__link(href='http://vk.com/share.php?url=http://profitquery.com/blog/2015/09/vk-share-button/&title=TITLE&description=DESCRIPTION&image=https://unsplash.com/photos/ed-hLWaknyk' target='_blank')
                i.icon.social__icon.icon-vk
            +e.A.link.social__link(href='http://www.facebook.com/sharer.php?u=https://veliovgroup.com/article/QTA2494eT8ThrqcZi/social-share-buttons' target='_blank')
                +icon({icon: 'fb', class: 'social__icon'})
        block
