include ../form/form

mixin form-box(data)
    +b.form-box()&attributes(attributes)
        +e.container
            +e.content
                +e.H3.title!= data.title

                if data.items
                    each item in data.items
                        +e.P.text!= item.text

            +form().form-box__form
