.form-box {

    padding-bottom: rem(25);
    overflow-x: hidden;

    @include below($mobile) {
        overflow-x: visible;
    }

    &__container {
        display: flex;
        align-items: flex-start;
        max-width: $container;
        margin: 0 auto;

        @include below($desktop) {
            max-width: rem(1240);
        }

        @include below($mobile) {
            flex-direction: column;

            background: linear-gradient(to bottom, #f8f9fb 0%, #fff 100%);;
        }
    }

    &__content {
        width: 50%;
        padding-top: rem(110);
        padding-left: rem(105);

        @include below($desktop) {
            width: 47%;
            padding-top: 0;
            padding-right: rem(100);
        }

        @include below($mobile) {
            width: 100%;
            padding-top: rem(104);
            padding-right: rem(60);
            padding-bottom: rem(50);
            padding-left: rem(85);
        }
    }

    &__form {
        position: relative;
        left: rem(-28);

        width: 50%;
        min-height: rem(520);

        @include below($desktop) {
            width: 53%;
        }

        @include below($mobile) {
            left: 0;

            width: calc(100% - 2.5rem);
            margin: 0 auto;
        }
    }

    &__title {
        padding-right: rem(50);
        margin-top: 0;

        font-size: rem(32);
        font-weight: 300;
        line-height: (42/32);
        color: #282828;

        @include below($desktop) {
            padding-right: 0;
        }

        @include below($mobile) {
            margin-bottom: rem(40);

            font-size: rem(60);
            line-height: (63/60);
        }

    }

    &__text {
        max-width: rem(475);
        margin-bottom: rem(28);

        font-size: rem(18);
        font-weight: 300;
        line-height: (28/18);
        color: #000000;

        @include below($mobile) {
            max-width: none;
            margin-bottom: rem(41);

            font-size: rem(28);
            line-height: (42/28);
        }
    }
}

.cecutient-mode .form-box {
    margin-bottom: 0;

    &__form {
        margin: rem(45) rem(79) 0 0;
    }

    &__content {
        padding-top: rem(19);
    }

    &__title {
        margin-bottom: rem(38);

        font-size: rem(50);
        font-weight: normal;
        line-height: rem(54);

        span {
            font-weight: 700;
        }
    }

    &__text {
        font-size: rem(20);
        font-weight: normal;
        line-height: rem(32);
    }
}
