mixin main-nav(data)
    +b.NAV.main-nav()&attributes(attributes)
        +e.UL.list
            each item, el in data
                +e.item: +e.link(href= jv0 || item.url class={'active': pageSettings.mainNavActive === el + 1})= item.title
