.main-nav {
    padding: rem(16) 0 rem(14);

    color: #282828;

    .header_theme_simple & {
        padding: rem(16) 0 rem(14);
    }

    &_theme_inverse {
        color: #fff;
    }

    &__list {
        @include list-reset;

        @include above($mobile + 1) {
            display: flex;
        }
    }

    &__item {
        @include above($mobile + 1) {
            margin-left: rem(30);
        }

        @include above($desktop + 1) {
            margin-left: rem(41);
        }


        &:first-child {
            margin-left: 0;
        }

    }

    &__link {
        font-size: rem(35);
        font-weight: 700;
        line-height: (75 / 35);
        color: inherit;
        text-decoration: none;

        transition: color .3s;

        @include above($mobile + 1) {
            font-size: rem(14);
            line-height: (24 / 14);
            text-transform: uppercase;
        }

        @include below($mobile) {
            display: block;

            text-align: center;
        }

        .header & {
            @include below($mobile) {
                padding-left: rem(77);

                font-size: rem(57);
                line-height: (140 / 57);
                text-align: left;
            }
        }

        .footer & {
            @include above($mobile + 1) {
                font-size: rem(12.479);
            }
            // @include above($desktop + 1) {
            //     font-size: rem(7);
            // }
        }

        &:hover {
            color: #3777e8;
        }

        &_search {
            display: block;
            width: rem(17);
            height: rem(17);
            margin-top: rem(2);

            background-image: url(%=static=%assets/main-nav/search.svg);
            background-position: center;
            background-size: cover;
        }
    }
}


.cecutient-mode {

    .main-nav {

        &__link {

            &_search {
                display: none !important;
            }
        }
    }
}
