.btn {
    transition: all .3s;

    &_theme_standart {
        text-decoration: none;

        background-color: #3777e8;
        box-shadow: 0 rem(15) rem(40) rem(-15) rgba(55, 119, 232, 0.6);

        .btn__text {
            font-size: rem(14);
            font-weight: 400;
            line-height: (24/14);
            color: #ffffff;
            white-space: nowrap;
            text-transform: uppercase;

            @include below($mobile) {
                font-size: rem(28);
                line-height: (49/28);
            }
        }

        &:hover {
            background: #305beb;
        }
    }

    &_theme_default {
        display: inline-block;
        padding: 0 rem(45);
        margin-top: rem(23);

        line-height: rem(52);
        color: #fff;
        text-decoration: none;

        background-color: #3777e8;
    }

    &_theme_default &__text {
        font-size: rem(14);
        font-weight: 500;
        line-height: (24 / 14);
        color: #fff;
        white-space: nowrap;
        text-transform: uppercase;
        text-overflow: ellipsis;
    }

    &_theme_light {
        padding: rem(13) rem(20);

        color: #000;

        text-decoration: none;

        border: 1px solid #000;
        box-shadow: 0 rem(15) rem(20) rem(-8) rgba(0, 0, 0, 0.1);

        transition: all .3s;

        @include below($mobile) {
            padding: rem(23) rem(90);
        }


        .btn__text {
            font-size: rem(14);
            font-weight: 500;
            line-height: (24/14);
            color: inherit;
            text-transform: uppercase;

            @include below($mobile) {
                font-size: rem(28);
                line-height: (34/28);
            }
        }

        &:hover {
            color: #fff;

            border-color: #305beb;
            background-color: #305beb;
            box-shadow: 0 rem(15) rem(40) rem(-15) rgba(48, 91, 235, 1);

            &::before {
                content: '';

                display: block;

                background-image: url(%=static=%minified-svg/arrow-button-white.svg);
            }
        }

        &_arrow-left {
            position: relative;

            &::before {
                @include center($horiz: false);
                content: '';

                top: calc(50% - #{rem(7)});
                left: rem(39);

                width: rem(8);
                height: rem(14);

                background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI5LjA4IiBoZWlnaHQ9IjE0Ljc0IiB2aWV3Qm94PSIwIDAgOS4wOCAxNC43NCI+PHBhdGggZmlsbD0ibm9uZSIgc3Ryb2tlPSIjMDAwIiBzdHJva2UtbWl0ZXJsaW1pdD0iNTAiIGQ9Ik0uNyAxNC4xOGw3LjQ1LTYuODFMLjcuNTYiLz48L3N2Zz4=');
                background-repeat: no-repeat;
                background-position: center;
                background-size: 100%;
                transform: rotate(180deg);
            }
        }
    }

    &__arrow {
        position: relative;

        display: block;
        width: rem(20);
        height: rem(32);

        &::before,
        &::after {
            content: '';

            position: absolute;

            display: block;
            width: rem(22);
            height: rem(4);

            background-color: $dark;
        }

        &::before {
            top: rem(7);

            transform: rotate(45deg);
        }

        &::after {
            bottom: rem(7);

            transform: rotate(-45deg);
        }
    }
}

.cecutient-mode {
    .btn_theme_standart {
        .btn__text {
            font-size: rem(18);
            font-weight: 700;
        }
    }
}
