mixin have-questions(data)
    +b.have-questions()&attributes(attributes)
        +e.center
            +e.gray-block
                +e.title Остались вопросы? <span class="have-questions__title_bold">Звони!</span>
                +e.phone
                    +e.info
                        +e.text <span class="have-questions__text_bold">Единый колл-центр</span><br> для предпринимателей Московской области
                    +e.number
                        +e.phone-icon
                        +e.A(href="tel:+7 (495) 109-07-07").numeral +7 (495) 109-07-07
            +e.IMG.coat(src="%=static=%img/assets/have-questions/coat.png" alt = "Герб")
