.have-questions {
    margin-top: rem(122);

    &__gray-block{
        position: relative;

        padding-top: rem(65);
        padding-bottom: rem(70);

        background: #f8f9fb;

        @include below($mobile) {
            padding-top: rem(80);
            padding-bottom: rem(88);
        }

        &:after{
            content: '';

            position: absolute;
            z-index: 1;
            top: 0;
            left: 100%;

            width: 100%;
            height: 100%;

            background: #f8f9fb;
        }

        &:before{
            content: '';

            position: absolute;
            z-index: 1;
            top: 0;
            left: rem(-110);

            width: 100%;
            height: 100%;

            background: #f8f9fb;

            @include below($mobile) {
                left: rem(-72);
            }
        }
    }

    &__title{
        position: relative;
        z-index: 2;

        font-size: rem(38);
        font-weight: 300;
        letter-spacing: rem(-0.2);

        @include below($mobile) {
            font-size: rem(42);
            line-height: rem(50);
        }

        &_bold{
            font-weight: 500;

            @include below($mobile) {
                display: block;
            }
        }
    }


    &__text{
        font-size: rem(24);
        font-weight: 300;
        line-height: 1.25;

        @include below($mobile) {
            font-size: rem(28);
            line-height: rem(40);
        }

        &_bold{
            font-weight: 500;
        }
    }

    &__phone{
        position: relative;
        z-index: 2;

        display: flex;
        margin-top: 22px;

        @include below($mobile) {
            flex-wrap: wrap;
            margin-top: rem(40);
        }
    }

    &__phone-icon{
        position: absolute;
        top: rem(10);
        left: rem(9);

        width: rem(42);
        height: rem(42);

        background: url('%=static=%assets/have-questions/phone-icon.png') repeat;
        background-size: contain;

        @include below($mobile) {
            left: 0;
        }
    }

    &__numeral{
        padding-left: rem(75);

        font-size: rem(48);
        font-weight: 600;
        color: #3777e8;
        text-decoration: none;


        @include below($mobile) {
            padding-left: rem(71);

            font-size: rem(42);
        }
    }

    &__number{
        position: relative;

        @include below($mobile) {
            margin-top: rem(23);
        }
    }

    &__info{
        margin-right: rem(72);

        @include below($mobile) {
            font-size: rem(28);
        }
    }

    &__center{
        position: relative;
    }

    &__coat{
        position: absolute;
        z-index: 2;
        top: rem(-58);
        right: rem(-27);

        display: block;
        width: rem(172);

        @include below($mobile) {
            top: rem(-48);
            right: rem(-7);
        }
    }
}
