include ../../node_modules/bemto.pug/bemto

include ../components/page/page
include ../components/header/header
include ../components/footer/footer

-const pageSettings = {}
-pageSettings.title = '';
-pageSettings.useSocialMetaTags = false;

-const jv0 = 'javascript:void(0)';

block vars

doctype html
html(lang='ru')
    include ../components/head/head

    +page
        +header(class=pageSettings.headerClassName)

        block content

        if !pageSettings.noFooter
            +footer()

        script(src='%=static=%js/main%=hash=%%=min=%.js')
