.p-news {
    padding-top: rem(130);

    background-image: url(%=static=%assets/p-news/Foto_head.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;

    @include below($mobile) {
        background-image: url(%=static=%assets/p-news/Photo.jpg);
        background-size: 100% 90%;
    }

    .top-box__title {
        padding-bottom: rem(20);

        letter-spacing: rem(-.75);

        @include below($mobile) {
            padding-top: rem(20);
            padding-bottom: rem(45);

            font-size: rem(90);
            line-height: 1;
        }
    }

    .top-box__link:not(:last-child) {
        margin-right: rem(81);

        @include below($desktop) {
            margin-right: rem(51);
        }
    }

    .top-box__nav {
        @include below($desktop) {
            margin-bottom: rem(13);
        }
    }

    &__subscribe + .p-news__news-box {
        padding-top: rem(77);

        @include below($desktop) {
            padding-top: rem(70);
            padding-bottom: rem(15);
        }

        @include below($mobile) {
            padding-top: rem(122);
        }
    }

    &__press {
        @include below($mobile) {
            margin-top: rem(-28);
        }
    }

    &__pagination {
        max-width: rem(1372);
        margin: rem(55) auto rem(66);

        ul {
            @include list-reset();
        }

        .hidden {
            position: relative;

            width: rem(45);
            height: rem(45);

            background-color: $light;
            box-shadow: 0 rem(8) rem(20) rgba(2, 6, 29, 0.1);
            transform: rotate(45deg);

            transition: background-color .5s;

            a,
            span {
                position: absolute;
                top: 0;
                left: 0;

                display: block;
                width: 100%;
                height: 100%;

                transform: rotate(-45deg);

                &::before,
                &::after {
                    content: '';

                    position: absolute;
                    left: calc(50% - #{rem(5)});

                    display: block;
                    width: rem(10);
                    height: rem(2);

                    transition: background-color .5s;
                }
            }

            a {

                &::before,
                &::after {
                    background-color: $color1;
                }
            }

            span {

                &::before,
                &::after {
                    background-color: #dedfe1;
                }
            }

            &:first-of-type {
                margin-right: rem(38);

                a,
                span {

                    &::before,
                    &::after {
                        left:calc(50% - #{rem(7)});
                    }

                    &::before {
                        top: calc(50% - #{rem(4)});

                        transform: rotate(-45deg);
                    }

                    &::after {
                        bottom: calc(50% - #{rem(4)});

                        transform: rotate(45deg);
                    }
                }
            }

            &:last-of-type {
                margin-left: rem(10);

                a,
                span {
                    &::before {
                        top: calc(50% - #{rem(4)});

                        transform: rotate(45deg);
                    }

                    &::after {
                        bottom: calc(50% - #{rem(4)});

                        transform: rotate(-45deg);
                    }
                }
            }

            &:hover {
                background-color: $color1;

                a,
                span {

                    &::before,
                    &::after {
                        background-color: $light;
                    }
                }
            }
        }

        .pagination__marker {
            width: auto;
            height: auto;
            padding: 0;
            margin-right: rem(29);

            line-height: rem(48);

            border: none;
            border-radius: 0;
            background-color: transparent;
            box-shadow: none;

            a {
                color: $dark;
                text-decoration: none;

                transition: color .5s;

                &:hover {
                    color: $color1;
                }
            }

            &:hover {
                transform: scale(1);
            }

            &_active {
                transform: scale(1);

                a {
                    color: $color1;
                }
            }
        }
    }
}
