include ../top-box/top-box
include ../news-box/news-box
include ../subscribe/subscribe
include ../press/press
include ../pagination/pagination

mixin p-news(data)
    +b.p-news()&attributes(attributes)
        +top-box({
            title: 'Новости и мероприятия',
            links: [
                {
                    text: 'Об области'
                },
                {
                    text: 'Деятельность министерства'
                },
                {
                    text: 'Новости и мероприятия'
                }
            ]
        })

        +news-box(newsBox.default).p-news__news-box

        +subscribe(subscribe.default).p-news__subscribe

        +news-box(newsBox.default2).p-news__news-box

        +press().p-news__press
