include ../search/search
include ../select/select

mixin searching(data)
    +b.searching()&attributes(attributes)
        +e.FORM.form#search-form(novalidate)
            +search.searching__field

            +e.filters
                +e.P.text Искать
                +select({
                    widget: { name: 'area' },
                    options: [
                        { value: '1', label: 'По всему порталу', selected: true },
                        { value: '2', label: 'Не по всему порталу' }
                    ]
                }).searching__select

                +e.P.text Сортировать по
                +select({
                    widget: { name: 'date' },
                    options: [
                        { value: '1', label: 'дате публикации', selected: true },
                        { value: '2', label: 'алфавиту' }
                    ]
                }).searching__select

        +e.P.text-result 67 результатов по запросу

