.searching {
    margin-bottom: rem(54);

    &__form {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include below($mobile) {
            margin-bottom: rem(40);
        }
    }
    &__filters {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        width: rem(774);
        padding-right: rem(5);

        @include below($desktop) {
            width: rem(688);
            padding-right: 0;
        }
    }

    &__text-result {
        margin-top: rem(6);

        font-size: rem(16);
        font-weight: 400;
        line-height: (28/16);
        color: #697078;
    }

    &__text {
        margin-right: rem(13);

        font-size: rem(18);
        font-weight: 700;
        line-height: (28/18);
        white-space: nowrap;

        &:not(:last-of-type) {
            margin-right: rem(17);
        }
    }

    &__select {
        width: rem(237);

        @include below($desktop) {
            width: rem(200);
        }

        &:not(:last-child) {
            margin-right: rem(60);

            @include below($desktop) {
                margin-right: rem(15);
            }
        }

        &.select .select2-selection {
            @include below($desktop) {
                width: rem(200);
            }
        }

        &.select .select2-selection__arrow {
            right: rem(23) !important;

            @include below($desktop) {
                right: rem(10) !important;
            }
        }

        .select2-container .select2-selection--single .select2-selection__rendered {
            padding-left: rem(2);
        }
    }

    &__field {
        width: rem(466);

        @include below($desktop) {
            width: rem(430);
            margin-right: rem(36);
        }
    }
}

