.select2-container--primary {
    //width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    .select2-selection {
        &__placeholder {
            font-family: $font-1;
            font-size: rem(18);
            font-weight: 300;
            font-style: italic;
            color: rgba(255, 255, 255, 0.2);
        }
        &--single {
            position: relative;

            height: auto;
            padding-bottom: rem(5);
            .select2-selection__rendered {
                padding-left: rem(1);

                font-family: $font-1;
                font-size: rem(18);
                font-weight: 300;
                font-style: italic;
                color: rgba(255, 255, 255, 0.35);
            }
        }
        &__arrow {
            position: absolute;
            top: 50%;
            right: -1px;

            margin-top: -5px;
            b {
                display: block;
                width: rem(8);
                height: rem(5);

                background-image: url(%=static=%general/dropdown.svg);
                background-size: cover;

                @include below($mobile) {
                    width: rem(16);
                    height: rem(10);
                }
            }
        }
    }
}
