.p-content {
    // max-width: $desktop;
    margin: rem(28) auto 0;

    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% auto;

    @include below($mobile) {
        background-image: url(%=static=%assets/p-content/bg.jpg) !important;
    }

    &__container {
        max-width: rem(1372);
        margin: 0 auto;

        & + .block-2 {
            margin-top: rem(-86);
        }
    }

    &__title {
        padding-left: rem(100);
        margin-top: rem(75);
        margin-bottom: rem(57);

        font-size: rem(48);
        font-weight: 300;
        line-height: (54/48);
        color: #282828;
        letter-spacing: rem(-.4);

        @include below($desktop) {
            padding-left: rem(124);
            margin-top: rem(60);
        }

        @include below($mobile) {
            padding-right: rem(15);
            padding-left: rem(85);
            margin-top: rem(99);
            margin-bottom: rem(71);

            font-size: rem(60);
            line-height: 1;
        }

        b {
            font-weight: 500;
        }


    }

    .share {
        padding-top: rem(49);

        border-top: rem(1) dotted #b7b8bb;
        &-wrap {
            padding-top: 0;
            padding-bottom: rem(105);
            margin-top: rem(-14);
        }
    }
}
