include ./block-top/block-top
include ./block-1/block-1
include ./block-2/block-2

mixin p-content(data)
    +b.p-content()&attributes(attributes)

        +block-top({
            title: 'Об области'
        })

        +block-1(pContent.block1a)

        +block-1(pContent.block1b)

        +e.container
            +e.H2.title <b>Развитие</b> производства

        +block-2(pContent.block2a)

        +block-2(pContent.block2b)

        +block-2(pContent.block2c)

