.one-news {
    display: flex;

    @include below($mobile) {
        flex-wrap: wrap;
    }

    &__date {
        margin-bottom: rem(5);

        font-size: rem(16);
        font-weight: 300;
        line-height: (28/16);
        color: #a4a4a4;

        @include below($mobile) {
            margin-bottom: rem(40);

            font-size: rem(28);
            line-height: 1;
        }
    }

    &__title {
        max-width: rem(570);
        margin-top: 0;
        margin-bottom: rem(13);

        font-size: rem(24);
        font-weight: 500;
        line-height: (28/24);
        color: #000000;

        @include below($mobile) {
            max-width: rem(510);
            margin-bottom: rem(52);

            font-size: rem(42);
            line-height: (53/42);
        }
    }

    &__text {
        max-width: rem(527);

        font-size: rem(18);
        font-weight: 300;
        line-height: (24.1/18);
        color: #353434;

        @include below($mobile) {
            max-width: none;

            font-size: rem(28);
            line-height: (42/28);
        }
    }

    &__img {
        display: block;
        width: 100%;
        height: auto;
    }

    &__pic {
        width: 44.3%;

        @include below($desktop) {
            width: 50.3%;
        }

        @include below($mobile) {
            width: 100%;
        }
    }

    &__content {
        width: 55.7%;
        padding-top: rem(15);
        padding-left: rem(34);

        @include below($desktop) {
            width: 49.7%;
        }

        @include below($mobile) {
            width: 100%;
            padding-top: rem(70);
            padding-left: 0;
        }

        a {
            text-decoration: none;
        }
    }
}
