mixin one-news(data)
    +b.one-news()&attributes(attributes)
        +e.pic
            +e.IMG.img(src=data.img)
        +e.content
            +e.date!= data.date
            +e.H3.title!= data.title
            +e.text!= data.text
