.p-stories {
    margin-top: rem(28);

    @include below($mobile) {
        margin-top: 0;

        .title-subpage__title-box {
            font-size: rem(80);
        }
    }

    &__numbers-box{
        .numbers-box__item{
            &:last-child{
                transform: translateX(rem(14));


                @include below($mobile) {
                    transform: translateX(0);
                }
            }
        }
    }

    .title-subpage__brand{
        margin-right: rem(21);

        @include below($mobile) {
            margin-right: 0;
        }
    }

    .title-subpage__divider{
        display: inline-block;
        margin-right: rem(23);

        transform: translateY(rem(3));
    }

    .title-subpage__title{
        padding-bottom: rem(45);
    }

    .title-subpage__back-link{
        transform: translateY(rem(-5));


        @include below($mobile) {
            transform: translateY(0);
        }

    }
}
