include ../preview-box/preview-box
include ../items-box/items-box
include ../content-box/content-box
include ../numbers-box/numbers-box
include ../diagrams-box/diagrams-box
include ../slide-box/slide-box
include ../title-subpage/title-subpage
mixin p-stories(data)
    +b.p-stories()&attributes(attributes)

        +title-subpage('Mars', 'история успеха', 'contacts')

        +preview-box(pStories.previewBox).p-stories__preview-box

        +items-box(pStories.itemsBox).p-stories__items-box

        +content-box(pStories.contentBox1).p-stories__content-box

        +numbers-box(pStories.numbersBox).p-stories__numbers-box

        +content-box(pStories.contentBox2).p-stories__content-box

        +diagrams-box(pStories.diagramsBox).p-stories__diagrams-box

        +slide-box(pStories.slideBox).p-stories__slide-box




