include ../title/title

mixin s-block-8(data)
    +b.s-block-8()&attributes(attributes)
        +e.container
            +title({
                title: '<b>Портал промышленной кооперации</b><br> Московской области',
            }).s-block-8__title

            +e.box
                +e.pic
                    +e.IMG.img(src='%=static=%img/assets/s-block-8/i1.jpg')

                +e.content
                    h3.h3.subtitle-border Преимущества
                    ul.list
                        li.list__item
                            | <b>Бесплатный сервис</b> для кооперации промышленных предприятий
                        li.list__item
                            | Поиск потенциальных <b>заказчиков</b>
                        li.list__item
                            | Поиск потенциальных <b>поставщиков</b>
                        li.list__item
                            | <b>Поиск заказов</b> по планам закупок госкорпораций
                        li.list__item
                            | <b>Единый реестр</b> промышленных предприятий Московской области

                    +e.A.link(href='jv0') www.prom.mosreg.ru
