.s-block-8 {

    padding-top: rem(46);
    padding-bottom: rem(167);
    overflow: hidden;

    &__container {
        position: relative;

        max-width: rem(1280);
        padding: rem(60) rem(97) 0;
        margin:0 auto;


        @include below($mobile) {
            padding: rem(60) rem(97) rem(50);
        }

        &::after {
            content: '';

            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;

            width: 100vw;
            height: 100%;

            background-color: #f8f9fb;
        }
    }

    &__content {
        margin-left: rem(138);
    }

    &__pic {
        position: relative;
        top: rem(36);
        left: rem(5);

        width: rem(405);
        height: rem(303);

        box-shadow: 0 rem(10) rem(30) rgba(47, 64, 76, 0.21), inset 0 0 rem(250) rgba(16, 19, 25, 0.36);


        @include below($mobile) {
            position: relative;
            top:0;
            left: 0;

            width: 100%;
            margin-right: 0;
            margin-bottom: 0;
        }
    }

    &__img {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;
        object-fit: cover;


        @include below($mobile) {
            width: 100%;
        }
    }

    &__box {
        display: flex;


        @include below($mobile) {
            flex-wrap: wrap;
        }
    }

    .subtitle-border {
        margin-top: rem(21);
    }

    .list {
        max-width: rem(380);
        padding-left: rem(2);
        margin-bottom: rem(44);
    }

    .list__item {
        padding-left: rem(40);
        margin-bottom: rem(23);
    }

    &__link {
        font-size: rem(18);
        font-weight: 300;
        line-height: (24/18);
        color: #3777e8;
        text-decoration: none;


        @include below($mobile) {
            font-size: rem(24);
        }
    }
}

.cecutient-mode .s-block-8 {
    padding-bottom: rem(135);

    &__container {
        padding: 0 rem(55);
        padding-top: rem(24);

        &::after {
            display: none;
        }
    }

    &__box {
        padding: rem(45) rem(79);
        padding-bottom: rem(83);
        margin-top: rem(46);
        margin-left: rem(2);

        border: 2px solid #000;

        background: #f4f5f6;
    }

    &__pic {
        display: none;
    }

    .subtitle-border {
        padding-bottom: rem(30);
        margin-top: rem(23);
        margin-bottom: rem(56);

        font-weight: 400;

        &::before {
            height: 2px;
        }
    }

    .list {
        max-width: none;
    }

    &__link {
        display: inline-block;
        margin-top: rem(27);

        font-size: rem(20);
        font-weight: bold;
        line-height: rem(20);
        color: #000;

        border-bottom: 2px solid #000;
    }
}

