.slide-box {
    padding-top: rem(73);
    padding-bottom: rem(80);
    margin: 0 auto;
    overflow-x: hidden;

    background-color: #3777e8;

    @include below($desktop) {
        padding-top: rem(55);
        padding-bottom: rem(63);
    }

    @include below($mobile) {
        padding-top: rem(68);
        padding-bottom: rem(114);
    }

    &__title {
        margin-bottom: rem(38);

        font-size: rem(48);
        font-weight: 300;
        line-height: 54px;
        color: #ffffff;

        @include below($desktop) {
            letter-spacing: rem(-.5);
        }

        @include below($mobile) {
            padding-right: rem(90);

            padding-left: rem(90);

            font-size: rem(60);
            line-height: (54/60);
        }

        b {
            font-weight: 500;
        }
    }

    &__container {
        max-width: rem(1170);
        margin: 0 auto;

        @include below($desktop) {
            max-width: rem(1025);
        }
    }

    &__item {
        position: relative;

        display: none;
        align-items: flex-end;
        height: auto;
        min-height: rem(282);
        padding: rem(36) rem(38);
        margin-left: rem(1);

        text-decoration: none;

        background-size: cover;

        outline: none;

        @include below($desktop) {
            min-height: rem(250);
            padding-bottom: rem(23);
        }

        @include below($mobile) {
            display: none !important;
            padding-bottom: rem(44);
            padding-left: rem(56);

            &.slick-current {
                position: absolute;
                left: 5.625rem !important;

                display: flex !important;
                width: rem(568) !important;
                height: rem(433);
            }

            &.slide-box__next,
            &.slide-box__prev {
                position: absolute !important;
                top: rem(30) !important;

                display: flex !important;
                width: rem(507) !important;
                height: rem(369);

                opacity: 1!important;

                .slide-box__text {
                    display: none;
                }

                .slide-box__shadow {
                    background-color: rgba(14, 62, 146, 2);
                }
            }

            &.slide-box__prev {
                left: 0 !important;
            }

            &.slide-box__next {
                right: 0;
                left: auto !important;
            }


        }

        &.slick-slide {
            display: flex;
        }
    }

    &__text {
        position: relative;
        z-index: 1;

        font-size: rem(18);
        font-weight: 500;
        line-height: (28.1/18);
        color: #ffffff;

        @include below($mobile) {
            font-size: rem(28);
            line-height: (45/28);
        }

        &::before {
            content: '';

            display: block;
            width: rem(65);
            height: rem(1);
            margin-bottom: rem(15);

            background-color: #fff;

            @include below($mobile) {
                display: none;
            }
        }
    }

    &__shadow {
        content: '';

        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        background: linear-gradient( 90deg, rgba(3,24,45,0.81961) 0%, rgba(14,21,58,0) 100%);


        @include below($desktop) {
            opacity: .7;
        }
    }

    &__items {
        position: relative;
    }

    .slick-list {
        overflow: hidden;
    }

    .slick-track {
        display: flex;

        @include below($mobile) {
            display: block;
            width: 100% !important;
            min-height: rem(443);
        }
    }

    .slick-arrow {
        position: absolute;
        top: 50%;

        width: rem(48);
        height: rem(48);
        margin-top:rem(-24);

        font-size: 0;

        border: none;
        background-color: #ffffff;
        background-image: url(%=static=%assets/slide-box/arrow.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: rem(15) rem(15);
        box-shadow: 0 rem(6) rem(20) rgba(55, 119, 232, 0.53);
        outline: none;
        transform: rotate(45deg);

        @include below($desktop) {
            width: rem(40);
            height: rem(40);
            margin-top: rem(-3);

            background-size: rem(10) rem(10);
        }

        @include below($mobile) {
            z-index: 1;

            width: rem(22);
            height: rem(36);
            margin-top: rem(-23);

            background-color: transparent;
            background-image: url(%=static=%assets/slide-box/arrow-mobile.svg);
            background-size: rem(22) rem(36);
            box-shadow: none;
        }
    }

    .slick-prev {
        left: rem(-72);

        transform: rotate(-135deg);

        @include below($desktop) {
            left: rem(-62);
        }

        @include below($mobile) {
            left: rem(32);

            transform: rotate(0deg);
        }
    }

    .slick-next {;
        right: rem(-72);

        @include below($desktop) {
            right: rem(-62);
        }

        @include below($mobile) {
            right: rem(32);

            transform: rotate(180deg);
        }
    }
}
