mixin slide-box(data)
    +b.slide-box()&attributes(attributes)
        +e.container
            +e.title Другие <b>успешные компании</b>
            +e.items
                +e.A.item(href=jv0 style='background-image:url(%=static=%img/assets/p-stories/s1.jpg)')
                    +e.shadow
                    +e.text Центральный Аэрогидродинамический институт им.проф. Жуковского Н.Е. ФГУП

                +e.A.item(href=jv0 style='background-image:url(%=static=%img/assets/p-stories/s2.jpg)')
                    +e.shadow
                    +e.text LG Electronics Rus

                +e.A.item(href=jv0 style='background-image:url(%=static=%img/assets/p-stories/s3.jpg)')
                    +e.shadow
                    +e.text Демиховский <br> машиностроительныи  завод

                +e.A.item(href=jv0 style='background-image:url(%=static=%img/assets/p-stories/s1.jpg)')
                    +e.shadow
                    +e.text Центральный Аэрогидродинамический институт им.проф. Жуковского Н.Е. ФГУП

                +e.A.item(href=jv0 style='background-image:url(%=static=%img/assets/p-stories/s2.jpg)')
                    +e.shadow
                    +e.text LG Electronics Rus

                +e.A.item(href=jv0 style='background-image:url(%=static=%img/assets/p-stories/s3.jpg)')
                    +e.shadow
                    +e.text Демиховский <br> машиностроительныи  завод
