include ../map/map-nav/map-nav
include ../map/map
include ../map/map-results/map-results
include ../map/map-card/map-card

mixin p-map(data)
    +b.p-map()&attributes(attributes)
        +map-nav(map.mapNav).p-map__nav

        +e.content
            +map({
                filter: data.filter
            }).p-map__map

            +map-results(data.results).p-map__results

            +map-card({noRender: false}).p-map__map-card#map-card

