.p-map {
    height: 100%;

    &_filter_visible {
        @include below($mobile) {

            position: relative;
            z-index: 100001;
            .p-map__content {
                z-index: 2;
            }
        }
        .map-filter {
            clip: auto;
        }
        .map-controls__btn_filter {
            display: none;
        }
    }

    &_search_visible {
        @include above(751px) {
            .map-filter__title {
                display: none;
            }

            .map-filter__search-form {
                position: static;

                clip: auto;
            }

            .map-controls__btn_search {
                opacity: .7;

                &::before {
                    opacity: .7;
                }
            }
        }
    }

    &_results_visible {
        @include below($tablet) {
            .p-map__results {
                display: block;
            }

            .p-map__content {
                z-index: 2;
            }
        }
    }

    &__nav {
        position: relative;
        z-index: 2;
    }

    &__map {
        width: calc(100% - 28.8125rem);
        height: 100%;

        @include below($desktop) {
            width: calc(100% - 25.4375rem);
        }

        
        @include below($mobile) {
            width: 100%;
        }
    }

    &__results {
        position: relative;
        z-index: 1;

        width: rem(461);

        height: 100%;
        

        @include below($desktop) {
            width: rem(407);
        }

        @include below($mobile) {
            display: none;
            &.map-results {
                position: absolute;
                top: rem(-120);
                left: 0;

                width: 100%;
                height: calc(100% + 7.5rem);
            }
        }
    }

    &__content {
        position: relative;
        z-index: 1;

        display: flex;
        height: calc(100% - #{rem(73)});
        min-height: rem(530);

    
        @media (max-height: 890px) {
            height: calc(100% + #{rem(100)});
        }

        
        @include below($mobile) {
            height: calc(100% - 7.5625rem);
        }
    }

    &__map-card {
        display: none;
    }
}
