mixin object-menu(data)
    +b.object-menu()&attributes(attributes)
        block
        +e.UL.list
            each item in data
                +e.item
                    if (item.isButton && item.isLink)
                        +e.A(href=jv0 class="link" class=item.buttonClass) #{item.name}

                    if (item.isLink && !item.isButton)
                        +e.A(href=jv0).link #{item.name}

                    if (!item.isButton && !item.isLink)
                        +e.SPAN.text #{item.name}
