.object-menu {

    &__list {
        @include list-reset();
    }

    &__link {
        font-size: rem(16);
        font-weight: 400;
        line-height: rem(28);
        color: $gray;
        text-decoration: none;

        &.btn {
            margin-top: rem(20);

            font-size: rem(14);
            font-weight: 500;
            line-height: rem(24);
            text-align: center;
            text-transform: uppercase;
        }

        &_add, &_actuality {
            @include padding_x(#{rem(15)});
            @include padding_y(#{rem(15)});
            display: block;

            color: $light;

            background-color: $color1;
        }

        &_delete,
        &_close {
            @include padding_x(#{rem(52)});
            @include padding_y(#{rem(15)});
            display: block;

            color: $dark;
        }

        &_bold {
            font-size: rem(14);
            font-weight: 700;
            color: $dark;
            text-transform: uppercase;
        }
    }

    &__text {
        font-size: rem(16);
        font-weight: 400;
        line-height: rem(28);
        color: $gray;
        letter-spacing: rem(-.1);

        &_bold {
            font-size: rem(14);
            font-weight: 700;
            color: $dark;
            text-transform: uppercase;
        }
        &_d {
            font-size: 1.1rem;
            color: $dark;
        }
    }

    &__item {
        margin-bottom: rem(11);
        &_down {
            margin-top: rem(80);
        }
        &_b {
            margin-bottom: rem(22);
        }
    }
    &__actuality-circle-wrap {
        position: relative;

        display: inline-block;
        width: 2.25rem;
        height: 2.25rem;

        font-size: 1.7rem;
        color: #3777e8;
        text-align: center;

        border: 0.125rem solid #3777e8;
        border-radius: 50%;
    }
    &__line {
        width: 4rem;

        border-bottom: 1px solid $dark;
    }

}
