include ../cabinet-menu/cabinet-menu
include ../object-menu/object-menu
include ../profile/profile

mixin cabinet-profile(data)
    +b.cabinet-profile()&attributes(attributes)
        block
        .container
            +cabinet-menu
            .p-cabinet-profile__content.p-cabinet__content
                .p-cabinet-profile__left.p-cabinet__left
                    +object-menu(object_menu.prоfile)
                .p-cabinet-profile__right.p-cabinet__right
                    +profile

