mixin press(data)
    +b.press()&attributes(attributes)

        +e.container

            +e.H3.title <b>Пресс-служба</b> <br> Министерства инвестиций и инноваций МО

            +e.UL.contacts
                +e.LI.contact
                    +e.A.link._mail(href=jv0) pr.mii.mosref@gmail.com
                +e.LI.contact
                     +e.A.link._phone(href=jv0) +7 (985) 200 1770 <br> +7 (925) 761 4262
                +e.LI.contact
                     +e.A.link._web(href=jv0) www.mii.mosreg.ru
