.press {
    overflow-x: hidden;

    &__container {
        position: relative;

        max-width: rem(1165);
        padding-top: rem(77);
        padding-bottom: rem(46);
        margin: 0 auto;

        @include below($desktop) {
            max-width: rem(1030);
            padding-top: rem(75);
            padding-bottom: rem(49);
        }

        @include below($mobile) {
            max-width: rem(580);
            padding-top: rem(119);
            padding-bottom: rem(75);
        }

        &::before {
            content: '';

            position: absolute;
            z-index: 1;
            top: rem(5);
            right: 0;

            width: 0.625rem;
            height: 0.625rem;

            border: 1px solid #000;
            background-color: #fff;
            transform: rotate(45deg);

            @include below($mobile) {
                width: rem(20);
                height: rem(20);
            }
        }

        &::after {
            content: '';

            position: absolute;
            top: rem(10);
            left: 100%;

            width: 100vw;
            height: 1px;

            background: #000;
            transform: translateX(-100%);

            @include below($mobile) {
                top: rem(14);

                height: rem(2);
            }
        }
    }

    &__title {
        margin-top: 0;

        font-size: rem(38);
        font-weight: 400;
        line-height: (45/38);
        color: #282828;

        @include below($mobile) {
            margin-bottom: rem(50);

            font-size: rem(60);
            line-height: (65/60);
        }

        b {
            font-weight: 500;
        }
    }

    &__link {
        font-size: rem(24);
        font-weight: 300;
        line-height: (30/24);
        color: #282828;
        text-decoration: none;

        @include below($mobile) {
            font-size: rem(42);
            line-height: (53/42);
        }

        &::before {
            content: '';

            position: absolute;
            top: 50%;
            left: rem(-42);

            background-repeat: no-repeat;
            background-position: center;
            background-size: 100% 100%;
            transform: translateY(-50%);

            @include below($mobile) {
                left: rem(-46);
            }
        }

        &_mail {
            &::before {
                width: rem(23);
                height: rem(15);

                background-image: url(%=static=%assets/press/mail.png);

                @include below($mobile) {
                    width: rem(30);
                    height: rem(20);
                }
            }
        }

        &_phone {
            display: block;

                &::before {
                    width: rem(23);
                    height: rem(23);

                    background-image: url(%=static=%assets/press/phone.png);

                    @include below($mobile) {
                        width: rem(30);
                        height: rem(30);
                    }
                }
        }

        &_web {
            &::before {
                width: rem(23);
                height: rem(15);

                background-image: url(%=static=%assets/press/web.png);

                @include below($mobile) {
                    width: rem(30);
                    height: rem(20);
                }
            }
        }
    }

    &__contacts {
        padding-left: rem(43);

        list-style: none;

        @include below($mobile) {
            padding-left: rem(51);
        }
    }

    &__contact {
        position: relative;

        margin-bottom: rem(23);

        @include below($mobile) {
            margin-bottom: rem(33);
        }
    }
}
