include ../title-subpage/title-subpage
include ../tabs/tabs
include ../finance-support/finance-support
include ../have-questions/have-questions
include ../surety/surety
include ../banks/banks
include ../micro-loan/micro-loan
include ../economic-activity/economic-activity
include ../taxes/taxes
include ../finance-support/finance-support
include ../property-support/property-support
include ../taxes/taxes
include ../coWorking/coWorking

mixin p-support-mb3(data)
    +b.p-support-mb3()&attributes(attributes)
        +title-subpage('Меры поддержки', 'малому бизнсу')._small-business

        +tabs(tabs.support31)._small-business
            .tab__content
                +finance-support
            .tab__content
                +property-support
            .tab__content.is-open
                +taxes
            .tab__content
                +coWorking
