.popup-base {
    display: none;
    width: rem(292);

    background-color: $light;
    box-shadow: 0 rem(10) rem(30) rgba(47, 64, 76, 0.21);

    &__header {
        position: relative;

        padding: rem(17) rem(22) rem(12) rem(23);

        box-shadow: 0 rem(15) rem(20) 0 rgba(5, 11, 21, .1);
    }

    &__body {
        padding-top: rem(5);
    }

    &__title {
        margin: 0;

        font-size: rem(24);
        line-height: rem(28);
        color: $dark;
    }

    &__minify {
        @include padding_y(#{rem(5)});
        position: absolute;
        top: calc(50% - #{rem(2.5)});
        right: rem(59);

        &::before {
            content: '';

            display: block;
            width: rem(22);
            height: rem(2);

            background-color: $color1;
        }
    }

    &__close {
        position: absolute;
        top: calc(50% - #{rem(8)});
        right: rem(22);

        display: block;
        width: rem(16);
        height: rem(16);

        &::before,
        &::after {
            content: '';

            position: absolute;
            top: rem(7);

            display: block;
            width: rem(20);
            height: rem(2);

            background-color: $color1;
        }

        &::before {
            left: rem(-2);

            transform: rotate(45deg);
        }

        &::after {
            right: rem(-2);

            transform: rotate(-45deg);
        }
    }

    &__label {
        padding-right: rem(14);

        font-size: rem(14);
        line-height: rem(36);
        color: $dark;

        &_openable {
            position: relative;

            cursor: pointer;

            &::before {
                content: '';

                position: absolute;
                top: 50%;
                right: 0;

                width: rem(9);
                height: rem(6);
                margin-top: -.1875rem;

                background-image: url(%=static=%assets/map/map-filter/arrow.svg);
                background-repeat: no-repeat;
                background-position: center;
                background-size: 100% 100%;

                @supports (-ms-ime-align:auto) {
                    width: 9px;
                    height: 6.5px;

                    background-size: 9px 6px;
                }

                @media  (-ms-high-contrast: none), (-ms-high-contrast: active) {
                    width: 9.5px;
                    height: 7px;

                    background-size: 9px 5.5px;
                }
            }
        }

        &_only-text {
            display: inline-block;
            margin-bottom: rem(7);

            line-height: rem(20);
        }
    }

    &__box {
        padding: rem(8.5) rem(20);

        @include below($mobile) {
            padding: rem(20) rem(50);
        }

        &:not(:last-child) {
            border-bottom: rem(1) solid rgba(110, 117, 125, .1);
        }

        &_inner_visible {

            .popup-base__label::before {
                transform: rotate(180deg);
            }

            .popup-base__inner {
                display: block;
            }
        }

        &_flex {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            padding-top: rem(27);
            padding-bottom: rem(13);

            .popup-base__label {
                width: calc(100% - #{rem(168)});
                padding-right: 0;

                line-height: rem(15);
                text-align: right;
            }

            .popup-base__link {
                line-height: 0 !important;
            }

            .popup-base__ico {
                width: rem(156);
                height: auto;
            }
        }

        &_links {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            padding-top: rem(14);
            padding-bottom: rem(16);

            .popup-base__register,
            .popup-base__reestablish {
                font-size: rem(14);
                line-height: rem(28);
                text-decoration: none;
            }
        }
    }


    &__inner {
        display: none;
    }

    &__between {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .input-base {
            width: 50%;

            &:not(:last-of-type) {
                margin-bottom: 0;
            }

            &:first-child {
                padding-right: rem(8);
            }

            &:last-child {
                padding-left: rem(8);
            }
        }
    }

    &__checkbox {
        @include margin_y(#{rem(3.5)});

        &:not(:last-child) {
            margin-bottom: rem(11);
        }

        .checkbox__label {
            line-height: rem(36);
        }
    }

    &__link {
        font-size: rem(14);
        line-height: rem(28);
        color: rgba(0, 0, 0, .4);
        text-decoration: none;
    }

    &_content-hidden {
        @include above(751px) {
            height: auto;

            .popup-base__body {
                display: none;
            }
        }
    }

    &_feedback{
        position:absolute;
        z-index: 6;

        top: rem(56);
        right: rem(-18);
    }

    &_authorization {
        position:absolute;
        z-index: 6;
        top: rem(56);
        left: rem(534);

        .popup-base__body {
            padding-top: rem(18);
        }

        .button-base {
            margin-top: rem(22);
        }


    }

    &_filter {

        &:not(.popup-base_content-hidden) {
            padding-bottom: rem(7);
        }
    }

    &_registration {
        position:absolute;
        z-index: 6;
        top: rem(56);
        left: rem(850);

        &:not(.popup-base_content-hidden) {
            padding-bottom: rem(15.5);
        }

        .popup-base__body {
            padding-top: rem(15);
        }

        .button-base {
            margin-top: rem(20);
        }
    }

    &_subscribe {
        position: absolute;

        &:not(.popup-base_content-hidden) {
            padding-bottom: rem(6.5);
        }

        .popup-base__body {
            padding-top: rem(13);
        }

        .popup-base__label {

            &:not(.popup-base__label_only-text) {
                color: #6e747c;
            }
        }
    }

    &_visible {
        display: block;
    }
}
