include ../cabinet-menu/cabinet-menu
include ../object-menu/object-menu
include ../object-form/object-form
include ../popup-success/popup-success

mixin p-cabinet-add-object(data)
    +b.p-cabinet-add-object()&attributes(attributes)
        block
        .container
            +cabinet-menu(class="p-cabinet__cabinet-menu")
            +e.content.p-cabinet__content.p-cabinet__content_position
                +e.left.p-cabinet__left
                    +object-menu(object_menu.addObject)(class="p-cabinet__object-menu")
                +e.right.p-cabinet__right.p-cabinet__right_position
                    +object-form
            +popup-success(class="popup-success_absolute")

