.p-cabinet-add-object {
    margin-bottom: rem(86);

    &__right {
        padding: rem(31) rem(41) rem(40) rem(39);
        margin-top: rem(6);

        background-color: $light;
        box-shadow: 0 rem(10) rem(30) rgba(47, 64, 76, 0.21);
    }
}
