mixin blue-side(data)
    +b.blue-side()&attributes(attributes)
        H3.h3.h3--light.subtitle-border.subtitle-border--light!= data.title
        +e.items
            each item in data.items
                +e.item(class= item.class)
                    +e.icon
                        +icon({ icon: item.icon, class: '' })
                    +e.cnt
                        p!= item.text
        block
