.blue-side {
    max-width: rem(691);
    padding: rem(66) rem(130) rem(90) rem(95);

    color: #fff;

    background-color: $color1;
    box-shadow: 0 10px 30px rgba(47, 64, 76, 0.21);

    @include below($desktop) {
        padding-right: rem(180);
        padding-bottom: rem(76);
        padding-left: rem(78);
    }

    @include below($mobile) {
        padding-bottom: rem(109);
    }

    .h3 {
        margin-top: 0;

        letter-spacing: rem(-0.25);
    }
    &__items {
        margin-top: rem(55);

        @include below($mobile) {
            margin-top: rem(49);
        }
    }
    &__item {
        display: flex;
        align-items: center;
        margin-bottom: rem(33);

        @include below($mobile) {
            margin-bottom: rem(71);
        }

        &-end {
            align-items: flex-end;
            margin-top: rem(54);

            @include below($mobile) {
                align-items: flex-start;
            }
        }
        &:last-child {
            margin-bottom: 0;
        }

    }

    &__icon {
        flex-shrink: 0;
        width: rem(40);
        margin-right: rem(32);

        @include below($mobile) {

            margin-right: rem(39);

            svg {
                width: rem(60);
                height: rem(75);
            }
        }
    }
    &__cnt {
        margin-top: rem(-13);

        font-family: $font-1;
        font-size: rem(18);
        font-weight: 300;
        line-height: 1.333;
        color: #ffffff;

        @include below($mobile) {
            max-width: rem(450);

            font-size: rem(28);
            line-height: (42/28);
        }

        p {
            margin: 0;
        }
    }
    
    &__act{
        display: inline-block;
        margin-top: rem(4);

        font-size: rem(16);
        color: #fff;
        text-decoration: none;

        opacity: 0.6;
    }
}
