include ../download/download

mixin block-1(data)
    +b.block-1(class=data.className)&attributes(attributes)
        +e.container
            +e.content
                +e.H2.title!= data.title
                +e.H4.sub-title!= data.subTitle

                if data.badge
                    +e.badge!= data.badge

                +e.UL.items
                    each item in data.items
                        +e.LI.item
                            +e.text!=item.text

                if data.bottomText
                    +e.P.text._bottom!= data.bottomText

                +download({
                    text: 'Официальные документы о программе ',
                    type: '15 Кб .doc'
                }).block-1__download
