.block-1 {
    overflow-x: hidden;

    &_mod {
        .block-1 {
            &__container {
                position: relative;

                padding-bottom: rem(68);

                background-color: #f8f9fb;

                @include below($desktop) {
                    padding-top: rem(88);
                }

                @include below($mobile) {
                    padding-top: rem(100);
                    padding-bottom: rem(105);
                }

                &::after {
                    content: '';

                    position: absolute;
                    top: 0;
                    left: 100%;

                    width: 100vw;
                    height: 100%;

                    background-color: #f8f9fb;
                }
            }

            &__text {
                line-height: (28/18);

                @include below($mobile) {
                    line-height: (42/28);
                }
            }

            &__item:not(:last-child) {
                margin-bottom: rem(28);

                @include below($mobile) {
                    margin-bottom: rem(42);
                }
            }

            &__items {
                max-width: rem(900);
            }

            &__sub-title {
                @include below($desktop) {
                    margin-bottom: rem(14);
                }

                @include below($mobile) {
                    margin-bottom: rem(28);
                }
            }
        }
    }

    &__title {
        margin-top: 0;
        margin-bottom: rem(47);

        font-size: rem(48);
        font-weight: 300;
        line-height: (54/48);
        color: #282828;
        letter-spacing: rem(-.4);

        @include below($mobile) {
            font-size: rem(60);
            line-height: 1;
        }

        b {
            font-weight: 500;
        }
    }

    &__sub-title {
        margin-top: 0;
        margin-bottom: rem(15);

        font-size: rem(32);
        font-weight: 300;
        line-height: (48/32);
        color: #3777e8;

        @include below($desktop) {
            margin-bottom: rem(20);
        }

        @include below($mobile) {
            margin-bottom: rem(53);

            font-size: rem(42);
            line-height: (53.1/42);
        }
    }

    &__container {
        max-width: rem(1372);
        padding: rem(88) rem(103) rem(78);
        margin: 0 auto;

        background-color: #fff;

        @include below($desktop) {
            max-width: rem(1174);
            padding: rem(68) rem(73) rem(75);
        }

        @include below($mobile) {
            padding: rem(80) rem(87) rem(105);
        }

        &_styles {
            padding-top: 0;
        }
    }

    &__content {
        max-width: rem(1000);

        @include below($desktop) {
            max-width: rem(1010);
        }

        &_width-more {
            max-width: rem(1096);

            .conditions__list {
                padding-right: 0;
            }
        }

        &_full {
            max-width: none;
        }
    }

    &__items {
        padding-left: rem(48);
        margin: 0;
        margin-bottom: rem(25);

        list-style: none;

        @include below($mobile) {
            margin-bottom: rem(50);
        }

        @include below($mobile) {
            margin-right: rem(-13);
        }
    }

    &__item {
        position: relative;

        &::before {
            content: '';

            position: absolute;
            top: rem(4);
            left: rem(-45);

            display: inline-block;
            width: rem(16);
            height: rem(16);

            background: url(%=static=%assets/map/rect.png) center no-repeat;
            background-size: 100% 100%;

            @include below($mobile) {
                top: rem(7);

                width: rem(25);
                height: rem(24);
            }
        }

        &:not(:last-child) {
            margin-bottom: rem(25);

            @include below($mobile) {
                margin-bottom: rem(42);
            }
        }
    }

    &__text {
        font-size: rem(18);
        font-weight: 300;
        line-height: (24/18);
        color: #282828;

        @include below($mobile) {
            font-size: rem(28);
            line-height: (42/28);
        }

        &_bottom {
            line-height: (28/18);
        }

        b {
            font-weight: 500;
        }
    }

    &__link {
        text-decoration: none;
    }

    &__download {
        margin-top: rem(75);

        @include below($mobile) {
            margin-top: rem(68);
        }
    }

    &__badge {
        display: inline-block;
        padding-right: rem(8);
        padding-left: rem(103);
        margin-top: rem(42);
        margin-bottom: rem(22);
        margin-left: rem(-103);

        font-size: rem(16);
        font-weight: 500;
        line-height: (25/16);
        color: #ffffff;
        text-transform: uppercase;

        background-color: #3777e8;

        @include below($desktop) {
            padding-left: rem(74);
            margin-left: rem(-73);
        }

        @include below($mobile) {
            padding-right: rem(22);
            padding-left: rem(87);
            margin-bottom: rem(45);
            margin-left: rem(-87);

            font-size: rem(20);
            line-height: (32/20);
        }
    }
}
