.download {

    &::before {
        content: '';

        display: block;
        width: rem(65);
        height: 1px;
        margin-bottom: rem(28);

        background: #000;
    }

    &__ico {
        display: block;
        width: rem(43);
        height: rem(46);

        background: url(%=static=%assets/p-content/download/ico.svg) center no-repeat;
        background-size: 100% 100%;
    }

    &__container {
        display: flex;
    }

    &__link-box {
        padding-top: rem(5);
    }

    &__icon-box {
        padding-right: rem(33);
    }

    &__link {
        font-size: rem(18);
        font-weight: 300;
        line-height: (24/18);
        color: #3777e8;
        text-decoration: none;
    }

    &__type {
        font-size: rem(14);
        font-style: italic;
        line-height: (28/14);
        color: #000000;
    }
}
