mixin download(data)
    +b.download()&attributes(attributes)
        +e.container
            +e.icon-box
                +e.SPAN.ico

            +e.link-box
                +e.A.link(href=jv0)!= data.text
                +e.type!= data.type

