.list-icons {
    &__item {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: rem(18);

        @include below($mobile) {
            margin-bottom: rem(-12);
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
    &__icon__wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        width: rem(48);
        height: rem(48);
        margin-right: rem(30);

        border-radius: 50%;
        background-color: #ffffff;
        box-shadow: 0 rem(10) rem(30) rgba(47, 64, 76, 0.21);

        @include below($mobile) {
            width: rem(72);
            height: rem(72);
        }
    }
    &__icon {
        display: block;
    }
    &__text {
        font-family: $font-1;
        font-size: rem(16);
        font-weight: 400;
        color: #000000;
        text-transform: uppercase;

        @include below($mobile) {
            font-size: rem(28);
            line-height: (44/28);
        }
    }
}

.cecutient-mode .list-icons {    
    
    &__item {
        margin-bottom: 0;
    }
    
    &__icon__wrap {
        display: none;
    }
    
    &__text {
        margin-bottom: rem(15);
        
        font-size: rem(20);
        font-weight: bold;
        line-height: rem(35);
    }
}
