mixin list-icons(data)
    +b.list-icons()&attributes(attributes)
        each item in data.items
            +e.item
                +e.icon__wrap
                    if item.iconPng
                        +e.I.icon(class= item.iconPng)
                +e.P.text= item.text
        block
