.s-block-2 {
    padding-top: rem(44);
    padding-bottom: rem(105);

    &__container {
        max-width: rem(1165);
        margin: 0 auto;


        @include below($mobile) {
            padding-left: 5.625rem;
        }
    }

    &__title {
        margin-bottom: rem(50);
    }

    .text-light {
        margin-top: rem(3);
        margin-bottom: rem(57);

        font-size: rem(18);
        font-weight: 300;
        line-height: (24/18);


        @include below($mobile) {
            font-size: rem(28);
        }
    }

    .benefits__sum {
        margin-top: rem(29);
    }

    .benefits__amount {
        margin-top: rem(37);

        font-weight: 300;
    }

    &__box {
        display: flex;


        @include below($mobile) {
            flex-wrap: wrap;
        }

    }

    &__item {
        min-width: rem(387);


        @include below($mobile) {
            width: 100%;
        }

        &:nth-child(2) {
            .benefits__amount {
                padding-left: rem(3);
                margin-top: rem(54);
            }
        }
    }

    .benefits__rate {
        margin-top: rem(7);
    }

    .benefits__item {
        padding-bottom: 0;
    }

    .title__title br{
        display: none;
    }

    .title__sub-text{
        @include below($mobile) {
            padding-right: rem(20);

            font-size: rem(24);
        }
    }

    .content__subtitle-xs{
        @include below($mobile) {
            font-size: rem(30);
        }
    }

    .benefits__years{
        @include below($mobile) {
            line-height: normal;
        }
    }
}

.cecutient-mode .s-block-2 {
    padding-top: rem(83);    
    
    &__title {
        margin-right: rem(-30);
        margin-bottom: rem(33);
    }
    
    .title__title {
        margin-bottom: rem(18);
    }
    
    .text-light {
        padding-left: rem(3);
        margin-bottom: rem(32);
        
        font-size: rem(20);
        font-weight: 400;
        line-height: rem(30);
        letter-spacing: rem(-0.1);
    }
    
    .benefits__sum {
        margin-top: rem(25);
    }
    
    .benefits__amount {
        margin-top: rem(30);
    }
    
    &__item:nth-child(2) .benefits__amount {
        margin-top: rem(48);
    }
    
    .benefits__rate {
        margin-top: rem(4);
    }
}
