mixin s-block-2(data)
    +b.s-block-2()&attributes(attributes)
        +e.container
            +title({
                title: 'Налоговые льготы <b>на имущество прибыль прямого<br> действия</b> (без заключения соглашения)',
                subText: 'Регулируется статьей 26.18 ЗМО 151/2004 от 24.11.04'
            }).s-block-2__title

            .tabs__text
                span.content__subtitle-xs Требование:
                p.text-light
                    |  Создание нового объекта стоимостью более 50 млн. рублей (кроме торговых и жилых).

                .benefits
                    .benefits__item
                        .benefits__badge Стратегический
                        .benefits__sum от 500 млн руб. до 5 лет
                        +e.box
                            +e.item
                                .benefits__amount <b>Налог на имущество:</b><br> (вновь созданное):
                                .benefits__rate
                                    | 0
                                    span.benefits__percent %
                                .benefits__years на 4 года

                            +e.item
                                .benefits__amount <b>Налог на прибыль:</b>
                                .benefits__rate
                                    | 15,5
                                    span.benefits__percent %
                                .benefits__years на 4 года
