include ../icon/icon

mixin popup-success(data)
    +b.popup-success()&attributes(attributes)
        block
        A(href=jv0).popup-success__close
        .popup-success__ico
            +icon({
                icon: 'success', class: 'popup-success__ico-success'
            })
        .popup-success__title.popup-success__title_margin Ваша заявка отправлена
        .popup-success__sub-title Мы рассмотрим ее в течение 15-ти дней
