.popup-success {
    position: relative;

    display: none;
    width: 100%;
    max-width: rem(500);
    height: rem(320);
    padding-top: rem(79);

    background-color: $light;
    box-shadow: 0 rem(10) rem(30) rgba(47, 64, 76, 0.21);

    &__close {
        position: absolute;
        top: rem(19);
        right: rem(21);

        display: block;
        width: rem(15);
        height: rem(16);

        &::before,
        &::after {
            content: '';

            position: absolute;
            top: rem(5);

            display: block;
            width: rem(20);
            height: rem(2);

            background-color: #3777e8;;
        }

        &::before {
            left: rem(-3);

            transform: rotate(45deg);
        }

        &::after {
            right: rem(-2);

            transform: rotate(-45deg);
        }
    }

    &__ico {
        @include margin_x(auto);
        position: relative;

        width: rem(64);
        height: rem(64);

        border: rem(3px) solid #3777e8;
        border-radius: 50%;
    }

    &__ico-success {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        width: rem(30);
        height: rem(25);
        margin: auto;
        stroke: #3777e8;
    }

    &__title,
    &__sub-title {
        @include padding_x(rem(10))
        text-align: center;
        line-height: rem(32);
    }

    &__title {
        font-size: rem(24);
        font-weight: 500;

        &_margin {
            margin-top: rem(27);
        }
    }

    &__sub-title {
        font-size: rem(18);
        font-weight: 300;
    }

    &__buttons {
       display: none;
        margin-top: rem(34);
    }

    &__button {
        @include padding_y(rem(14));
        width: 100%;

        font-size: rem(14);
        font-weight: 500;
        line-height: rem(24);
        text-align: center;
        text-transform: uppercase;

        &.btn_theme_standart {
            margin-top: rem(10);

            color: $light;
        }
    }

    &_absolute {
        position: fixed;
        z-index: 100002;
        top: calc(50% - #{rem(160)});
        left: calc(50% - #{rem(250)});
    }

    &_visible {
        display: block;
    }

    &_edit-object {
        top: rem(255.5);

        height: rem(451);

        .popup-success__buttons {
            @include margin_x(auto);
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: rem(237);
        }
    }
}
