include ../search-box/search-box
include ../social/social

mixin top-box(data)
    +b.top-box()&attributes(attributes)
        .container
            +e.A.back-link(href='/') Назад

            +e.H1.title!= data.title

            if data.links
                +e.nav
                    +e.menu
                        each link in data.links
                            +e.A.link(href=jv0)!= link.text

                    +search-box({
                        className: '_theme_light'
                    }).top-box__search-box

            if data.social
                +e.bottom
                    +e.address= data.address

                    +social(social.topBox)._theme_horizontal._theme_simple.top-box__social

            block
