.top-box {
    overflow-x: hidden;

    &__back-link {
        position: relative;

        padding-left: rem(17);

        font-size: rem(16);
        font-weight: 400;
        line-height: rem(28);
        color: #fff;
        text-decoration: none;

        @include below($mobile) {
            display: inline-block;
        }

        &::before {
            content: '';

            position: absolute;
            top: 50%;
            left: rem(3);

            width: rem(5);
            height: rem(8);

            background: url(%=static=%assets/p-stories/arrow-m.svg) center no-repeat;
            background-size: 100% 100%;
            transform: translateY(-50%);
        }
    }

    &__title {
        position: relative;

        padding-bottom: rem(37);
        margin: 0;

        font-size: rem(48);
        font-weight: 500;
        line-height: rem(55);
        color: #ffffff;

        @include below($desktop) {
            margin-left: rem(-7);
        }

        @include below($mobile) {
            padding-top: rem(58);
            padding-left: rem(92);
        }

        &::before {
            content: '';

            position: absolute;
            z-index: 1;
            bottom: rem(11);
            left: 0;

            width: 0.625rem;
            height: 0.625rem;
            margin-left: rem(3);

            border: 1px solid rgba(255, 255, 255, 0.4);
            transform: rotate(45deg);

            @include below($mobile) {
                display: none;
            }
        }

        &::after {
            content: '';

            position: absolute;
            bottom: rem(15.5);
            left: rem(15);

            width: 100vw;
            height: 1px;

            background-color: rgba(255, 255, 255, 0.2);

            @include below($mobile) {
                display: none;
            }
        }
    }

    &__nav {
        display: flex;
        align-items: center;
        margin-bottom: rem(9);

        @include below($mobile) {
            display: none;
        }
    }

    &__menu {
        display: flex;
        align-items: center;
        padding: rem(4) 0;
    }

    &__link {
        padding: rem(4) rem(16);

        font-size: rem(16);
        font-weight: 400;
        line-height: (28/16);
        color: #ffffff;
        text-decoration: none;

        border: 2px solid transparent;

        &:not(:last-child) {
            margin-right: rem(62);

            @include below($desktop) {
                margin-right: rem(51);
            }
        }

        &_active {
            border-color: #fff;
        }
    }

    &__search-box {
        width: rem(30);
        height: rem(30);
        margin-left: auto;

        @include below($desktop) {
            width: rem(20);
        }
    }

    &__bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: rem(2) 0 rem(14);
    }

    &__address {
        position: relative;

        display: block;

        font-size: rem(16);
        line-height: (28 / 16);
        color: #fff;
        text-decoration: none;

        &::before {
            content: '';

            display: inline-block;
            width: rem(21);
            height: rem(25);
            margin-right: rem(18);

            vertical-align: middle;

            background-image: url(%=static=%assets/p-stories/marker-m.svg);

            background-repeat: no-repeat;
            background-position: center;
            background-size: 100% 100%;
        }
    }

    &__social {
        position: relative;
        top: rem(-8);
        right: rem(12);
    }
}

.cecutient-mode .top-box {

    &__title {
        padding-bottom: rem(29);

        font-size: rem(53);
        font-weight: 600;

        &::after,
        &::before {
            content: none;
        }
    }

    &__nav {
        text-transform: uppercase;
    }

    &__link {
        font-size: rem(15);
        font-weight: bold;
    }

    &__menu {
        padding: rem(4) 0;
    }
}
