mixin s-block-7(data)
    +b.s-block-7()&attributes(attributes)
        .content.content_theme_text
            .container
                .content__inner
                    h2.content__title
                        strong Фонд развития промышленности
                        br
                        | Московской области
                    +e.text В настоящее время создается Государственный фонд развития промышленности<br> Московской области (планируемый срок создания — <b>июнь 2017 года</b>)
                    .content__col-wrap
                        .content__col-l
                            h3.h3.subtitle-border Займ
                            ul.list
                                li.list__item
                                    | <span class="hightlight">Ставка 5%</span> годовых
                                li.list__item
                                    | Срок <span class="hightlight">до 5 лет</span>
                                li.list__item
                                    | <span class="hightlight">Проект направлен</span> на разработку новой продукции, техническое перевооружение и создание производства
                                li.list__item
                                    | Объем <span class="hightlight">от 20 до 100 млн рублей</span>
                        .content__col-r
                            +e.pic-box
                                +e.IMG.img(src='%=static=%img/assets/s-block-7/i.jpg')

