.s-block-7 {
    &__text {
        font-size: rem(18);
        font-weight: 300;
        line-height: (24/18);


        @include below($mobile) {
           font-size: rem(24);
        }

        b {
            font-weight: 500;
        }
    }

    .content_theme_text .content__title {
        margin-bottom: rem(40);
    }

    .subtitle-border {
        margin-top: rem(21);
    }

    .content_theme_text .content__col-l {
        padding-right: rem(40);
    }

    .hightlight {
        color: #3777e8;
    }

    &__pic-box {
        position: relative;

        width: rem(405);
        height: rem(303);

        background-color: #f8f9fb;
        box-shadow: 0 0.625rem 1.2rem rgba(47, 64, 76, 0.1);
    }

    img {
        position: absolute;
        top: 0;
        left: 0;

        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .content__col-r {
        width: rem(405);
        margin-top: rem(26);
        margin-left: rem(17);

        @include below($mobile) {
            padding-top: 0;
            padding-left:0;
        }
    }

    .content__col-wrap {
        align-items: center;
    }
}

.cecutient-mode .s-block-7 {

    .content {
        padding-top: rem(41);

        &__inner {
            padding-top: rem(25);
        }

        &__title {
            margin-bottom: rem(39);
            margin-left: rem(-3);

            font-weight: 400;
            color: #282828;
            letter-spacing: rem(-0.4);

            strong {
                font-weight: 600;
            }
        }

        &__col-r {
            padding-top: rem(25);
            padding-left: rem(72);
        }
    }

    &__text {
        max-width: rem(980);

        font-size: rem(20);

        font-weight: 400;
        line-height: rem(30);
        letter-spacing: rem(-0.030);

        br {
            display: none;
        }
    }

    .subtitle-border {
        padding-bottom: rem(24);
        margin-top: rem(6);
        margin-bottom: rem(41);
        margin-left: rem(-4);

        font-weight: 500;

        &::before {
            height: 2px;
        }
    }

    .list {
        margin-left: rem(-4);
    }

    .hightlight {
        font-weight: 600;
        color: #000;
    }

    &__pic-box {
        display: flex;
        justify-content: center;
        width: rem(303);
        min-height: rem(303);

        border: 15px solid #000;

        &::before {
            content: 'Фонд Развития Промышленности';

            display: inline-block;
            margin-top: rem(108);

            font-size: rem(26);
            font-weight: 600;
            line-height: rem(32);
            text-align: center;
        }
    }

    &__img {
        display: none;
    }
}

