mixin industry(data)
    +b.industry()&attributes(attributes)
        +e.items
            each item in data.items
                +e.item
                    +e.inner
                        +e.content
                            +e.H3.title= item.title
                            +e.P.address!= item.address

                            +e.desc
                                each textItem in item.desc.texts
                                    +e.P.text!= textItem.content

                                +e.UL.list
                                    each listItem in item.desc.list
                                        +e.list-item= listItem.text

                        +e.thumb
                            +e.IMG.img(src=`%=static=%img/assets/industry/${item.thumb}` alt='')

        +e.controls
            each control in data.controls
                +e.control
                    //- +icon({ icon: control.icon, class: 'industry__icon' })
                    != control.icon
                    +e.P.caption!= control.caption
