.slider {
    &_theme_default {

        .slick-arrow {
            @include center($horiz: false);
            @include hide-text;
            @include size(rem(90));
            z-index: 1;

            margin-top: rem(-53);

            font-size: 0;
            text-indent: 120%;

            border: none;
            background-color: #3777e8;
            box-shadow: 0 6px 20px rgba(55, 119, 232, 0.53);
            transform: rotate(45deg);

            transition: background-color .3s, box-shadow .3s;

            @include above($mobile + 1) {
                @include size(rem(38));
                margin-top: rem(-34);
            }

            @include above($desktop + 1) {
                @include size(rem(44));
                margin-top: rem(-40);
            }

            @include below($mobile) {
                margin-top: rem(-63);
            }

            &:hover {
                background-color: #305beb;
            }
        }

        .slick-prev::before,
        .slick-next::before {
            content: '';

            position: absolute;
            top: 50%;
            left: 50%;

            width: rem(10);
            height: rem(17);

            background-repeat: no-repeat;
            background-position: center;
            background-size: 100% 100%;

            @include below($desktop) {
                width: rem(10);
                height: rem(15);
            }

            @include below($mobile) {
                width: rem(20);
                height: rem(32);
            }
        }

        .slick-prev {
            left: rem(-44);

            @include above($mobile + 1) {
                left: rem(-55);
            }

            @include above($desktop + 1) {
                left: rem(-72);
            }

            &::before {
                background-image: url(%=static=%assets/slider/arrow.png);
                transform: rotate(-45deg) translate(0%, -50%);
            }
        }

        .slick-next {
            right: rem(-44);

            @include above($mobile + 1) {
                right: rem(-55);
            }

            @include above($desktop + 1) {
                // right: rem(200);
                right: rem(-72);
            }

            &::before {
                background-image: url(%=static=%assets/slider/arrow2.png);
                transform: rotate(-45deg) translate(50%, -50%);
            }
        }
    }
}
