include ../hero/hero
include ../content/content
include ../measures/measures
include ../slider/slider
include ../projects/projects
include ../conditions/conditions
include ../news/news
include ../support/support
include ../stories/stories

mixin p-index(data)
    +b.p-index()&attributes(attributes)
        +hero
        #content
        +content._theme_measures
            +e.H2.title #[strong Меры]#{' '} поддержки
            +measures(measures.default)

        +content._theme_projects
            +e.H2.title #[strong Удобно выбрать,]#{' '} просто начать
            +projects(projects.default)

        +content._theme_support
            +e.H2.title #[strong Помогаем]#{' '} лично
            +support(support.default)

        +content._theme_stories
            +e.H2.title #[strong Истории,]#{' '} которыми мы гордимся
            +stories

        +content._theme_quote
            +e.left
                +e.H2.title #[strong Область] <br> комфортного <br> ивестклимата

                +e.P.subtitle «Создание комфортных условий <br> для ведение бизнеса – <br> приоритет №1 для Московской <br> области»
                +b.btn._theme_light(href='/page/about') Об области

            +e.right
                figure
                    +e.IMG.img(src='%=static=%img/assets/content/andreyvorobiev.jpg' alt='')
                    +e.FIGCAPTION.caption
                        strong Андрей Воробьев
                        em Губернатор Московской области

        +content._theme_conditions
            +e.H2.title #[strong Улучшение]#{' '} условий

            +conditions(conditions.default)

        +content._theme_news
            +e.H2.title #[strong Новости]#{' '} инвестиций

            +news(news.default)
