.p-index {

    /* &__wrapper {
        position: relative;

        max-width: $container;
        padding-bottom: rem(100);
        margin: 792px auto 0;

        background-color: #fff;
        pointer-events: none;

        @include above($mobile + 1) {
            padding-bottom: rem(73);
        }

        @include above($desktop + 1) {
            padding-bottom: rem(107);
        }

        @include below($desktop) {
            max-width: rem(1170);
        }
    }*/

    .content {

        &_theme_conditions {
            .content__inner {
                padding-top: 0;
            }
        }

        &_theme_projects {

        }

        &_theme_quote {
        }

        &_theme_support {
            margin-bottom: rem(20);
        }
    }
}

.cecutient-mode {
    .p-index {
        padding-bottom: rem(88);

        .content_theme_support {
            .support__subtitle {
                max-width: none;
                margin-top: rem(-6);
            }
        }

        .content_theme_stories {
            padding-top: rem(91);
        }

        .content_theme_conditions {
            padding-top: 0;
            margin-top: rem(55);
        }

        .content_theme_news {
            .content__title {
                margin-bottom: rem(47);
            }
        }
    }
}
