mixin file-size(data)
    +b.file-size()&attributes(attributes)
        block
        +e.UL.files
            each file in data.files
                +e.files-item
                    +e.file(href=jv0)
                        +e.file-name!= file.name
                        +e.file-size= file.size
                        sdfsdf
