mixin pages-list(data)
    +b.pages-list()&attributes(attributes)
        .container
            +e.H1.title Список страниц
                +e.UL
                    each page in __pages
                        if page.name !== 'index'
                            +e.item
                                +e.link(href=page.href)= page.name
