include ../select-primary/select-primary
include ../radio/radio

mixin form-info-object(data)
    +b.FORM#form-info-object.form.form-info-object(action='/feed-back/create', method='POST', style='display:none;')
        .form-info-object__inner
        input(type='hidden', name='type', value='1')
        input(type='hidden', name='selector', value='0')
        .form__subtitle Укажите информацию для обратной связи
        label.form__label
            | Фамилия
            input.form__input.valid(type='text', name='lastname', aria-required='true', placeholder='Фамилия')
        label.form__label
            | Имя
            input.form__input.valid(type='text', name='name', aria-required='true', placeholder='Имя')
        label.form__label
            | Отчество
            input.form__input.valid(type='text', name='middlename', aria-required='true', placeholder='Отчество')
        label.form__label
            | Ваш е-mail адрес
            input.form__input.valid(type='email', name='email', aria-required='true', placeholder='Ваш е-mail адрес')
        label.form__label
            | и ваш телефон
            input.form__input.form__input_phone.valid(type='text', name='phone', maxlength='18', aria-required='true', placeholder='и ваш телефон')
        span.form__label.form__label_visible-mobile Предполагаемый объем инвестиций
        radiogroup.radio-group
            .radio.radio_theme_light.radio_text_light
                input#pickup1.radio__input(type='radio', name='data[pickup]', value='от 5 млн. руб', checked='checked')
                label.radio__label(for='pickup1')
                    span.radio__text
                        | от 5 млн. руб
                        .radio__cnt
            .radio.radio_theme_light.radio_text_light
                input#pickup2.radio__input(type='radio', name='data[pickup]', value='от 50 млн. руб')
                label.radio__label(for='pickup2')
                    span.radio__text
                        | от 50 млн. руб
                        .radio__cnt
            .radio.radio_theme_light.radio_text_light
                input#pickup3.radio__input(type='radio', name='data[pickup]', value='от 200 млн. руб')
                label.radio__label(for='pickup3')
                    span.radio__text
                        | от 200 млн. руб
                        .radio__cnt
            .radio.radio_theme_light.radio_text_light
                input#pickup4.radio__input(type='radio', name='data[pickup]', value='от 1 млрд. руб')
                label.radio__label(for='pickup4')
                    span.radio__text
                        | от 1 млрд. руб
                        .radio__cnt
        .form__group
            label.form__label.form__label_visible-mobile(for='object') Интересующий объект
            input#object.form__input.form__input_object(type='text', value='', name='data[object]')
        .form__chooseDocs
            span.form__label.form__label_visible-mobile Выберите документы для получения
            select.form__input-select(name='data[requested_documents][]', multiple='multiple', data-placeholder='Введите название документа или выберите из списка')
                option(value='Заявка на реализацию проекта') Заявка на реализацию проекта
                option(value='Заявка на размещение объекта') Заявка на размещение объекта
                option(value='Анкета для получения поддержки') Анкета для получения поддержки
        .form__chooseDocs
            span.form__label.form__label_visible-mobile Укажите тип поддержки
            select.form__input-select(name='data[support_type][]', multiple='multiple', data-placeholder='Например, налоговая льгота')
                option(value='Налоговая льгота') Налоговая льгота
                option(value='Имущественная поддержка') Имущественная поддержка
                option(value='Финансовая поддержка') Финансовая поддержка
        .form__chooseDocs
            span.form__label.form__label_visible-mobile Укажите отрасль
            select.form__input-select(name='data[branch][]', multiple='multiple', data-placeholder='Например, пищевая промышленность')
                option(value='Аэрокосмическая промышленность') Аэрокосмическая промышленность
                option(value='Производство медицинского и научного оборудования') Производство медицинского и научного оборудования
                option(value='Производство промышленного оборудования') Производство промышленного оборудования
                option(value='Производство контрольных и измерительных приборов') Производство контрольных и измерительных приборов
                option(value='Автомобилестроение') Автомобилестроение
                option(value='Химия') Химия
                option(value='Производство пластиков') Производство пластиков
                option(value='Фармацевтика и биофармацевтика') Фармацевтика и биофармацевтика
                option(value='Производство строительных и отделочных материалов') Производство строительных и отделочных материалов
                option(value='Строительные и инжиниринговые работы') Строительные и инжиниринговые работы
                option(value='Пищевая промышленность') Пищевая промышленность
                option(value='Производство напитков') Производство напитков
                option(value='Производство мебели') Производство мебели
                option(value='гостиничный бизнес и туризм') гостиничный бизнес и туризм
        .form__group
            label.form__label.form__label_visible-mobile(for='message') Комментарий
            textarea#message.form__textarea.form__textarea_message(name='data[comment]')
        input(type='hidden', name='type', value='0')
        button.btn.btn-default(type='submit') Запросить консультацию


