.form-info-object {
    padding-top: rem(65);
    padding-right: rem(94);
    padding-bottom: rem(91);
    padding-left: rem(92);

    overflow: visible;

    box-shadow: 0 rem(10) rem(30) rgba(47, 64, 76, 0.21);
    .form__title {
        margin-bottom: rem(25);

        letter-spacing: rem(-0.25);
    }
    .form__label {
        margin-bottom: rem(26);
    }
    .form__group {
        margin-top: rem(37);
        .form__label {
            margin-bottom: rem(12);

            letter-spacing: rem(0.3);
        }
    }
    .radio-group {
        align-items: center;
        justify-content: space-between;
        .radio__label {
            margin-right: 0;
        }
    }
    span.form__label {
        margin-top: rem(46);
        margin-bottom: rem(14);

        letter-spacing: rem(0.2);
    }
    .btn-default {
        bottom: rem(-16);
        left: rem(92);

        padding-right: rem(83);
        padding-left: rem(83);
    }

    .select2-search {
        min-width: 100%;
    }

    .select2-search__field {
        width: 100% !important;
    }


}
