.list {
    padding-left: 0;

    list-style-type: none;
    &__item {
        position: relative;

        padding-left: rem(45);
        margin-bottom: rem(33);

        font-size: rem(18);
        font-weight: 300;
        line-height: rem(24);

        @include below($mobile) {
            margin-bottom: rem(53);

            font-size: rem(28);
            line-height: (42/28);
        }

        &:before {
            content: '';

            position: absolute;
            top: rem(10);
            left: rem(1);

            display: block;
            width: rem(11);
            height: rem(11);

            background: url('%=static=%assets/list/romb.svg') no-repeat;
            background-size: contain;

            @include below($mobile) {
                top: rem(13);
                left: rem(-1);

                width: rem(16);
                height: rem(16);

            }

        }
        b {
            font-weight: 500;
        }
        .content__subtitle-xs {
            margin-top: rem(4);

            line-height: 1.6;
        }
    }

    &__site-name{
        font-weight: 500;
    }

    &__site-link{
        text-decoration: none;
    }

    &__event-name{
        font-weight: 500;
    }

    &__resours-name{
        font-size: rem(18);
        font-weight: 500;


        @include below($mobile){
            font-size: rem(26);
        }

        & + .list__other{
            margin-top: rem(-1);
        }
    }

    &__resours-description{
        margin-top: rem(-1);

        font-size: rem(18);


        @include below($mobile){
            font-size: rem(26);
        }
    }

    &__resours-link{
        text-decoration: none;


        @include below($mobile){
            font-size: rem(26);
        }
    }

    &__resours-phone{
        position: relative;

        display: inline-block;
        padding-left: rem(11);
        margin-left: rem(6);


        @include below($mobile){
            width: 100%;
            padding-left: 0;
            margin-left: 0;
        }

        &:before{
            content: '';

            position: absolute;
            top:0;
            left: 0;

            display: block;
            width: 1px;
            height: rem(17);

            background: #bfbfbf;


            @include below($mobile){
                display: none;
            }
        }
    }
}

.cecutient-mode .list {
    
    &__item {
        align-items: flex-start;
        margin-bottom: rem(43);
        
        font-size: rem(20);
        font-weight: 400;        
        
        &::before {
            top: rem(8);
            
            background: #000;
            
            transform: rotate(45deg);
        }
        
        b {
            font-weight: 600;
        }
    }
}
