include ../cabinet-menu/cabinet-menu
include ../object-menu/object-menu
include ../object-list/object-list

mixin p-cabinet(data)
    +b.p-cabinet()&attributes(attributes)
        block
        .container
            +cabinet-menu(class="p-cabinet__cabinet-menu")
            +e.content._position
                +e.left
                    +object-menu(object_menu.cabinet)(class="p-cabinet__object-menu")
                +e.right._position
                    each item in data
                        +object-list(item)
