.p-cabinet {
    padding-top: rem(28+84);

    background-color: $bg-pages;

    &__left {
        width: rem(237);

        @include below($desktop + 1){
            //width: rem(335);
            //padding-left: rem(103);
        }

    }

    &__right {
        width: calc(100% - #{rem(339)});

        @include below($desktop) {
            width: calc(100% - #{rem(339)});
        }

        &_position {
            padding-top: rem(8);
        }
    }

    &__cabinet-menu {
        padding-right: rem(5);
    }

    &__content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        &_position {
            padding-top: rem(12);
        }
    }
}
