@mixin colorMod($color-1, $color-2) {
    color: $color-1;

    background-color: $color-2;

    .map-card__details a,
    .industry__caption,
    .step__number,
    .sequence__link_contacts,
    .cecutient-header__font__item,
    .main-nav__link,
    .logo,
    .hero .social__title,
    .hero__subtitle,
    .measures__title,
    .measures-list__link,
    .project,
    .project__subtitle,
    .projects__title,
    .projects__cecutient-mode-text,
    .projects__count,
    .projects__text,
    .form__title,
    .form__label,
    .form__text,
    .form__textarea,
    .form__subtitle,
    .form__input::placeholder,
    .form__input_object,
    .select2 .select2-container--multi .select2-selection__choice,
    .select2 .select2-container--multi .select2-selection__choice__remove,
    .form .select2-container .select2-selection--single .select2-selection__rendered,
    .select2-container .select2-dropdown .select2-results__option.select2-results__option--highlighted,
    .select2 .select2-container--multi .select2-search__field,
    .select2 .select2-container--multi .select2-search__field::placeholder,
    .stories__text,
    .content__subtitle,
    .content__caption,
    .conditions__item::before,
    .conditions__desc,
    .news-item__date,
    .news-item__link,
    .news-item__desc,
    .news-item__link:hover .news-item__date,
    .news-item__link:hover .news-item__title,
    .footer .subscribe-box__submit,
    .subscribe-box__input,
    .subscribe-box__input::placeholder,
    .map-nav__item,
    .map-nav__text,
    .map-nav__sub-btn,
    .map-nav__box-btn,
    .map-filter__title,
    .map-filter__sub-title,
    .checkbox_theme_standart .checkbox__text,
    .map-nav__checkbox.checkbox_theme_standart .checkbox__count,
    .popup-base__title,
    .popup-base__label,
    .map-results__owner,
    .map-results__address,
    .map-results__phone,
    .map-results__name,
    .map-results__title,
    .title-subpage__brand,
    .title-subpage__divider,
    .title-subpage__title-box,
    .title-subpage__back-link,
    .title__title,
    .title__sub-text,
    .tab__title,
    .content__subtitle-xs,
    .benefits__sum,
    .benefits__amount,
    .benefits__rate,
    .benefits__percent,
    .benefits__years,
    .content__title,
    .rate-residents__rate,
    .residents-info,
    .residents-info__title,
    .residents-info__item,
    .description-info__name,
    .description-info__years,
    .description-info__subtext,
    .description-info__subtext .hilight,
    .subtitle-border,
    .blue-side__cnt,
    .big-price__price,
    .big-price__aftertext,
    .s-block-6__bp-text,
    .big-price,
    .list-icons__text,
    .locations__title,
    .locations__item,
    .hightlight,
    .s-block-8__link,
    .header__social .social__title,
    .stories__c-text,
    .projects__adv-btn.projects__adv-btn_theme_light,
    .content_theme_benefits-oez .badge,
    .custom-select .select2-selection__rendered,
    .trainings__time,
    .list__resours-link,
    .radio_theme_light .radio__text,
    .form__docs + label,
    .form__load-item,
    .form__docs-progress,
    .map-card__title,
    .map-card__text,
    .map-card__document-name,
    .map-filter__view-all-link {
        color: $color-1 !important;
    }

    .cecutient-header__font__item.is-active,
    .hero__btn .btn__text,
    .btn__text,
    .project__btn,
    .projects__btn,
    .form .btn,
    .stories__btn,
    .conditions__desc + a,
    .footer .logo__text,
    .footer__copyright,
    .footer .main-nav__link,
    .social__title,
    .cecutient-header .header__select .select2-selection__rendered,
    .map-nav__item_active .map-nav__text,
    .map-nav__item_active .map-nav__count,
    .map-nav__item_active .map-nav__sub-btn,
    &:not(.cecutient-mode_palette_light) .map-filter__input,
    &:not(.cecutient-mode_palette_light) .map-filter__input::placeholder,
    .input-base__input,
    .button-base__button,
    .main-nav__item .main-nav__link.active,
    .benefits__badge,
    .residents-info__btn,
    .badge,
    .stories__control_theme_link .stories__text,
    .trainings__enroll-btn,
    .map-card__sub-title,
    .map-card__send {
        color: $color-2 !important;
    }

    .cecutient-header__font__item.is-active,
    .step__text::before,
    .info-box__btn,
    .btn__text,
    .main-nav__item:after,
    .hero .social__link,
    .hero__btn,
    .measures-list__link:before,
    .measures__btn,
    .project__title strong::before,
    .project__btn,
    .projects__title::before,
    .projects__btn,
    .support__item::before,
    .form .btn,
    .stories__btn,
    .conditions__desc::before,
    .conditions__desc + a,
    .news__btn,
    .footer,
    .cecutient-header .header__select .select2-selection__rendered,
    .cecutient-header .header__control_theme_link,
    .map-nav__item_active,
    .checkbox_theme_standart .checkbox__input:checked + .checkbox__label::before,
    .popup-base__minify::before,
    .popup-base__close::before,
    .popup-base__close::after,
    .button-base__button,
    .main-nav__item::after,
    .main-nav__item .main-nav__link.active,
    .title-subpage__title::after,
    .benefits__badge,
    .badge,
    .list__item::before,
    .blue-side__icon,
    .subtitle-border:before,
    .stories__control_theme_link .stories__link,
    .residents-info__btn,
    .header_theme_light:not(.header_theme_fixed) .main-nav__link::after,
    .main-nav__link::after,
    .info-box__sub-title::after,
    .stories__title::before,
    .projects__adv-btn:not(.projects__adv-btn_theme_light),
    .header__social .social__link,
    .industry__list-item::before,
    .form .select2::after,
    .industry__controls .slick-arrow,
    .industry__controls .slick-arrow:hover,
    .slider_theme_default .slick-arrow,
    .trainings__enroll-btn,
    .list__resours-phone:before,
    .info-box__sub-title::before,
    .header__off-image,
    .form__text .select2-selection__arrow,
    .radio__input:checked + .radio__label::before,
    .map-filter__go-subscribe,
    .map-filter__show-btn,
    .form__del-docs::before,
    .form__del-docs::after,
    .stories__button,
    .map-card__hide-btn:after,
    .map-card__send,
    .btn-close:before, .form .fancybox-close-small:before,
    .btn-close:after, .form .fancybox-close-small:after,
    .map-controls__btn_increase::before,
    .map-controls__btn_increase::after,
    .map-controls__btn_decrease::before,
    .map-controls__btn.map-controls__btn_subscribe,
    .map-controls__btn_add::before,
    .map-controls__btn_add::after {
        background-color: $color-1 !important;
    }

    .p-investor__info-box,
    .content_theme_measures .content__inner,
    .measures__link,
    .project,
    .form__title,
    .form,
    .select2-dropdown,
    .stories__link,
    .stories__item,
    .stories__control,
    .content_theme_quote .content__left,
    .conditions__item:hover .conditions__content,
    .footer .subscribe-box__submit,
    .subscribe-box__input,
    .footer .social__link,
    .form .select2::after,
    .map-nav,
    .map-filter__content,
    .map-controls__btn,
    .map-nav__inner-items,
    .map-nav__box-items,
    .popup-base,
    .header,
    .map-results__box,
    .blue-side,
    .s-block-6 .container,
    .s-block-7__pic-box,
    .s-block-8__box,
    .header,
    .header_theme_light:not(.header_theme_fixed),
    .residents-info,
    .s-block-6__bp-text_mod::after,
    .content_theme_benefits-oez .badge,
    .projects__adv-btn.projects__adv-btn_theme_light,
    .info-box,
    .trainings,
    .form__text .select2-selection__arrow b::before,
    .form__text .select2-selection__arrow b::after,
    .radio_theme_light .radio__label::before,
    .measures__control.measures__control_active:after,
    .map-filter__go-subscribe:after,
    .content_theme_projects .projects__right,
    .map-card,
    .map-card__dynamic-content,
    .map-card__title,
    .map-card__bottom,
    .map-controls__btn.map-controls__btn_subscribe::after,
    .btn__arrow::before,
    .btn__arrow::after,
    .map-filter__view-all {
        background-color: $color-2 !important;
    }

    .industry__text,
    .industry__address,
    .industry__list-item,
    .form-box__text,
    .form-box__title,
    .step__desc,
    .step__text,
    .projects__adv-text,
    .sequence__title,
    .stories__info,
    .stories__title,
    .stories__desc,
    .info-box__title,
    .info-box__description,
    .form__small-text,
    .info-box__sub-title,
    .info-box__text {
        color: $color-1;
    }

    .projects__adv-btn {
        color: $color-2;
    }

    .industry__icon,
    .trainings .ico,
    .map-controls__show-filter,
    .map-controls__show-list,
    .map-card__icon_doc {
        fill: $color-1 !important;
    }

    .map-card__close-btn .icon_close-dark {
        stroke: $color-1 !important;
    }

    .main-nav,
    .hero .social__link,
    .measures__controls,
    .projects__item,
    .projects__right,
    .form,
    .form__input,
    .form__textarea,
    .form .select2,
    .stories__item,
    .stories__control,
    .content_theme_quote .content__left,
    .map-nav,
    .map-filter__input,
    .checkbox_theme_standart .checkbox__label::before,
    .popup-base__input,
    .input-base__input,
    .title__sub-text,
    .tabs__title,
    .tab__title.is-active,
    .benefits__item,
    .content__subtitle-xs,
    .blue-side,
    .description-info__item,
    .content_theme_return .content__col-l,
    .s-block-7__pic-box,
    .s-block-8__box,
    .s-block-8__link,
    .header__social .social__link,
    .industry__list-item::before,
    .step__text::before,
    .content_theme_quote .content__left,
    .industry__control::before,
    .news-item,
    .projects__adv-btn.projects__adv-btn_theme_light,
    .info-box__btn,
    .trainings__enroll-btn,
    .trainings__item,
    .info-support__about,
    .custom-select .select2-selection__arrow b,
    .info-support__about,
    .radio_theme_light .radio__label::before,
    .measures__control_active,
    .form__docs + label,
    .map-card__dynamic-content,
    .map-card__title,
    .map-card__bottom,
    .map-results,
    .map-card__residents {
        border-color: $color-1 !important;
    }

    .footer .social__link,
    .benefits__item::before,
    .benefits__item::after,
    .stories__btn {
        border-color: $color-2 !important;
    }

    .tab__title.is-active {
        border-bottom-color: $color-2 !important;
    }


    .radio_theme_light .radio__input:checked + .radio__label::before {
        box-shadow: inset 0 0 0 rem(2) $color-2, inset 0 0 0 rem(1) rgba($color-1, .7);;
    }

    .form__load-item {
        background-color: rgba($color-1, .1) !important;
    }

    .map-card__details {
        border-color: rgba($color-1, .1) !important;
    }

    .form__docs-progress {
        background-color: rgba($color-1, .2) !important;
    }

    .cecutient-header__font__item.is-active:before,
    .content_theme_quote .content__left::after {
        border-color: $color-1 transparent transparent transparent;
    }

    .content_theme_quote .content__left::before {
        border-color: $color-2 transparent transparent transparent;
    }

    .cecutient-mode .cecutient-header__palette__item--light::after {
        border-color: $color-2 transparent transparent transparent !important;
    }

    .main-nav__link {
        &.active {
            color: $color-2 !important;

            background-color: $color-1 !important;
        }
    }

    .logo__icon,
    .footer .social__link,
    .header_theme_light:not(.header_theme_fixed) .logo__icon,
    .header_theme_light:not(.header_theme_fixed) .footer .social__link,
    .logo__icon,
    .footer .social__link {
        opacity: 1;
        fill: $color-1;
    }

    .header_theme_light:not(.header_theme_fixed) .hero .social__link,
    .header_theme_light:not(.header_theme_fixed) .footer .logo__icon,
    .hero .social__link,
    .header__social .social__link,
    .footer .logo__icon,
    .icon_desktop {
        fill: $color-2 ;
    }

    .header__off-image-ico {
        fill: $color-2;
        stroke: $color-2;
    }

    .main-nav {
        border-color: $color-1;
        border-bottom-color: $color-2;
    }

    .map-results__title {
        border-color: $color-2;
        border-bottom-color: $color-1;
    }

    .map-filter__content::after {
        background-image: linear-gradient(to top, $color-2, rgba($color-2, 0.8)) !important;
    }

    .custom-scroll_theme_standart .mCSB_scrollTools .mCSB_draggerRail {
        background-color: $color-2 !important;
    }

    .mCSB_dragger {
        background-color: $color-1 !important;
    }

    .logo__subtitle {
        display: block;

        color: $color-1;
    }

    .projects__number,
    .top-box__link,
    .top-box__title {
        color: $color-1;
    }

    .top-box__nav {
        border-bottom: 2px solid $color-1;
    }

    .header_theme_light .header__control,
    .header_theme_light .header__select .select2-selection__rendered {
        border-color: $color-1;
    }

    .trainings__no-details {
        border-color: rgba($color-1, .4);
    }

    .trainings__no-details {
        color: rgba($color-1, .4);
    }

    .map-filter {

        &__top {
            background-color: rgba($color-2, .5) !important;
            box-shadow: 0 rem(2) 0 0 $color-1;
        }
    }
}

.cecutient-mode {
    @include colorMod(#000, #fff);

    .header {
        transition-duration: 0s;
    }

    .cecutient-hidden {
        display: none;
    }

    .header__select .select2 {
        &:not(.select2-container--open) ~ .select2-container--open {
            display: none;
        }
    }

    &.cecutient-mode_font {
        &_md {
            @include below(750) {
                font-size: 2.1333333333vw;

                body {
                    overflow-x: hidden;
                }
            }

            @include above(751px) {
                font-size: 1.25vw;

                body {
                    overflow-x: hidden;
                }
            }

            @include above(1281px) {
                font-size: 16px;
            }
        }
        &_lg {
            @include below(750) {
                font-size: 2.266666666666667vw;

                body {
                    overflow-x: hidden;
                }
            }

            @include above(751px) {
                font-size: 1.328125vw;

                body {
                    overflow-x: hidden;
                }
            }

            @include above(1281px) {
                font-size: 17px;
            }
        }
        &_xl {
            @include below(750) {
                font-size: 2.4vw;

                body {
                    overflow-x: hidden;
                }
            }

            @include above(751px) {
                font-size: 1.40625vw;

                body {
                    overflow-x: hidden;
                }
            }

            @include above(1281px) {
                font-size: 18px;
            }
        }
    }

    &.cecutient-mode_palette {


        &_light {
            @include colorMod(#000, #fff);
        }

        &_dark {
            @include colorMod(#fff, #000);
        }

        &_sky {
            @include colorMod(#195183, #a0d3fd);
        }

        &_blue {
            @include colorMod(#9dd1ff, #175182);
        }

        &_brown {
            @include colorMod(#a9e44d, #382210);
        }
    }

    .container {
        max-width: rem(1162);
    }

    .stories__control_theme_link .stories__text {
        font-size: rem(18);
        line-height: rem(24);
    }

    // .header__container {
    //     display: none;
    // }

    .block {
        display: inline;
    }

    .hero {
        background-image: none;
    }

    .hero__btn {
        background-color: $dark;
        box-shadow: none;
    }


    .header .main-nav__link.active::before {
        display: none;
    }

    .measures__control::before,
    .measures__control::after {
        content: none;
    }

    .measures__link {
        background-color: $light;
        background-image: none !important;
        box-shadow: none;

        &::before {
            content: none;
        }
    }

    .measures-list {

        &__link {
            padding-bottom: 0;


            &::before {
                top: rem(42);
                left: rem(5);

                border: none;
            }
        }

        &__text {
            padding-left: rem(5);
            margin-top: rem(5);
        }

        &__item {

            &:nth-child(2),
            &:nth-child(5) {
                left: rem(10);
            }

            &:nth-child(3),
            &:nth-child(6) {

                .measures-list__text {
                    padding-left: rem(15);
                }

                .measures-list__link::before {
                    left: rem(15);
                }
            }
        }
    }

    .measures__link-inner {
        background-image: none !important;
    }

    .measures__title {
        color: $dark;
    }

    .measures__btn {
        color: $light;

        background-color: $dark;
        box-shadow: none;
    }

    .content {
        &::before {
            content: none;
        }
    }

    .projects__item,
    .map-nav,
    .map-card__title {
        box-shadow: none;
    }

    /*.fancybox-close-small {
        &:after {
            background-image: url(%=static=%assets/map/close-dark.svg);
        }
    }*/

    .map-card {
        // temp styles
        position: absolute;
        z-index: 999;
        top: 0;
        left: 0;

        width: calc(100% - #{rem(403)});
        max-width: none !important;
        height: calc(100% + #{rem(78)});
        padding-top: 0;
        // padding-right: rem(70);
        padding-right: 0;
        padding-bottom: 0;
        padding-left: calc( (100% - #{rem(1162)})/2 );
        margin: 0;

        border-right: 0;
        background: #fff;

        opacity: 1;

        @include above(1600px) {
            width: calc(100% - #{rem(461)});
        }
        &.map-card_hide_on {
            bottom: unset;
        }
        &__dynamic-content {
            height: auto;
        }
        .fancybox-close-small {
            display: none !important;
        }
    }

    .map-card__title {
        border-bottom: rem(2) solid $dark;
    }

    .p-map__content {
        // causes bug
        // height: auto;
    }

    .map-card__title {
        padding-left: 0;

        font-weight: 700;

        background: $light;
    }

    .map-card__hide-btn {
        right: rem(114);

        background: transparent !important;
        &:after {
            background: $dark;
        }
    }

    .map-card__close-btn {
        display: block;
    }

    .map-card__content .mCSB_scrollTools {
        display: none !important;
    }

    .map-card__slider-box {
        display: none;
    }

    .map-card__dynamic-content {
        padding-top: rem(8);
        padding-right: rem(64);
        margin-bottom: rem(50);

        border-right: rem(2) solid #000;
        background: $light;
    }

    .map-card__detail {
        padding-left: 0;
        margin-top: rem(-8);
    }

    .map-card__details {
        padding-top: rem(39);
    }

    .map-card__details,
    .map-card__residents {
        border-color: $dark;
    }

    .map-card__residents {
        padding-bottom: rem(34);
        padding-left: 0;
    }

    .map-card__bottom {
        padding-top: rem(32);
        padding-left: 0;
        margin-bottom: rem(36);

        border-top: rem(1) solid $dark;
        box-shadow: none;
    }

    .map-card__send {
        color: #fff !important;

        background: $dark;
        box-shadow: none;
    }

    .map-card__detail {
        width: 25%;
    }

    .map-card__res-item {
        width: 33.33%;
        padding-left: 0;
    }

    .map-results {
        box-shadow: none;
    }

    .map-card__res-pic {
        flex-shrink: 0;
        filter: gray;
        filter: grayscale(100%);
    }

    .map-card__sub-title {
        font-size: rem(18);
    }

    .map-card .map-card__text {
        font-size: rem(16);
    }

    .map-card b.map-card__text {
        display: block;
        margin-bottom: rem(5);

        font-weight: 700;
    }

    .map-card__res-item .map-card__text {
        font-size: rem(14);
    }
    // cecuent mode have another order of items, lets change it
    .map-card__detail {
        &:nth-child(1) {
            order: 1;
        }
        &:nth-child(2) {
            order: 3;
        }
        &:nth-child(3) {
            order: 5;
        }
        &:nth-child(4) {
            order: 7;
        }
        &:nth-child(5) {
            order: 9;
        }
        &:nth-child(6) {
            order: 4;
        }
        &:nth-child(7) {
            order: 2;
        }
        &:nth-child(8) {
            order: 8;
        }
        &:nth-child(9) {
            order: 6;
        }
    }
    .project {
        color: $dark;

        background-color: #f4f5f6;
        background-image: none !important;

        &::before {
            content: none;
        }
    }

    .project__title strong {
        text-shadow: none;
    }

    .support__icon-wrap {
        display: none;
    }

    .form {
        border: 2px solid $dark;
        background-color: $light;
        box-shadow: none;
    }

    .form__ico {
        display: none;
    }

    .form__title {
        color: $dark;

        br {
            display: none;
        }
    }

    .form__label {
        flex-direction: column;
        width: 100%;

        color: $dark;
    }

    .form__input,
    .form__textarea {
        margin-left: 0;

        border: rem(2) solid $dark;
    }

    .form .btn {
        color: $light;

        background-color: $dark;
        box-shadow: none;
    }

    .conditions__item::before {
        position: static;

        color: $dark;
    }

    .conditions__icon {
        display: none;
    }

    .conditions__content {
        padding: 0;
        margin: 0;

        background-color: transparent;
    }

    .news__list {
        flex-direction: column;
    }

    .news__col {
        width: 100%;
    }

    .news-item__thumb {
        display: none;
    }

    .slider_theme_default .slick-arrow {
        background-color: $dark;
    }

    .footer {
        background-color: $dark;
    }

    .content__inner {
        padding-top: rem(43);
        padding-right: 0;
        padding-left: 0;
    }

    .content__title {
        letter-spacing: rem(0.25);
    }

    .content_theme_projects {
        .content__inner {
            padding-top: rem(13);
        }
    }

    .select2-container .select2-dropdown .select2-results__option {
        padding-top: rem(15);
        padding-bottom: rem(15);

        font-size: rem(18);
    }

    .select2-container .select2-dropdown .select2-results__option.select2-results__option--highlighted {
        font-weight: bold;
        color: #000;
    }

    .map-nav {
        border-top: rem(2) solid $dark;
        border-bottom: rem(2) solid $dark;
        &__item,
        &__text,
        &__sub-btn,
        &__box-btn {
            font-size: rem(18);
            color: $dark;
        }

        &__count {
            font-weight: 500;
        }

        &__item {

            &_active {
                padding-right: rem(33);

                background-color: $dark;

                .map-nav__text,
                .map-nav__count,
                .map-nav__sub-btn {
                    color: $light;
                }
            }
        }

        &__search-btn {
            width: rem(15);
            height: rem(14);

            background-image: url(%=static=%assets/map/btn-search-blind.svg);
        }
    }

    .checkbox_theme_standart {

        .checkbox {

            &__label {

                &::before {
                    border-color: $dark;
                }
            }

            &__text {
                font-size: rem(16);
                color: $dark;
            }

            &__input {

                &:checked + .checkbox__label::before {
                    background-color: $dark;
                }
            }
        }
    }

    .map-results {

        &__pic {
            display: none;
        }

        &__name {
            font-size: rem(20);
            font-weight: 700;
            line-height: rem(42);
        }

        &__owner,
        &__address,
        &__phone {
            font-size: rem(14);
            line-height: rem(24);
        }

        &__title {
            font-size: rem(16);
            font-weight: 700;
            line-height: rem(28);
        }
    }

    .map-filter {

        &__btn {

            &_hide {
                background-image: url(%=static=%assets/map/map-filter/hide-blind.svg);
            }

            &_close {
                background-image: url(%=static=%assets/map/map-filter/close-blind.svg);
            }
        }

        &__sub-title {
            font-size: rem(16);
            font-weight: 500;
        }
    }

    .map-filter {

        &__btn {

            &_hide {
                background-image: url(%=static=%assets/map/map-filter/hide-blind.svg);
            }

            &_close {
                background-image: url(%=static=%assets/map/map-filter/close-blind.svg);
            }
        }

        &__sub-title {
            font-size: rem(16);
            font-weight: 500;
        }
    }

    .popup-base {

        &__label {
            font-size: rem(16);
            font-weight: 500;
        }
    }

    .title-subpage__title {

        &::before{
            display: none;
        }

        &::after {
            width: 72.625rem;
            height: 2px;
            margin-left: 0;

            background-color: $dark;
            transform: translateX(-50%);
        }

        h1 {
            @include below($desktop) {
                margin-left: rem(-31);
            }
        }
    }

    .title-subpage__back-link {
        margin-left: rem(20);

        font-family: Arial;

        font-size: rem(22);
        font-weight: bold;
        color: #000;
        text-transform: uppercase;

        &::before {
            top: calc(50% - 0.60rem);
            left: rem(-23);

            width: rem(20);
            height: rem(20);

            background: url(%=static=%assets/p-stories/arrow-blind.svg) center no-repeat;

            @include below($desktop) {
                margin-top: 0;
            }
        }
    }

    .title-subpage__contacts {
        @include below($desktop) {
            padding-left: 0;
        }
    }

    &_palette {

        &_brown {

            .slider_theme_default .slick-prev::before {
                background-image: url(%=static=%assets/slider/arrow-blind-brown.png);
            }

            .slider_theme_default .slick-next::before {
                background-image: url(%=static=%assets/slider/arrow2-blind-brown.png);
            }

            .stories__button {

                &::before {
                    background-image: url(%=static=%assets/slider/arrow2-blind-brown.png);
                }
            }

            .trainings {

                &__no-details::before {
                    background-image: url(%=static=%assets/trainings/no-details-blind-brown.svg);
                }
            }

            .title-subpage {

                &__back-link {

                    &::before {
                        background: url(%=static=%assets/p-stories/arrow-blind-brown.svg) center no-repeat;
                    }
                }
            }

            .map-controls {

                &__btn {

                    &_search {

                        &::before {
                            background-image: url(%=static=%assets/map/btn-search-blind-brown.svg);
                        }
                    }

                    &_filter {

                        &::before {
                            background-image: url(%=static=%assets/map/btn-filter-blind-brown.png);
                        }

                        &:hover::before {
                            background-image: url(%=static=%assets/map/btn-filter-blind-brown.png);
                        }
                    }
                }
            }

            .map-nav {

                &__box-btn {

                    &::after {
                        background-image: url(%=static=%assets/map/map-nav/arrow-blind-brown.svg);
                    }

                    &:hover::after {
                        background-image: url(%=static=%assets/map/map-nav/arrow-blind-brown.svg);
                    }
                }

                &__arrow {
                    background-image: url(%=static=%assets/map/map-nav/arrow-blind-brown.svg);
                }
            }

            .map-filter {

                &__btn {

                    &_hide {
                        background-image: url(%=static=%assets/map/map-filter/hide-blind-brown.svg);
                    }

                    &_close {
                        background-image: url(%=static=%assets/map/map-filter/close-blind-brown.svg);
                    }
                }

                &__sub-title::after {
                    background-image: url(%=static=%assets/map/map-filter/arrow-blind-brown.svg);
                }
            }

            .checkbox_theme_standart {

                .checkbox {

                    &__input {

                        &:checked + .checkbox__label::before {
                            background-image: url(%=static=%assets/checkbox/arrow-blind-brown.svg);
                        }
                    }
                }
            }

            .popup-base__label::before {
                background-image: url(%=static=%assets/map/map-filter/arrow-blind-brown.svg);
            }
        }

        &_sky {

            .slider_theme_default .slick-prev::before {
                background-image: url(%=static=%assets/slider/arrow-blind-sky.png);
            }

            .slider_theme_default .slick-next::before {
                background-image: url(%=static=%assets/slider/arrow2-blind-sky.png);
            }

            .stories__button {

                &::before {
                    background-image: url(%=static=%assets/slider/arrow2-blind-sky.png);
                }
            }

            .trainings {

                &__no-details::before {
                    background-image: url(%=static=%assets/trainings/no-details-blind-sky.svg);
                }
            }

            .title-subpage {

                &__back-link {

                    &::before {
                        background: url(%=static=%assets/p-stories/arrow-blind-sky.svg) center no-repeat;
                    }
                }
            }

            .map-controls {

                &__btn {

                    &_search {

                        &::before {
                            background-image: url(%=static=%assets/map/btn-search-blind-sky.svg);
                        }
                    }

                    &_filter {

                        &::before {
                            background-image: url(%=static=%assets/map/btn-filter-blind-sky.png);
                        }

                        &:hover::before {
                            background-image: url(%=static=%assets/map/btn-filter-blind-sky.png);
                        }
                    }
                }
            }

            .map-nav {

                &__box-btn {

                    &::after {
                        background-image: url(%=static=%assets/map/map-nav/arrow-blind-sky.svg);
                    }

                    &:hover::after {
                        background-image: url(%=static=%assets/map/map-nav/arrow-blind-sky.svg);
                    }
                }

                &__arrow {
                    background-image: url(%=static=%assets/map/map-nav/arrow-blind-sky.svg);
                }
            }

            .map-filter {

                &__btn {


                    &_hide {
                        background-image: url(%=static=%assets/map/map-filter/hide-blind-sky.svg);
                    }

                    &_close {
                        background-image: url(%=static=%assets/map/map-filter/close-blind-sky.svg);
                    }
                }

                &__sub-title::after {
                    background-image: url(%=static=%assets/map/map-filter/arrow-blind-sky.svg);
                }
            }

            .checkbox_theme_standart {

                .checkbox {

                    &__input {

                        &:checked + .checkbox__label::before {
                            background-image: url(%=static=%assets/checkbox/arrow-blind-sky.svg);
                        }
                    }
                }
            }

            .popup-base__label::before {
                background-image: url(%=static=%assets/map/map-filter/arrow-blind-sky.svg);
            }
        }

        &_blue {

            .slider_theme_default .slick-prev::before {
                background-image: url(%=static=%assets/slider/arrow-blind-blue.png);
            }

            .slider_theme_default .slick-next::before {
                background-image: url(%=static=%assets/slider/arrow2-blind-blue.png);
            }

            .stories__button {

                &::before {
                    background-image: url(%=static=%assets/slider/arrow2-blind-blue.png);
                }
            }

            .trainings {

                &__no-details::before {
                    background-image: url(%=static=%assets/trainings/no-details-blind-blue.svg);
                }
            }

            .title-subpage {

                &__back-link {

                    &::before {
                        background: url(%=static=%assets/p-stories/arrow-blind-blue.svg) center no-repeat;
                    }
                }
            }

            .map-controls {

                &__btn {

                    &_search {

                        &::before {
                            background-image: url(%=static=%assets/map/btn-search-blind-blue.svg);
                        }
                    }

                    &_filter {

                        &::before {
                            background-image: url(%=static=%assets/map/btn-filter-blind-blue.png);
                        }

                        &:hover::before {
                            background-image: url(%=static=%assets/map/btn-filter-blind-blue.png);
                        }
                    }
                }
            }

            .map-nav {

                &__box-btn {

                    &::after {
                        background-image: url(%=static=%assets/map/map-nav/arrow-blind-blue.svg);
                    }

                    &:hover::after {
                        background-image: url(%=static=%assets/map/map-nav/arrow-blind-blue.svg);
                    }
                }

                &__arrow {
                    background-image: url(%=static=%assets/map/map-nav/arrow-blind-blue.svg);
                }
            }

            .map-filter {

                &__btn {

                    &_hide {
                        background-image: url(%=static=%assets/map/map-filter/hide-blind-blue.svg);
                    }

                    &_close {
                        background-image: url(%=static=%assets/map/map-filter/close-blind-blue.svg);
                    }
                }

                &__sub-title::after {
                    background-image: url(%=static=%assets/map/map-filter/arrow-blind-blue.svg);
                }
            }

            .checkbox_theme_standart {

                .checkbox {

                    &__input {

                        &:checked + .checkbox__label::before {
                            background-image: url(%=static=%assets/checkbox/arrow-blind-blue.svg);
                        }
                    }
                }
            }

            .popup-base__label::before {
                background-image: url(%=static=%assets/map/map-filter/arrow-blind-blue.svg);
            }
        }

        &_dark {

            .slider_theme_default .slick-prev::before {
                background-image: url(%=static=%assets/slider/arrow-blind-dark.png);
            }

            .slider_theme_default .slick-next::before {
                background-image: url(%=static=%assets/slider/arrow2-blind-dark.png);
            }

            .stories__button {

                &::before {
                    background-image: url(%=static=%assets/slider/arrow2-blind-dark.png);
                }
            }

            .trainings {

                &__no-details::before {
                    background-image: url(%=static=%assets/trainings/no-details-blind-dark.svg);
                }
            }

            .title-subpage {

                &__back-link {

                    &::before {
                        background: url(%=static=%assets/p-stories/arrow-blind-dark.svg) center no-repeat;
                    }
                }
            }

            .map-controls {

                &__btn {

                    &_search {

                        &::before {
                            background-image: url(%=static=%assets/map/btn-search-blind-dark.svg);
                        }
                    }

                    &_filter {

                        &::before {
                            background-image: url(%=static=%assets/map/btn-filter-hover.png);
                        }
                    }
                }
            }

            .map-nav {

                &__box-btn {

                    &::after {
                        background-image: url(%=static=%assets/map/map-nav/arrow-blind-dark.svg);
                    }

                    &:hover::after {
                        background-image: url(%=static=%assets/map/map-nav/arrow-blind-dark.svg);
                    }
                }

                &__arrow {
                    background-image: url(%=static=%assets/map/map-nav/arrow-blind-dark.svg);
                }
            }

            .map-filter {

                &__btn {

                    &_hide {
                        background-image: url(%=static=%assets/map/map-filter/hide-blind-dark.svg);
                    }

                    &_close {
                        background-image: url(%=static=%assets/map/map-filter/close-blind-dark.svg);
                    }
                }

                &__sub-title::after {
                    background-image: url(%=static=%assets/map/map-filter/arrow-blind-dark.svg);
                }
            }

            .checkbox_theme_standart {

                .checkbox {

                    &__input {

                        &:checked + .checkbox__label::before {
                            background-image: url(%=static=%assets/checkbox/arrow-blind-dark.svg);
                        }
                    }
                }
            }

            .popup-base__label::before {
                background-image: url(%=static=%assets/map/map-filter/arrow-blind-dark.svg);
            }
        }
    }

    .header {

        .main-nav {
            width: 100%;
            padding: 0 rem(30);

            border-top-width: 2px;
            border-top-style: solid;
            border-bottom-width: 2px;
            border-bottom-style: solid;

            &__list {
                align-items: center;
                justify-content: space-around;

                white-space: nowrap;
            }

            &__item {
                position: relative;

                margin: 0;


                &:first-child{
                    margin-left:0;
                }

                &:last-child{
                    margin-right: 0;
                }

                &:after {
                    content: '';

                    position: absolute;
                    top: 50%;
                    right: 0;

                    width: rem(1);
                    height: rem(28);
                    margin-top: rem(-14);

                    background-color: $dark;
                }

                &:last-child {
                    &:after {
                        display: none;
                    }
                }
            }

            &__link {
                @include padding_x(rem(22.5));
                display: block;
                padding-top: rem(21);
                padding-bottom: rem(22);

                font-size: rem(20);
                font-weight: 700;
                line-height: rem(30);
                color: $dark;
                text-transform: uppercase;

                &.active {
                    color: $light;

                    background-color: $dark;

                    & + .main-nav__item:after {
                        display: none;
                    }
                }
            }
        }
    }

    .p-support {
        margin-top: rem(50);

        .title-subpage {

            &__title {
                padding-bottom: rem(30);

                h1 {
                    font-size: rem(54);
                }
            }

            &__brand {
                color: $dark;
                letter-spacing: 0.5px;
            }

            &__divider {
                top: 0;

                font-size: rem(54);
                color: #282828;

            }

            &__title-box {
                margin: 0;

                color: #282828;
                letter-spacing: 0;
            }
        }
    }

    .benefits__item::before,
    .benefits__item::after {
        border-color: $light;
    }

    .header__social {
        margin-top: rem(20);

        @include above($mobile + 1) {
            display: flex !important;
        }
    }

    .header__social .social__title {
        font-size: rem(18);
        font-weight: 700;
        line-height: rem(24);
        color: $dark;
    }

    .header__social .social__link {
        border-color: $dark;
        background-color: $dark;
        fill: $light;
    }

    .header__container {
        align-items: center;
    }

    .title-subpage__title::after {
        display: none;
    }

    .title-subpage__brand {
        display: inline-block;

        font-size: rem(54);

        @include below($desktop) {
            margin-left: 0;
        }
    }

    .title-subpage__back-link {
        position: relative;
        top: 0;
        left: 0;
    }

    .description-info__name,
    .description-info__years,
    .description-info__subtext .hilight {
        font-weight: 700;
    }

    .content_theme_measures:not(.content_theme_measures_not-gray) .measures__btn {
        left: 0;

        margin-top: rem(37);
    }

    .rate-residents .badge {
        @include below($desktop) {
            margin-left: rem(-103);
        }
    }

    .p-business {

        &__projects {
            margin-top: rem(170);
        }

        &__info-box {
            padding-top: rem(56);
        }

        .info-support {
            margin-top: rem(-97);
        }
    }

    .content {

        &_theme_projects {


            .projects {

                &__left {
                    padding-right: rem(15);
                }

                &__right {
                    height: rem(502);

                    //background-color: #f4f5f6;
                    //margin-left: rem(49);
                }

                &__title {
                    letter-spacing: rem(1);

                    &::before {
                        bottom: rem(-3);

                        width: calc(100% + #{rem(16)});
                    }
                }

                &__adv-items {
                   min-height: rem(291);
                }

                &__adv-item {
                    //align-items: center;
                    margin-bottom: rem(49);
                }

                &__number {
                    min-width: auto;
                    min-height: auto;

                    text-align: left;

                    &::before {
                        display: none;
                    }
                }

                &__adv-text {
                    //margin-top: rem(16);
                    margin-left: 0;

                    font-weight: 500;
                }

                &__advantages {
                    padding-top: rem(51);
                }

                &__adv-btn {
                    @include padding_y(#{rem(12)});
                    width: auto;

                    font-size: rem(18);
                    font-weight: 700;
                    line-height: rem(24);
                    text-transform: uppercase;
                }

                &__adv-btn:not(.projects__adv-btn_theme_light) {
                    @include padding_x(#{rem(33)});

                    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
                        @include padding_x(#{rem(32)});
                    }


                    @supports (-ms-ime-align:auto) {
                        @include padding_x(#{rem(32)});
                    }
                }
            }

        }

        &_theme_stories {

            .content__inner {
                padding-top: 0;
            }
        }

        &_limitation {

            .content__inner {
                padding-bottom: 0;
            }
        }
    }

    .info-support {

        &__title_bold {
            font-weight: 700;
        }

        .subtitle-border {
            font-weight: 400;
        }

        &__about {
            width: rem(411);

            .list {
                margin-top: rem(17);
            }
        }
    }

    .list {

        &__resours-name {
            font-size: rem(20);
            font-weight: 700;
            line-height: rem(30);
        }

        &__other {
            margin-top: rem(6);
        }

        &__resours-description,
        &__resours-link {
            font-size: rem(20);
            line-height: rem(30);
        }

        &__item {
            font-size: rem(18);
            line-height: rem(24);
        }
    }

    .trainings {

        &__item,
        &__no-details {
            border-top-width: rem(2);
            border-top-style: solid;
        }

        &__title {
            letter-spacing: rem(.7);
        }

        &__offer {
            margin-top: rem(23);

            font-size: rem(20);
            font-weight: 400;
            line-height: rem(32);
        }

        &__time-label,
        .select2-selection__rendered {
            font-size: rem(22);
        }

        &__time-row {
            margin-top: rem(56);
        }

        &__box {
            margin-top: rem(19);
        }

        &__time {
            font-size: rem(36);
            line-height: rem(28);
        }

        &__description {
            padding-top: rem(57);
        }

        &__name {
            margin-top: rem(20);

            font-size: rem(18);
            font-weight: 500;
            line-height: rem(22);
        }

        &__about {
            margin-top: rem(24);

            font-size: rem(18);
            font-weight: 400;
            line-height: rem(26);
        }

        &__details {
            padding-top: rem(59);
           padding-left: rem(36);
        }

        .icon {
            display: none;
        }

        &__details-item {
            padding-left: 0;

            font-weight: 500;
        }

        &__details-text {
            font-size: rem(18);
            line-height: rem(20);
        }

        &__enroll-btn {
            @include padding_x(#{rem(38)});
            @include padding_y(#{rem(12.5)});
            font-size: rem(18);
            font-weight: 700;
            line-height: rem(24);
            text-transform: uppercase;
        }
    }

    .select2-container.select2-container--lang .select2-dropdown {
        width: rem(68) !important;
    }

    .form__text {

        .select2-selection__arrow {
            top: rem(-3);
            right: rem(-1);

            width: rem(54);
            height: calc(100% + #{rem(4)});

            background: $dark;

            b {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;

                width: rem(16);
                height: rem(11);
                margin: auto;

                &::before,
                &::after {
                    top: rem(6);

                    width: rem(12);
                    height: rem(2);
                }

                &::before {
                    left: 1px;
                }

                &::after {
                    right: rem(-5);
                }
            }
        }
    }
}
