include ../checkbox/checkbox
include ../icon/icon

mixin object-form(data)
    +b.object-form()&attributes(attributes)
        block
        +e.FORM.form
            +e.step-box._visible(data-number=1)
                +e.step
                    +e.step-number
                        +e.step-digit 1
                    +e.step-text Общие сведения
                +e.next-step
                    +e.next-step-number 2. Параметры объекта

                +e.data-wrapper
                    +e.row
                        +e.col._size-full
                            +e.LABEL.label Название объекта
                                +e.required *
                            +e.INPUT.input._size-full.object-form__required-input(  type="text"
                                                                                    name="name-object"
                                                                                    placeholder="Название объекта")
                    +e.row
                        +e.col
                            +e.LABEL.label Тип объекта
                                +e.required *
                            +e.SELECT(  placeholder="Участок"
                                        name="objectType"
                                        required).select.object-form__required-select
                                +e.OPTION.option
                                +e.OPTION.option Участок 1
                                +e.OPTION.option Участок 2
                        +e.col
                            +e.LABEL.label Собственник
                                +e.required *
                            +e.INPUT.input._size-full.object-form__required-input(  type="text"
                                                                                    name="owner"
                                                                                    placeholder="Архангельский Александр Юрьевич")
                    +e.row
                        +e.col
                            +e.LABEL.label Площадь объекта
                                +e.required *
                            +e.INPUT.input._size-full.object-form__required-input(  type="text"
                                                                                    name="area"
                                                                                    value="49 га")
                        +e.col
                            +e.LABEL.label Контактный телефон
                                +e.required *
                            +e.INPUT.input._size-full._phone.object-form__required-input(   type="text"
                                                                                            name="phone"
                                                                                            value=""
                                                                                            placeholder="+7 496 611 57 88")
                    +e.row
                        +e.col._size-full
                            +e.LABEL.label Адрес объекта
                                +e.required *
                            +e.INPUT.input._size-full.object-form__required-input(  type="text"
                                                                                    name="object-address"
                                                                                    value="Ногинский район, д. Колотарёво")
                    +e.row
                        +e.col._size-full
                            +e.LABEL.label Общие сведения об объекте
                            +e.INPUT.input._size-full(  type="text"
                                                        name="general-information"
                                                        placeholder="Опишите объект")
                    +e.row
                        +e.added-photo
                            +e.label Добавить фотографии объекта
                            +e.photo-block
                                +e.photo-preview
                                +e.INPUT.file-input(type="file", name="photos[]", id="photos", multiple )
                                +e.LABEL.photo-control(for="photos")
                                    +e.photo-content
                                        +e.photo-icon-wrapper
                                            +icon({icon: 'photo-camera', class: 'object-form__camera-icon'})
                    +e.row._buttons._buttons_step-one
                        +e.required-inputs-text
                            +e.SPAN.star *
                            = ' '
                            | Отмечены поля, обязательные для заполнения
                        +e.control-buttons._step-one
                            +e.A(href=jvo data-next=2).continue.btn._theme_standart Продолжить
            +e.step-box(data-number=2)
                +e.step
                    +e.step-number
                        +e.step-digit 2
                    +e.step-text Параметры объекта
                +e.next-step
                    +e.next-step-number 3. Дополнительные сведения
                +e.data-wrapper
                    +e.row
                        +e.col
                            +e.LABEL.label Тип предложения
                                +e.required *
                            +e.SELECT(  name="type-sentence"
                                        placeholder="Продажа").select.object-form__required-select
                                +e.OPTION.option
                                +e.OPTION.option Аренда
                        +e.col
                            +e.LABEL.label Кадастровый номер
                            +e.INPUT.input._size-full(  type="text"
                                                        name="cadastral-number"
                                                        placeholder="Укажите кадастровый номер")
                            +e.I.info
                                +e.wrap-ico
                                    +icon({
                                        icon: 'info', class: 'object-form__info-ico'
                                    })
                                +e.info-text Предназначено для определения правового статуса земельного участка и его разрешённого использования. Установлено и регулируется
                                    = ' '
                                    +e.A(href=jv0).info-link Земельным кодексом РФ
                                    | .
                    +e.row
                        +e.col
                            +e.LABEL.label Стоимость
                                +e.required *
                            +e.INPUT.input._size-full.object-form__required-input(  type="text"
                                                                                    name="value"
                                                                                    placeholder="Укажите стоимость аренды/продажи")
                        +e.col
                            +e.LABEL.label Форма собственности
                                +e.required *
                            +e.SELECT(  name="type-ownership"
                                        placeholder="Выберите").select.object-form__required-select
                                +e.OPTION.option
                                +e.OPTION.option Форма 1
                                +e.OPTION.option Форма 2
                    +e.row
                        +e.col
                            +e.LABEL.label Удалённость от Москвы
                            +e.INPUT.input._size-full(  type="text"
                                                        name="distance-from-moscow"
                                                        placeholder="Удалённость от Москвы в км")
                        +e.col
                            +e.LABEL.label Категория земель
                            +e.SELECT(  name="land-category"
                                        placeholder="Выберите").select
                                +e.OPTION.option
                                +e.OPTION.option Категория 1
                                +e.OPTION.option Категория 2
                            +e.I.info
                                +e.wrap-ico
                                    +icon({
                                        icon: 'info', class: 'object-form__info-ico'
                                    })
                                +e.info-text    Предназначено для определения правового статуса земельного участка и его разрешённого использования. Установлено и регулируется
                                    = ' '
                                    +e.A(href=jv0).info-link Земельным кодексом РФ
                                    | .
                    +e.row
                        +e.col
                            +e.LABEL.label Назначение площади
                            +e.INPUT.input( type="text"
                                            name="Appointment-square"
                                            placeholder="Назначение площади")
                        +e.col
                            +e.LABEL.label Вид разрешённого использования
                            +e.SELECT(  name="type-permitted-use"
                                        placeholder="Выберите").select
                                +e.OPTION.option
                                +e.OPTION.option Вид 1
                            +e.I.info
                                +e.wrap-ico
                                    +icon({
                                        icon: 'info', class: 'object-form__info-ico'
                                    })
                                +e.info-text    Предназначено для определения правового статуса земельного участка и его разрешённого использования. Установлено и регулируется
                                    = ' '
                                    +e.A(href=jv0).info-link Земельным кодексом РФ
                                    | .
                    +e.row._position-checkbox
                        +e.LABEL.label Выберите подключенные коммуникации
                        +e.wrap-checkbox._position
                            +checkbox({
                                name: 'power-supply',
                                text: 'Энергоснабжение',
                                className: '_theme_standart',
                                checked: false
                            }).object-form__checkbox

                            +checkbox({
                                name: 'gas-supply',
                                text: 'Газоснабжение',
                                className: '_theme_standart',
                                checked: false
                            }).object-form__checkbox

                            +checkbox({
                                name: 'water-supply',
                                text: 'Водоснабжение',
                                className: '_theme_standart',
                                checked: false
                            }).object-form__checkbox

                            +checkbox({
                                name: 'drainage',
                                text: 'Водоотведение',
                                className: '_theme_standart',
                                checked: false
                            }).object-form__checkbox

                            +checkbox({
                                name: 'headt-supply',
                                text: 'Теплоснабжение',
                                className: '_theme_standart',
                                checked: false
                            }).object-form__checkbox
                    +e.row._buttons._buttons_step-two
                        +e.required-inputs-text
                            +e.SPAN.star *
                            = ' '
                            | Отмечены поля, обязательные для заполнения
                        +e.control-buttons
                            +e.A(href=jvo data-next=3).continue.btn._theme_standart Продолжить
                            +e.A(href=jvo data-prev=1).step-back.btn._theme_light._theme_light_arrow-left На шаг назад

            +e.step-box(data-number=3)
                +e.step
                    +e.step-number
                        +e.step-digit 3
                    +e.step-text Дополнительные сведения

                +e.data-wrapper
                    +e.row
                        +e.col
                            +e.LABEL.label Наличие строений
                            +e.SELECT(  name="buildings"
                                        placeholder="Выберите").select
                                +e.OPTION.option
                                +e.OPTION.option Да
                                +e.OPTION.option Нет
                        +e.col
                            +e.LABEL.label Наличие обременения объекта
                                +e.required *
                            +e.SELECT(  name="burdens"
                                        placeholder="Выберите").select.object-form__required-select
                                +e.OPTION.option
                                +e.OPTION.option Да
                                +e.OPTION.option Нет
                            +e.I.info
                                +e.wrap-ico
                                    +icon({
                                        icon: 'info', class: 'object-form__info-ico'
                                    })
                                +e.info-text    Предназначено для определения правового статуса земельного участка и его разрешённого использования. Установлено и регулируется
                                    = ' '
                                    +e.A.info-link Земельным кодексом РФ
                                    | .
                    +e.row
                        +e.col
                            +e.LABEL.label Вид обременения
                            +e.INPUT.input._size-full( type="text"
                                            name="encumbrance"
                                            placeholder="Вид обременения")
                        +e.col
                            +e.LABEL.label Доступ к участку с автодороги
                            +e.SELECT(  name="road-access"
                                        placeholder="Укажите расстояние").select
                                +e.OPTION.option
                                +e.OPTION.option 2 км
                                +e.OPTION.option 5 км
                    +e.row
                        +e.col
                            +e.LABEL.label Расположение в ОЭЗ
                            +e.SELECT(  name="location"
                                        placeholder="Выберите").select
                                +e.OPTION.option
                                +e.OPTION.option Да
                                +e.OPTION.option Нет
                            +e.I.info
                                +e.wrap-ico
                                    +icon({
                                        icon: 'info', class: 'object-form__info-ico'
                                    })
                                +e.info-text    Предназначено для определения правового статуса земельного участка и его разрешённого использования. Установлено и регулируется
                                    = ' '
                                    +e.A.info-link Земельным кодексом РФ
                                    | .
                        +e.col
                            +e.LABEL.label Возможность присоединения к грузовой ж/д станции
                            +e.SELECT(  name="joining-railway"
                                        placeholder="Выберите").select
                                +e.OPTION.option
                                +e.OPTION.option Да
                                +e.OPTION.option Нет
                    +e.row
                        +e.col
                            +e.LABEL.label Класс опасности производства
                            +e.SELECT(  name="hazard-class"
                                        placeholder="Выберите").select
                                +e.OPTION.option
                                +e.OPTION.option 1 класс
                                +e.OPTION.option 2 класс
                            +e.I.info
                                +e.wrap-ico
                                    +icon({
                                        icon: 'info', class: 'object-form__info-ico'
                                    })
                                +e.info-text    Предназначено для определения правового статуса земельного участка и его разрешённого использования. Установлено и регулируется
                                    = ' '
                                    +e.A.info-link Земельным кодексом РФ
                                    | .
                    +e.row
                        +e.title Требуемые мощности
                    +e.row._input
                        +e.col._input
                            +e.LABEL.label Энергоснабжение
                            +e.INPUT.input(type="text")
                        +e.col._input
                            +e.LABEL.label Водоснабжение
                            +e.INPUT.input(type="text")
                    +e.row._input
                        +e.col._input
                            +e.LABEL.label Газоснабжение
                            +e.INPUT.input(type="text")
                        +e.col._input
                            +e.LABEL.label Водоотведение
                            +e.INPUT.input(type="text")
                    +e.row._buttons._buttons_step-three
                        +e.required-inputs-text
                            +e.SPAN.star *
                            = ' '
                            | Отмечены поля, обязательные для заполнения
                        +e.control-buttons
                            +e.BUTTON.continue.btn._theme_standart Продолжить
                            +e.A(href=jvo data-prev=2).step-back.btn._theme_light._theme_light_arrow-left На шаг назад
