.object-form {

    &__step-box {
        display: none;
        flex-wrap: wrap;
        justify-content: space-between;

        &_visible {
            display: flex;
        }
    }

    &__step {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        width: 50%;
        margin-bottom: rem(28);
    }

    &__data-wrapper {
        width: 100%;
    }

    &__step-number {
        position: relative;

        width: rem(32);
        height: rem(32);

        font-size: rem(18);
        font-weight: 700;
        line-height: rem(48);
        color: $color1;

        border: rem(2) solid $color1;
        border-radius: 50%;
    }

    &__step-digit {
        position: absolute;
        top: 50%;
        left: 50%;

        transform: translate(-50%, -50%);
    }

    &__step-text {
        margin-left: rem(14);

        font-size: rem(18);
        font-weight: 500;
        line-height: rem(28);
        color: $dark;
    }

    &__row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;

        &:not(:last-child) {
            margin-bottom: rem(14);
        }

        &_input {

            &:not(:last-child) {
                margin-bottom: rem(10);
            }
        }

        &_position-checkbox {
            margin-top: rem(23);
        }

        &_buttons {
            display: block;

            &_step-one {
                margin-top: rem(28);
            }

            &_step-two {
                margin-top: rem(86);
            }

            &_step-three {
                margin-top: rem(80);
            }
        }
    }

    &__wrap-checkbox {

        &_position {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;
            margin-top: rem(13);
        }
    }

    &__checkbox {

        &:not(:last-child) {
            margin-right: rem(30);
        }

        .checkbox__text {
            color: $dark;
        }
    }

    &__error {
        position: relative;

        .object-form__input,
        .select2-container {
            border-color: $error !important;
            background-color: $error-bg;
        }
    }

    &__wrap-ico {
        position: absolute;
        right: 0;
        bottom: calc(50% - #{rem(22)});

        display: block;
        width: rem(18);
        height: rem(18);

        text-align: center;

        border: rem(2) solid  #3777e8;
        border-radius: 50%;

        transition: background-color .3s;
    }

    &__info-ico {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        width: rem(5);
        height: rem(10);
        margin: auto;

        transition: fill .3s;
        fill: #3777e8;
    }

    &__info-text {
        position: absolute;

        right: rem(-32);
        bottom: calc(100% + #{rem(9)});

        width: rem(366);
        padding: rem(22) rem(27) rem(21) rem(20);

        font-size: rem(14);
        font-style: normal;
        line-height: rem(20);

        background-color: $light;
        box-shadow: 0 rem(10) rem(30) rgba(47, 64, 76, 0.21);
        opacity: 0;
        visibility: hidden;

        transition-duration: .3s, .3s;
        transition-property: opacity, visibility;
    }

    &__info-link {
        color: $dark;
        text-decoration: none;
    }

    &__info {
        position: absolute;
        z-index: 99999;
        top: 50%;
        right: rem(11);

        cursor: pointer;

        &:hover {

            .object-form__info-text {
                opacity: 1;
                visibility: visible;
            }

            .object-form__wrap-ico {
                background-color: #3777e8;
            }

            .object-form__info-ico {
                fill: $light;
            }
        }
    }

    &__required {
        margin-left: rem(3);

        color: #ec2d2d;
    }

    &__error-text {
        position: absolute;
        top: 0;
        right: 0;

        font-size: rem(14);
        line-height: rem(24);
        color: $error;

        &::before {
            content: '!';

            position: absolute;
            top: calc(50% - #{rem(8)});
            left: rem(-23);

            display: block;
            width: rem(16);
            height: rem(16);

            font-size: rem(12);
            line-height: rem(14);
            color: $error;
            text-align: center;

            border: 1px solid #ec2d2d;
            border-radius: 50%;
        }
    }

    &__col {
        position: relative;

        width: 50%;

        &:nth-of-type(odd) {
            padding-right: rem(20);

            .object-form__error-text {
                right: rem(20);
            }

            .object-form__info {
                right: rem(31);
            }
        }

        &:nth-of-type(even) {
            padding-left: rem(20);
        }

        .select2-container {
            width: 100% !important;
            height: rem(40);

            border: 1px solid rgba(105, 112, 120, .6);
            border-radius: rem(4);

            &--default {

                .select2-selection--single {
                    border: none !important;
                    background-color: transparent !important;

                    .select2-selection__placeholder {
                        font-size: rem(14);
                        font-weight: 400;
                        color: #b3b3b3;
                    }
                }
            }
        }

        .select2-selection {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: flex-start;
            height: rem(40);

            &__rendered {
                padding-right: rem(3) !important;
                padding-left: rem(15) !important;

                font-size: rem(14);
                font-weight: 400;
                line-height: rem(40) !important;
            }

            &__arrow {
                position: relative !important;

                b {
                    display: block;
                    width: rem(9) !important;
                    height: rem(5) !important;
                    margin-top: 0 !important;
                    margin-left: 0 !important;

                    border: none !important;
                    background-image: url(%=static=%minified-svg/arrow-form-cabinet.svg);
                    background-size: cover;
                    transform: translate(-50%, -50%);

                    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
                        width: 9px !important;
                        height: 5px !important;

                        background-size: 9px 5px;
                    }
                }
            }
        }

        &_input {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;

            .object-form__label {
                width: calc(100% - #{rem(297)});

                @include below($desktop) {
                    width: 100%;
                }
            }
        }

        &_size-full {
            width: 100%;

            &:nth-of-type(odd) {
                padding-right: 0;

                .object-form__error-text {
                    right: 0;
                }
            }

            &:nth-of-type(even) {
                padding-left: 0;
            }
        }

        &_inventory {
            padding-bottom: rem(10);

            &.object-form__error {
                padding-bottom: rem(10);
            }

            .object-form__info {
                top: rem(33);
            }

            .object-form__error-text {
                position: relative;
                top: auto;
                bottom: rem(-10);
                left: rem(25);
            }
        }
    }

    &_info {
        position: absolute;
        top: 0;
        right: 0;
    }

    &__label {
        display: block;
        width: 100%;

        font-size: rem(14);
        font-weight: 500;
        line-height: rem(26);
    }

    &__title {
        margin-top: rem(19);
        margin-bottom: rem(5);

        font-size: rem(14);
        font-weight: 500;
        line-height: rem(26);
    }

    &__input {
        width: rem(297);
        height: rem(40);
        padding-left: rem(10);

        font-size: rem(14);
        font-weight: 400;

        border: 1px solid rgba(105, 112, 120, .6);
        border-radius: rem(4);

        &::placeholder {
            color: #b3b3b3;
        }

        &_size-full {
            width: 100%;
        }
    }

    &__control-buttons {
        margin-top: rem(14);
    }

    &__continue {
        @include padding_y(#{rem(15)});
        @include padding_x(#{rem(69)});
        font-size: rem(14);
        font-weight: 500;
        line-height: rem(24);
        color: $light;
        text-transform: uppercase;

        border: none;
        cursor: pointer;

        &_light {
            color: $dark;

            border: 1px solid $dark;
            background-color: transparent;
            box-shadow: 0 rem(15) rem(40) rem(-15) rgba(47, 64, 76, 0.21);

            &:hover {
                color: $light;

                border-color: inherit;
            }
        }
    }

    &__step-back {
        @include padding_y(#{rem(13)});
        @include padding_x(#{rem(65)});
        margin-left: rem(8);

        font-size: rem(14);
        font-weight: 500;
        line-height: rem(24);
        text-transform: uppercase;

        background-color: transparent;
        cursor: pointer;

        &::before {

        }
    }

    &__thumb {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;
        object-fit: cover;

    }

    &__photo-block {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: rem(12);
    }

    &__file-input {
        display: none;
    }

    &__photo-control {
        display: block;
        width: rem(80);
        height: rem(80);

        border: 1px dashed #d9d9d9;
        background: #f6f6f6;
        cursor: pointer;
    }

    &__camera-icon {
        width: rem(32);
        height: rem(24);
        fill: #e1e2e6;
    }

    &__photo-preview {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    &__photo-content,
    &__photo-icon-wrapper {
        display: block;
        width: 100%;
        height: 100%;
    }

    &__photo-icon-wrapper {
        padding-top: rem(28);
        padding-left: rem(24);
    }

    &__photo-item {
        position: relative;

        width: 100%;
        height: 100%;

        background-color: #e9ebec;
        background-position: center;
        background-size: cover;
    }

    &__delete-photo {
        position: absolute;
        top: rem(-12.5);
        right: rem(-12.5);

        display: none;
        width: rem(25);
        height: rem(25);

        border-radius: 50%;
        background-color: $light;
        box-shadow: 0 rem(6) rem(25) rgba(0, 0, 0, 0.24);

        &::before,
        &::after {
            content: '';

            position: absolute;
            top: rem(12);

            display: block;
            width: rem(13);
            height: rem(2);

            background-color: #ef5959;
        }

        &::before {
            left: rem(6);

            transform: rotate(45deg);
        }

        &::after {
            right: rem(6);

            transform: rotate(-45deg);
        }

    }

    &__wrap-photo {
        position: relative;

        display: block;
        width: rem(80);
        height: rem(80);
        margin-right: rem(10);

        &:hover {
            .object-form__delete-photo {
                display: block;
            }
        }

        &_hidden {
            display: none;
        }
    }

    &__added-photo {
        margin-top: rem(17);
    }

    &__next-step-number {
        position: relative;

        padding-right: rem(24);

        font-size: rem(18);
        line-height: rem(28);
        color: rgba(0, 0, 0, .4);

        &::after {
            content: '';

            position: absolute;
            top: calc(50% - #{rem(6)});
            right: 0;

            display: block;
            width: rem(8);
            height: rem(12);

            background-image: url(%=static=%minified-svg/arrow-step.svg);
            background-repeat: no-repeat;
            background-size: cover;
            opacity: .4;

            @supports (-ms-ime-align:auto) {
                width: rem(10);
                height: rem(14);

                background-size: rem(8) rem(12);
            }

            @media  (-ms-high-contrast: none), (-ms-high-contrast: active) {
                width: rem(10);
                height: rem(14);

                background-size: rem(8) rem(12);
            }
        }
    }

    &__star {
        margin-left: rem(3);

        color: #ec2d2d;
    }

    &__required-inputs-text {
        font-size: rem(14);
        font-weight: 400;
        line-height: rem(18);
        color: #b3b3b3;
    }
}
