.p-business {
    padding-top: rem(131);

    background: url(%=static=%general/Foto_head4.jpg) center top no-repeat;
    background-size: contain;

    @include above($desktop + 1) {
        padding-top: rem(131);
    }

    @include between($mobile + 1, $desktop) {
        padding-bottom: rem(62);
    }

    @include below($mobile) {
        padding-bottom: rem(83);
        overflow-x: hidden;

        background-size: auto;
    }

    .cecutient-mode & {
        padding-top: rem(0);

        background: transparent;

        // @include above($desktop + 1) {
        // }
    }

    .top-box {
        margin-bottom: rem(76);

        @include below($desktop) {
            margin-bottom: rem(111);
        }

        @include below($mobile) {
            margin-bottom: 0;
        }

        .cecutient-mode & {
            margin-bottom: 0;

            color: #000;
        }
    }

    .content_theme_stories {
        padding-top: 0;

        @include below($mobile) {
            padding-top: rem(155);
        }

        @include between($mobile + 1, $desktop) {
            padding-top: 0;

            .content__inner {
                padding-top: rem(0);
            }

            .content__title {
                margin-bottom: rem(50);
            }
        }

        .content__inner {
            padding-top: rem(0);
        }
    }

    .top-box__title {

        .cecutient-mode & {
            color: #000;
        }
    }

    .top-box__nav {
        @include above($desktop + 1) {
            padding-bottom: rem(5);
        }

        .cecutient-mode & {
            border-bottom: 2px solid;
        }
    }

    .top-box__link:not(:last-child) {
        margin-right: rem(35);
    }

    .top-box__link {
        .cecutient-mode & {
            font-weight: 600;
            color: #000;
        }
    }

    &__info-box {
        background-color: #fff;

        @include above($mobile + 1) {
            padding: rem(78) rem(73) rem(52);
        }

        @include above($desktop + 1) {
            padding: rem(95) rem(104) rem(40);



            .info-box__sub-title::after {
                top: rem(-9);
            }
        }

        @include below($mobile) {
            padding-top: rem(60);
            padding-bottom: rem(135);

            .info-box__description_size_s {
                margin-bottom: rem(67);

                font-size: rem(28);
                line-height: (34 / 28);

                br {
                    display: none;
                }
            }

            .info-box__ico {
                left: rem(-20);
            }

            .info-box__sub-title::after {
                top: rem(-19);
                left: rem(-74);
            }
        }
        .cecutient-mode & {
            padding: rem(73) 0 rem(73);
        }
    }

    .info-box__title {
        margin-bottom: rem(29);

        line-height: (36 / 30);

        @include above($desktop + 1) {
            margin-bottom: rem(24);

            line-height: rem(54);
        }

        @include between($mobile + 1, $desktop) {
            margin-bottom: rem(10);
        }

        @include below($mobile) {
            margin-bottom: rem(50);
        }

        .cecutient-mode & {
            font-size: rem(48);
        }
    }

    .info-box__text::before {
        @include above($desktop + 1) {
            margin: rem(25) 0;
        }

        @include below($desktop) {
            margin: rem(22) 0;
        }

        @include below($mobile) {
            margin: rem(37) 0;
        }

        .cecutient-mode & {

            margin: rem(10) 0;

            background-color: transparent;
        }
    }

    .info-box__description {
        @include between($mobile + 1, $desktop) {
            margin-bottom: rem(86);

            br {
                content: ' ';
            }
        }
        .cecutient-mode &{
            margin-bottom: rem(0);

            font-size: rem(28);
            line-height: rem(36);
        }
    }

    .info-box__items {
        margin-bottom: rem(32);

        @include above($mobile + 1) {
            margin-bottom: rem(17);
        }

        @include above($desktop + 1) {
            margin-bottom: rem(53);
        }

        @include below($mobile) {
            margin-bottom: rem(52);
        }
    }

    .info-box__ico {
        .cecutient-mode & {

            top: rem(5);

            width: rem(16);
            height: rem(16);

            background: #000;
            transform: rotate(45deg);
            img {
                display: none;
            }
        }
    }

    .info-box__item {
        padding-top: rem(51);

        @include below($mobile) {
            padding-top: rem(105);
            margin-bottom: rem(21);
        }

        @include between($mobile + 1, $desktop) {
            br {
                content: ' ';
            }

            &:nth-child(2n) {
                padding-left: rem(63);
            }

            &:nth-child(3n) {
                padding-left: rem(73);
            }
        }

        @include above($desktop + 1) {
            padding-top: rem(72);
        }

        &:nth-child(1) {
            .info-box__text {
                @include below($desktop) {
                    max-width: rem(270);
                }

                @include below($mobile) {
                    max-width: 100%;
                }
            }
        }

        &:nth-child(2) {
            @include below($desktop) {
                padding-left: rem(58);
            }

            @include below($mobile) {
                padding-left: rem(66);
                margin-bottom: rem(11);
            }

            .info-box__text {
                @include below($desktop) {
                    max-width: rem(260);
                }

                @include below($mobile) {
                    max-width: 100%;
                }
            }
        }

        &:nth-child(3) {
            @include below($desktop) {
                padding-left: rem(61);
            }

            @include below($mobile) {
                padding-left: rem(67);
            }
        }
    }

    .info-box__ico_i4 {
        @include between($mobile + 1, $desktop) {
            width: rem(63);
            height: rem(59);
        }

        @include below($mobile) {
            width: rem(114);
            height: rem(109);
        }
    }

    .info-box__ico_i5 {
        @include above($mobile + 1) {
            left: rem(20);
        }

        @include between($mobile + 1, $desktop) {
            left: rem(8);

            width: rem(62);
            height: rem(59);
        }

        @include below($desktop) {
            top: rem(-3);
            left: rem(1);
        }

        @include below($mobile) {
            top: rem(15);
            left: rem(-19);

            width: rem(102);
            height: rem(102);

        }
    }

    .info-box__ico_i6 {
        @include between($mobile + 1, $desktop) {
            left: rem(30);

            width: rem(68);
            height: rem(66);
        }

        @include below($desktop) {
            top: rem(-5);
            left: rem(23);
        }

        @include below($mobile) {
            top: rem(20);
            left: rem(-25);

            width: rem(119);
            height: rem(113);
        }
    }

    .info-box__sub-title {
        @include between($mobile + 1, $desktop) {
            br {
                display: block;
            }
        }

        .cecutient-mode &:after {
            display: none;
        }
    }

    .info-box__btn {
        padding: rem(13) rem(34);

        box-shadow: 0 rem(20) rem(20) rem(-20) rgba(0, 0, 0, 0.3);

        @include above($desktop + 1) {
            padding: rem(13) rem(43);
        }


        @include below($mobile) {
            padding-top: rem(10);
            padding-bottom: 0;

            line-height: rem(104);
        }

        .cecutient-mode & {
            box-shadow: transparent;

            &:hover {

                color: #fff;

                background: #000;
            }
        }
    }

    &__form-box {
        position: relative;

        overflow: hidden;

        @include above($mobile + 1) {
            padding-top: rem(48);
            padding-bottom: rem(69);
            margin-bottom: rem(-24);
        }

        @include above($desktop + 1) {
            padding-top: rem(60);
            padding-bottom: rem(69);

            .form-box__content {
                padding-top: rem(78);
            }

            .form-box__form {
                top: rem(-29);
            }
        }

        @include below($desktop) {
            padding-bottom: rem(24);

            .form__ico_2 {
                right: rem(-47);
            }
        }

        @include below($mobile) {
            padding-bottom: rem(58);
            overflow: hidden;

            .form-box__text {
                margin-bottom: rem(87);
            }

            .form-box__container {
                background: transparent;
            }

            .form-box__title {
                strong {
                    font-weight: 300;
                }
            }
        }

        @include between($mobile + 1, $desktop) {
            .form {
                left: rem(-20);

                padding: rem(66) rem(90) rem(85) rem(53);
            }

            .form-box__content {
                padding-left: rem(112);
            }

            .form__title {
                margin-bottom: rem(47);
            }

            .form-box__title {
                margin-bottom: rem(24);
            }
        }

        .form {
            @include below($desktop) {
                left: rem(-28);
            }
        }

        .form-box__title {
            @include below($mobile) {
                margin-bottom: rem(43);
            }
        }

        .form-box__content {
            @include below($desktop) {
                padding-left: rem(105);
            }

            @include below($mobile) {
                padding-top: rem(71);
                padding-right: rem(35);
                padding-left: rem(88);
            }
        }

        .form {
            @include below($mobile) {
                left: 0;
            }
        }

        &::before {

            content: '';

            position: absolute;
            top: rem(79);
            right: rem(222);
            left: 0;

            height: 100%;

            background-color: #f8f9fb;

            @include below($desktop) {
                display: none;
            }

            @include below($mobile) {
                top: 0;
                right: 0;
                bottom: rem(570);

                height: auto;
            }
        }

        .form-box__container {
            position: relative;
        }
    }

    .form-box__title {
        position: relative;

        &::after {
            content: '';

            display: block;
            width: rem(65);
            height: 1px;
            margin: rem(20) 0 rem(52);

            background-color: #000;
        }
    }

    .sequence__title::before {
        @include below($mobile) {
            right: rem(-50);

            width: auto;
        }
    }

    .sequence__step {
        margin-bottom: rem(64);

        @include below($mobile) {
            margin-bottom: rem(42);
        }

        @include between($mobile + 1, $desktop) {
            &:nth-child(1) {
                max-width: rem(697);
            }
        }

        @include above($desktop + 1) {
            margin-bottom: rem(80);
        }

        &:nth-child(2n) {
            margin-bottom: rem(85);

            @include above($desktop + 1) {
                margin-right: rem(16);
            }

            @include below($mobile) {
                margin-bottom: rem(20);
            }

            &::before {
                top: rem(41);
                left: rem(-37);
            }

            &::after {
                left: rem(-53);
            }

            .step__title {
                top: rem(5);
                left: rem(19);
            }

            .step__desc {
                top: rem(-3);
                right: rem(8);
            }

            .step__number-box {
                margin-right: rem(12);
            }
        }

        &:nth-child(3n) {
            .step__number-box {
                margin-right: rem(20);
            }

            .step__number {
                @include above($mobile + 1) {
                    margin-left: rem(-26);
                }

                &::before {
                    right: rem(68);
                }
            }

            .step__desc {
                right: rem(30);
            }

            .step__ico_i3 {
                @include above($mobile + 1) {
                    right: rem(17);
                }
            }
        }
    }

    &__projects {
        @include between($mobile + 1, $desktop) {
            padding-bottom: rem(41);
        }

        @include below($mobile) {
            padding-top:0;
            margin-top: 0;

            .content__title {
                margin-bottom: rem(57);
            }
        }

        &::before {
            height: rem(732);

            @include between($mobile + 1, $desktop) {
                top: rem(30);
                left: rem(78);

                height: rem(770);
            }

            @include below($mobile) {
                content: none;
            }

            @include above($desktop + 1) {
                top: rem(17);
            }
        }

        .content__inner {
            padding-top: rem(90);
            padding-bottom: rem(43);

            @include above($desktop + 1) {
                padding-left: rem(100);
            }

            @include below($mobile) {
                padding-bottom: rem(117);
                padding-left: rem(88);
            }
        }

        .projects__left {
            @include between($mobile + 1, $desktop) {
                position: relative;

                width: 66.5%;
                padding: rem(60) rem(63) rem(22);

                background-color: rgba(55, 119, 232, 0.9);
            }

            .cecutient-mode & {
                display: inline-block;
                width: 51%;
                padding-top: 0;
                padding-left: 0;

                background-color: transparent;

            }
        }

        .projects__right {
            @include below($desktop) {
                display: none;
            }

            @include below($mobile) {
                display: block;
            }

            .cecutient-mode  & {
                display: inline-block;
                height: rem(470);
                padding-left: 0;
                margin-top: rem(-55);

                vertical-align: top;
            }
        }

        .projects__location {
            margin-top: rem(-20);

            @include above($desktop + 1) {
                margin-top: rem(44);
            }

            @include between($mobile + 1, $desktop) {
                display: block;

                background: url(%=static=%assets/projects/map.jpg);
                background-position-x: right;
                background-size: cover;
            }

            .cecutient-mode & {
                background: transparent;
            }
        }

        .projects__title {
            padding-bottom: rem(22);

            font-size: rem(24);

            @include below($mobile) {
                padding-bottom: rem(34);
                margin-bottom: rem(55);

                font-size: rem(28);
                line-height: (42/28);
            }

            &_mobile {
                font-size: rem(32);
                font-weight: 300;
                line-height: (42/32);

                color: #ffffff;

                @include below($desktop) {
                    &::before,
                    &::after {
                        display: none;
                    }
                }

                b {
                    font-weight: 500;
                }

                .cecutient-mode & {
                    color: #000;

                    &:after {
                        content: '';

                        left: 0;

                        display: block;
                        width: 114%;
                        height: rem(2);

                        background-color: #000;
                        transform: inherit;
                    }
                }
            }

            &::before {
                @include below($mobile) {
                    bottom: rem(1);

                    width: 100vw;
                }
            }
        }

        .projects__advantages {
            padding-top: rem(16);

            @include above($desktop + 1) {
                padding-top: rem(58);
            }
        }

        .projects__map-wrap {
            top: rem(-20);

            @include between($mobile + 1, $desktop) {
                display: none;
            }

            @include below($mobile) {
                top: rem(24);
            }
        }

        .projects__buttons {
            @include between($mobile + 1, $desktop) {
                position: absolute;
                bottom: rem(-22);
                left: rem(12);

                align-items: center;
            }

            @include below($mobile) {
                position: absolute;
                bottom: rem(50);
                left: 0;

                flex-direction: column;
                width: 100%;
                padding: 0 rem(46);
            }
        }

        .projects__adv-btn {
            padding: rem(14) rem(27) rem(14) rem(30);

            letter-spacing: rem(-.1);

            box-shadow: 0 rem(20) rem(20) rem(-20) rgba(0, 0, 0, 0.3);

            @include below($desktop) {
                display: block;
            }

            @include below($mobile) {
                position: relative;
                top: 0;
                bottom: 0;
                left: 0;

                width: 100%;
            }

            @include above($desktop + 1) {
                padding: rem(14) rem(30) rem(14) rem(25);
            }

            @include between($mobile + 1, $desktop) {
                background-color: #fff;

                &:hover {
                    border-color: #305beb;
                    background-color: #305beb;
                    box-shadow: 0 rem(15) rem(40) rem(-15) rgba(48, 91, 235, 1);
                }
            }

            &:not(:last-child) {
                margin-right: rem(14);
            }

            &_theme_light {
                padding: rem(14) rem(18);

                @include between($mobile + 1, $desktop) {
                    width: rem(337);
                    height: rem(52);
                    padding: rem(6);

                    line-height: rem(18);
                    text-align: center;
                }

                @include below($mobile) {
                    padding: rem(21) rem(18);

                    box-shadow: 0 rem(50) rem(50) rem(-50) rgba(0, 0, 0, 0.3);
                }
            }
        }

        .projects__adv-btn:not(.projects__adv-btn_theme_light) {
            @include between($mobile + 1, $desktop) {
                color: #3878e8;

                &:hover {
                    color: $light;

                    background-color: #305beb;
                    box-shadow: 0 rem(15) rem(40) rem(-15) rgba(48, 91, 235, 1);
                }
            }

            @include below($mobile) {
                margin-bottom: rem(53);

                line-height: rem(75);
                color: #fff;

                border: none;
                background-color: #3777e8;
                box-shadow: none;
            }
        }
    }

    .content_theme_training::before {
        display: none;
    }

    &__seminars {
        max-width: rem(1162);
        padding-top: rem(5);
    }

    &_prop {

        .property-support {

            .content {

                &__inner {
                    padding-left: 0;
                }
            }

            .title {
                margin-top: 0;
            }
        }

        .content_theme_projects-property {
            background-color: #fff;

            .projects__location {
                padding-top: rem(71);
                margin-top: 0;
            }
        }

        .top-box {
            margin-bottom: 0;
        }
    }

    &_support-co {

        .coWorking {

            .content {

                &_theme_coworking {

                    .content__inner {
                        padding-right: 0;
                        padding-left: 0;
                    }
                }
            }
        }

        .top-box {
            margin-bottom: 0;
        }
    }

    &_tax {

        .top-box + .p-business__info-box {
            padding-top: 0;
        }

        .taxes {
            padding-bottom: 0;
        }

        .top-box {
            margin-bottom: 0;
        }
    }

    &_bussysupport {

        .finance-support__use-support-conent {
            padding-bottom: 0;
        }
    }
}
