include ../top-box/top-box
include ../info-box/info-box
include ../content/content
include ../form-box/form-box
include ../stories/stories
include ../projects/projects
include ../sequence/sequence
include ../seminars/seminars
include ../trainings/trainings
include ../custom-select/custom-select
include ../trainings-popup/trainings-popup
include ../radio/radio
include ../info-support/info-support

mixin p-business(data)
    +b.p-business()&attributes(attributes)
        +top-box({
            title: 'Малому и среднему бизнесу',
            links: [
                {
                    text: 'Стать инвестором'
                },
                {
                    text: 'Направления инвестиций и проекты'
                },
                {
                    text: 'Льготы для инвесторов'
                },
                {
                    text: 'Развитие области'
                }
            ]
        })

            +info-box(pBusiness.infoBox).p-business__info-box

        // +form-box(formBox.business).p-business__form-box

        +content._limitation
            +trainings


        .content.content_theme_support
            .container
                .content__inner
                    h2.content__title
                        strong Помогаем
                        |  лично
                    .support
                        .support__row
                            .support__left
                                p.support__subtitle
                                    | При решении ваших проблем, мы всегда используем индидувиальный
                                    | подход
                                ul.support__list
                                    li.support__item
                                        .support__icon-wrap
                                            svg.icon.icon_search.support__icon(width='42px', height='42px')
                                                use(xlink:href='/svg-symbols.svg#search')
                                        p.support__text
                                            | Подбор проекта
                                            br
                                            |  по вашим запросам
                                    li.support__item
                                        .support__icon-wrap
                                            svg.icon.icon_docs.support__icon(width='100px', height='125px')
                                                use(xlink:href='/svg-symbols.svg#docs')
                                        p.support__text
                                            | Предоставление типовых документов
                                    li.support__item
                                        .support__icon-wrap
                                            svg.icon.icon_headphones.support__icon(width='74px', height='80px')
                                                use(xlink:href='/svg-symbols.svg#headphones')
                                        p.support__text
                                            | Профессиональные консультации
                            .support__right
                                form#feedback-form.form.form_js_inited(action='/feed-back/create', method='POST')
                                    input(type='hidden', name='type', value='2')
                                    input(type='hidden', name='selector', value='1')
                                    .form__ico.form__ico_1
                                    .form__ico.form__ico_2
                                    .form__title
                                        | Есть вопросы?
                                        br
                                        b Пишите!
                                    .form__text
                                        | Вы хотели бы
                                        select#feedback_select.form__select
                                            option.form__option(value='1') реализовать инвестиционный проект
                                            option.form__option(value='2', selected='selected') подать жалобу
                                    label.form__label
                                        | Фамилия
                                        input.form__input.valid(type='text', name='lastname', aria-required='true', placeholder='Фамилия')
                                    label.form__label
                                        | Имя
                                        input.form__input.valid(type='text', name='name', aria-required='true', placeholder='Имя')
                                    label.form__label
                                        | Отчество
                                        input.form__input.valid(type='text', name='middlename', aria-required='true', placeholder='Отчество')
                                    label.form__label
                                        | Ваш е-mail адрес
                                        input.form__input.valid(type='email', name='email', aria-required='true', placeholder='Ваш е-mail адрес')
                                    label.form__label
                                        | и ваш телефон
                                        input.form__input.form__input_phone.valid(type='text', name='phone', maxlength='18', aria-required='true', placeholder='и ваш телефон')
                                    .form__group
                                        label.form__label(for='message')
                                            | Опишите ситуацию
                                        textarea#message.form__textarea.form__textarea_message(name='data[reason]')
                                    button.btn.btn-default(type='submit') Отправить


        +content
            +e.H2.title #[strong Истории]#{' '} успешного развития
            +stories


        +content._theme_training
            +e.H2.title #[strong Обучающие семинары] для предпринимателей
            +seminars(seminars.default).p-business__seminars

        +sequence(pInvestor.sequence)

        +content._theme_projects.p-business__projects
            +e.H2.title #[strong Карта]#{' '} объектов
            +projects(projects.business)

        +content
            +info-support
