mixin profile(data)
    +b.profile()&attributes(attributes)
        block
        .profile__img-select
            +e.INPUT.file-input(type="file" name="photo" id="photo")
            +e.LABEL.photo-control(for="photo")
                +e.photo-content
                    +e.photo-icon-wrapper
                        +icon({icon: 'photo-camera', class: 'edit-profile__camera-icon'})
                    +e.photo-text Загрузить фото
        .profile__data
            p.profile__name Александр Юрьевич Архангельский
            .profile__row
                p.profile__company-title.profile__title Компания
                p.profile__company-name.profile__text ООО «ИнвестБизнесМосОблСтрой»
            .profile__row
                p.profile__phone-title.profile__title Телефон
                p.profile__phone-number.profile__text +7 496 611 57 88
            .profile__row.profile__row_email
                p.profile__email-title.profile__title Email
                p.profile__email-address.profile__text
                    a(href="mailto:archangel@mail.ru") archangel@mail.ru
            a(href=jv0).profile__edit.btn.btn_theme_standart Редактировать
