.profile {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;


    &__row {

        &:not(:first-of-type) {
            margin-top: rem(21);
        }

        &_email {
            margin-top: rem(24);
        }
    }

    &__name {
        margin-top: rem(12);

        font-size: rem(18);
        font-weight: 500;
        line-height: rem(28);
        color: $dark;
    }

    &__company-name,
    &__phone-number,
    &__email-address {
        margin: 0;

        font-size: rem(14);
    }

    &__img-select {
        width: rem(240);
        height: rem(240);

        border: 1px dashed #d9d9d9;

        background-color: #f6f6f6;
        background-image: url(%=static=%minified-svg/default-user.svg);
        background-repeat: no-repeat;
        background-position: center;

        &[style] {
            border: none;
        }
    }


    &__title {
        margin: 0;

        font-size: rem(14);
        font-weight: 500;
        color: $dark;
    }

    &__file-input{
        display: none;
    }

    &__data {
        width: calc(100% - #{rem(282)});
    }

    &__photo-content{
        display: block;
        margin-top: rem(79);
    }

    &__photo-control{
        display: block;
        width: rem(240);
        height: rem(240);

        border: 1px dashed #d9d9d9;
        background: #f6f6f6;
        cursor: pointer;
    }

    &__photo-icon-wrapper{
        display: block;

        text-align: center;
    }

    &__photo-text{
        display: block;

        font-size: rem(16);
        color: #697078;
        text-align: center;
    }

    &__camera-icon{
        fill: #e6e8ee;
    }

    &__photo-text{
        margin-top: rem(14);
    }

    &__text {
        margin-top: rem(3);
    }

    &__edit {
        @include padding_y(#{rem(13)});
        padding-right: rem(58);
        padding-left: rem(60);
        margin-top: rem(38);

        font-size: rem(14);
        font-weight: 500;
        line-height: rem(24);
        color: $light;
        text-transform: uppercase;

    }
}
