.custom-scroll {

    &_theme_standart {
        .mCSB_scrollTools {
            width: rem(3);

            opacity: 1;
        }

        .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
            width: rem(3);

            background: rgba(0, 0, 0, .2);
        }

        .mCSB_scrollTools .mCSB_draggerRail {
            width: rem(3);

            background-color: #f0f1f2;
        }

        .mCSB_inside > .mCSB_container {
            margin-right: 0;
        }
    }

    &_theme_horizontal {

        .mCSB_scrollTools {
            height: rem(10);

            opacity: 1;
        }

        .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
            background: rgba(0, 0, 0, .2);
        }

        .mCSB_scrollTools .mCSB_draggerRail {
            background-color: #f0f1f2;
        }

        .mCSB_horizontal.mCSB_inside > .mCSB_container {
            margin-bottom: 0;
        }
    }
}
