.info-support {
    padding-bottom: rem(74);

    
    @include below($mobile){
        padding-bottom: 0;
    }
    
    &__title{
        font-size: rem(48);
        font-weight: 300;
        letter-spacing: rem(-0.5);


        &_bold{
            font-weight: 500;
        }
    }

    &__box{
        display: flex;
        margin-top: rem(47);


        @include below($mobile){
            flex-wrap: wrap;
        }
    }

    &__about{
        width: 30.9%;
        padding-right: rem(20);

        border-right: 1px dotted #b7b8bb;


        @include below(1599px){
            width: 35%;
        }


        @include below($mobile){
            width: 100%;
        }

        .subtitle-border{
            padding-bottom: rem(29);
            margin-top: rem(9);

            line-height: 1.25;


            @include below($mobile){
                padding-right: rem(20);

                br{
                    display: none;
                }
            }

            .cecutient-mode &:before {
                display: none;
            }
        }

        .list{
            margin-top: rem(29);
        }

        .list__item{
            padding-left: rem(36);
            margin-bottom: rem(24);


            @include below($mobile){
                padding-left: 2.8125rem;
            }
        }

        .list__item:before{
            top: rem(8);
            left: rem(5);


            @include below($mobile){
               top: rem(15);
            }

            .cecutient-mode &{
                background: #000;
                transform: rotate(45deg);
            }
        }
    }

    &__resources{
        width: 69.1%;
        padding-left: rem(28);
        margin-top: 0;


        @include below(1599px){
            width: 65%;
        }


        @include below($mobile){
            width: 100%;
            padding-right: rem(20);
            padding-left: rem(0);
        }

        .list{
            margin-top: rem(12);
        }

        .list__item{
            margin-bottom: rem(25);


            @include below($mobile){
                padding-left: 2.8125rem;
            }

            .cecutient-mode & a {
                color: #000;
                text-decoration: underline;
            }

        }

        .list__item:before{
            top: rem(6);
            left: rem(13);


            @include below($mobile){
                top: rem(15);
                left: rem(5);
            }

            .cecutient-mode & {
                background: #000;
                transform: rotate(45deg);
                
            }
        }
    }

    &__portals-item{
        display: inline-block;
        margin-right: rem(40);

        vertical-align: middle;

        &_mofm{
            transform: translateY(rem(-2));
        }

        &_mun{
            transform: translate(rem(-13), rem(-3));
        }
    }

    &__portals-link{
        display: block;
    }

    &__portals-img{
        display: block;

        &_vladimir{
            width: rem(50);
        }

        &_mofm{
            width: rem(70);
        }

        &_mun{
            width: rem(75);
        }
    }

    &__portals{
        margin-top: rem(53);
        margin-left: rem(4);

        .cecutient-mode & {
            display: none;
        }
    }
}
