mixin info-support(data)
    +b.info-support()&attributes(attributes)
        +e.title <span class="info-support__title_bold">Информационная</span> поддержка
        +e.box
            +e.about
                h3.h3.subtitle-border.subtitle-border_bottom-offset-small Вся информация<br>для малого и среднего<br> предпринимательства<br>размещается:
                +b.UL.list
                    +e.item на профильных интернет-ресурсах;
                    +e.item на сайтах ЦИОГВ Московской области<br>и подведомственных учреждений;
                    +e.item на сайтах муниципальных<br>образований.
                    
                +e.portals
                    +e.portals-item
                        +e.A.portals-link(href="#")
                            +e.IMG.portals-img._vladimir(src="%=static=%img/assets/info-support/vladimir.png" alt = "")
                    +e.portals-item._mofm
                        +e.A.portals-link(href="#")
                            +e.IMG.portals-img._mofm(src="%=static=%img/assets/info-support/mofm.png" alt = "")
                    +e.portals-item._mun
                        +e.A.portals-link(href="#")
                            +e.IMG.portals-img._mun(src="%=static=%img/assets/info-support/m.png" alt = "")

            +e.resources
                +b.UL.list
                    +e.item
                        +e.resours-name Интернет-портал для бизнеса Подмосковья
                        +e.resours-description «Малый Бизнес Подмосковья»
                        +e.other
                            +e.A.resours-link(href="http://mbmosreg.ru" target="_blank") http://mbmosreg.ru
                    +e.item
                        +e.resours-name Ресурс для формирования заявок на субсидии 
                        +e.resours-description ГКУ МО «Московский областной центр поддержки предпринимательства»
                        +e.other
                            +e.A.resours-link(href="http://www.fpmo.ru" target="_blank") http://www.fpmo.ru
                    +e.item
                        +e.resours-name Министерство инвестиций и инноваций Московской области
                        +e.other
                            +e.A.resours-link(href="http://mii.mosreg.ru" target="_blank") http://mii.mosreg.ru 
                            +e.resours-phone +7 (498) 602-06-04
                    +e.item
                        +e.resours-name Министерство сельского хозяйства и продовольствия Московской области 
                        +e.other
                            +e.A.resours-link(href="http://mio.mosreg.ru" target="_blank") http://mio.mosreg.ru 
                            +e.resours-phone +7 (498) 602-15-55
                    +e.item
                        +e.resours-name Московский областной фонд развития микрофинансирования субъектов<br>малого и среднего предпринимательства
                        +e.other
                            +e.A.resours-link(href="http://www.mofmicro.ru" target="_blank") http://www.mofmicro.ru
                            +e.resours-phone +7 (495) 730-50-76
                    +e.item
                        +e.resours-name Московский областной гарантийный фонд
                        +e.other
                            +e.A.resours-link(href="http://www.mosreg-garant.ru" target="_blank") http://www.mosreg-garant.ru
                            +e.resours-phone +7 (495) 730-50-52
                    +e.item
                        +e.resours-name Фонд поддержки ВЭД Московской области
                        +e.other
                            +e.A.resours-link(href="mailto:exporthelp@mosreg.ru") exporthelp@mosreg.ru
                            +e.resours-phone +7 (926) 971-62-64