mixin map-result(data)
    +b.FORM.map-result()&attributes(attributes)
        +e.A.back-link(href=jv0) Назад к результатам
        +e.dynamic-content
        +e.submit-box
            //- +e.INPUT.submit(type='submit' value='Отправить запрос')
            +e.A.submit.js-open-popup(href='#form-info-object') Отправить запрос
            +e.A.more(href=jv0) Подробнее

