.map-result {

    &__top {
        padding: 0 rem(25) rem(18);
    }

    &__back-link {
        position: relative;

        display: inline-block;
        padding-left: rem(17);
        margin: rem(30) rem(25) rem(16);

        font-size: rem(14);
        font-weight: 400;
        line-height: (28/14);
        color: #3777e8;
        text-decoration: none;
        letter-spacing: rem(-.25);

        @include below($mobile) {
            padding-left: rem(34);

            font-size: rem(28);
        }

        &::before {
            content: '';

            position: absolute;
            top: 50%;
            left: 0;

            width: rem(5);
            height: rem(9);

            background: url(%=static=%assets/map/map-result/arrow.svg) center no-repeat;
            background-size: 100% 100%;
            transform: translateY(-50%);

            @include below($mobile) {
                width: rem(10);
                height: rem(18);
            }
        }
    }

    &__title {
        font-size: rem(24);
        font-weight: 400;
        line-height: (36/24);
        letter-spacing: rem(-.25);

        @include below($mobile) {
            font-size: rem(48);
            line-height: (72/48);
        }
    }

    &__address {
        font-size: rem(18);
        font-weight: 300;
        line-height: rem(42);
        letter-spacing: rem(.25);

        @include below($mobile) {
            font-size: rem(36);
            line-height: (64/36);
        }
    }

    &__phone {
        font-size: rem(18);
        font-weight: 300;
        line-height: rem(32);
        letter-spacing: rem(-.25);

        @include below($mobile) {
            font-size: rem(36);
            line-height: (64/36);
        }
    }

    &__pic {
        position: relative;

        min-height: rem(20);

        margin-bottom: rem(45);

        @include below($desktop) {
            margin-bottom: rem(54);
        }
    }

    &__img {
        display: block;
        width: 100%;
        height: auto;
    }

    &__icons {
        position: absolute;
        z-index: 10;
        top: 100%;
        left: 0;

        display: flex;
        width: 100%;
        height: rem(80);
        padding: 0 rem(27);
        margin-top: rem(-28);

        @include below($mobile) {
            height: rem(160);
            margin-top: rem(-56);
        }
    }

    &__icon {
        width: rem(48);
        height: rem(48);

        border-radius: 50%;
        background-color: #ffffff;
        background-repeat: no-repeat;
        background-position: center;
        box-shadow: 0 rem(10) rem(30) rgba(47, 64, 76, 0.21);

        @include below($mobile) {
            width: rem(96);
            height: rem(96);
        }

        &:not(:last-child) {
            margin-right: rem(20);
        }

        &_electricity {
            background-image: url(%=static=%assets/map/map-result/electricity.svg);
            background-size: rem(19) rem(32);

            @include below($mobile) {
                background-size: rem(38) rem(64);
            }
        }

        &_gas {
            background-image: url(%=static=%assets/map/map-result/gas.svg);
            background-size: rem(18) rem(25);

            @include below($mobile) {
                background-size: rem(36) rem(50);
            }
        }
    }

    &__sub-title {
        font-size: rem(14);
        font-weight: 600;
        line-height: (20/14);
        color: #000000;

        @include below($mobile) {
            font-size: rem(28);
            line-height: (40/28);
        }
    }

    &__desc {
        font-size: rem(14);
        font-weight: 300;
        line-height: (20/14);
        color: #000000;

        @include below($mobile) {
            font-size: rem(28);
            line-height: (40/28);
        }
    }

    &__details {
        display: flex;
        flex-wrap: wrap;
        padding: 0 rem(27);
    }

    &__dynamic-content {
        border-bottom: rem(1) solid rgba(110, 117, 125, .1);
    }

    &__item {
        width: 43.5%;
        margin-bottom: rem(23);

        @include below($desktop) {
            width: 50%;
        }
    }

    &__submit-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 rem(26);
        margin-top: rem(19);

        background-color: #ffffff;
        box-shadow: 0 10px 30px rgba(47, 64, 76, 0.21);
    }

    &__submit {
        width: calc(50% - .625rem);
        padding: rem(1) 0;
        margin: rem(37) 0;

        font-size: rem(14);
        font-weight: 500;
        line-height: (52/14);
        color: #ffffff;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;

        border: none;
        background-color: #3777e8;
        box-shadow: 0 0.625rem 0.9375rem #c0d4f8;
        outline: none;


        transition: all .3s;

        @include below($mobile) {
            font-size: rem(28);
            line-height: (104/28);
        }

        &:hover {
            background: #305beb;
        }
    }

    &__more {
        display: inline-block;
        width: calc(50% - .625rem);

        font-size: rem(14);
        font-weight: 500;
        line-height: (52/14);
        color: #000;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;

        border: 1px solid #000;
        background-color: #fff;
        box-shadow: 0 0.625rem 0.9375rem #c0d4f8;
        outline: none;



        @include below($mobile) {
            font-size: rem(28);
            line-height: (104/28);
        }

    }
}

.cecutient-mode{
    .map-results__address{
        font-weight: 500;
    }

    .map-results__phone{
        font-weight: 500;
    }


    .map-filter__go-subscribe {
        background: $dark;

        &:hover{
            background: $dark;
            box-shadow: none;
        }

        &:before {
            content: '';

            display: block;

            background-image: url(../img/minified-svg/arrow-button-white.svg);
        }

        &:after {
            background-color: $light;
        }
    }

    .map-filter__show-btn{
        background: #000;
        box-shadow: none;

        &:hover{
            background: #000;
            box-shadow: none;
        }
    }
}
