mixin investors(data)
    +b.investors()&attributes(attributes)
        +e.container
            +e.left
                +e.percents
                    +e.SPAN.percents-val 70 <span class="investors__percents-unit">%</span>
                    +e.percents-title от иностранных инвестиций

                +e.UL.list
                    each investor in data
                        +e.item
                            +e.link(href=jv0 data-target= investor.target)
                                +e.IMG.flag(src=`%=static=%img/assets/collaboration/${investor.flag}` al='')
                                +e.country= investor.country

            +e.right
                +e.IMG.map(src='%=static=%img/assets/investors/map.svg' alt='')
                each tooltip in investors.tooltips
                    +e.tooltip(class=`_theme_${tooltip.country}` data-country= tooltip.country)
                        +e.tooltip-row
                            +e.IMG.tooltip-flag(src='%=static=%img/assets/collaboration/rok-big.png' alt='')

                            +e.text
                                +e.tooltip-title= tooltip.title
                                +e.tooltip-percent= tooltip.percent

        +e.file(href=jv0)
            +e.SPAN.file-ico(style='background-image: url(%=static=%img/assets/p-content/download/ico.svg)')
            +e.file-name Ежегодный доклад о состоянии и развитии конкурентной среды конкурентной
            +e.file-size 15 Кб .doc
