.investors {
    @include below($mobile) {
        position: relative;
    }

    &__container {
        display: flex;
        align-items: flex-start;

        @include below($mobile) {
            flex-direction: column;
        }
    }

    &__left {
        position: relative;

        width: rem(480);
        padding-bottom: rem(34);

        @include below($desktop) {
            padding-bottom: rem(49);
        }

        @include below($mobile) {
            position: static;

            max-width: none;
            padding-bottom: 0;
            margin-bottom: rem(-65);
        }
    }

    &__right {
        position: relative;

        width: calc(100% - #{rem(480)});

        @include below($mobile) {
            width: 100%;
            padding-bottom: rem(6);
            margin-left: rem(-40);

            &::after {
                content: '';

                position: absolute;
                bottom: 0;
                left: rem(-49);

                width: 100vw;

                border-bottom: 1px dotted #b7b8bb;
            }
        }
    }

    &__percents {
        position: relative;

        width: rem(332);
        margin-bottom: rem(28);
        margin-left: rem(-6);

        font-weight: 500;
        color: #3777e8;

        @include below($desktop) {
            margin-bottom: rem(33);
        }

        @include below($mobile) {
            margin-bottom: rem(42);
        }
    }

    &__percents-unit {
        display: inline-block;

        font-size: rem(84);
        text-indent: rem(-38);
    }

    &__percents-val {
        font-size: rem(160);
        line-height: 1;
        text-shadow: 0 10px 30px rgba(47, 64, 76, 0.21);

        &::after {
            content: '%';

            display: inline-block;
            margin-left: rem(38);

            font-size: rem(84);
            text-indent: rem(-38);
        }
    }

    &__percents-title {
        position: absolute;
        top: rem(17);
        right: rem(-16);

        width: rem(150);

        min-width: rem(160);

        font-size: rem(16);
        line-height: (27 / 16);
        text-transform: uppercase;

        @include below($mobile) {

            line-height: (24/16);
        }
    }

    &__list {
        @include list-reset;
        position: relative;
        left: rem(-10);

        min-width: rem(480);

        padding-bottom: 0;
        margin-bottom: 0;
        columns: 2;

        @include below($desktop) {
            padding-bottom: rem(16);
        }

        @include below($mobile) {
            max-width: rem(485);
            margin-bottom: 0;
        }

        &::before {
            content: '';

            position: absolute;
            right: rem(-150);
            bottom: rem(2);
            left: 0;

            height: 1px;

            background: linear-gradient(90deg, #b7b8bb 1px, transparent 0) repeat-x;
            background-size: 3px 1px;

            @include below($mobile) {
                display: none;
            }
        }
    }

    &__item {
        padding-bottom: rem(70);
        padding-left: rem(10);
        margin-bottom: rem(-42);
        break-inside: avoid;
        -moz-column-break-inside: avoid;
        -webkit-column-break-inside: avoid;
        -o-column-break-inside: avoid;
        -ms-column-break-inside: avoid;

        @include below($mobile) {
            margin-bottom: rem(-47);
        }
    }

    &__link {
        display: flex;
        align-items: flex-end;

        color: #282828;
        text-decoration: none;

        cursor: pointer;

        transition: all .3s;

        &:hover {
            color: #3777e8;
        }
    }

    &__country {
        font-size: rem(18);
        font-weight: 300;

        @include below($mobile) {
            margin-bottom: rem(7);

            font-size: rem(28);
            white-space: nowrap;
        }
    }

    &__flag {
        @include size(rem(24));
        margin-right: rem(28);

        border-radius: 50%;
        box-shadow: 0 10px 30px rgba(47, 64, 76, 0.21);

        @include below($mobile) {
            width: rem(50);
            height: rem(50);
            margin-right: rem(11);
        }
    }

    &__map {
        position: absolute;
        top: rem(-99);
        left: rem(-18);

        width: rem(864);

        @include below($desktop) {
            top: rem(-10);
            left: rem(5);

            width: rem(625);
        }

        @include below($mobile) {
            position: relative;
            left: rem(16);

            width: 100%;
            height: auto;
            margin-top: 60px;
        }
    }

    &__file {
        position: relative;

        display: block;

        max-width: rem(620);
        padding-left: rem(69);
        margin-top: rem(33);
        margin-right: rem(-120);

        text-decoration: none;

        @include below($desktop) {
            margin-left: rem(-5);
        }

        @include below($mobile) {
            padding-left: rem(48);
            margin-top: rem(45);
            margin-right: rem(160);
            margin-left: 0;
        }
    }

    &__file-ico {

        position: absolute;
        top: 0;
        left: 0;

        width: rem(43);
        height: rem(46);

        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;

        @media (-ms-high-contrast: none), (-ms-high-contrast: active) {
            width: 42px;
            height: 46px;

            background-size: 42px 46px;
        }

        @supports (-ms-ime-align:auto) {
            width: 42px;
            height: 46px;

            background-size: 42px 46px;
        }

        @include below($mobile) {
            top: rem(10);
        }

    }

    &__file-name {
        display: block;
        margin-bottom: rem(4);
        overflow: hidden;

        font-size: rem(18);
        font-weight: 300;
        line-height: (24 / 18);
        color: #3777e8;
        white-space: nowrap;
        text-overflow: ellipsis;

        @include below($mobile) {
            max-height: rem(80);

            font-size: rem(28);
            line-height: (42/28);
            white-space: normal;
        }
    }

    &__file-size {
        font-size: rem(14);
        font-style: italic;
        color: #000;

        @include below($mobile) {
            font-size: rem(28);
            line-height: (42/28);
        }
    }

    &__tooltip {
        position: absolute;

        display: none;

        padding: rem(20) rem(30);

        font-size: rem(18);
        color: #fff;

        background-color: #3777e8;
        box-shadow: 0 8px 20px rgba(2, 6, 29, 0.1);

        @include below($mobile) {
            font-size: rem(28);
            line-height: (24/28);
        }

        &_theme_germany {
            top: rem(64);
            right: rem(355);

            @include below($desktop) {
                top: rem(75);
                right: rem(275);
            }
        }

        &_theme_netherlands {
            top: rem(68);
            right: rem(368);

            @include below($desktop) {
                top: rem(75);
                right: rem(290);
            }
        }

        &_theme_cyprus {
            top: rem(125);
            right: rem(322);

            @include below($desktop) {
                top: rem(120);
                right: rem(255);
            }
        }

        &_theme_usa {
            top: rem(80);
            right: auto;
            left: 0;

            @include below($desktop) {
                top: rem(90);
                left: rem(-25);
            }
        }

        &_theme_rok {
            top: rem(114);
            right: rem(81);
        }

        &_theme_ireland {
            top: rem(50);
            right: rem(384);

            @include below($desktop) {
                top: rem(70);
                right: rem(315);
            }
        }

        &_theme_uk {
            top: rem(60);
            right: rem(400);

            @include below($desktop) {
                top: rem(60);
                right: rem(305);
            }
        }

        &::before {
            @include size(0);
            content: '';

            position: absolute;
            right: rem(21);
            bottom: rem(-15);

            border-width: 0 15px 15px 0px;
            border-style: solid;
            border-color: transparent transparent #3777e8 transparent;
            transform: rotate(90deg) scale(1, -1);
        }
    }

    &__tooltip-row {
        display: flex;
    }

    &__tooltip-flag {
        margin-right: rem(21);

        @include below($desktop) {
            width: rem(49);
            height: rem(49);
        }
    }

    &__tooltip-percent {
        margin-top: rem(6);

        font-weight: 500;
    }
}
