mixin diagrams-box(data)
    +b.diagrams-box()&attributes(attributes)
        +e.container
            +e.top
                +e.title Улучшение показателей
                +e.top-items
                    +e.top-item
                        +e.top-color(style='background-color: #344a8e;')
                        +e.top-content
                            +e.year 1991 г.
                            +e.period год запуска
                    +e.top-item
                        +e.top-color(style='background-color: #3777e8;;')
                        +e.top-content
                            +e.year 2016 г.
                            +e.period текущий год

            +e.items
                +e.item
                    +e.diagrams
                        +e.diagram(style='background-color: #344a8e;' data-height='62' data-height-mobile='62')
                            +e.count 50
                                +e.unit чел.
                        +e.diagram(style='background-color: #3777e8;' data-height='147')
                            +e.count 3 800
                                +e.unit чел.

                    +e.text Количество рабочих <br> мест


                +e.item
                    +e.diagrams
                        +e.diagram(style='background-color: #344a8e;' data-height='99')
                            +e.count 1
                                +e.unit млн.руб. <br> в год
                        +e.diagram(style='background-color: #3777e8;' data-height='147')
                            +e.count 895
                                +e.unit млн.руб. <br> в год

                    +e.text Объем промышленного <br> производства


                +e.item
                    +e.diagrams
                        +e.diagram(style='background-color: #344a8e;' data-height='27')
                            +e.count 5
                                +e.unit млн.руб.
                        +e.diagram(style='background-color: #3777e8;' data-height='147')
                            +e.count 980
                                +e.unit млн.руб.

                    +e.text Планируемый объём <br> реализуемой продукции






