.diagrams-box {
    padding-top: rem(39);
    padding-bottom: rem(73);

    @include below($desktop) {
        padding-top: rem(17);
        padding-bottom: rem(48);
    }

    @include below($mobile) {
        padding-top: rem(78);
        padding-right: rem(90);
        padding-bottom: rem(26);
        padding-left: rem(90);
        overflow-x: hidden;
    }

    &__top {
        display: flex;
        margin-bottom: rem(106);

        @include below($desktop) {
            margin-bottom: rem(75);
        }

        @include below($mobile) {
            flex-wrap: wrap;
            margin-bottom: rem(56);
        }
    }

    &__top-items {
        display: flex;
        width: 30%;
        padding-top: rem(44);
        padding-left: rem(5);

        @include below($desktop) {
            width: 28.4%;
            padding-left: 0;
        }

        @include below($mobile) {
            width: 100%;
            padding-top: rem(77);
        }
    }

    &__top-color {
        width: rem(20);
        height: rem(20);
        margin-right: rem(14);

        @include below($mobile) {
            width: rem(35);
            height: rem(36);
            margin-top: rem(-15);
            margin-right: rem(25);
        }
    }

    &__top-item {
        display: flex;
        align-items: center;

        &:not(:last-child) {
            margin-right: rem(62);

            @include below($desktop) {
                margin-right: rem(50);
            }

            @include below($mobile) {
                margin-right: rem(100);
            }
        }
    }

    &__period {
        font-style: italic;
    }

    &__top-content {
        font-size: rem(14);
        line-height: (18/14);
        color: #282828;

        @include below($mobile) {
            font-size: rem(28);
            line-height: (42/28);
        }
    }

    &__year {
        font-weight: 500;
    }

    &__container {
        max-width: rem(1170);
        margin: 0 auto;

        @include below($desktop) {
            max-width: rem(1030);
        }
    }

    &__title {
        position: relative;

        width: 69.8%;
        overflow-x: hidden;

        font-size: rem(32);
        font-weight: 300;
        line-height: (42/32);
        color: #000000;

        @include below($desktop) {
            width: 71.6%;
        }

        @include below($mobile) {
            width: 100%;
            overflow-x: visible;

            font-size: rem(42);
            line-height: 1;
        }

        &::before {
            content: '';

            position: absolute;
            right: rem(40);
            bottom: rem(15);

            width: 100%;
            height: 1px;
            margin-left: -42.75rem;

            background-color: rgba(0, 0, 0, 0.2);

            @include below($mobile) {
                right: auto;
                bottom: rem(-16);
                left: 0;

                width: 100vw;
                margin-left: 0;
            }
        }

        &::after {
            content: '';

            position: absolute;
            right: rem(40);
            bottom: rem(10);

            width: 0.75rem;
            height: 0.75rem;

            border: 1px solid rgba(0, 0, 0, 0.4);
            background-color: #fff;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);

            @include below($mobile) {
                display: none;
            }
        }
    }

    &__items {
        display: flex;
        padding-left: rem(2);

        @include below($mobile) {
            flex-direction: column;
        }
    }

    &__diagrams {
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
        padding-right: rem(268);
        margin-bottom: rem(36);

        @include below($desktop) {
            padding-right: rem(220);
        }

        @include below($mobile) {
            margin-bottom: rem(41);
        }
    }

    &__diagram {
        position: relative;

        width: rem(60);

        @include below($mobile) {
            width: rem(111);
        }

        &::after {
            content: '';

            position: absolute;
            left: 100%;

            width: rem(27);

            border-bottom: rem(2) dotted #3777e8;

            @include below($mobile) {
                width: rem(52);
            }
        }

        &:nth-child(1) {
            z-index:1;

            opacity: 0.9;

            .diagrams-box__count {
                bottom: rem(-6);
                left: rem(138);

                color: #344a8e;

                @include below($mobile) {
                    bottom: rem(-13);
                    left: rem(256);
                }
            }

            &::after {
                bottom: rem(10);

                width: rem(65);

                border-color: #344a8e;

                @include below($mobile) {
                    bottom: rem(21);

                    width: rem(127);
                }
            }
        }

        &:nth-child(2) {
            position: relative;
            left: rem(-20);

            @include below($mobile) {
                left: rem(-38);
            }

            .diagrams-box__count {
                bottom: rem(55);
                left: rem(101);

                @include below($mobile) {
                    bottom: rem(102);
                    left: rem(185);
                }
            }


            &::after {
                bottom: rem(70);

                @include below($mobile) {
                    bottom: rem(134);
                }
            }
        }

        .diagrams-box__count {
            position: absolute;

            white-space: nowrap;
        }
    }

    &__count {
        display: flex;
        align-items: flex-end;

        font-size: rem(32);
        font-weight: 400;
        line-height: 1;
        color: #3777e8;

        @include below($mobile) {
            font-size: rem(60);
        }
    }

    &__unit {
        margin-top: auto;
        margin-bottom: rem(2);
        margin-left: rem(6);

        font-size: rem(14);
        font-weight: 400;
        line-height: 1;

        @include below($mobile) {
            margin-bottom: rem(7);
            margin-left: rem(13);

            font-size: rem(28);
        }
    }

    &__text {
        font-size: rem(16);
        font-weight: 400;
        line-height: (24/16);
        color: #000000;
        text-transform: uppercase;

        @include below($mobile) {
            font-size: rem(28);
            line-height: (42/28);
        }
    }

    &__item {
        @include below($mobile) {
            margin-bottom: rem(83);
        }
    }
}
