.form {
    position: relative;
    z-index: 9;

    max-width: rem(691);
    padding: rem(69) rem(68) rem(132);
    margin-bottom: rem(20);

    background-color: #3777e8;
    box-shadow: 0 rem(10) rem(30) rgba(47, 64, 76, 0.21);

    @include above($mobile + 1) {
        padding: rem(46) rem(41) rem(85) rem(62);
    }

    @include above($desktop + 1) {
        padding: rem(65) rem(89) rem(115);
    }

    @include below($mobile) {
        max-width: none;
        padding-bottom: rem(150);
        padding-left: rem(75);
    }

    &__docs {
        display: none;

        & + label {
            padding-bottom: rem(5);

            font-size: rem(18);
            line-height: rem(28);
            color: $light;

            border-bottom: 1px dotted $light;
            cursor: pointer;
        }
    }

    &__docs-progress {
        padding-left: rem(15);

        font-size: rem(18);
        line-height: rem(28);
        color: $dark;

        background-color: rgba($light, .2);
    }

    &__progress-bar {
        opacity: 0;

        transition: opacity 1s;

        &_loading {
            margin-bottom: rem(10);

            opacity: 1;
        }
    }

    &__load-item {
        @include padding_y(rem(9));
        position: relative;

        display: inline-block;
        max-width: 100%;
        padding-right: rem(45);
        padding-left: rem(15);
        overflow: hidden;

        font-size: rem(18);
        line-height: rem(28);
        color: $light;
        white-space: nowrap;
        text-overflow: ellipsis;

        background-color: rgba(255, 255, 255, .1);
    }

    &__docs-message {
        font-size: rem(18);
        line-height: rem(28);
        color: $light;
    }

    &__load-wrapper {
        margin-bottom: rem(10);
    }

    &__del-docs {
        position: absolute;
        top: calc(50% - #{rem(8)});
        right: rem(15);

        display: inline-block;
        width: rem(15);
        height: rem(16);

        vertical-align: middle;

        &::before,
        &::after {
            content: '';

            position: absolute;
            top: rem(7);

            display: block;
            width: rem(21);
            height: rem(2);

            background-color: $light;
        }

        &::before {
            left: rem(-3);

            transform: rotate(45deg);
        }

        &::after {
            right: rem(-3);

            transform: rotate(-45deg);
        }
    }

    &__group {
        margin-bottom: rem(45);
    }

    &__small-text {
        margin-top: rem(32);
        margin-bottom: rem(16);

        font-size: rem(16);
        font-weight: 400;
        line-height: (20/16);
        color: #ffffff;

        opacity: 0.5;
    }

    &__title {
        margin-bottom: rem(69);

        font-size: rem(42);
        font-weight: 300;
        line-height: (54/42);
        color: #ffffff;
        letter-spacing: rem(-.5);

        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
            letter-spacing: rem(-1);
        }

        @include above($mobile + 1) {
            margin-bottom: rem(35);
        }

        @include above($desktop + 1) {
            margin-bottom: rem(47);
        }

        @include above($mobile + 1) {
            font-size: rem(32);
            line-height: (42/32);
        }

        b {
            font-weight: 500;
        }
    }

    &__subtitle {
        margin-bottom: rem(13);

        font-family: $font-1;
        font-size: rem(16);
        font-weight: 300;
        line-height: rem(42);
        color: #bcbcbc;
        letter-spacing: rem(-0.15);
    }

    &__ico {
        position: absolute;

        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;

        &_1 {
            top: rem(29);
            right: 0;

            right: 0;

            width: rem(286);
            height: rem(581);

            background-image: url(%=static=%assets/form/i4.png);

            @include above($mobile + 1) {
                width: rem(210);
                height: rem(454);
            }

            @include below($mobile) {
                top: rem(60);
                right: rem(-20);

                width: rem(322);
                height: rem(599);

                background-image: url(%=static=%assets/form/i5.png);

                transform: translateX(0);
            }
        }

        &_2 {
            top: rem(-68);
            right: rem(-22);

            width: rem(192);
            height: rem(237);

            background-image: url(%=static=%assets/form/i1-m.png);

            @include above($mobile + 1) {
                top: rem(-39);
                right: rem(-63);

                width: rem(151);
                height: rem(158);

                background-image: url(%=static=%assets/form/i1.png);
            }

            @include above($desktop + 1) {
                top: rem(-37);
                right: rem(-46);

                width: rem(141);
                height: rem(149);
            }

            @include below($mobile) {
                right: rem(-18);
            }
        }
    }

    .form__documents {
        margin-top: rem(40);
        margin-bottom: rem(32);
        .form__label {
            margin-bottom: rem(11);
        }
    }

    .form__chooseDocs {
        margin-bottom: rem(30);

        .form__label {
            margin-bottom: rem(8);
        }
    }

    &__label {
        position: relative;
        z-index: 1;

        display: flex;
        margin-bottom: rem(54);

        font-size: rem(18);
        font-weight: 300;
        line-height: (28/18);
        color: #ffffff;
        white-space: nowrap;

        @include above($mobile + 1) {
            margin-bottom: rem(31);
        }

        &:not(.form__label_visible-mobile) {
            @include below($mobile) {
                margin-bottom: rem(49);

                font-size: 0;
            }
        }

        &-block {
            display: block;
        }

        &_visible-mobile {
            @include below($mobile - 1) {
                margin-bottom: rem(15);
            }
        }
    }

    &__input {
        flex-grow: 1;
        padding: rem(1);

        border: none;
        border-bottom: 1px solid rgba(255, 255, 255, .3);
        border-radius: 0;
        background: transparent;
        outline: none;

        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
            //height: rem(28);
        }

        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) and (min-width: $mobile + 1) {
            @include placeholder {
                opacity: 1 !important;
                visibility: visible !important;
            }
        }

        @include below($mobile) {
            padding: 0 0 rem(6);
        }

        @include placeholder {
            font-size: rem(28);
            font-weight: 300;
            font-style: italic;
            color: rgba(#fff, .3);
        }

        @include above($mobile + 1) {
            margin-left: rem(15);

            @include placeholder {
                // Это используется на новых формах!!! http://prntscr.com/frub5g
                font-size: rem(18);
                font-weight: 400;
                color: #ffffff;

                opacity: 0.2;
            }
        }

        @include below($mobile) {
            font-size: rem(28);
        }

        & + label {
            display: none !important;
        }

        &.error {
            border-color: red;
        }

        &_object {
            width: 100%;
            padding-bottom: rem(7);
            margin-left: 0;

            font-family: $font-1;
            font-size: rem(18);
            font-weight: 300;
            color: #d0d0d0;
        }

    }

    &__textarea {
        width: 100%;
        min-height: rem(86);
        resize: none;

        font-family: $font-1;
        font-size: rem(18);
        font-weight: 300;
        line-height: rem(28);
        color: #ffffff;

        border: rem(1) solid rgba(255, 255, 255, 0.3);
        border-radius: 0;
        background-color: transparent;
        box-shadow: none;
        -webkit-appearance: none;
    }

    &__text {
        margin-top: rem(34);

        font-size: rem(28);
        font-weight: 300;
        line-height: (48/28);
        color: #87a7ef;

        @include above($mobile + 1) {
            margin-right: rem(-30);
            overflow: hidden;

            font-size: rem(18);
            line-height: (28/18);
            color: #ffffff;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .select2-container--support {
            right: 0 !important;
            left: 0 !important;
        }

        .select2.select2-container--open {
            @include below($mobile) {
                opacity: 0;
                visibility: hidden;
            }
        }

        .select2-selection__arrow {
            position: absolute;
            top: rem(23);
            right: rem(-31);

            @include above($mobile + 1) {
                top: rem(12);
                right: rem(-19);

                width: rem(8);
                height: rem(6);
            }

            @include below($mobile) {
                top: rem(19);
            }
            b {
                position: relative;

                display: block;
                width: rem(11);
                height: rem(7);
                margin-top: rem(-3);

                /*background-image: url(%=static=%assets/form//arrow4.png);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;*/

                &::before,
                &::after {
                    content: '';

                    position: absolute;
                    top: rem(3);

                    width: rem(8);
                    height: rem(3);

                    background-color: $light;
                }

                &::before {
                    left: rem(-1);

                    transform: rotate(45deg);
                }

                &::after {
                    right: rem(-1);

                    transform: rotate(-45deg);
                }
            }
        }

        .select2-selection__rendered {
            padding: 0 !important;

            font-size: rem(32);
            color: #fff;

            @include above($mobile + 1) {
                font-size: rem(18);
            }
        }

        .select2-container .select2-selection--single {
            height: auto !important;

            line-height: 0;
        }

        &_msg {
            margin-top: rem(5);
        }
    }

    .btn-default {
        position: absolute;
        bottom: rem(-45);
        left: rem(72);

        box-shadow: 0 rem(15) rem(20) rem(-8) rgba(0, 0, 0, 0.1);

        @include below($desktop) {
            left: rem(55);
        }

        @include below($mobile) {
            left: rem(70);

            width: rem(566);
            height: rem(106);

            text-align: center;

            box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.1);
        }

        @include above($mobile + 1) {
            bottom: rem(-15);
            left: rem(62);
        }

        @include above($desktop + 1) {
            left: rem(90);
        }

        @include below($mobile) {
            left: rem(76);

            width: rem(566);
            height: rem(106);

            text-align: center;

            box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.1);
        }

        &:hover {
            box-shadow: none;
        }
    }

    .select2-container {
        position: relative;

        vertical-align: bottom;

        @include above($mobile + 1) {
            margin-left: rem(6);

            vertical-align: middle;
        }

        * {
            outline: none;
        }

        .select2-selection--single {
            position: relative;
        }

        .select2-selection--single .select2-selection__rendered {
            position: relative;
            top: rem(-2);

            max-width: rem(531);

            padding-right: 0;
            padding-left: 0;

            font-weight: 500;

            line-height: 1.2;

            border-bottom: 1px dotted #fff;

            @include above($mobile + 1) {
                max-width: rem(260);
            }

            @include above($desktop + 1) {
                max-width: rem(260);
            }
        }
    }


    .select2-container--open {
        // color: #000;

        // border-top-left-radius: rem(10);
        // border-top-right-radius: rem(10);
        // background-color: #fff;

        &::after {
            // display: none;
        }

        .select2-selection--single .select2-selection__rendered {
            // padding-right: rem(14);
            // padding-left: rem(14);
            padding-right: 0;
            padding-left: 0;

            outline: none;
        }
    }

    &__select-wide + .select2 {
        vertical-align: text-top;
        .select2-selection--single {
            width: auto;
            margin-left: 3px;
            .select2-selection__rendered {
                display: inline-block;
                max-width: none;
                padding-bottom: rem(4) !important;

                font-size: rem(21);
                letter-spacing: rem(0.5);
            }
        }
    }

}

.select2-container--support {
    @include below($mobile) {
        right: rem(22) !important;
        left: rem(17) !important;
    }
}
.select2-container {
    .select2-dropdown {
        min-width: rem(250) !important;

        font-weight: 300;

        border: none;
        border-radius: 0;
        box-shadow: 0 5px 30px rgba(0, 0, 0, 0.34);

        @include below($mobile) {

            padding-right: rem(75);
            padding-left: rem(75);

            font-size: rem(28);
        }

        .select2-results__option {
            position: relative;

            @include below($mobile) {
                padding: rem(32) 0;
            }

            &.select2-results__option--highlighted {
                position: relative;

                color: #3777e8;

                &::before {
                    @include below($mobile) {
                        @include center($horiz: false);
                        content: '';

                        right: rem(-50);

                        width: rem(20);
                        height: rem(21);

                        background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMSIgaGVpZ2h0PSIyMS4xOCIgdmlld0JveD0iMCAwIDIxIDIxLjE4Ij48cGF0aCBmaWxsPSJub25lIiBzdHJva2U9IiMzNzc3ZTgiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLW1pdGVybGltaXQ9IjUwIiBzdHJva2Utd2lkdGg9IjYiIGQ9Ik00IDkuOTRsNC45MyA2Ljk2TDE4IDQuMTMiLz48L3N2Zz4=');
                        background-size: 100%;
                    }
                }
            }

            &:not(:last-child) {
                border-bottom: 1px solid rgba(#000, .2);
            }
        }
    }


}

    // padding-right: rem(29);
.select2 {

    .select2-container--multi {
        padding-bottom: rem(3);

        border: none !important;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3) !important;
        border-radius: 0;
        background: transparent;
        .select2-selection__rendered {
            position: relative;

            padding-right: rem(31);
            padding-left: rem(3) !important;

            cursor: pointer;

            &:after {
                content: '';

                position: absolute;
                top: rem(14);
                right: rem(10);

                display: block;
                width: rem(8);
                height: rem(5);

                background-color: unset;
                // @include bg($dropdown-gray);
                background-image: url(%=static=%general/dropdown.svg);
                background-repeat: no-repeat;
                background-size: 100%;

                cursor: pointer;
                filter: grayscale(1) brightness(0.9);
                pointer-events: auto;

                @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
                    width: 9px;
                    height: 7px;

                    background-size: 8px 6.5px;
                }
            }
        }
        .select2-search__field {
            font-family: $font-1;
            font-size: rem(18) !important;
            font-weight: 300;
            color: #d0d0d0;

            @include placeholder() {
                color: #d0d0d0;
            }
        }
        .select2-selection--multiple {
            border: 0;
            border-bottom: 1px solid #fff;
        }
        .select2-selection__choice {
            color: #fff;

            border: 0;
            background: transparent;
        }
        .select2-selection__choice__remove {
            width: rem(15);

            font-family: $font-1;
            font-weight: 300;
            color: #fff;
            text-align: center;
        }
    }
    &-dropdown {
        &--multi {
            .select2-results__option--highlighted {
                background: #fff !important;
            }
        }
    }


}

.cecutient-mode {

    .form {
        max-width: rem(648);
        padding-right: rem(63);
        padding-bottom: rem(50);
        padding-left: rem(60);

        &__title {
            position: relative;
            top: rem(-90);
            left: rem(-22);

            width: calc(100% + #{rem(53)});
            padding-left: rem(21);
            margin-right: rem(-20);
            margin-bottom: rem(-50);

            font-size: rem(48);
            font-weight: 400;
            line-height: (42/48);

            background: #fff;

            @include below($desktop) {
                top: rem(-70);
            }

            b {
                font-weight: 700;
            }

            br {
                display: none;
            }
        }

        &__input {
            height: rem(52);
            margin-top: rem(15);
        }

        &__label {
            margin-bottom: rem(22);

            font-size: rem(20);
            line-height: (28/20);
        }

        &__text {
            margin-top: rem(22);
            margin-right: 0;

            color: #000;
        }

        .select2 {

            position: relative;

            display: block;
            padding-top: rem(2);
            padding-left: rem(10);
            margin-top: rem(17);
            margin-left: 0;

            border: rem(2) solid #000;

            &::after {
                content: '';

                position: absolute;
                z-index: -1;
                top: 0;
                right: 0;

                width: rem(55);
                height:100%;

                background-color: #000;
                // background-image: url(%=static=%assets/form//arrow4.png);
                background-repeat: no-repeat;
                background-position: center;
                background-size: rem(16) rem(11);
            }
        }

        .select2-container .select2-selection--single .select2-selection__rendered {
            max-width: calc(100% - #{rem(53)});

            line-height: (46/18);
            color: #000;

        }

        .btn {
            bottom: rem(-27);
            left: rem(155);

            padding-top: 0;

            padding-right: rem(43);
            padding-bottom: 0;
            padding-left: rem(43);

            font-size: rem(18);
            line-height: (52/18);
        }
    }

    .select2-container .select2-selection--single .select2-selection__rendered {
        border-bottom: none;
    }
}


.cecutient-mode {

    .form .select2::after {
        background-image: url(%=static=%general/dropdown.svg);
    }

    &.cecutient-mode_palette {

        &_light {
            .form .select2::after {
                background-image: url(%=static=%general/dropdown.svg);
            }
        }

        &_dark {
            .form .select2::after {
                background-image: url(%=static=%general/dropdown-dark.svg);
            }
        }

        &_sky {
            .form .select2::after {
                background-image: url(%=static=%general/dropdown-sky.svg);
            }
        }

        &_blue {
            .form .select2::after {
                background-image: url(%=static=%general/dropdown-blue.svg);
            }
        }

        &_brown {
            .form .select2::after {
                background-image: url(%=static=%general/dropdown-brown.svg);
            }
        }
    }

}
