include ../checkbox/checkbox
mixin form(data)
        if data == 'form2'
            +b.FORM.form.form-blue.form-2()&attributes(attributes)
                +e.ico._2
                +e.title Есть вопросы? <br> <b>Пишите!</b>

                +e.text Вы хотели бы
                    +e.SELECT.select.form__select-wide
                        +e.OPTION.option реализовать инвестиционный проект
                        +e.OPTION.option Помощь предпринимателям
                        +e.OPTION.option Создание проекта

                +e.LABEL.label Ваше имя
                    +e.INPUT.input(type=text placeholder='Ваше имя' name='form-name')

                +e.LABEL.label Ваш е-mail адрес
                    +e.INPUT.input(type=text placeholder='Ваш е-mail адрес' name='form-email')

                +e.LABEL.label и ваш телефон
                    +e.INPUT.input._phone(type=text placeholder='и ваш телефон' name='form-phone')
                +e.docs-block
                    .form__load-docs
                    +e.INPUT(id="docs-form-2" name="docs-form-2[]" multiple type="file").docs
                    +e.LABEL(for="docs-form-2").control-docs Прикрепить файл

                BUTTON.btn.btn-default(type='submit') Запросить консультацию

        if data == 'form3'
            +b.FORM.form.form-blue.form-3()&attributes(attributes)
                +e.ico._2
                +e.title Есть вопросы? <br> <b>Пишите!</b>

                +e.text Вы хотели бы
                    +e.SELECT.select.form__select-wide
                        +e.OPTION.option получить документы
                        +e.OPTION.option Помощь предпринимателям
                        +e.OPTION.option Создание проекта

                +e.LABEL.label Ваше имя
                    +e.INPUT.input(type=text placeholder='Ваше имя' name='form-name')

                +e.LABEL.label Ваш е-mail адрес
                    +e.INPUT.input(type=text placeholder='Ваш е-mail адрес' name='form-email')

                +e.LABEL.label и ваш телефон
                    +e.INPUT.input._phone(type=text placeholder='и ваш телефон' name='form-phone')

                +e.documents
                    +e.SPAN.label Укажите тип документа
                    +checkbox({
                        text: 'Документы на реализацию инвестиционного проекта',
                        name: 'electricity-points1',
                        className: '_theme_light',
                        id: 'check1',
                        checked: false
                    })
                    +checkbox({
                        text: 'Документы для получения государственной поддержки',
                        name: 'electricity-points2',
                        className: '_theme_light',
                        id: 'check2',
                        checked: true
                    })

                +e.chooseDocs
                    +e.SPAN.label Выберите необходимые документы
                    select.form__input-select(name='aoeu' multiple='multiple' data-placeholder='Введите название документа или выберите из списка')
                        option(value="o1") Alabama
                        option(value="o2") Wyoming
                        option(value="Lorem") Lorem
                        option(value="Ipsum") Ipsum
                +e.docs-block
                    .form__load-docs
                    +e.INPUT(id="docs-form-3" name="docs-form-3[]" multiple type="file").docs
                    +e.LABEL(for="docs-form-3").control-docs Прикрепить файл

                BUTTON.btn.btn-default(type='submit') Запросить


        if data == 'form4'
            +b.FORM.form.form-blue.form-4()&attributes(attributes)
                +e.ico._2
                +e.title Есть вопросы? <br> <b>Пишите!</b>

                +e.text Вы хотели бы
                    +e.SELECT.select.form__select-wide
                        +e.OPTION.option получить государственную поддержку
                        +e.OPTION.option Помощь предпринимателям
                        +e.OPTION.option Создание проекта

                +e.LABEL.label Ваше имя
                    +e.INPUT.input(type=text placeholder='Ваше имя' name='form-name')

                +e.LABEL.label Ваш е-mail адрес
                    +e.INPUT.input(type=text placeholder='Ваш е-mail адрес' name='form-email')

                +e.LABEL.label и ваш телефон
                    +e.INPUT.input._phone(type=text placeholder='и ваш телефон' name='form-phone')

                +e.chooseDocs
                    +e.SPAN.label Укажите тип поддержки
                    select.form__input-select(name='aoeu' multiple='multiple' data-placeholder='Например, налоговая льгота')
                        option(value="o1") Alabama
                        option(value="o2") Wyoming
                        option(value="Lorem") Lorem
                        option(value="Ipsum") Ipsum

                +e.chooseDocs
                    +e.SPAN.label Укажите отрасль
                    select.form__input-select(name='aoeu' multiple='multiple' data-placeholder='Например, пищевая промышленность')
                        option(value="o1") Alabama
                        option(value="o2") Wyoming
                        option(value="Lorem") Lorem
                        option(value="Ipsum") Ipsum

                +e.group
                    +e.LABEL.label(for='message') Комментарий
                    +e.TEXTAREA.textarea._message(id='message' name='form-message')
                +e.docs-block
                    .form__load-docs
                    +e.INPUT(id="docs-form-4" name="docs-form-4[]" multiple type="file").docs
                    +e.LABEL(for="docs-form-4").control-docs Прикрепить файл

                BUTTON.btn.btn-default(type='submit') Отправить


        if data == 'form5'
            +b.FORM.form.form-blue.form-5(action='/feed-back/create.json')&attributes(attributes)
                +e.ico._2
                +e.title Есть вопросы? <br> <b>Пишите!</b>

                +e.text Вы хотели бы
                    +e.SELECT.select.form__select-wide
                        +e.OPTION.option подать жалобу
                        +e.OPTION.option Помощь предпринимателям
                        +e.OPTION.option Создание проекта

                +e.LABEL.label Фамилия
                    +e.INPUT.input(type=text placeholder='Фамилия' name='lastname')

                +e.LABEL.label Имя
                    +e.INPUT.input(type=text placeholder='Имя' name='name')

                +e.LABEL.label Отчество
                    +e.INPUT.input(type=text placeholder='Отчество' name='middlename')

                +e.small-text Формат электронной почты user@example.com, может содержать только латинские буквы, цифры, @

                +e.LABEL.label Ваш е-mail адрес
                    +e.INPUT.input._placeholder_visible(type=text placeholder='user@example.com' name='email')

                +e.small-text Укажите номер телефона в формате x–(xxx)-xxx-xxxx

                +e.LABEL.label и ваш телефон
                    +e.INPUT.input._phone._placeholder_visible(type=text placeholder='x (xxx) xxx xxxx' name='phone')

                +e.group
                    +e.LABEL.label(for='message') Опишите ситуацию
                    +e.TEXTAREA.textarea._message(id='message' name='form-message')
                +e.docs-block
                    .form__load-docs
                    +e.INPUT(id="docs-form-5" name="docs-form-5[]" multiple type="file").docs
                    +e.LABEL(for="docs-form-5").control-docs Прикрепить файл

                BUTTON.btn.btn-default(type='submit') Отправить

        if data == undefined
            +b.FORM.form(action='/feed-back/create.json')&attributes(attributes)
                +e.ico._1
                +e.ico._2
                +e.title Есть вопросы? <br> <b>Пишите!</b>

                +e.LABEL.label
                    <span>Ваше имя</span>
                    +e.INPUT.input(type=text placeholder='Ваше имя' name='name')

                +e.LABEL.label
                    <span>Ваш е-mail адрес</span>
                    +e.INPUT.input(type=text placeholder='Ваш е-mail адрес' name='form-email1')

                +e.LABEL.label
                    <span>и ваш телефон</span>
                    +e.INPUT.input._phone(type=text placeholder='и ваш телефон' name='phone')

                +e.text Вы хотели бы узнать у нас про
                    +e.SELECT.select
                        +e.OPTION.option Выбор проекта
                        +e.OPTION.option Помощь предпринимателям
                        +e.OPTION.option Создание проекта
                +e.docs-block
                    .form__load-docs
                    +e.INPUT(id="docs" name="docs[]" multiple type="file").docs
                    +e.LABEL(for="docs").control-docs Прикрепить файл

                BUTTON.btn.btn-default(type='submit') Запросить консультацию
