mixin residents-info(data)
    +b.residents-info()&attributes(attributes)
        +e.title 3 ОЭЗ в МО:

        +e.UL.items
            +e.LI.item 1. Ступино-Квадрат
            +e.LI.item 2. Исток
            +e.LI.item 3. Дубна

        +e.A.btn(href=jv0) смотреть на карте


