.residents-info {
    position: relative;

    padding: rem(30) rem(64) rem(59);

    background-color: #3777e8;

    &__items {
        padding-left: 0;
        margin: 0;

        list-style: none;
    }

    &__title {
        margin-bottom: rem(18);

        font-size: rem(24);
        font-weight: 500;
        line-height: (28/24);
        color: #fffefe;


        @include below($mobile) {
           font-size: rem(30);
        }
    }

    &__item {
        font-size: rem(17);
        font-weight: 300;
        line-height: (28/17);
        color: #fffefe;


        @include below($mobile) {
           font-size: rem(24);
        }
    }

    &__btn {
        position: absolute;
        bottom: rem(-26);
        left: rem(40);

        display: inline-block;
        width: rem(283);
        padding: rem(15) 0;

        font-size: rem(14);
        font-weight: 500;
        line-height: (24/14);
        color: #3777e8;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;

        background-color: #ffffff;
        box-shadow: 0 0.625rem 1.875rem rgba(47, 64, 76, 0.21);


        @include below($mobile) {
           font-size: rem(20);
        }
    }
}

.cecutient-mode .residents-info {
    margin-top: rem(36);
    
    background: #fff;
    
    &__title {
        margin-bottom: rem(17);

        font-size: rem(26);
        
        color: #000;
    }
    
    &__item {
        margin-left: rem(-2);

        font-size: rem(20);
        font-weight: 400;
        line-height: rem(29);
        
        color: #000;
    }
    
    &__btn {
        bottom: rem(-31);
        
        width: rem(346);
        
        font-size: rem(18);
        font-weight: bold;
        line-height: rem(24);
        color: #fff;

        background: #000;        
    }
}

