mixin big-price(data)
    +b.big-price()&attributes(attributes)
        +e.SPAN.pretext= data.pretext
        +e.SPAN.price= data.price
        +e.DIV.aftertext
            +e.aftertop= data.afterTop
            +e.afterbot= data.afterBot

        block
