.big-price {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;

    font-family: $font-1;
    font-size: rem(32);
    font-weight: 500;
    line-height: 1;
    color: $color1;
    text-shadow: 0 10px 30px rgba(47, 64, 76, 0.21);
    &__pretext {

    }
    &__price {
        position: relative;
        top: rem(4);

        margin-right: rem(14);
        margin-left: rem(8);

        font-size: rem(160);
        font-weight: 700;
        line-height: rem(132);
    }
    &__aftertext {

    }
    &__afterbot {

    }
    &__aftertop {
        margin-bottom: rem(6);
    }


}
