include ../seminar/seminar

mixin seminars(data)
    +b.seminars()&attributes(attributes)
        +e.items
            each item in data.items
                +seminar(item).seminars__item

        +e.bottom
            +e.A.btn(href=jv0) Посмотреть все
