.seminars {
    &__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: rem(22);
        overflow: hidden;
    }

    &__item {
        width: 48.8%;
        margin-bottom: rem(20);

        @include below($mobile) {
            width: 100%;
        }
    }

    &__bottom {
        text-align: center;
    }

    &__btn {
        display: inline-block;
        padding: 0 rem(44);

        font-size: rem(14);
        font-weight: 500;
        line-height: (52/14);
        color: #ffffff;
        text-decoration: none;
        text-transform: uppercase;

        background-color: #3777e8;
        box-shadow: 0 0.9375rem 2.5rem -0.9375rem #3777e8;
    }
}
