.custom-select {
    .select2-selection__rendered{
        padding-left: rem(5) !important;

        font-size: rem(18);
        color: #3777e8;

        @include below($mobile){
            font-size: rem(26);
        }

        .cecutient-mode & {
            color: #000;
        }
    }

    .select2-selection__arrow{
        position: absolute;
        top: 50%;
        right: rem(5);

        display: block;
        width: rem(5);
        height: rem(5);

        transform: translateY(-50%);


        @include below($mobile){
            width: rem(8);
            height: rem(8);
        }
        
        b{
            position: absolute;
            top:0;
            left: 0;

            display: block;
            width: rem(5);
            height: rem(5);

            border-right: 1px solid #3777e8;
            border-bottom: 1px solid #3777e8;
            transform: rotate(45deg);

            
            @include below($mobile){
                top: rem(-2);

                width: rem(8);
                height: rem(8);
            }

            .cecutient-mode & {
                border-right: 1px solid #000;
                border-bottom: 1px solid #000;
            }
        }
    }

    .select2-container{
        z-index: 9998;

        width: auto !important;

        &.select2-container--open {
            .select2-selection__arrow{
                b{
                    top:rem(3);

                    transform: rotate(225deg);
                }               
            }
        }

    }
    
    .select2-selection--single{ 
        position: relative;

        height: auto;

        
        @include below($mobile){
            height: auto;
        }
    }
}


.select2-container--custom-select{
    z-index: 999;
    
    
    .select2-dropdown{
        @include below($mobile){
            width: auto !important;
            padding-right: rem(20);
            padding-left: rem(20);
        }
    }

    .select2-dropdown .select2-results__option {
        
        @include below($mobile){
            padding: rem(16) 0;
        }
        &:before{
            display: none;
        }
    }

}

