mixin step(data)
    +b.step()&attributes(attributes)
        +e.number-box
            +e.number!= data.number
            +e.title
                +e.desc!= data.description
                +e.ico(class=data.iconClassName style='background-image:url(' + data.ico + ')')

        +e.content
            each item in data.content
                +e.text!= item.text

