.step {
    display: flex;

    @include below($mobile) {
        flex-direction: column;
    }

    &__number {
        position: relative;

        margin-bottom: rem(47);
        margin-left: rem(-7);

        font-size: rem(160);
        font-weight: 500;
        line-height: (130/160);
        color: #3777e8;

        @include below($desktop) {
            margin-bottom: rem(40);
            margin-left: rem(16);

            font-size: rem(140);
        }

        @include below($mobile) {
            margin-bottom: rem(-45);
            margin-left: 0;

            font-size: rem(211);
        }

        &::before {
            content: '';

            position: absolute;
            right: rem(43);
            bottom: 0;

            width: rem(180);
            height: rem(54);

            background-color: #ffffff;
            opacity: 0.9;

            @include below($mobile) {
                right: auto;
                left: rem(54);

                width: rem(205);
                height: rem(63);
            }
        }

        &::after {
            content: '';

            position: absolute;
            right: rem(22);
            bottom: rem(-22);

            width: rem(65);
            height: 1px;

            background: #000;

            @include below($desktop) {
                bottom: rem(-20);
            }

            @include below($mobile) {
                display: none;
            }
        }
    }

    &__desc {
        position: relative;
        right: rem(38);

        display: inline-block;

        font-size: rem(16);
        font-weight: 500;
        line-height: (24/16);
        color: #000000;
        text-align: right;
        text-transform: uppercase;

        @include below($mobile) {
            position: relative;

            font-size: rem(28);
            font-weight: 500;
            line-height: (42/28);
            text-align: left;

            &::after {
                content: '';

                position: absolute;
                bottom: rem(-23);
                left: 0;

                width: rem(76);
                height: 1px;

                background: #000;
            }
        }
    }

    &__number-box {
        width: rem(200);
        padding-right: rem(30);

        @include below($desktop) {
            width: rem(190);
            padding-right: rem(18);
        }

        @include below($mobile) {
            position: relative;

            margin-bottom: rem(67);
        }
    }

    &__content {
        width: calc(100% - 11.875rem);
        padding-top: rem(5);
        padding-left: rem(45);

        @include below($mobile) {
            width: 100%;
        }
    }

    &__title {
        position: relative;

        @include below($mobile) {
            position: static;

            padding-left: rem(155);
        }
    }

    &__text {
        position: relative;

        margin-bottom: rem(22);

        font-size: rem(14);
        font-weight: 300;
        line-height: (22/14);
        color: #000000;

        @include below($mobile) {
            font-size: rem(28);
            line-height: (42/28);
        }

        @include below($mobile) {
            margin-bottom: rem(43);
        }

        &::before {
            content: '';

            position: absolute;
            z-index: 1;
            top: rem(5);
            left: rem(-40);

            width: rem(10);
            height: rem(10);

            border: 1px solid #000;
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100% 100%;
            opacity: .7;
            transform: rotate(45deg);

            @include below($desktop) {
                left: rem(-36);
            }

            @include below($mobile) {
                top: rem(13);

                width: rem(21);
                height: rem(21);

                border: none;
                background-image: url(%=static=%assets/step/rect.png);
                transform: none;
            }
        }
    }

    &__ico {
        position: absolute;
        top: rem(1);
        right: rem(25);

        background-repeat: no-repeat!important;

        background-position: center;
        background-size: contain!important;

        @include below($mobile) {
            top: rem(10);
            right: rem(-113);
        }

        &_i1 {
            width: rem(46);
            height: rem(42);

            @include below($mobile) {
                width: rem(60);
                height: rem(54);
            }
        }

        &_i2 {
            width: rem(37);
            height: rem(37);


            @include below($mobile) {
                width: rem(56);
                height: rem(56);
            }
        }

        &_i3 {
            width: rem(41);
            height: rem(40);


            @include below($mobile) {
                width: rem(58);
                height: rem(57);
            }
        }
    }
}


.cecutient-mode .step {

    &__ico {
        display: none;
    }

    &__number {
        margin-bottom: rem(20);
        margin-left: 0;

        &::before,
        &::after {
            content: none;
        }
    }

    &__content {
        padding-left: rem(80);
    }

    &__text {
        font-size: rem(16);
        font-weight: normal;

        &::before {
            left: rem(-35);
        }
    }

    &__desc {
        right: 0px;
        left: rem(7);

        font-size: rem(20);
        font-weight: bold;
        line-height: rem(23);
        text-align: left;
    }
}
