include ../news-item/news-item

mixin news(data)
    +b.news()&attributes(attributes)
        +e.list
            +e.col._theme_big
                +news-item(data[0])

            +e.col
                +news-item(data[1])

                +news-item(data[2])

                +news-item(data[3]).news-item_hidden

        +b.btn._theme_default.news__btn(href=jv0)
            +e.text Посмотреть все
