.news {
    margin-top: rem(48);

    @include below($mobile) {
        padding-right: rem(16);
    }

    @include above($mobile + 1) {
        margin-top: rem(-6);
    }

    &__list {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        @include between($mobile + 1, $desktop) {
            margin-right: rem(-44);
        }
    }

    &__col {
        display: none;

        @include above($mobile + 1) {
            display: block;
            width: rem(350);
        }

        @include above($desktop + 1) {
            display: block;
            width: rem(365);
        }

        &:nth-child(2n) {
            .news-item__desc {
                display: none;
            }
        }

        &_theme_big {
            display: block;

            @include above($mobile + 1) {
                width: rem(725);
            }

            @include above($desktop + 1) {
                width: 100%;
                max-width: rem(895);
                padding-right: rem(68);
            }

            @include between($mobile + 1, $desktop) {
                .news-item__title {
                    padding-right: rem(80);
                }
            }
        }
    }

    &__btn {
        display: block;
        margin: rem(70) auto 0;

        text-align: center;

        background-color: #3777e8;


        transition: all .3s;

        @include above($mobile + 1) {
            box-shadow: 0 rem(15) rem(20) rem(-8) rgba(55, 119, 232, 0.6);
        }

        @include below($mobile) {
            & .btn__text {
                font-size: rem(28);
                line-height: rem(106);
            }
        }

        @include above($mobile + 1) {
            position: relative;
            left: rem(-22);

            width: rem(213);
            margin: rem(30) auto 0;
        }

        @include above($desktop + 1) {
            left: rem(-45);

            margin: rem(44) auto 0;
        }

        &:hover {
            background: #305beb;
        }
    }
}

.cecutient-mode {
    .news {
        &__col {
            max-width: none;

            &:nth-child(2n) {
                .news-item__desc {
                    display: block;
                }

                .news-item:last-child {
                    margin-bottom: 0;

                    border-bottom: none;
                }
            }

            &_theme_big {
                padding-right: 0;
            }
        }

        &__btn {
            display: inline-block;
            width: auto;
            padding: 0 rem(58);
            margin-top: 0;
            margin-right: 0;
            margin-left: rem(45);

            background-color: #000;
            box-shadow: none;
            &:hover {
                background: #305beb;
            }

            .btn__text {
                font-size: rem(18);
                font-weight: 700;
                line-height: (52/18);
                color: #fff;
            }
        }
    }
}
