.edit-profile {
    background-color: #fff;
    box-shadow: 0 0.625rem 1.875rem rgba(47, 64, 76, 0.21);

    &__box{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top: rem(40);
        padding-right: rem(40);
        padding-bottom: rem(50);
        padding-left: rem(39);
    }

    &__file-input{
        display: none;
    }

    &__photo-control{
        display: block;
        width: rem(240);
        height: rem(240);

        border: 1px dashed #d9d9d9;
        background: #f6f6f6;
        cursor: pointer;

        @include below($mobile) {
            @include margin_x(auto);
            margin-bottom: rem(20);
        }

        &[style] {

            .edit-profile__photo-content {
                display: none;
            }
        }
    }

    &__delete-photo {
        position: absolute;
        top: rem(-11);
        right: rem(35);

        display: none;
        width: rem(32);
        height: rem(32);

        border-radius: 50%;
        background-color: $light;
        box-shadow: 0 rem(6) rem(25) rgba(0, 0, 0, 0.24);

        &::before,
        &::after {
            content: '';

            position: absolute;
            top: rem(15);

            display: block;
            width: rem(13);
            height: rem(2);

            background-color: #ef5959;
        }

        &::before {
            left: rem(9);

            transform: rotate(45deg);
        }

        &::after {
            right: rem(10);

            transform: rotate(-45deg);
        }
    }

    &__photo-content{
        display: block;
        margin-top: rem(79);
    }

    &__photo-icon-wrapper{
        display: block;

        text-align: center;
    }

    &__photo-text{
        display: block;

        font-size: rem(16);
        color: #697078;
        text-align: center;
    }

    &__camera-icon{
        fill: #e6e8ee;
    }

    &__photo-text{
        margin-top: rem(14);
    }


    &__img-select{
        position: relative;

        width: 29.2%;

        @include below($desktop) {
            width: 40%;
        }

        @include below($mobile) {
            width: 100%;
        }

        &_load {

            &:hover .edit-profile__delete-photo {
                display: block;
            }
        }
    }

    &__inputs{
        width: 70.8%;

        @include below($desktop) {
            width: 60%;
        }

        @include below($mobile) {
            width: 100%;
        }
    }

    &__input-label{
        width: rem(115);
        padding-top: rem(10);

        font-size: 0.875rem;
        font-weight: 500;

        @include below($desktop) {
            width: 100%;
            padding-top: 0;
            padding-bottom: rem(10);
        }
    }

    &__required {
        margin-left: rem(3);

        color: #ec2d2d;
    }

    &__input-row{
        position: relative;

        display: flex;
        flex-wrap: wrap;

        &:not(:first-child) {
            margin-bottom: rem(20);
        }

        label.error {
            position: absolute;
            top: rem(-8);
            right: 0;

            font-size: rem(14);
            line-height: rem(24);
            color: $error;

            &::before {
                content: '!';

                position: absolute;
                top: calc(50% - #{rem(8)});
                left: rem(-23);

                display: block;
                width: rem(16);
                height: rem(16);

                font-size: rem(12);
                line-height: rem(14);
                color: $error;
                text-align: center;

                border: 1px solid #ec2d2d;
                border-radius: 50%;
            }
        }

        &_buttons{
            padding-left: rem(115);
            margin-top: rem(21);
            margin-bottom: 0;

            @include below($mobile) {
                padding-left: 0;
            }
        }
    }

    &__message {
        font-size: rem(14);
        line-height: rem(24);
        color: $color1;

        &_error {
            color: $error;
        }
    }

    &__input{
        flex-grow: 1;
        height: rem(40);
        padding-left: rem(16);

        font-size: rem(14);

        border: 1px solid rgba(105, 112, 120, 0.6);
        border-radius: 0.25rem;


        @include placeholder{
            color: rgba(0, 0, 0, 0.4);
        }

        &.error {
            margin-top: rem(24);
        }
    }

    &__save{
        padding: rem(17) rem(77) rem(17);
        margin-right: rem(11);

        font-size: rem(14);
        font-weight: 500;
        color: #fff;
        text-transform: uppercase;

        border: 0;
        box-shadow:  0 1.1375rem 2.5rem -0.9375rem rgba(55, 119, 232, 0.8);
        cursor: pointer;

        @include below($desktop) {
            margin-bottom: rem(20);
        }

        @include below($mobile) {
            @include margin_x(auto);
        }
    }

    &__cancel {
        @include padding_y(rem(18));
        @include padding_x(rem(87));

        font-size: rem(14);
        font-weight: 500;
        color: #000;
        text-align: center;
        text-transform: uppercase;

        border: 1px solid #000;
        background: #fff;
        box-shadow: 0 0.9375rem 1.25rem -0.5rem rgba(0, 0, 0, 0.1);
        cursor: pointer;

        @include below($mobile) {
            @include margin_x(auto);
        }

        &:hover {
            color: #fff;

            border: 1px solid #305beb;
        }
    }

    &__required-inputs-text {
        padding-left: rem(115);

        font-size: rem(14);
        font-weight: 400;
        line-height: rem(18);
        color: #b3b3b3;

        @include below($mobile) {
            padding-left: 0;
        }
    }
}
