mixin edit-profile(data)
    +b.edit-profile()&attributes(attributes)
        +e.FORM
            +e.box
                +e.img-select
                    +e.INPUT.file-input(type="file" name="photo" id="photo")
                    +e.LABEL.photo-control(for="photo")
                        +e.photo-content
                            +e.photo-icon-wrapper
                                +icon({ icon: 'photo-camera', class: 'edit-profile__camera-icon' })
                            +e.photo-text Загрузить фото

                +e.inputs
                    +e.input-row
                        +e.LABEL.input-label(for="surname") Фамилия
                        +e.INPUT.input(type="text" name="surname" id="surname" placeholder="Архангельский")
                    +e.input-row
                        +e.LABEL.input-label(for="name") Имя
                        +e.INPUT.input(type="text" name="name" id="name" placeholder="Александр")
                    +e.input-row
                        +e.LABEL.input-label(for="patronymic") Отчество
                        +e.INPUT.input(type="text" name="patronymic" id="patronymic" placeholder="Юрьевич")
                    +e.input-row
                        +e.LABEL.input-label(for="company") Компания
                        +e.INPUT.input(type="text" name="company" id="company" placeholder="ООО «ИнвестБизнесМосОблСтрой»")
                    +e.input-row
                        +e.LABEL.input-label(for="phone") Телефон
                        +e.INPUT.input(type="text" name="phone" id="phone" placeholder="+7 496 611 57 88")
                    +e.input-row
                        +e.LABEL.input-label(for="email") Emai
                        +e.INPUT.input(type="text" name="email" id="email" placeholder="archangel@mail.ru")
                    +e.input-row._buttons
                        <button class="edit-profile__save btn btn_theme_standart">Сохранить</button>
                        <button class="edit-profile__cancel btn btn_theme_standart">Отмена</button>
                        
