mixin training(data)
    +b.training()&attributes(attributes)
        +e.UL.list
            each item in data
                +e.item
                    +e.heading
                        +e.date= item.date
                        +e.next= item.next

                    +e.H3.title= item.title
                    +e.P.desc!= item.desc

                    +e.info
                        each info in item.info
                            +e.info-item
                                +icon({ icon: `${info.icon}`, class: 'training__icon' })
                                +e.info-title!= info.title

                    +e.H4.subtitle Организатор
                    +e.P.organizer= item.organizer

        +e.bottom
            +e.btn(href=jv0) Посмотреть все
