.training {
    margin-top: rem(50);

    &__list {
        @include list-reset;
        display: flex;
        padding-right: rem(106);

        @include below($mobile) {
            flex-direction: column;
            padding-right: 0;
        }
    }

    &__item {
        width: 50%;
        padding-right: rem(35);

        @include below($mobile) {
            width: 100%;

            &:not(:last-child) {
                margin-bottom: rem(50);
            }
        }
    }

    &__heading {
        display: inline-flex;
        align-items: center;
        padding: rem(6) rem(11);
        margin-bottom: rem(18);

        font-size: rem(14);
        color: #fff;

        background-color: #3777e8;
    }

    &__date {
        font-weight: 500;
        text-transform: uppercase;
    }

    &__next {
        position: relative;

        padding-left: rem(22);
        margin-left: rem(18);

        font-style: italic;

        &::before {
            @include size(rem(11));
            content: '';

            position: absolute;
            top: rem(3);
            left: 0;

            border: 1px solid #fff;
            transform: rotate(45deg);
        }
    }

    &__title {
        margin-top: 0;
        margin-bottom: 0;

        font-size: rem(18);
        font-weight: 500;
        line-height: (24 / 18);
        text-transform: uppercase;

        &::after {
            content: '';

            display: block;
            width: rem(65);
            height: 1px;
            margin: rem(25) 0 rem(29);

            background-color: #000;
        }
    }

    &__subtitle {
        margin-top: 0;
        margin-bottom: 0;

        font-size: rem(14);
        font-weight: 500;
        line-height: (36 / 14);
    }

    &__desc {
        font-size: rem(18);
        font-weight: 300;
        line-height: (27 / 18);
        color: #282828;
    }

    &__info {
        display: flex;
        align-items: center;
        margin-bottom: rem(11);
    }

    &__info-item {
        display: flex;
        align-items: center;

        &:not(:last-child) {
            margin-right: rem(60);
        }
    }

    &__info-title {
        font-size: rem(14);
        color: #3777e8;
        text-transform: uppercase;

        b {
            font-size: rem(24);
            font-weight: 500;
        }
    }

    &__organizer {
        margin-top: 0;
        margin-bottom: 0;

        font-size: rem(18);
        font-weight: 300;
        font-style: italic;
        line-height: (28 / 18);
    }

    &__icon {
        margin-right: rem(10);
        fill: #3777e8;
    }

    &__bottom {
        padding-right: rem(105);
        margin-top: rem(47);

        text-align: center;
    }

    &__btn {
        display: inline-block;
        padding: 0 rem(45);

        font-size: rem(14);
        font-weight: 500;
        line-height: rem(52);
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;

        background-color: #3777e8;
        box-shadow: 0px 15px 40px -15px #3777e8;


        transition: all .3s;

        &:hover {
            background: #305beb;
        }
    }
}
