mixin preview-box(data)
    +b.preview-box()&attributes(attributes)
        +e.pic
            +e.IMG.img(src=data.img)

            +e.info
                +e.description
                    +e.header!= data.header
                    +e.count
                        +e.number!= data.number
                        +e.units!= data.unit

                +e.logo-box
                    +e.IMG.logo(src=data.logo)

        +e.content
            +e.container
                +e.details
                    each item in data.items
                        +e.box
                            +e.sub-title!= item.title
                            +e.text!= item.text

                +e.about
                    each item in data.about
                        +e.text._about!= item.text


