.preview-box {
    max-width: $desktop;
    margin: 0 auto;
    overflow-x: hidden;

    @include below($mobile) {
        overflow-x: visible;
    }

    &__img {
        display: block;
        min-height: rem(100);


        @include below($mobile) {
            display: none;
        }
    }

    &__pic {
        position: relative;
        z-index: 1;
    }

    &__info {
        position: absolute;
        bottom: rem(-95);
        left: 0;

        display: flex;
        align-items: flex-end;
        width: 100%;

        @include below($desktop) {
            bottom: rem(-80);
        }

        @include below($mobile) {
            top: rem(-11);
            bottom: auto;
        }
    }

    &__logo {
        display: block;
        width: 100%;
        padding: 10px;
        margin: auto;

        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }

        @supports (-ms-ime-align:auto) {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
    }

    &__logo-box {
        position: relative; // ie fix

        display: flex;
        width: rem(112);
        height: rem(112);
        margin-top: auto;
        margin-right: rem(116);
        margin-bottom: rem(23);
        margin-left: auto;

        background: #fff;

        box-shadow: 0 0.625rem 1.875rem rgba(2, 6, 29, 0.075);

        @include below($desktop) {
            width: rem(99);
            height: rem(99);
            margin-right: rem(128);
            margin-bottom: rem(19);
        }

        @include below($mobile) {
            width: rem(214);
            height: rem(214);
            margin-right: rem(50);
            margin-bottom: rem(20);
        }
    }

    &__count {
        display: flex;
        align-items: flex-end;
        margin-left: rem(212);

        @include below($desktop) {
            margin-left: rem(120);
        }

        @include below($mobile) {
            margin-left: rem(80);
        }
    }

    &__number {
        font-size: rem(160);
        font-weight: 500;
        line-height: (150/160);
        color: #3777e8;
        text-shadow: 0 rem(10) rem(30) rgba(47, 64, 76, 0.21);

        @include below($desktop) {
            font-size: rem(140);
        }

        @include below($mobile) {
            font-size: rem(160);
        }
    }

    &__header {
        display: inline-block;
        padding-right: rem(10);
        padding-left: rem(220);

        font-size: rem(16);
        font-weight: 400;
        line-height: (28/16);
        color: #ffffff;
        text-align: right;
        text-transform: uppercase;

        background-color: #3777e8;

        @include below($desktop) {
            padding-left: rem(125);
        }

        @include below($mobile) {
            padding-right: rem(9);
            padding-left: rem(87);

            font-size: rem(20);
            line-height: (32/20);
        }
    }

    &__units {
        margin-top: auto;
        margin-bottom: rem(18);
        margin-left: rem(16);

        font-size: rem(32);
        font-weight: 500;
        line-height: (36/32);
        color: #3777e8;

        @include below($desktop) {
            margin-bottom: rem(14);
            margin-left: rem(18);

            font-size: rem(27);
        }

        @include below($mobile) {
            font-size: rem(32);
            line-height: rem(36);
        }
    }

    &__container {
        position: relative;

        display: flex;
        max-width: rem(1170);

        padding-top: rem(118);
        padding-bottom: rem(83);
        margin: 0 auto;

        @include below($desktop) {
            max-width: rem(1035);
        }

        @include below($mobile) {
            flex-direction: column;
        }

        &::after {
            content: '';

            position: absolute;
            top: 0;
            left: 100%;

            width: 100%;
            height: 100%;

            background-color: #f8f9fb;

            @include below($mobile) {
                display: none;
            }
        }
    }

    &__content {
        max-width: $container;
        margin: 0 auto;

        background-color: #f8f9fb;

        @include below($desktop) {
            max-width: rem(1180);
        }

        @include below($mobile) {
            padding-top: rem(127);
            padding-right: rem(55);
            padding-left: rem(88);
        }
    }

    &__text {
        font-size: rem(18);
        font-weight: 300;
        line-height: (24.1/18);
        color: #282828;

        @include below($mobile) {
            font-size: rem(28);
            line-height: (42/28);
        }

        &_about {
            max-width: rem(690);

            &:not(:last-child) {
                margin-bottom: rem(25);

                @include below($mobile) {
                    margin-bottom: rem(42);
                }
            }
        }
    }

    &__sub-title {
        font-size: rem(18);
        font-weight: 500;
        line-height: (28/18);
        color: #000000;

        @include below($mobile) {
            font-size: rem(28);
            line-height: (42/28);
        }
    }

    &__box {

        &:not(:last-child) {
            margin-bottom: rem(32);

            @include below($mobile) {
                margin-bottom: rem(19);
            }
        }
    }

    &__details {
        width: 34.5%;
        padding-left: rem(5);

        @include below($desktop) {
            width: 29.5%;
        }

        @include below($mobile) {
            width: 100%;
            margin-bottom: rem(53);
        }
    }

    &__about {

        position: relative;

        width: 65.5%;
        padding-left: rem(37);

        @include below($desktop) {
            width: 60%;
        }

        @include below($mobile) {
            width: 100%;
            padding-top: rem(52);
            padding-left: 0;
        }

        &::before {
            content: '';

            position: absolute;
            top: 0;
            left: 0;

            width: rem(1.5);
            height: 100%;

            background-image: radial-gradient( 50% 50%, circle closest-side, rgb(219,222,226) 0%, rgb(219,222,226) 19%, rgb(215,218,222) 26%, rgba(189,195,200,0.67843) 68%, rgba(184,190,196,0.76) 76%, rgb(184,190,196) 100%, rgb(184,190,196) 100%);

            @include below($mobile) {
                width: 100%;
                height: 1px;
            }
        }
    }
}
