mixin trainings-popup(data)
    +b.trainings-popup.mfp-hide.js-trainings-popup()&attributes(attributes)
        +e.BUTTON.close.js-trainings-popup-close Закрыть
        +e.content
            +e.title Запись на бесплатный тренинг
            +e.act Заполните, пожалуйста, все поля, чтобы мы могли вас записать
            +e.box
                +e.FORM.form(id="trainings-form")
                    +e.form-row
                        LABEL.form__label
                            |ФИО
                            INPUT.form__input(type="text" name="fio" placeholder="ФИО")
                    +e.form-row
                        LABEL.form__label
                            |Год рождения
                            INPUT.form__input.js-birth-year(type="text" name="birth_year" placeholder="Год рождения")
                    +e.form-row
                        LABEL.form__label
                            |Место жительства
                            INPUT.form__input(type="text" name="address" placeholder="Место жительства")

                    +e.form-row._radio
                        +e.label Опыт ведения бизнеса
                        RADIOGROUP.radio-group
                            +radio({
                                text: 'Нет опыта',
                                id: 'pickup1',
                                name: 'pickup',
                                className: '_theme_light _text_light',
                                checked: false
                            })
                            +radio({
                                text: 'Менее года',
                                id: 'pickup2',
                                name: 'pickup',
                                className: '_theme_light _text_light',
                                checked: true
                            })
                            +radio({
                                text: 'Более года',
                                id: 'pickup3',
                                name: 'pickup',
                                className: '_theme_light _text_light',
                                checked: false
                            })

                    +e.form-row._phone
                        LABEL.form__label
                            |Телефон
                            INPUT.form__input.js-phone-input(type="text" name="phone" placeholder="Телефон")
                    +e.form-row
                        LABEL.form__label
                            |E-mail
                            INPUT.form__input(type="text" name="email" placeholder="E-mail")
                    +e.form-row._submit
                        BUTTON.btn.btn-default Отправить заявку
