.trainings-popup {
    position: relative;

    width: rem(690);
    margin: auto;

    background: #3777e8 url('%=static=%assets/trainings-popup/popup-bg.png') no-repeat;
    background-size: contain;


    @include below($mobile){
        margin-top: rem(30);
    }


    &__content{
        padding: rem(66) rem(91) rem(93);
    }

    &__title{
        font-size: rem(32);
        font-weight: 300;
        color: #fff;
        letter-spacing: rem(-0.2);
    }

    &__act{
        margin-top: rem(39);

        font-size: rem(16);
        color: #bcbcbc;
        letter-spacing: rem(-0.3);


        @include below($mobile){
            font-size: rem(22);
        }
    }

    &__box{
        margin-top: rem(22);
    }

    &__form-row{
        margin-bottom: rem(23);

        .form__label{
            margin-bottom: 0;

            line-height: rem(31);
        }

        .form__input{
            margin-left: rem(11);


            @include placeholder{
                text-indent: -9999px;

                opacity: 0;
            }


            @include below($mobile){
                @include placeholder{
                    text-indent: 0;

                    opacity: 1;
                }
            }
        }

        .radio-group{
            margin-top: rem(16);
            margin-bottom: 0;
            margin-left: rem(1);
        }

        .radio{
            width: auto;


            @include below($mobile){
                width: 100%;
            }
        }

        .radio__label{
            margin-right: rem(40);
        }

        .btn{
            position: absolute;
            top: rem(58);
            left: 0;

            padding: 0.6875rem rem(54);
        }
        
        .form__input.error + label.error{
            position: absolute;
            right: 0;
            bottom: 0;

            display: block !important;
            padding: 0 .9375rem;

            font-size: 1rem;
            font-weight: 400;
            line-height: 1.81875;
            color: #fff;

            background: #e44549;
            
            &:before{
                content: '';

                position: absolute;
                bottom: 0;
                left: rem(-10);

                width: 0;
                height: 0;

                font-size: 0;

                border-width: 0 .625rem .625rem;
                border-style: solid;
                border-color: transparent transparent #e44549;
            }
        }
        
        &_radio{
            margin-top: rem(49);
        }

        &_phone{
            margin-top: rem(47);
        }

        &_submit{
            position: relative;

            margin-bottom: 0;
        }


    }

    &__label{
        font-size: rem(18);
        color: #fff;


        @include below($mobile){
             font-size: rem(26);
        }
    }


    &__close{
        position: absolute;
        top: rem(-20);
        right: rem(28);

        width: rem(32);
        height: rem(32);
        padding: 0;

        text-indent: -9999px;

        border: 0;
        background: url('%=static=%assets/trainings-popup/close.png') no-repeat;
        background-size: contain;
        outline: none;
    }

}


.trainings-popup-overlay.mfp-bg{
    z-index: 99999;
}

.trainings-popup-overlay.mfp-wrap{
    z-index: 100000;
}
