.measures-list {
    @include list-reset;

    @include above($mobile + 1) {
        display: flex;
        flex-wrap: wrap;
        margin: 0 rem(-50);
    }

    @include above($desktop + 1) {
        margin: 0 rem(-35);
    }

    @include below($mobile) {
        padding-left: rem(114);
    }

    @include between($mobile + 1, $desktop) {
        margin: 0 rem(-40) rem(-35);
    }

    &__item {
        position: relative;

        cursor: pointer;

        @include above($mobile + 1) {
            position: relative;

            width: (100% / 4);
            padding: 0 rem(35);
        }

        @include above($desktop + 1) {
            padding: 0 rem(34) 0 rem(31);

        }

        @include between($mobile + 1, $desktop) {
            margin-bottom: rem(35);
        }

        &::before {
            content: '';

            position: absolute;
            top: 0;
            left: rem(29);

            display: block;
            width: calc(100% - #{rem(29)});
            height: 100%;

            background-color: #fff;

            box-shadow: 0 8px 20px rgba(2, 6, 29, 0.1);
            opacity: 0;
            visibility: hidden;

            transition-timing-function: ease;
            transition-duration: .3s, .3s;
            transition-property: opacity, visibility;
        }

        &:hover {

            &::before {
                opacity: 1;
                visibility: visible;
            }

            .measures-list {

                &__link::before {
                    border-color: $color1;
                    background-color: $color1;
                }

                &__text {
                    color: $color1;
                }
            }
        }
    }

    &__link {
        position: relative;

        display: block;
        padding: rem(40) 0 rem(10) rem(40);

        font-size: rem(18);
        font-weight: 300;
        line-height: rem(28);
        color: #000;
        text-decoration: none;

        transition: all .2s;

        @include above($mobile + 1) {
            padding: rem(11) 0 rem(11) rem(34);
        }

        @include above($desktop + 1) {
            padding: rem(40) 0 rem(26) rem(40);
        }

        &::before {
            @include size(rem(18));
            content: '';

            position: absolute;
            z-index: 2;
            top: rem(52);
            left: -19px;

            border: 1px solid #000;
            transform: rotate(45deg);

            transition: all .3s;

            @include above($mobile + 1) {
                @include size(rem(12));
                top: rem(17);
                left: 0;
            }

            @include above($desktop + 1) {
                @include size(rem(12));
                top: rem(47);
                left: 0;
            }

            @include below($mobile) {
                @include size(rem(18));
            }
        }

        &:hover::before {
            // border-color: #3777e8;
            // background-color: #3777e8;
        }

        &:hover::after {
            // content: '';

            // position: absolute;
            // z-index: 0;
            // top: 0;
            // right: rem(-40);
            // bottom: rem(-14);
            // left: rem(-35);

            // background-color: #fff;
            // box-shadow: 0 8px 20px rgba(2, 6, 29, 0.1);
        }

        &:hover {
            // color: #3777e8;

            // box-shadow: 0 8px 20px rgba(2, 6, 29, .1);
        }

        strong {
            // display: block;

            font-weight: 500;
        }//
    }

    &__text {
        position: relative;
        z-index: 2;

        transition: color .3s ease;
    }
}
.cecutient-mode {
    .measures-list {
        &__item {
            &::before {
                box-shadow: none;
            }
        }
    }
}
