.social {
    &_theme_horizontal {
        @include above($mobile + 1) {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: flex-end;
        }

        @include below($mobile) {
            text-align: center;
        }
    }

    &__title {
        padding-top: rem(15);
        margin-bottom: rem(50);

        font-family: $font-2;
        font-size: rem(35);
        font-weight: 400;
        color: #fff;

        @include above($mobile + 1) {
            margin: 0 rem(20) 0 0;

            font-size: rem(13);
        }

        @include above($desktop + 1) {
            margin: 0 rem(23) 0 0;
        }
    }

    &__list {
        @include list-reset;
    }

    &_theme_horizontal &__list {
        display: flex;
        flex-wrap: wrap;

        @include below($mobile) {
            justify-content: space-between;
            padding: 0 rem(108);

            transform: translateX(rem(7));
        }

        @include above($mobile + 1) {
            position: relative;
            top: rem(3);
            right: rem(-4);

            padding-top: rem(10);
        }
    }

    &_theme_vertical &__item {
        @include size(rem(49));

        &:not(:last-child) {
            margin-bottom: rem(19);
        }
    }

    &_theme_horizontal &__item:not(:last-child) {
        @include above($mobile + 1) {
            margin-right: rem(25);
        }

        @include above($desktop + 1) {
            margin-right: rem(35);
        }

        @include below($desktop) {
            margin-right: rem(25);
        }
    }

    &__link {
        @include size(rem(100));
        position: relative;

        display: block;

        border: 1px solid #3777e8;
        transform: rotate(45deg);

        transition: all .3s;
        fill: #3777e8;

        @include above($mobile + 1) {
            @include size(rem(34));

            & .icon_vk {
                width: rem(20);
                height: rem(20);
            }

            & .icon_tw {
                width: rem(18);
                height: rem(13);
            }

            & .icon_fb {
                width: rem(8);
                height: rem(17);
            }

            & .icon_in {
                width: rem(14);
                height: rem(15);
            }
        }

        @include below($mobile) {
            @include size(rem(104.5));

            & .icon_vk {
                width: rem(55);
                height: rem(55);
            }

            & .icon_tw {
                width: rem(55);
                height: rem(39);
            }

            & .icon_fb {
                width: rem(25);
                height: rem(38);
            }

            & .icon_in {
                width: rem(42);
                height: rem(42);
            }
        }

        &:hover {
            background-color: #305beb;
            fill: #fff;
        }
    }

    &_theme_light &__link {
        background-color: rgba(#f8f9fb, .7);

        &:hover {
            background-color: #305beb;
            fill: #fff;
        }
    }

    &_theme_horizontal &__link {
        border-color: rgba(#3777e8, .7);
    }

    &_theme_simple &__link {
        border: 1px solid rgba(#fff, .7);
        background-color: transparent;
        fill: #fff;
    }

    &__icon {
        position: absolute;
        top: 50%;
        left: 50%;

        transform: translate(-50%, -50%) rotate(-45deg);
        fill: inherit;
    }
}
