include ../icon/icon

mixin social(data)
    +b.social()&attributes(attributes)
        if data.title
            +e.P.title= data.title

        +e.UL.list
            each item in data.items
                +e.item
                    +e.link(href= jv0 || item.url)
                        +icon({ icon: item.icon, class: 'social__icon' })
