include ../map-result/map-result

mixin map-results(data)
    +b.map-results()&attributes(attributes)

        +e.box._results.custom-scroll.custom-scroll_theme_standart
            +e.close
            +e.title Найдено:&nbsp;<span class="map-result__count">0</span> объектов
            +e.items
                if renderItems
                    each item in data.items
                        +e.item
                            +e.pic
                                +e.IMG.img(src='%=static=%img/assets/map/map-result/i.jpg')
                            +e.content
                                +e.A.name(href=jv0)!= item.name
                                +e.owner!= item.owner
                                +e.address!= item.address
                                +e.phone!= item.phone

        +e.box._result.custom-scroll.custom-scroll_theme_standart
            +map-result().map-results__map-result

