.map-results {
    height: 100%;
    overflow: hidden;

    border-right: 1px solid transparent;

    box-shadow: 0 rem(10) rem(30) rgba(47, 64, 76, 0.21);

    &__box {

        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;
        overflow-y: auto;

        background-color: #ffffff;

        transform: translateX(100%);

        transition: transform .3s ease-in;
        -webkit-overflow-scrolling: touch;

        &_open {
            transform: translateX(0);

            transition: transform .3s ease-out;
        }

        &_results {
            z-index: 1;
        }

        &_result {
            z-index: 2;
        }
    }

    &__break {
        position: absolute;

        clip: rect(0,0,0,0);

        &_visible {
            position: static;

            height: auto !important;

            clip: auto;
            
            & + .map-results__break {
                position: static;

                height: rem(85);
                clip: auto;
            }
        }
    }

    &__pic {
        width: rem(80);
        margin-right: rem(19);
    }

    &__img {
        width: 5rem;
    }

    &__content {
        position: relative;
        top: rem(-2);
    }

    &__title {
        padding-top: rem(24);
        padding-bottom: rem(10);
        padding-left: rem(19);

        font-size: rem(14);
        font-weight: 400;
        line-height: (28/14);
        color: #3777e8;

        border-bottom: rem(1) solid #f0f1f3;

        @include below($mobile) {
            padding-left: rem(48);

            font-size: rem(28);
            line-height: (56/28);
        }
    }

    &__items {
        padding: rem(23) rem(20);

        @include below($mobile) {
            padding: rem(38) rem(50);
        }
    }

    &__item {
        position: relative;

        display: flex;
        margin-bottom: rem(40);

        cursor: pointer;

        @include below($mobile) {
            padding-left: rem(56);
        }

        &_hidden {
            display: none;
        }
    }

    &__name {
        display: inline-block;
        margin-bottom: rem(10);

        font-size: rem(24);
        font-weight: 400;
        line-height: 1;
        color: #000000;
        text-decoration: none;

        @include below($mobile) {
            font-size: rem(36);
        }
    }

    &__owner {
        margin-bottom: rem(9);

        font-size: rem(14);
        font-weight: 300;
        line-height: 1;
        color: #000000;

        @include below($mobile) {
            font-size: rem(28);
        }
    }

    &__address {
        margin-bottom: rem(9);

        font-size: rem(18);
        font-weight: 300;
        line-height: 1;
        color: #858b91;

        @include below($mobile) {
            font-size: rem(28);
        }
    }

    &__phone {
        font-size: rem(18);
        font-weight: 300;
        line-height: 1;
        color: #858b91;

        @include below($mobile) {
            font-size: rem(28);
        }
    }

    &__close {
        position: absolute;
        z-index: 1;
        top: rem(25);
        right: rem(25);

        display: none;
        width: 2.75rem;
        height: 2.75rem;

        background-image: url(%=static=%assets/map/map-filter/close.svg);
        background-size: 100% 100%;

        @include below($mobile) {
            display: block;
        }
    }
}

.cecutient-mode {

    .map-results {

        &__items {
            padding-left: rem(49);
        }
    }
}
