.input-base {

    &__input {
        width: 100%;
        height: rem(32);
        padding-left: rem(13);

        font-size: rem(14);
        color: rgba(0, 0, 0, .4);

        border: 1px solid rgba(105, 112, 120, .6);
        border-radius: rem(4);
    }

    &:not(:last-child) {
        margin-bottom: rem(12);
    }
}
