include ../top-box/top-box
include ../info-box/info-box
include ../form-box/form-box
include ../content/content
include ../stories/stories
include ../sequence/sequence
include ../measures/measures
include ../slider/slider
include ../projects/projects

mixin p-investor(data)
    +b.p-investor()&attributes(attributes)
        +top-box(pInvestor.topBox).p-investor__top-box
            +info-box(pInvestor.ifobox).p-investor__info-box

        +form-box(formBox.investor).p-investor__form-box

        +content._theme_stories.p-investor__stories
            +e.H2.title <strong>Истории,</strong> где инвестиции подняли производство
                // подняли производство
            +stories({
                thumbImg: '%=static=%img/assets/stories/thumb2.jpg',
                thumbMobImg: '%=static=%img/assets/stories/thumb3.jpg'
            })

        +content._theme_measures.p-investor__measures
            +e.H2.title #[strong Меры]#{' '} поддержки
            .measures__content-item.measures__content-item_state_active
                ul.measures-list
                    li.measures-list__item
                        a.measures-list__link(href='javascript:void(0)')
                            p.measures-list__text
                                strong Сопровождениe
                                |  инвестиционных проектов по принципу «Одного окна»
                    li.measures-list__item
                        a.measures-list__link(href='javascript:void(0)')
                            p.measures-list__text
                                strong Индивидуальный подбор
                                |  площадки для реализации проекта
                    li.measures-list__item
                        a.measures-list__link(href='javascript:void(0)')
                            p.measures-list__text
                                strong Налоговые льготы:
                                |  снижение ставки налога на прибыль на 4,5%
                    li.measures-list__item
                        a.measures-list__link(href='javascript:void(0)')
                            p.measures-list__text
                                strong Предоставление
                                |  отраслевой аналитики
                    li.measures-list__item
                        a.measures-list__link(href='javascript:void(0)')
                            p.measures-list__text
                                strong Государственная гарантийная поддержка
                                |  инвестиционных проектов
                    li.measures-list__item
                        a.measures-list__link(href='javascript:void(0)')
                            p.measures-list__text
                                strong Предоставление льготных займов
                                |  до 300млн рублей
                a.btn.btn_theme_standart.measures__btn(href='javascript:void(0)')
                    span.btn__text Посмотреть все

        +sequence(pInvestor.sequence).p-investor__sequence

        #priority.content.content_theme_industry
            .container
                .content__inner
                    h2.content__title
                        b Приоритетные
                        |  области развития
                    .industry
                        .industry__items
                            .industry__item
                                .industry__inner
                                    .industry__content
                                        h3.industry__title Химическое производство
                                        p.industry__address
                                            | o Щелковский, Люберецкий
                                            br
                                            | и Раменский районы
                                        .industry__desc
                                            p.industry__text
                                                | В Московской области производится около 5% от всей выпускаемой химической продукции Российской Федерации.
                                                br
                                                | В Регионе в основном присутствуют предприятия вторичной переработки и производства конечных изделий, например, производство лаков и красок на базе импортного сырья. Практически вся продукция тонкой химии импортируется из-за рубежа.
                                            p.industry__text
                                                b Планируется привлечение инвестиций в следующих направлениях:
                                            ul.industry__list
                                                li.industry__list-item Производство высокотехнологичной продукции химической отрасли;
                                                li.industry__list-item Производство агрохимии;
                                                li.industry__list-item Производство косметики;
                                                li.industry__list-item Производство красок.
                                    .industry__thumb
                                        img.industry__img(alt='', role='presentation', src='https://lh3.googleusercontent.com/bnxQGHhH3cwbe-UeQu2eYYzdmI9-0GdpFhbpPqiS-ObR7z1WrL71wiaYDD7yV5od-d-hgFRpAEJot_6KfRJxtRocdJtVgyNqAqFV1N3mY1efc2ZvC-Sm_q-zwYDAPiSKisgGr_ky')
                            .industry__item
                                .industry__inner
                                    .industry__content
                                        h3.industry__title Стройматериалы и пластики
                                        p.industry__address
                                            | Солнечногорский район, Воскресенский, Коломенский районы и городской округ Егорьевск
                                            br
                                            | Солнечногорский, Мытищинский, Пушкинский районы, город Химки
                                        .industry__desc
                                            p.industry__text
                                                | На Московскую область приходится около 15 процентов от всех выпускаемых строительных и отделочных материалов в России. Ключевым драйвером развития отрасли стройматериалов является рост спроса за счет строительства в Москве и Московской области.
                                                br
                                                | Предприятия по производству пластиков специализируются на вторичной переработке и производстве готовых изделий. Хорошо развитыми являются сегменты производства пластмассовых изделий для строительства, а также сегмент производства шин.
                                            p.industry__text
                                                b Планируется привлечение инвестиций в следующих направлениях:
                                            ul.industry__list
                                                li.industry__list-item Производство стекла и изделий из стекла, сыпучих материалов;
                                                li.industry__list-item Производство пластиковых изделий для предприятий;
                                                li.industry__list-item
                                                    | Развитие НИОКР в направлении разработки композиционных материалов с высоким уровнем технических, эстетических и специальных характеристик.
                                    .industry__thumb
                                        img.industry__img(alt='', role='presentation', src='https://lh4.googleusercontent.com/YDxPVBkrT2sWPRZLES9_scqulPrldf5Xwofbm1S5-hg6Z88LcyqBfIRHrb_fFqXWDPrS28cQ7j_YczX1n6bJNeU3U4j53NBN5urs1nrTYJ3Q-BbH_A_OJ71m8tT-xF9MBfpeptYJ')
                            .industry__item
                                .industry__inner
                                    .industry__content
                                        h3.industry__title Фармацевтика
                                        p.industry__address
                                            | Серпуховской, Красногорский, Химкинском районы,
                                            br
                                            | Щелковский и Ногинский район
                                        .industry__desc
                                            p.industry__text
                                                | Фармацевтика и биофармацевтика является отраслью специализации Московской области: на Регион приходится больше трети объема производства всей фармацевтической продукции ЦФО.
                                                br
                                                | Ключевой фактор привлекательности Московской области - наличие высококвалифицированных кадров и специализированных НИИ в Пущино, а также большой рынок Москвы и Московской области с растущим спросом на более дорогие лекарственные средства.
                                            p.industry__text
                                                b Планируется привлечение инвестиций в следующих направлениях:
                                            ul.industry__list
                                                li.industry__list-item Производство инновационных препаратов;
                                                li.industry__list-item Производство БАДов (биологически активных добавок) полного цикла
                                                li.industry__list-item Создание организаций, специализирующихся на проведении клинических исследований.
                                    .industry__thumb
                                        img.industry__img(alt='', role='presentation', src='https://lh3.googleusercontent.com/2-t6E4_vyuqH3CUczQoK1IWPOJNmy48ZOB5-KswviG7WVC63M57rzNL-QAfQip3v71PQ8ht5vSFpmKwqO5EJUsiYeoHwCmCmprCDwr80a_c53lCJDgQAXv1gp0sbJTmo6CDaF_Ff')
                            .industry__item
                                .industry__inner
                                    .industry__content
                                        h3.industry__title Пищевая промышленность
                                        p.industry__address
                                            | Раменский район
                                            br
                                            | и вблизи Калужского автокластера
                                        .industry__desc
                                            p.industry__text
                                                | Пищевая промышленность является второй по объему выручки отраслью в Московской области и одной из крупнейших по занятости. Большие объемы выручки отрасли объясняются в первую очередь емким рынком Москвы и Московской области с постоянно растущим спросом.
                                            p.industry__text
                                                b Планируется привлечение инвестиций в следующих направлениях:
                                            ul.industry__list
                                                li.industry__list-item Производство молочной продукции;
                                                li.industry__list-item производство мясной продукции и колбасных изделий;
                                                li.industry__list-item производство экологически чистых продуктов питания;
                                                li.industry__list-item Производство батончиков и снэков.
                                    .industry__thumb
                                        img.industry__img(alt='', role='presentation', src='https://lh3.googleusercontent.com/SZ3_FJG3Tm7bHDcKLaksYFTj-slasBirkaNDQY86DH3QVWit51gA4rfZyGEkdX0ik8Nia3UCvGOTD7HbYzEHOUa6pvsDTKt-oxjMuEeZlAJ-kckvHGCgTqij3jRWlVKaAj7-XPzu')
                            .industry__item
                                .industry__inner
                                    .industry__content
                                        h3.industry__title Промышленное оборудование
                                        p.industry__address
                                            | o Истринский и Рузский районы
                                            br
                                            | и вблизи Калужского автокластера
                                        .industry__desc
                                            p.industry__text
                                                | Наиболее развитыми в рамках отрасли являются производства промышленных холодильников и вентиляционного оборудования, насосов и компрессоров. Инвестиции в предприятия Московской области составили около трети от инвестиций в ЦФО в 2013 году
                                            p.industry__text
                                                b Планируется привлечение инвестиций в следующих направлениях:
                                            ul.industry__list
                                                li.industry__list-item Производство приводов и подъемного оборудования;
                                                li.industry__list-item Производство станков;
                                                li.industry__list-item Производство оборудования для пищевой промышленности;
                                                li.industry__list-item Производство компонентов для промышленных машин и оборудования.
                                    .industry__thumb
                                        img.industry__img(alt='', role='presentation', src='https://lh6.googleusercontent.com/ClL5oz7x7Pqoly_DJyHEW8ad7Lcq72n7UZ0438KVDJkt73_nUWDrrghgWh6glkZFrPebMf2dSaciHBL_wuLaO3SasRX3K4BEbCCLl8EHoDEBAVOwxmf7XYz16_GKK9u0TUR0kwaT')
                            .industry__item
                                .industry__inner
                                    .industry__content
                                        h3.industry__title Аэрокосмическая промышленность
                                        p.industry__address
                                            | Солнечногорский район
                                            br
                                            | и вблизи Калужского автокластера
                                        .industry__desc
                                            p.industry__text
                                                | Аэрокосмическая промышленность хорошо развита в Московской области. В Регионе, преимущественно в наукограде Королев, сконцентрировано большое количество как крупных производственных предприятий аэрокосмической промышленности, так и конструкторских бюро и исследовательских центров.
                                            p.industry__text
                                                b Планируется привлечение инвестиций в следующих направлениях:
                                            ul.industry__list
                                                li.industry__list-item Производство компонентов для космических аппаратов и двигателей;
                                                li.industry__list-item Производство вертолетов;
                                                li.industry__list-item Создание испытательных центров;
                                                li.industry__list-item Создание НИОКР-центров для развития разработок в области аэрокосмоса.
                                    .industry__thumb
                                        img.industry__img(alt='', role='presentation', src='https://lh5.googleusercontent.com/_jsjzqfNPViGYjrUWh5jw79Ha2qBUuyux7V10SZVuNyhWLRGOcVY0BuyH2cha-lyIlRCr92ewG5LU1mu9E3WY4mFzaY6xM6jj1BWZBgFPDhLYOAAyb__ipV-u6Z_o_Q6K3k5WqGi')
                        .industry__controls
                            .industry__control
                                svg.icon.icon_chemical-production.industry__icon(height='126px', width='128px')
                                    use(xlink:href='svg-symbols.svg#chemical-production', xmlns:xlink='http://www.w3.org/1999/xlink')
                                p.industry__caption Химическое производство
                            .industry__control
                                svg.icon.icon_building-materials.industry__icon(height='61px', width='63px')
                                    use(xlink:href='svg-symbols.svg#building-materials', xmlns:xlink='http://www.w3.org/1999/xlink')
                                p.industry__caption Стройматериалы и пластики
                            .industry__control
                                svg.icon.icon_engineering.industry__icon(height='47px', width='96px')
                                    use(xlink:href='svg-symbols.svg#engineering', xmlns:xlink='http://www.w3.org/1999/xlink')
                                p.industry__caption Фармацевтика
                            .industry__control
                                svg.icon.icon_food.industry__icon(height='56px', width='56px')
                                    use(xlink:href='svg-symbols.svg#food', xmlns:xlink='http://www.w3.org/1999/xlink')
                                p.industry__caption Пищевая промышленность
                            .industry__control
                                svg.icon.icon_metallurgy.industry__icon(height='57px', width='48px')
                                    use(xlink:href='svg-symbols.svg#metallurgy', xmlns:xlink='http://www.w3.org/1999/xlink')
                                p.industry__caption Промышленное оборудование
                            .industry__control
                                svg.icon.icon_food.industry__icon(height='56px', width='56px')
                                    use(xlink:href='svg-symbols.svg#aero', xmlns:xlink='http://www.w3.org/1999/xlink')
                                p.industry__caption Аэрокосмическая промышленность


        +content._theme_projects.p-investor__projects
            +e.H2.title #[strong Карта]#{' '} объектов
            +projects(projects.investoram)
