.p-investor {
    padding-top: rem(130);

    background: url(%=static=%general/Foto_head.png) center top no-repeat;

    background-size: 100% auto;

    @include below($desktop) {
        padding-top: rem(130);

        background-image: url(%=static=%general/Foto_head.png);
    }

    @include below($mobile) {
        background-image: url(%=static=%general/Foto_head.png);
        background-position: center top 0;
        background-size:rem(750) auto;
    }


    .content_theme_stories {
        //padding-top: 0;
    }

    &__info-box {
        background-color: #fff;
    }

    &__form-box {
        margin-bottom: rem(45);

        @include below($desktop) {
            margin-bottom: 0;
        }
    }

    &_dev {
        width: 100%;
        padding-top: rem(130);

        background: url(%=static=%general/Foto_head6.jpg) center top no-repeat / contain;

        .s-block-1 {
            padding-top: 0;
        }

        .s-block-5 {
            padding-top: 0;

            .content {

                &.content_theme_rent-land {
                    padding-top: 0;
                }

                &__inner {
                    padding-top: 0;
                    padding-bottom: 0;
                    padding-left: 0;
                }
            }
        }

        .s-block-8 {
            padding-top: 0;
            padding-bottom: 0;

            &__container {
                padding-top: 0;
                padding-left: 0;
            }
        }

        .s-block-6 {
            padding-top: 0;

            .content_theme_return {
                .content__inner {
                    padding-top: 0;
                    padding-left: 0;
                }
            }
        }

        .s-block-7 {

            .content__inner {
                padding-top: 0;
                padding-left: 0;
            }
        }
    }

    &__measures {
        // display: none;
        padding-top: 0;
        margin-bottom: rem(20);

        @include below($desktop) {
            margin-bottom: rem(75);
        }

        @include below($mobile) {
            margin-bottom: 0;
        }

        .content__inner {
            padding-top: rem(76);

            @include below($desktop) {
                padding-top: rem(30);
            }
        }

        .content__title {
            margin-bottom: rem(18);
        }

        .measures__btn {
            margin-top: rem(40);
        }

        .measures-list__item {
            @include below($mobile) {
                &:nth-child(2n + 1) {
                    display: none;
                }
            }
        }
    }

    &__projects {
        margin-bottom: rem(92);
        overflow-x: visible;

        @include below($desktop) {
            padding-bottom: rem(60);
            margin-bottom: rem(60);
        }

        @include below($mobile) {
            padding-top: 0;
            padding-bottom: rem(64);
            margin-top: 0;
            overflow-x: hidden;
        }

        &::before {
            height: 100%;

            @include below($desktop) {
                left: rem(55);
            }

            @include below($mobile) {
                display: none;
            }
        }

        .content__inner {
            padding-top: rem(82);
            padding-bottom: rem(25);

            @include below($desktop) {
                padding-top: rem(69);
                padding-left: rem(72);
            }

            @include below($mobile) {
                padding-top: rem(58);
                padding-right: rem(40);
                padding-left: rem(85);
            }
        }

        .projects__location {
            margin-top: 0;

            @include below($desktop) {
                display: block;

                background: url(%=static=%assets/projects/map.jpg);
                background-position-x: right;
                background-size: cover;
            }

            @include below($mobile) {
                display: flex;
                flex-direction: column;

                background: #fff;
            }
        }

        .projects {
            margin-top: rem(25);

            @include below($desktop) {
                padding-right: rem(75);
                margin-top: rem(19);
            }

            @include below($mobile) {
                padding-right: 0;
                margin-top: rem(16);
            }
        }

        .content__title {
            margin-bottom: 0;
        }

        .projects__title {
            margin-top: rem(20);

            font-size: rem(24);
            line-height: (36/24);

            @include below($mobile) {
                margin-bottom: rem(66);

                font-size: rem(28);
                line-height: (42/28);
            }

            &_mobile {
                font-size: rem(32);
                font-weight: 300;
                line-height: (42/32);

                color: #ffffff;

                @include below($desktop) {
                    &::before,
                    &::after {
                        display: none;
                    }
                }

                b {
                    font-weight: 500;
                }
            }

            b {
                font-weight: 500;
            }

            &::before {
                bottom: rem(-3);

                @include below($mobile) {
                    bottom: rem(-17);

                    width: calc(100vw - 5.3125rem);
                }
            }

            &::after {
                bottom: rem(-8);
            }
        }

        .projects__map {
            top: 0;

            margin-top: rem(-55);

            @include below($mobile) {
                margin-top: rem(-180);
                margin-left: rem(20);
            }
        }

        .projects__map-wrap {
            @include below($desktop) {
                display: none;
            }

            @include below($mobile) {
                display: block;
            }
        }

        .projects__right {
            @include below($desktop) {
                display: none;
            }

            @include below($mobile) {
                display: block;
            }
        }

        .projects__left {
            @include below($desktop) {
                position: relative;

                width: 66.8%;
                padding: rem(40) rem(63) rem(22);

                background-color: rgba(55, 119, 232, .9);
            }

            @include below($mobile) {
                width: 100%;
                padding: 0;

                background-color: transparent;
            }
        }
    }

    &__stories {
        @include below($desktop) {
            padding-top: rem(94);
        }

        @include below($mobile) {
            padding-top: rem(104);
        }

        .stories__link {
            @include below($desktop) {
                padding: rem(28) rem(22) 0;
            }
        }

        .content__title {
            @include below($desktop) {
                margin-bottom: rem(71);
            }

            @include below($mobile) {
                margin-bottom: 0;

                line-height: normal;

                & + .stories {
                    margin-top: rem(47);
                }
            }
        }

        .content__inner {
            // padding-right: rem(107);

            @include below($desktop) {
                padding-top: rem(10);
                padding-right: 0;
                padding-bottom: 0;
                padding-left: rem(74);
            }

            @include below($mobile) {
                padding-right: rem(92);
                padding-left: rem(90);
            }
        }

        .stories__content {
            @include below($desktop) {
                padding-left: rem(54);
            }

            @include below($mobile) {
                padding-left: 0;
                margin-top: rem(67);
            }
        }

        .stories__controls {
            padding-right: 0;

            @include below($desktop) {
                margin-top: rem(82);
            }

            @include below($mobile) {
                margin-top: rem(88);
            }
        }

        .stories__control {
            @include below($desktop) {

                width: rem(159);
                height: rem(159);
                &:not(:nth-child(5n)) {
                    margin-right:rem(57);
                }
            }

            @include below($mobile) {
                width: rem(200);
                height: rem(199);
            }
        }
    }

    &__sequence {
        overflow-x: hidden;

        @include below($desktop) {
            margin-bottom: rem(30);
        };

        @include below($mobile) {
            margin-bottom: rem(72);
        }
    }

    &_support {

        .s-block-1 {
            padding-top: 0;
        }
    }

    &_support-fund {

        .s-block-7 {

            .content {

                &__inner {
                    padding-top: 0;
                    padding-left: 0;
                }
            }
        }
    }

    &_bis {
        width: 100%;
        padding-top: rem(130);

        background: url(%=static=%general/Foto_head5.jpg) center top no-repeat / contain;
    }

    &_support-co {

        .s-block-8 {
            padding-top: 0;
            padding-bottom: 0;
        }

        .s-block-8__container {
            padding: 0;
        }
    }

    &_support-land {

        .s-block-5 {
            padding-top: 0;

            .content {
                padding-top: 0;

                &__inner {
                    padding-top: 0;
                    padding-left: 0;
                }
            }
        }
    }

    &_support-sub {

        .s-block-6 {
            padding-top: 0;

            .content {

                &.content_theme_return {
                    .content__inner {
                        padding-top: 0;
                        padding-left: 0;
                    }
                }
            }
        }
    }
}


.cecutient-mode .p-investor {
    padding-top: rem(65);

    background: none;

    &__projects .projects {
        margin-top: 10px;
    }

}
