mixin support-form(data)
    +b.FORM.support-form()&attributes(attributes)
        +e.H4.title Есть вопросы? #[strong Пишите!]

        +e.row
            +e.LABEL.label Ваше имя
            +e.INPUT.input(type='text' placeholder='Ваше имя' required)

        +e.row
            +e.LABEL.label Ваш е-mail адрес
            +e.INPUT.input(type='email' placeholder='Ваш е-mail адрес' required)

        +e.row
            +e.LABEL.label и ваш телефон
            +e.INPUT.input(type='tel' placeholder='и ваш телефон' required)

        +e.row._select
            +e.LABEL.label Вы хотели бы узнать у нас про
            +e.select-wrap
                +e.SELECT.select
                    option Выбор проекта
                    option Помощь предпринимателям
                    option Создание проекта

        +e.BUTTON.submit(type='submit') Запросить консультацию
