mixin investclimate(data)
    +b.investclimate()&attributes(attributes)
        +e.UL.list
            each item in data.list
                +e.item
                    +e.inner
                        +e.H3.title!= item.title
                        +e.P.desc!= item.desc

                        +e.UL.files
                            each file in item.files
                                +e.files-item
                                    +e.file(href=jv0 class=file.ico)
                                        +e.file-name!= file.name
                                        if (file.description)
                                            +e.file-description= file.description
                                        if (file.size)
                                            +e.file-size= file.size
        if (data.bottom.view)
            +e.bottom
                +e.btn.btn_theme_default(href=jv0) Подробнее о плане развития
