.investclimate {

    &__list {
        @include list-reset;
        display: flex;
        align-items: flex-start;
        counter-reset: item;

        @include below($desktop) {
            align-items: stretch;
        }

        @include below($mobile) {
            flex-direction: column;
        }
    }

    &__item {
        position: relative;
        z-index: 0;

        width: 50%;
        padding-top: rem(78);
        padding-right: rem(50);
        padding-left: rem(74);

        @include below($desktop) {
            display: flex;
            flex-wrap: wrap;
            padding-right: rem(35);
        }

        @include below($mobile) {
            width: 100%;
            padding-right: 0;
            padding-left: 0;
        }

        &:not(:last-child) {
            margin-right: rem(100);

            @include below($desktop) {
                margin-right: rem(80);
            }

            @include below($mobile) {
                margin-right: 0;
                margin-bottom: rem(59);
            }

            &::after {
                content: '';

                position: absolute;
                top: rem(10);
                right: 0;
                bottom: 0;

                width: 1px;

                background: linear-gradient(180deg, #b7b8bb 1px, transparent 0) repeat-y;
                background-size: 1px 3px;

                @include below($desktop) {
                    right: rem(-4);
                }

                @include below($mobile) {
                    top: auto;
                    right: auto;
                    bottom: 0;
                    left: rem(-85);

                    width: 100vw;
                    height: 1px;

                    border-bottom: 1px dotted #b7b8bb;
                    background: transparent;
                }
            }
        }

        &::before {
            content: counter(item, decimal-leading-zero) ' ';

            position: absolute;
            z-index: -2;
            top: 0;
            left: rem(-7);

            font-size: rem(160);
            font-weight: 500;
            line-height: 1;
            color: #3777e8;
            counter-increment: item;

            @include below($mobile) {
                left: rem(-28);
            }
        }
    }

    &__inner {
        @include below($desktop) {
            display: flex;
            flex-direction: column;
            flex-grow: 1;

            @media (-ms-high-contrast: none), (-ms-high-contrast: active) {
                display: block;
            }
        }

        @include below($mobile) {
            padding-right: rem(0);
            padding-bottom: rem(66);
            padding-left: rem(51);
        }

        &::after {
            content: '';

            position: absolute;
            z-index: -2;
            top: rem(60);
            right: 0;
            bottom: 0;
            left: rem(38);

            background-color: rgba(#f8f9fb, .9);

            @include below($mobile) {
                left: rem(16);
            }
        }
    }

    &__conditions {
        position: absolute;
        top: rem(22);
        left: rem(-102);

        width: rem(273);
        padding-top: rem(2);
        padding-right: rem(9);
        padding-bottom: rem(2);

        font-size: rem(16);
        font-weight: 500;
        line-height: normal;
        color: $color2;
        text-align: right;
        letter-spacing: rem(1.3);
        text-transform: uppercase;

        background-color: $color1;
    }

    &__percent {
        font-size: rem(220);
        font-weight: 700;
        color: $color1;
        text-shadow: 0 10px 30px rgba(47, 64, 76, 0.21);

        &::after {
            content: '%';

            display: inline-block;
            margin-left: rem(-18);

            font-size: rem(100);
            text-indent: rem(-38);
        }
    }

    &__title {
        position: relative;

        margin: 0;

        font-size: rem(32);
        font-weight: 300;
        line-height: (42 / 32);

        @include below($mobile) {
            font-size: rem(42);
            line-height: (48/42);
        }

        &::after {
            content: '';

            display: block;
            width: rem(65);
            height: 1px;
            margin: rem(29) 0 rem(35);

            background-color: #000;

            @include below($desktop) {
                margin-bottom: rem(17);
            }

            @include below($mobile) {
                margin-top: rem(20);
            }
        }

        b {
            font-weight: 500;
        }

    }

    &__desc {
        font-size: rem(18);
        font-weight: 300;
        line-height: (24 / 18);

        @include below($desktop) {
            margin-bottom: rem(50);
        }

        @include below($mobile) {
            margin-top: 0;

            font-size: rem(28);
            line-height: (42/28);

            br {
                display: none;
            }
        }

        b {
            font-weight: 500;
        }
    }

    &__files {
        @include list-reset;
        margin-top: rem(50);

        @include below($desktop) {
            margin-top: auto;
        }

        @include below($mobile) {
            margin-top: rem(-2);
            margin-left: rem(-47);
        }
    }

    &__file {
        position: relative;

        display: block;
        padding-left: rem(69);

        text-decoration: none;

        @include below($mobile) {
            padding-left: rem(49);

            @media (-ms-high-contrast: none), (-ms-high-contrast: active) {
                padding-left: 49px;
            }
        }

        &::before {
            content: '';

            position: absolute;
            top: 0;
            left: 0;

            width: rem(43);
            height: rem(46);


            background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0NCIgaGVpZ2h0PSI0NiIgdmlld0JveD0iMCAwIDQ0IDQ2Ij48cGF0aCBmaWxsPSIjMzc3N2U4IiBkPSJNMzAuNiAxLjY1SDEyLjY3bC0uMDkgMTAuOTRIMi43NmwtLjE1IDMxLjc5SDMwLjZ2LTMuNTZhMTIuNzggMTIuNzggMCAwIDEtMTIuMDQtMTIuNzhjMC02LjgyIDUuMzQtMTIuNDIgMTIuMDQtMTIuNzh6bTEuNiA0NC4zNEgxbC4xNi0zNC42TDExLjA2LjYxbC41Ni0uNi4wMi4wMmgyMC41N3YxNS4yNEExMi43OSAxMi43OSAwIDAgMSA0NCAyOC4wNGMwIDYuNzUtNS4yMSAxMi4yOS0xMS44IDEyLjc3ek0xMSAxMC45N2wuMDYtNy45NS03LjMyIDcuOTV6TTMwIDIzaDJ2OC40MmwzLjE4LTMuMiAxLjE0IDEuMTQtNS4wNCA1LjA3LTUuMDQtNS4wNyAxLjE0LTEuMTRMMzAgMzAuODV6bTEuMjgtNi4xNGExMS4xNiAxMS4xNiAwIDAgMC0xMS4xMSAxMS4xOGMwIDYuMTcgNC45OCAxMS4xOCAxMS4xMSAxMS4xOCA2LjEzIDAgMTEuMTEtNS4wMSAxMS4xMS0xMS4xOCAwLTYuMTYtNC45OC0xMS4xOC0xMS4xMS0xMS4xOHoiLz48L3N2Zz4=');
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100%;

            @media (-ms-high-contrast: none), (-ms-high-contrast: active) {
                width: 42px;
                height: 46px;

                background-size: 42px 46px;
            }

            @supports (-ms-ime-align:auto) {
                width: 42px;
                height: 46px;

                background-size: 42px 46px;
            }

            @include below($mobile) {
                top: rem(11);
            }
        }

        &_ico-globe {

            &::before {
                width: rem(43);
                height: rem(42);

                background-image: url('%=static=%minified-svg/globe.svg');

                @media (-ms-high-contrast: none), (-ms-high-contrast: active) {
                    width: 43px;
                    height: 42px;

                    background-size: 43px 42px;
                }
            }
        }
    }

    &__file-name {
        display: block;
        margin-bottom: rem(4);

        font-size: rem(18);
        font-weight: 300;
        line-height: (24 / 18);
        color: #3777e8;

        @include below($mobile) {
            font-size: rem(28);
            line-height: (42/28);
        }
    }

    &__file-size {
        font-size: rem(14);
        font-style: italic;
        color: #000;

        @include below($mobile) {
            font-size: rem(28);
            line-height: (42/28);
        }
    }

    &__file-description {
        display: block;

        font-size: rem(14);
        font-style: italic;
        line-height: rem(23);
        color: $dark;
    }

    &__bottom {
        padding-right: rem(90);
        margin-top: rem(65);

        text-align: center;

        @include below($desktop) {
            padding-right: rem(73);
        }

        @include below($mobile) {
            padding-right: rem(35);
            margin-top: rem(5);
        }
    }

    &__btn {
        position: relative;

        display: inline-block;
        padding: 0 rem(73) 0 rem(50);

        font-size: rem(14);
        font-weight: 500;
        line-height: rem(52);
        // color: #e6e8ee;
        text-decoration: none;
        text-transform: uppercase;

        // background-color: #3777e8;
        box-shadow: 0 rem(15) rem(40) rem(-15) rgba(55, 119, 232, 0.6);

        transition: all .3s;

        @include below($mobile) {
            min-width: rem(569);
            padding-right: 0;
            padding-left: 0;

            font-size: rem(28);
            line-height: (108/28);
        }


        &:hover {
            background: #305beb;
        }

        &::after {
            @include center($horiz: false);
            content: '';

            right: rem(30);

            width: rem(10);
            height: rem(16);

            background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI5LjA4IiBoZWlnaHQ9IjE0Ljc0IiB2aWV3Qm94PSIwIDAgOS4wOCAxNC43NCI+PHBhdGggZmlsbD0ibm9uZSIgc3Ryb2tlPSIjZmZmIiBzdHJva2UtbWl0ZXJsaW1pdD0iNTAiIGQ9Ik0uNyAxNC4xOGw3LjQ1LTYuODFMLjcuNTYiLz48L3N2Zz4=');
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100%;

            @include below($mobile) {
                width: rem(16);
                height: rem(28);
            }
        }
    }
}
