.info-box {
    position: relative;

    padding: rem(93) rem(103) rem(70);

    @include below($desktop) {
        padding: rem(74) rem(73) rem(100);
    }

    @include below($mobile) {
        padding-top: rem(69);
        padding-right: 0;
        padding-left: 0;
    }

    &__content {
        @include below($mobile) {
            padding-right: rem(45);
            padding-left: rem(86);
        }
    }

    &__title {
        margin-top: 0;
        margin-bottom: rem(19);

        font-size: rem(32);
        font-weight: 300;
        line-height: (48/32);
        color: #282828;

        @include below($desktop) {
            font-size: rem(28);
            line-height: (42/28);
        }

        @include below($mobile) {
            font-size: rem(36);
            line-height: (52/36);
        }

        b {
            letter-spacing: rem(-.5);
        }
    }

    &__item-content {
        position: relative;
    }

    &__description {
        margin-top: 0;
        margin-bottom: rem(75);

        font-size: rem(24);
        font-weight: 300;
        line-height: (34/24);
        color: #282828;

        @include below($desktop) {
            margin-bottom: rem(65);
        }

        @include below($mobile) {
            font-size: rem(28);
            line-height:  rem(42);
        }

        &_size_s {
            margin-bottom: rem(90);

            font-size: rem(18);
            line-height: (28/18);

            @include below($mobile) {
                font-size: rem(28);
                line-height: rem(42);
            }
        }
    }

    &__items {
        display: flex;
        margin-bottom: rem(63);

        @include below($mobile) {
            flex-direction: column;
            margin-bottom: rem(45);
        }
    }

    &__sub-title {
        position: relative;
        z-index: 1;

        font-size: rem(16);
        font-weight: 500;
        line-height: (24/16);
        color: #000000;
        text-transform: uppercase;

        @include below($mobile) {
            font-size: rem(28);
            line-height: (44/28);
        }

        &::after {
            content: '';

            position: absolute;
            z-index: -1;
            top: rem(-7);
            left: rem(-30);

            width: rem(175);
            height: calc(100% + 1rem);

            background-color: #ffffff;
            opacity: 0.9;

            @include below($desktop) {

                top: rem(-10);
                left: rem(-30);
            }

            @include below($mobile) {
                top: rem(-25);
                left: rem(-40);
            }
        }
    }

    &__text {
        font-size: rem(16);
        font-weight: 300;
        line-height: (24/16);
        color: #000000;

        @include below($mobile) {
            font-size: rem(28);
            line-height: (44/28);
        }

        &::before {
            content: '';

            display: block;
            width: rem(65);
            height: 1px;
            margin: rem(24) 0;

            background-color: #000;

            @include below($mobile) {
                width: rem(130);
                margin: rem(43) 0 rem(36);
            }
        }
    }

    &__ico {
        position: absolute;
        top: rem(-75);
        left: rem(-53);

        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        width: rem(85);
        height: rem(85);

        @include below($desktop) {
            top: rem(-60);
            left: rem(-43);

            width: rem(70);
            height: rem(70);
        }

        @include below($mobile) {
            top: rem(-105);
            left: rem(-95);

            width: rem(110);
            height: rem(110);
        }

        img {
            max-width: 100%;
            max-height: 100%;

            @include below($mobile) {
                width: 100%;
            }
        }
    }

    &__subnav {
        position: absolute;
        top: 0;
        left: rem(40);

        width: calc(100% - 80px);
        padding-top: rem(14);
        padding-bottom: rem(16);

        border-top: 1px solid transparent;
        border-bottom: 1px solid rgba(#4193ce, .2);

        &_scroll {
            position: fixed;
            z-index: 99999;
            left: 0;

            width: 100%;

            border-top-color: rgba(#282828, .1);
            border-bottom-color: transparent;
            background-color: #fff;
            box-shadow: none;

            transition: top .5s, background .5s;

            .info-box__ul {
                max-width: $container;
                padding-left: rem(40);
                margin: 0 auto;

                @include below($desktop) {
                    max-width: rem(1170);
                }
            }
        }

        &_position {
            z-index: 100000;

            box-shadow: rem(5) rem(5) rem(15) 0 rgba(2, 6, 29, .07);
        }
    }

    &__subnav-link {
        font-size: rem(16);
        line-height: rem(28);
        color: #282828;
        text-decoration: none;

        transition: color .5s;

        &:hover {
            color: #3777e8;
        }

        &_active {
            color: #3777e8;
        }
    }

    &__ul {
        padding-left: 0;

        font-size: 0;
    }

    &__li {
        display: inline-block;

        &:not(:last-child) {
            margin-right: rem(50);
        }
    }


    &__item {
        position: relative;

        width: 33.333333%;
        padding-top: rem(65);
        padding-left: rem(43);

        @include below($desktop) {
            padding-top: rem(55);
            padding-left: rem(40);
        }

        @include below($mobile) {
            width: 100%;
            padding-top: rem(100);
            padding-left: rem(65);
            margin-bottom: rem(39);
        }

        &:nth-child(2n) {
            padding-left: rem(75);

            @include below($desktop) {
                width: 35.33333%;
                padding-left: rem(99);
            }

            @include below($mobile) {
                width: 100%;
                padding-left: rem(65);
            }
        }

        &:nth-child(3n) {
            padding-left: rem(60);

            @include below($desktop) {
                width: 31.33333%;
                padding-left: rem(90);
            }

            @include below($mobile) {
                width: 100%;
                padding-left: rem(65);
            }
        }
    }

    &__bottom {
        text-align: center;

        @include below($mobile) {
            width: 100%;
            padding: 0 rem(19);
        }
    }

    &__btn {
        display: inline-block;

        //box-shadow: 0 0.625rem 1.875rem rgba(47, 64, 76, 0.21);

        @include below($mobile) {
            width: 100%;
        }
    }


        &__statistic {
            display: flex;
            align-items: flex-end;
            height: rem(84);

            font-size: rem(32);
            font-weight: 500;
            color: #3777e8;

            b {
                margin-right: rem(11);

                font-size: rem(86);
                font-weight: 700;
                line-height: rem(79);
            }

            sup {
                top: rem(-27);

                font-size: rem(18);
            }

            span {
                display: block;
                width: rem(100);

                @include below($desktop) {
                    margin-bottom: rem(6);

                    line-height: (36/32);
                }
            }
        }

        &__components {
            padding-top: rem(49);
            margin-top: rem(-10);

            border-top: 1px dotted #b7b8bb;
        }

        &__components-top {
            display: flex;
            align-items: flex-start;
            margin-bottom: rem(60);

            @include below($desktop) {
                margin-bottom: rem(40);
            }

            @include below($mobile) {
                flex-direction: column;
                padding-left: rem(90);
                margin-bottom: rem(61);
            }
        }

        &__components-title {
            position: relative;

            max-width: rem(247);
            margin: 0;
            margin-right: rem(147);

            font-size: rem(32);
            font-weight: 300;
            line-height: (42 / 32);

            @include below($mobile) {
                font-size: rem(42);
                line-height: (48/42);
            }

            &::after {
                content: '';

                display: block;
                width: rem(65);
                height: 1px;
                margin: rem(18) 0 0;

                background-color: #000;
            }

            b {
                font-weight: 500;
            }
        }

        &__components-list {
            @include list-reset;
            display: flex;
            flex-wrap: wrap;
            margin-bottom: rem(-22);

            @include below($mobile) {
                flex-direction: column;
                padding-right: rem(40);
            }
        }

        &__components-item {
            position: relative;

            width: 50%;
            padding-left: rem(42);
            margin-bottom: rem(22);

            font-size: rem(16);
            text-transform: uppercase;

            &::before {
                @include size(11px);
                content: '';

                position: absolute;
                top: rem(10);
                left: 0;

                border: 1px solid #000;
                transform: rotate(45deg);
            }

            b {
                display: block;

                font-size: rem(32);
                font-weight: 500;
            }
        }

        &__components-btn {
            position: relative;

            padding: rem(15) rem(86) rem(15) rem(50);

            color: #000;

            box-shadow: 0 5px 50px -20px rgba(0, 0, 0, 0.75);

            &::before {
                @include center($horiz: false);
                content: '';

                right: rem(54);

                width: rem(8);
                height: rem(14);

                background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI5LjA4IiBoZWlnaHQ9IjE0Ljc0IiB2aWV3Qm94PSIwIDAgOS4wOCAxNC43NCI+PHBhdGggZmlsbD0ibm9uZSIgc3Ryb2tlPSIjMDAwIiBzdHJva2UtbWl0ZXJsaW1pdD0iNTAiIGQ9Ik0uNyAxNC4xOGw3LjQ1LTYuODFMLjcuNTYiLz48L3N2Zz4=');
                background-repeat: no-repeat;
                background-position: center;
                background-size: 100%;
            }
        }

        &_coworking {
            @include padding_y(0);
            padding-left: 0;

            .info-box {
                &__content {
                    @include below($mobile) {
                        padding-left: 0 !important;
                    }
                }

                &__text {

                    &::before {
                        margin-top: rem(16);
                    }
                }

                &__title {
                    line-height: rem(40);
                }

                &__description_size_s {
                    margin-bottom: rem(70);
                }

                &__ico {
                    @include above($mobile + 1) {
                        left: rem(-36);
                    }
                }

                &__sub-title {

                    &::after {
                        left: rem(-17);

                    }
                }

                &__item {
                    padding-top: rem(69);

                    &:nth-child(2n) {
                        padding-left: rem(39);
                    }

                    &:nth-child(3n) {
                        padding-left: rem(36);
                    }
                }
            }
        }
    }

.cecutient-mode .info-box {
    padding-top: rem(47);
    padding-right: 0;
    padding-left: 0;

    &__title {
        margin-bottom: rem(50);

        font-size: rem(28);
        font-weight: normal;
        line-height: rem(35);

        b {
            letter-spacing: 0;
        }

        br {
            display: none;
        }
    }

    &__sub-title {
        position: relative;

        &::before {
            content: '';

            position: absolute;
            top: rem(9);
            left: rem(-42);

            width: rem(10);
            height: rem(10);

            background-color: #000;
            transform: rotate(45deg);
        }
    }

    &__description {
        margin-bottom: 0;

        font-size: rem(48);
        font-weight: normal;
        line-height: rem(54);
    }

    &__ico {
        display: none;
    }

    &__item {
        padding-top: rem(74);
        padding-left: rem(46);

        &:nth-of-type(2),
        &:nth-of-type(5),
        &:nth-of-type(8) {
            padding-left: rem(66);
        }

        &:nth-of-type(3n) {
            padding-left: rem(111);
        }

    }

    &__sub-title {
        font-size: rem(22);
        font-weight: bold;

        &::after {
            z-index: 0;
            top: rem(8);
            left: rem(-44);

            width: rem(11);
            height: rem(11);

            background-color: black;
            transform: rotate(45deg);
        }

        br {
            display: none;
        }
    }

    &__text {
        margin-top: rem(32);

        font-size: rem(22);
        font-weight: normal;
        line-height: rem(32);

        &::before {
            content: none;
        }
    }

    &__bottom {
        margin-top: rem(0);
    }

    &__btn {
        padding: rem(9) rem(24);

        .btn__text {
            font-size: rem(18);
        }
    }

    &__items {
        margin-bottom: rem(56);
    }
}
