include ../btn/btn

mixin info-box(data)
    +b.info-box()&attributes(attributes)
        +e.content
            +e.H2.title!= data.title

            if data.desc
                +e.P.description(class={_size_s: data.descSmall})!= data.desc

            +e.items
                each item in data.items
                    +e.item
                        +e.item-content
                            if item.ico
                                +e.SPAN.ico
                                    +e.IMG(src=`%=static=%img/assets/info-box/${item.ico}` alt='')

                            if item.statistic
                                +e.SPAN.statistic!= item.statistic

                            +e.sub-title!= item.subTitle
                            +e.text!= item.text

        if data.btn
            +e.bottom
                +btn({
                    text: data.btn.text,
                    className: data.btn.className
                }).info-box__btn

        if data.components
            +e.components
                +e.components-top
                    +e.H3.components-title #[b Составляющие] инвестиционной инфраструктуры

                    +e.UL.components-list
                        +e.components-item #[b 3] Особые экономические зоны
                        +e.components-item #[b 3] Технопарки
                        +e.components-item #[b 28] Индустриальные парки Технопарки
                        +e.components-item #[b 4] Создаваемых технопарка

                +b.btn._theme_light.info-box__components-btn(href=jv0) Подробнее о структуре
