.description-info {
    @include below($mobile) {
        padding-top: rem(35);
    }

    &__item {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        padding-top: rem(35);
        padding-bottom: rem(41);

        border-bottom: 1px dotted #b7b8bb;

        @include below($desktop) {
            padding-right: rem(55);
        }

        @include below($mobile) {
            position: relative;

            padding-top: rem(69);
            padding-right: 0;
            padding-bottom: rem(67);

            border-bottom: none;

            &:not(:first-child) {
                flex-direction: column;
                padding-bottom: rem(72);
            }

            &:first-child {
                padding-top: rem(35);

                .description-info__icon {
                    margin-top: rem(10);
                }

                .description-info__col-icon {
                    &:nth-child(1n) {
                        width: 61%;
                    }
                    &:nth-child(2n) {
                        width: 39%;
                    }
                }
            }

            &:not(:last-child) {
                &::after {
                    content: '';

                    position: absolute;
                    bottom: 0;
                    left: rem(-82);

                    width: 100vw;

                    border-bottom: 1px dotted #b7b8bb;
                }
            }
        }

        &:last-child {
            border-bottom: 0;
        }
    }
    &__col-icon {
        position: relative;

        display: flex;
        align-items: stretch;
        justify-content: flex-start;
        flex-shrink: 0;
        width: 49.7%;

        @include below($desktop) {
            width: 52%;
        }

        @include below($mobile) {
            align-items: flex-start;
            width: 100%;

        }

        &-sm {
            .description-info__icon {
                width: rem(48);

                @include below($mobile) {
                    width: rem(66);
                }
            }
        }
    }
    &__col-text {
        margin-top: rem(3);

        @include below($desktop) {
            margin-bottom: rem(-6);
        }

        @include below($mobile) {
            width: 100%;
            margin-top: rem(54);
        }
    }
    &__title {
        margin-left: rem(11);

        @include below($mobile) {
            margin-left: rem(7);
        }
    }
    &__icon {
        display: flex;
        align-items: flex-end;
        flex-shrink: 0;
        width: rem(60);

        @include below($mobile) {
            width: rem(77);
        }
    }
    &__name {
        display: block;
        margin-bottom: rem(2);

        font-family: $font-1;
        font-size: rem(16);
        font-weight: 500;
        color: #000000;
        text-transform: uppercase;

        @include below($mobile) {
            margin-bottom: rem(-5);

            font-size: rem(28);
            line-height: (42/28);
        }
    }
    &__years {
        display: block;

        font-family: $font-1;
        font-size: rem(16);
        font-weight: 500;
        color: $color1;
        text-transform: uppercase;

        @include below($mobile) {
            font-size: rem(28);
            line-height: (46/28);
        }
    }
    &__text {
        font-size: rem(18);
        font-weight: 300;
        line-height: 1.5;

        @include below($desktop) {
            max-width: rem(385);
        }

        @include below($mobile) {
            max-width: rem(570);
            padding-left: rem(5);

            font-size: rem(28);
            line-height: (42/28);
        }
    }
    &__subtext {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        padding-bottom: rem(5);
        margin-top: rem(16);

        font-family: $font-1;
        font-weight: 500;
        color: #000000;

        @include below($mobile) {
            margin-top: rem(28);
        }

        &-l {
            margin-right: 18%;

            @include below($mobile) {
                padding-left: rem(5);
                margin-right: 22%;
            }
        }
        &-r {

        }
        .rate {
            display: block;

            font-size: rem(32);

            @include below($mobile) {
                margin-bottom: rem(4);

                font-size: rem(42);
                line-height: 1;
            }
        }
        .years {
            display: block;

            font-size: rem(18);

            @include below($mobile) {
                font-size: rem(28);
                line-height: (42/28);
            }
        }
        .percent {
            font-size: rem(18);

            @include below($mobile) {
                font-size: rem(42);
                line-height: 1;
            }
        }
    }
    .content__subtitle-xs {
        margin-bottom: rem(5);

        @include below($mobile) {
            padding-left: rem(5);
            margin-bottom: rem(-1);

            font-size: rem(28);
            line-height: (42/28);
        }
    }
    .icon-upper {
        margin-left: rem(7);
    }
    .icon-bus {
        margin-left: rem(4);
    }
}

.cecutient-mode .description-info {
    
    &__item {
        border-bottom: 1px solid #000;
    }
    
    &__name {
        letter-spacing: rem(0.3);
    }
    
    &__years {
        color: #000;
        letter-spacing: rem(0.3);
    }
    
    &__text {
        font-weight: 400;
        letter-spacing: rem(-0.2);
    }
}
