mixin description-info(data)
    +b.description-info()&attributes(attributes)
        each item in data.items
            +e.item
                DIV(class= item.colL.mainClass)
                    if item.colL.icon
                        +e.icon
                            +icon({ icon: item.colL.icon, class: '' })
                    else
                        +e.icon
                            i.icon(class= item.colL.iconPng)
                    +e.title
                        +e.SPAN.name= item.colL.name
                        +e.SPAN.years= item.colL.years
                DIV(class= item.colR.mainClass)
                    if item.colR.type == 'icon'
                        if item.colR.icon
                            +e.icon
                                +icon({ icon: item.colR.icon, class: '' })
                        else
                            +e.icon
                                i.icon(class= item.colR.iconPng)
                        +e.title
                            +e.SPAN.name= item.colR.name
                            +e.SPAN.years= item.colR.years
                    else
                        SPAN.content__subtitle-xs Условия:
                        +e.text= item.colR.text
                        if item.colR.subcontent
                            +e.subtext
                                +e.subtext-l
                                    span.rate= item.colR.subcontent.rate1
                                        span.percent %
                                    span.years= item.colR.subcontent.years1
                                +e.subtext-r
                                    span.rate= item.colR.subcontent.rate2
                                        span.percent %
                                    span.years= item.colR.subcontent.years2
        block
