.collaboration {
    margin-top: rem(41);

    @include below($desktop) {
        margin-top: rem(50);
    }

    @include below($mobile) {
        margin-top: rem(55);
    }

    &__desc {
        margin-top: 0;
        margin-bottom: rem(60);

        font-size: rem(24);
        font-weight: 300;
        line-height: (36 / 24);

        @include below($desktop) {
            margin-bottom: rem(56);
        }

        @include below($mobile) {
            max-width:  rem(570);
            margin-bottom: rem(51);

            font-size: rem(42);
            line-height: (48/42);

            br {
                display: none;
            }
        }

        b {
            font-weight: 500;
        }
    }

    &__title {
        margin: 0;

        font-size: rem(32);
        font-weight: 300;
        letter-spacing: rem(-0.19);

        @include below($mobile) {
            max-width: rem(400);

            font-size: rem(42);
            line-height: (48/42);
        }

        &::after {
            content: '';

            display: block;
            width: rem(65);
            height: 1px;
            margin: rem(24) 0 rem(20);

            background-color: #000;

            @include below($mobile) {
                margin-top: rem(21);
            }
        }
    }

    &__projects {
        position: relative;

        padding-top: rem(73);

        @include below($desktop) {
            padding-top: rem(65);
        }

        @include below($mobile) {
            padding-top: rem(107);
            padding-bottom: rem(40);
        }

        &::before {
            content: '';

            position: absolute;
            z-index: -1;
            top: 0;
            right: rem(60);
            bottom: rem(-42);
            left: -50%;

            margin-left: calc(50% - 50vw);

            background-color: #f8f9fb;

            @include below($desktop) {
                right: 0;
            }
        }

        .collaboration__title {
            @include below($mobile) {
                max-width: none;

                font-size: rem(42);
                line-height: 1;

                &::after {
                    margin-top: rem(24);
                }
            }
        }
    }

    &__projects-slider {
        padding-right: rem(105);
        margin-top: rem(44);

        @include below($desktop) {
            padding-right: rem(75);
            margin-top: rem(60);
        }

        @include below($mobile) {
            padding-right: rem(92);
            margin-top: rem(50);
        }

        .slick-list {
            margin: 0 -.5px;
        }

        .slick-slide {
            margin: 0 .5px rem(40);

            box-shadow: 0 rem(80) rem(50) rem(-85) rgba(0, 0, 0, .8);
        }

        .slick-arrow {
            @include center($horiz: false);
            @include hide-text;
            @include size(rem(44));
            z-index: 1;

            margin-top: rem(-40);

            font-size: 0;
            text-indent: 120%;

            border: none;
            background-color: #3777e8;
            box-shadow: 0 6px 20px rgba(55, 119, 232, 0.53);
            transform: rotate(45deg);

            transition: background-color .3s, box-shadow .3s;

            @include below($desktop) {
                margin-top: rem(-35);
            }

            @include below($mobile) {
                width: rem(70);
                height: rem(70);
                margin-top: rem(-55);
            }

            &:hover {
                background-color: #305beb;
            }
        }

        .slick-prev::before,
        .slick-next::before {
            @include size(rem(13));
            content: '';

            position: absolute;
            top:50%;
            left: 50%;

            background-repeat: no-repeat;
            background-position: center;
            background-size: 100%;
            transform: translate(-50%, -50%) rotate(-45deg);

            @include below($mobile) {
                width: rem(22);
                height: rem(28);
            }
        }

        .slick-prev {
            left: rem(-73);

            @include below($desktop) {
                left: rem(-85);
            }

            @include below($mobile) {
                left: rem(-57);
            }

            &::before {
                background-image: url(%=static=%assets/slider/arrow-left.svg);
            }
        }

        .slick-next {
            right: rem(32);

            @include below($desktop) {
                right: rem(-12);
            }

            @include below($mobile) {
                right: rem(31);
            }

            &::before {
                background-image: url(%=static=%assets/slider/arrow-right.svg);
            }
        }
    }

    &__item {
        position: relative;

        height: rem(282);

        background-position: center;
        background-size: cover;

        @include below($desktop) {
            height: rem(248);
        }

        @include below($mobile) {
            height: rem(413);
        }
    }

    &__item-inner {
        @include size(100%);
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: rem(37) rem(37);

        background-image: linear-gradient(to top, rgba(3, 24, 45, 0.82) 0%, rgba(14, 21, 58, 0) 60%);

        @include below($desktop) {
            padding-bottom: rem(33);
            padding-left: rem(33);
        }

        @include below($mobile) {
            padding-bottom: rem(40);
            padding-left: rem(51);
        }
    }

    &__country {
        position: relative;

        display: flex;
        align-items: center;
        padding-top: rem(19);
        margin-bottom: rem(6);

        @include below($mobile) {
            padding-top: rem(1);
            margin-bottom: 0;
        }

        &::before {
            content: '';

            position: absolute;
            top: 0;
            left: 0;

            display: block;
            width: rem(65);
            height: 1px;

            background-color: #fff;

            @include below($mobile) {
                width: rem(117);
            }
        }
    }

    &__flag {
        @include size(rem(24));
        margin-right: rem(11);

        border-radius: 50%;
    }

    &__country-name,
    &__place {
        margin-top: 0;
        margin-bottom: 0;

        font-size: rem(18);
        color: #fff;

        @include below($mobile) {
            font-size: rem(28);
            line-height: (42/28);
        }
    }

    &__country-name {
        font-weight: 300;
        font-style: italic;
    }

    &__place {
        font-weight: 500;
        letter-spacing: rem(-0.2);
    }

    &__investors {
        padding-bottom: rem(58);
        margin-top: rem(35);

        @include below($desktop) {
            padding-bottom: rem(82);
        }

        @include below($mobile) {
            padding-bottom: 0;
            margin-top: rem(26);
        }

        .block-1__download {
            margin-top: 0;

            &::before {
                display: none;
            }
        }
    }
}
