include ../slide-box/slide-box
include ../investors/investors

mixin collaboration(data)
    +b.collaboration()&attributes(attributes)
        +e.P.desc Московская область занимает <b>2-3 место по привлечению иностранных <br> инвестиций</b> среди субъектов Российской Федерации. Ежегодный рост объема <br> иностранных
            // инвестиций в неё в среднем за последние 4 года составляет 5%.

        +e.H3.title Основные страны – инвесторы

        +investors(investors.default).collaboration__investors

        +e.projects
            +e.H3.title <b>Проекты</b> с участием иностранного капитала

            +e.projects-slider
                each project in data.projects
                    +e.item(style=`background-image: url(%=static=%img/assets/collaboration/${project.bg});`)
                        +e.item-inner
                            +e.location
                                +e.country
                                    +e.IMG.flag(src=`%=static=%img/assets/collaboration/${project.flag}` al='')
                                    +e.P.country-name= project.country
                            +e.P.place= project.title
