.s-block-3 {
    position: relative;

    overflow: hidden;

    &_mod {

        .s-block-3__container {
            padding-top: rem(84);
            padding-bottom: rem(58);

            &::after {
                display: none;
            }
        }
    }

    &::after {
    }

    &__container {
        position: relative;

        max-width: rem(1165);
        padding-top: rem(59);
        padding-bottom: rem(74);
        margin: 0 auto;


        @include below($mobile) {
            padding-right: 4.6875rem;
            padding-left: 5.625rem;
        }

        &::after {
            content: '';

            position: absolute;
            z-index: -1;
            top: 0;
            right: rem(-104);

            width: 100vw;
            height: 100%;

            background-color: #f8f9fb;


            @include below($mobile) {
                right: 0;
            }
        }
    }

    &__title {
        max-width: rem(960);
        margin-bottom: rem(44);
    }

    .title__sub-text {
        margin-top: rem(-5);

        line-height: (24/14);
    }

    .text-light {
        margin-top: rem(2);
        margin-bottom: rem(57);

        font-size: rem(18);
        font-weight: 300;
        line-height: (24/18);
    }

    .benefits__item {
        width: 33.33333%;
        padding-right: rem(62);
        padding-bottom: rem(15);


        @include below($mobile) {
            width: 100%;
        }

        &_mod {
            .benefits__rate {
                margin-top: rem(23);
            }
        }
    }

    .benefits__sum {
        margin-top: rem(28);
    }

    .benefits__amount {
        font-weight: 300;
    }

    .benefits__rate {
        margin-top: rem(7);
    }

    .benefits__years + .benefits__amount {
        margin-top: rem(52);
    }

    .title__sub-text{
        @include below($mobile) {
            padding-right: rem(20);

            font-size: rem(24);
        }
    }

    .content__subtitle-xs{
        @include below($mobile) {
            font-size: rem(30);
        }
    }

    .benefits__years{
        @include below($mobile) {
            line-height: normal;
        }
    }
}

.cecutient-mode .s-block-3 {
    
    &__container {
        padding-top: rem(24);
        
        &::after {
            display: none;
        }
    }
    
    &__title {
        max-width: rem(1000);        
        margin-bottom: rem(23);
    }
    
    .title__title {
        margin-bottom: rem(8);
    }
    
    .text-light {
        padding-left: rem(3);
        margin-bottom: rem(40);
        
        font-size: rem(20);
        font-weight: 400;
        line-height: rem(30);        
    }
    
    .benefits__item {
        padding-top: rem(20);
        padding-right: rem(5);
    }
    
    .benefits__badge {
        padding-right: rem(11);        
        padding-left: rem(10);
        
        font-size: rem(20);
        letter-spacing: rem(0.4);
    }
    
    .benefits__amount {
        margin-top: rem(20);
        
        letter-spacing: rem(0.4);
    }
    
    .benefits__years + .benefits__amount {
        margin-top: rem(35);
    }
    
    .benefits__rate {
        margin-top: rem(4);
    }
    
    .benefits__item_mod .benefits__rate {
        margin-top: rem(21);
    }
    
    .benefits__item_mod .benefits__years + .benefits__amount + .benefits__rate {
        margin-top: rem(49);
    }
}

.cecutient-mode .s-block-3_mod {
    
    .s-block-3__container {
        padding-top: rem(65);
    }
}

