mixin s-block-3(data)
    +b.s-block-3(class=data.className)&attributes(attributes)
        +e.container
            +title({
                title: data.title || 'Налоговые льготы <b>на имущество прибыль для участников СПИК</b>',
                subText: data.subText || '<span>*Специальный Инвестиционный контракт</span> <br> Регулируется статьей 26.20 ЗМО 151/2004 от 24.11.04 и ППМО 815/40 от 31.10.16'
            }).s-block-3__title

            .tabs__text
                span.content__subtitle-xs Требование:
                p.text-light
                    |  Создание нового объекта стоимостью более 50 млн. рублей (кроме торговых и жилых).

            .benefits.benefits
                .benefits__item
                    .benefits__badge федеральный спик
                    .benefits__sum более 90% доходов от СПИК
                    .benefits__amount <b>Налог на имущество</b><br> (с даты принятия к учету):
                    .benefits__rate
                        | 0
                        span.benefits__percent %
                    .benefits__years на 10 лет
                    .benefits__amount <b>Налог на прибыль:</b><br> (в течение 10 лет с момента получения первой прибыли):
                    .benefits__rate
                        | 0
                        span.benefits__percent %
                    .benefits__years ПО 2025 года

                .benefits__item
                    .benefits__badge.benefits__badge-dark федеральный спик
                    .benefits__sum более 90% доходов от СПИК
                    .benefits__amount <b>Налог на имущество</b><br> (с даты принятия к учету):
                    .benefits__rate
                        | 0
                        span.benefits__percent %
                    .benefits__years на 10 лет
                    .benefits__amount <b>Налог на прибыль:</b><br> (с момента начала производства продукции в рамках СПИК):
                    .benefits__rate
                        | 13,5
                        span.benefits__percent %
                    .benefits__years на 10 лет

                .benefits__item.benefits__item_mod
                    .benefits__badge.benefits__badge-dark!= data.modText || 'СПИК заключаемый'
                    .benefits__sum с Московской областью
                    .benefits__amount <b>Налог на имущество:</b>
                    .benefits__rate
                        | 0
                        span.benefits__percent %
                    .benefits__years НА срок действия спик
                    .benefits__amount <b>Налог на прибыль:</b>
                    .benefits__rate
                        | 15,5
                        span.benefits__percent %
                    .benefits__years НА срок действия спик
