extends ../layouts/default

include ../components/content/content


block vars
    -pageSettings.title = 'Главная';
    -pageSettings.headerClassName = '_theme_simple _theme_stories _theme_static';

block content
    +content._theme_quote
        +e.left
            +e.H2.title #[strong Область] <br> комфортного <br> ивестклимата

            +e.P.subtitle «Создание комфортных условий <br> для ведение бизнеса – <br> приоритет №1 для Московской <br> области»
            +b.btn._theme_light(href='/page/about') Об области

        +e.right
            figure
                +e.IMG.img(src='%=static=%img/assets/content/andreyvorobiev.jpg' alt='')
                +e.FIGCAPTION.caption
                    strong Андрей Воробьев
                    em Губернатор Московской области
