extends ../layouts/default

include ../components/p-about/p-about

block vars
    -pageSettings.title = 'Об области';
    -pageSettings.headerClassName = 'header_theme_simple header_theme_light';
    -pageSettings.mainNavActive = 5;

block content
    +p-about
