extends ../layouts/default

include ../components/p-content/p-content

block vars
    -pageSettings.title = 'Об области';
    -pageSettings.headerClassName = 'header_theme_simple header_theme_light';
    -pageSettings.mainNavActive = 5;

block content
    +p-content(style='background-image:url(%=static=%img/general/cBg.jpg)')
