extends ../layouts/default

include ../components/p-business/p-business

block vars
    -pageSettings.title = 'Малому и среднему бизнесу';
    -pageSettings.headerClassName = 'header_theme_simple header_theme_light';
    -pageSettings.mainNavActive = 4;

block content
    +p-business
