extends ../layouts/default
include ../components/p-cabinet/p-cabinet

block vars
    -pageSettings.title = 'Личный кабинет пользователя';
    -pageSettings.headerClassName = '_theme_simple _theme_shadow _theme_no-line';
    -pageSettings.mainNavActive = 1;

block content
    +p-cabinet(object_list.cabinet)
