extends ../layouts/default
include ../components/p-cabinet-profile/p-cabinet-profile

block vars
    -pageSettings.title = 'Личный кабинет пользователя профайл';
    -pageSettings.headerClassName = '_theme_simple _theme_static _theme_shadow _theme_no-line';
    -pageSettings.mainNavActive = 1;

block content
    +p-cabinet-profile(class="p-cabinet")
