extends ../layouts/default
include ../components/p-cabinet-add-object/p-cabinet-add-object

block vars
    -pageSettings.title = 'Личный кабинет пользователя - добавить объект';
    -pageSettings.headerClassName = '_theme_simple _theme_static _theme_shadow _theme_no-line';
    -pageSettings.mainNavActive = 1;

block content
    +p-cabinet-add-object(class="p-cabinet")
