extends ../layouts/default
include ../components/p-cabinet-edit-profile/p-cabinet-edit-profile

block vars
    -pageSettings.title = 'Редактирование профиля';
    -pageSettings.headerClassName = '_theme_simple _theme_static _theme_shadow _theme_no-line';
    -pageSettings.mainNavActive = 1;

block content
    +p-cabinet-edit-profile(class="p-cabinet")
