extends ../layouts/default
include ../components/forms/forms

block vars
    -pageSettings.title = 'Формы';
    -pageSettings.headerClassName = '_theme_simple _theme_stories';

block content
    div(style='margin-top: 150px')
        +forms()
    // Контент здесь
