extends ../layouts/default

include ../components/p-index/p-index

block vars
    -pageSettings.title = 'Главная';
    -pageSettings.headerClassName = 'header_theme_simple';

block content
    +p-index
