extends ../layouts/default

include ../components/pages-list/pages-list


block vars
    -pageSettings.title = 'Главная';
    -pageSettings.headerClassName = '_theme_simple _theme_stories';

block content
    +pages-list
