extends ../layouts/default

include ../components/p-investor/p-investor

block vars
    -pageSettings.title = 'Инвесторам';
    -pageSettings.headerClassName = 'header_theme_simple header_theme_light';
    -pageSettings.mainNavActive = 1;

block content
    +p-investor
