extends ../layouts/default

include ../components/p-map/p-map

block vars
    -pageSettings.title = 'Карта';
    -pageSettings.map = true;
    -pageSettings.noFooter = true;
    -pageSettings.headerClassName = '_theme_simple _theme_stories';

block content
    +p-map({
        filter: pMap.filters.land,
        results: pMap.mapResults.land
    })
