extends ../layouts/default
include ../components/title-subpage/title-subpage
include ../components/s-block-1/s-block-1
include ../components/s-block-2/s-block-2
include ../components/s-block-3/s-block-3
include ../components/s-block-4/s-block-4
include ../components/s-block-5/s-block-5
include ../components/s-block-6/s-block-6
include ../components/s-block-7/s-block-7
include ../components/s-block-8/s-block-8
include ../components/content/content
include ../components/rate-residents/rate-residents

block vars
    -pageSettings.title = 'Меры поддержки';
    -pageSettings.headerClassName = '_theme_static _theme_simple _theme_stories _mobile_color-mod';
    -pageSettings.mainNavActive = 1;

block content
    .p-support
        .title-subpage
            .title-subpage__top
                .title-subpage__title
                    .container
                        h1
                            span.title-subpage__brand Меры поддержки
                            span.title-subpage__divider  / 
                            span.title-subpage__title-box инвесторам
                .title-subpage__company-contacts
                    .container
                        .title-subpage__contacts
                            a.title-subpage__back-link(href=jv0) Назад
        .tabs.tabs_small-business
            .tabs__header
                .tabs__center
                    .tabs__label <span class="tabs__label_bold">Доступные</span> меры поддержки
                    .tabs__title
                        a(href="#s-block-1").tab__title Налоговые льготы
                        a(href="#s-block-5").tab__title Участки без торгов
                        a(href="#s-block-6").tab__title Возмещение затрат
                        a(href="#s-block-7").tab__title Фонд развития промышленности
                        a(href="#s-block-8").tab__title Портал промышленной кооперации
        +s-block-1(id="s-block-1")

        +s-block-2(id="s-block-2")

        +s-block-3({})(id="s-block-3")

        +s-block-3({className: '_mod', title: 'Налоговые льготы <b>на имущество прибыль для участников РИП</b>', subText: '*Региональный Инвестиционный Проект<br> Регулируется статьей 26.21 ЗМО 151/2004 от 24.11.04', modText: 'заключаемый СПИК '})(id="s-block-3")

        +s-block-4(id="s-block-4")

        +s-block-5(id="s-block-5")

        +s-block-6(id="s-block-6")

        +s-block-7(id="s-block-7")

        +s-block-8(id="s-block-8")
