extends ../layouts/default
include ../components/share/share

block vars
    -pageSettings.title = 'Новости внутренняя';

block content
    // Контент здесь
    .p-content
        .title-subpage.title-subpage_js_inited
            .title-subpage__top
                .title-subpage__title
                    .container
                        h1
                            span.title-subpage__brand Новости и мероприятия
                .title-subpage__company-contacts
                    .container
                        .title-subpage__contacts
                            a.title-subpage__back-link(href='http://investmo.zephyrlab.ddemo.ru/news') Назад
        .block-2.block-2_reverse
            .block-2__container
                .block-2__content
                    .one-news__date 24 май 2017
                    h3.one-news__title В Подмосковье началась реализация программы по реконструкции молочных ферм
                    .block-2__content-text
                    p.block-2__text.block-2__text_description
                        | 19 мая заместитель Председателя Правительства Московской области – министр инвестиций и инноваций Московской области Денис Буцаев посетил с рабочим визитом Пушкинский район.
                .block-2__pic
                    img.block-2__img(alt='', role='presentation', src='/uploads/news/1/c7b9cc91422a3c05b4087c70f9af6530.jpg')
        .block-1
            .block-1__container
                .block-1__content
                    .block-1__text
                    p
                        | 19 мая заместитель Председателя Правительства Московской области – министр инвестиций и инноваций Московской области Денис Буцаев посетил с рабочим визитом Пушкинский район.
                    p
                        | В ходе визита прошло совещание с руководителями сельскохозяйственных предприятий по вопросу проведения реконструкции молочных ферм. Напомним, в Подмосковье запущена уникальная программа субсидирования 50% затрат на оборудование при реконструкции молочных ферм. «На территории Подмосковья около 50 ферм, которые нуждаются в технологическом перевооружении, в областном бюджете мы на эти цели предусмотрели 200 млн рублей. Мы рассчитываем на то, что программа даст нам дополнительные 100 тыс. тонн молока в год, когда мы закончим реконструкцию всех ферм. Для нас программа особенно важна тем, что мы фактически даем вторую жизнь, причем вторую по совершенно иному качеству и количеству надаиваемого молока, тем фермам, которые существуют уже многие десятилетия. Для нас это и развитие существующих фермерских хозяйств, и возможность привлечения новых инвесторов, которые приходят в область», - отметил Денис Буцаев.
                    p
                        | Хозяйство «Зеленоградское» стало первой фермой, начавшей реконструкцию по данной программе. Проект животноводческой фермы на 260 фуражных голов с системой добровольного доения VMS будет завершен в ноябре текущего года. «Зеленоградское» обеспечивает свежим натуральным молоком детские сады, школы, больницы, жителей Пушкинского и соседних районов. В августе 2010 года запущено производство по переработке собственного молока и на сегодняшний день выпускается широкая линейка молочной продукции. В январе 2015 года в Берлине на международной выставке «Зеленая неделя-2015» продукция ЗАО «Зеленоградское» наградили пятью золотыми медалями за качество и безопасность выпускаемой продукции.
                    p
                        | «Молочная отрасль в настоящий момент наиболее особо привлекательна, если сравнивать последние несколько десятилетий. Большое количество интересантов, мы стараемся этих интересантов перевести в разряд инвесторов, реализующих проекты. Я могу сказать, что у Московской области хорошие перспективы, чтобы выполнить целевой показатель в 1 млн тонн. Из того дефицита, что у нас сейчас есть, примерно 350 тыс. тонн дефицита, половина закроется крупными хозяйствами, крупными проектами, которые мы уже привлекли на территорию региона, а половину мы как раз закроем теми проектами малого и среднего формата, примером которого является сегодняшний «Зеленоградский»», - резюмировал глава инвестиционного блока региона.

        .block-1__container.share-wrap
            +share()
