extends ../layouts/default

include ../components/p-news/p-news

block vars
    -pageSettings.title = 'Новости и мероприятия';
    -pageSettings.headerClassName = 'header_theme_simple header_theme_light';
    -pageSettings.mainNavActive = 5;

block content
    +p-news()
