extends ../layouts/default
include ../components/p-popups/p-popups

block vars
    -pageSettings.title = 'Попапы';
    -pageSettings.headerClassName = '_theme_simple _theme_stories';

block content
    div(style='padding-top: 150px; padding-left: 100px;')
        +p-popups
