extends ../layouts/default
include ../components/p-stories/p-stories

block vars
    -pageSettings.title = 'История успеха';
    -pageSettings.headerClassName = '_theme_static _theme_simple _theme_stories';
    -pageSettings.mainNavActive = 1;

block content
    +p-stories(pStories)

