extends ../layouts/default
include ../components/p-support/p-support

block vars
    -pageSettings.title = 'Меры поддержки';
    -pageSettings.headerClassName = '_theme_static _theme_simple _theme_stories _mobile_color-mod';
    -pageSettings.mainNavActive = 1;

block content
    +p-support
