extends ../layouts/default
include ../components/p-support-mb4/p-support-mb4

block vars
    -pageSettings.title = 'Меры поддержки малому бизнесу';
    -pageSettings.headerClassName = '_theme_static _theme_simple _theme_stories _mobile_color-mod';
    -pageSettings.mainNavActive = 1;

block content
    +p-support-mb4
