extends ../layouts/default

include ../components/p-about/p-about
include ../components/top-box/top-box
include ../components/table-box/table-box

block vars
    -pageSettings.title = 'Об области';
    -pageSettings.headerClassName = 'header_theme_simple header_theme_light';
    -pageSettings.mainNavActive = 5;

block content
    .p-about
        +top-box({
            title: 'Об области',
            address: '143407, Московская обл., Красногорск г., бул. Строителей, 1, Дом Правительства',
            social: true
        })

        +table-box()
