mixin economic-activity(data)
    +b.economic-activity()&attributes(attributes)
        +e.H3.title <span class="economic-activity__title_bold">Внешнеэкономическая</span> деятельность
        +e.P.clarification Фонд поддержки внешнеэкономической деятельности
        +e.scheme
            +e.name Взаимодействие с федеральной<br>инфраструктурой поддержки
            +e.working Направления деятельности:
            +b.UL.list
                +e.item консультации;
                +e.item бизнес-миссии, выставки;
                +e.item возмещение затрат на сертификацию, патентование;
                +e.item сопровождение экспортных контрактов;
                +e.item маркетинговые исследования;
                +e.item обучение по тематике ВЭД.

            +e.circle-map
                +e.circle-map-core
                    +e.circle-map-item-name._big АО «Российский<br>экспортный<br>центр»
                +e.circle-map-item._ved 
                    +e.circle-map-item-name Фонд<br>поддержки<br>ВЭД
                +e.circle-map-item._eksi-bank
                    +e.circle-map-item-name._up АО «Рос-<br>эксимбанк»
                    +e.circle-map-item-description Финансирование<br>экспорта
                +e.circle-map-item._eksar 
                    +e.circle-map-item-name._up АО «ЭКСАР»
                    +e.circle-map-item-description Комплексное<br>страхование
