.economic-activity {
    &__title{
        margin: 0;

        font-size: rem(48);
        font-weight: 300;
        letter-spacing: rem(-0.5);

        @include below($mobile) {
            font-size: rem(55);
        }

        &_bold{
            font-weight: 500;
        }
    }

    &__clarification{
        margin-top: rem(18);
        margin-bottom: 0;

        font-size: rem(24);
        font-weight: 300;
        letter-spacing: rem(-0.05);

        @include below($mobile) {
            margin-top: rem(36);

            font-size: rem(32);
            line-height: rem(42);
        }
    }

    &__name{
        position: relative;
        z-index: 1;

        width: rem(682);
        padding-bottom: rem(19);
        margin-top: rem(86);

        font-size: rem(32);
        font-weight: 300;
        line-height: 1.35;
        letter-spacing: rem(-0.1);

        border-bottom: 1px solid #000;

        @include below($mobile) {
            padding-bottom: rem(35);
            margin-top: rem(73);

            font-size: rem(42);
            line-height: rem(52);
        }

        &:after{
            content: '';

            position: absolute;
            right: rem(-12);
            bottom: rem(-6);

            display: block;
            width: 0.6875rem;
            height: 0.6875rem;

            border: 1px solid #000000;
            transform: rotate(45deg);
        }
    }

    &__working{
        margin-top: rem(37);

        font-size: rem(14);
        font-weight: 300;
        font-style: italic;
        letter-spacing: rem(0.3px);

        @include below($mobile) {
            margin-top: rem(58);

            font-size: rem(28);
            line-height: rem(24);
        }
    }

    &__scheme{
        .list{
            margin-top: rem(15);

            @include below($mobile) {
                margin-top: rem(49);
            }
        }

        .list__item{
            padding-left: rem(36);
            margin-bottom: rem(24);

            @include below($mobile) {
                padding-left: rem(66);
                margin-bottom: rem(42);

                &::before {
                    left: rem(8);
                }
            }
        }
    }

    &__scheme{
        position: relative;
    }

    &__circle-map{
        position: absolute;
        top: rem(-80);
        right: rem(-30);

        width: rem(650);
        height: rem(600);

        @include below($mobile) {
            position: relative;
            top: 0;
            left: 0;
        }
    }

    &__circle-map-item-name{
        font-size: rem(24);
        font-weight: 600;
        line-height: 1.2;
        color: #3777e8;
        text-align: center;


        &_big{
            position: relative;
            z-index: 2;

            padding-top: rem(173);

            font-size: rem(36);
            font-weight: 500;
            line-height: 1.1;
            color:#fff;

            @include below($mobile) {
                padding-top: rem(202);
            }
        }

        &_up{
            text-transform: uppercase;
        }
    }

    &__circle-map-item-description{
        margin-top: 7px;

        font-size: rem(18);
        font-weight: 300;
        color: #3777e8;
        text-align: center;

        @include below($mobile) {
            font-size: rem(24);
            line-height: rem(24);

        }
    }

    &__circle-map-core{
        position: absolute;
        top: rem(91);
        left: rem(98);

        width: rem(462);
        height: rem(462);

        border: rem(2) solid #dfe2eb;
        border-radius: 50%;

        @include below($mobile) {
            top: rem(108);
            left: rem(31);

            width: rem(514);
            height: rem(514);

            &::after {
                width: rem(492);
                height: rem(492);
            }
        }

        &:after{
            content: '';

            position: absolute;
            z-index: 1;
            top:50%;
            left: 50%;

            display: block;
            width: rem(442);
            height: rem(442);

            border-radius: 50%;
            background: #dfe2eb;
            transform: translate(-50%, -50%);
        }
    }

    &__circle-map-item{
        position: absolute;
        z-index: 2;

        width: rem(222);
        height: rem(222);

        border: rem(2) solid #3777e8;
        border-radius: 50%;
        background: #fff;
        box-shadow: 0px 6px 25px 0px rgba(0, 0, 0, 0.24);

        @include below($mobile) {
            width: rem(244);
            height: rem(244);
        }

        &_ved{
            top: rem(20);
            left: rem(218);

            padding-top: rem(66);

            @include below($mobile) {
                top: rem(30);
                left: rem(166);

                padding-top: rem(78);
            }
        }

        &_eksi-bank{
            top: rem(328);
            left: rem(38);

            padding-top:rem(65);

            @include below($mobile) {
                top: rem(373);
                left: rem(-35);

                padding-top:rem(71);
            }
        }

        &_eksar{
            top: rem(328);
            left: rem(399);

            padding-top:rem(81);

            @include below($mobile) {
                top: auto;
                right: rem(37);
                bottom: rem(-17);
                left: auto;

                padding-top: rem(88);
            }
        }
    }

}
