form.form-blue {
    padding-top: rem(64);
    padding-bottom: rem(107);
    padding-left: rem(92);
    .form__title {
        margin-bottom: rem(26);
    }
    .form__text {
        margin-top: rem(10);
        margin-bottom: rem(44);
    }
    .select2-container {
        margin-left: rem(-2) !important;
    }
    .form__label {
        margin-bottom: rem(26);

        letter-spacing: rem(0.3);
    }
    .form__group {
        .form__label {
            margin-bottom: rem(13);
        }
    }
    .btn {
        left: rem(92);

        padding-right: rem(35);
        padding-left: rem(46);
    }
    .form__ico.form__ico_2 {
        right: rem(-52);
    }

    .form__input {
        &_placeholder_visible {
            @include placeholder {
                font-size: rem(18);
                color: rgba(#fff, .2);

                opacity: 1;
                visibility: visible;
            }
        }
    }

    .radio-group {
        flex-wrap: wrap;

        .radio {
            margin-bottom: rem(15);
        }
    }
}

form.form-2 {
    padding-top: rem(62);
}

form.form-3 {
    .checkbox {
        margin-bottom: rem(7);
    }
    .btn {
        bottom: rem(-18);
        left: rem(92);

        padding-right: rem(81);
        padding-left: rem(82);
    }
    label.form__label {
        letter-spacing: 0;
    }
    .select2-selection__rendered {
        letter-spacing: rem(0.7);
    }
    .select2-container--multi {
        width: rem(480);
    }
}

form.form-4 {
    padding-right: rem(94);
    .form__chooseDocs {
        margin-top: rem(39);
        .form__label {
            margin-bottom: rem(9);
        }
        .select2-container--multi {
            width: rem(351);
            .select2-selection__rendered {
                &:after {
                    right: rem(3);
                }
            }
        }
    }
    .form__group {
        margin-top: rem(34);
    }
    .btn {
        bottom: rem(-12);

        padding-right: rem(83);
        padding-left: rem(81);
    }
}

form.form-5 {
    padding-right: rem(94);
    padding-bottom: rem(96);
    .form__group {
        margin-top: rem(41);
    }
    .btn {
        padding-right: rem(83);
        padding-left: rem(81);
    }
}
