include ../form/form
include ../form-info-object/form-info-object
mixin forms(data)
    .forms(style='background: #ccc; padding: 50px')
        //- form1
        +form-info-object
        //- form2
        +form('form2')
        //- form3
        +form('form3')
        //- form4
        +form('form4')
        //- form5
        +form('form5')

