.select {

    z-index: 1;

    width: rem(238);
    height: rem(51);

    .select2-selection {
        position: relative;

        display: flex;
        align-items: center;
        justify-content: space-around;
        width: rem(238);
        height: rem(51);
        padding: 0;

        font-size: rem(14);
        font-weight: 700;
        line-height: (24/14);
        text-transform: uppercase;

        border: 1px solid $dark;
        border-radius: 0;
    }
    .select2-selection__arrow {
        position: absolute;
        top: rem(10) !important;

        right: rem(15) !important;

        background-image: url(%=static=%assets/select/arrow.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: rem(16);

        @include below($tablet) {
            top: rem(6) !important;
        }

        @include below($desktop) {
            top: rem(9) !important;
        }
        b {
            @include hidden;
        }
    }

    .select2-container--open .select2-selection__arrow {
        transform: translateY(-50%);
        transform: rotate(180deg);
    }
}


