mixin select(data)
    +b.select()&attributes(attributes)
        +e.SELECT.widget&attributes(data.widget)
            each option in data.options
                option(value=option.value selected=option.selected)= option.label
