.slider-content {
    height: rem(615);
    padding-bottom: rem(15);
    overflow: hidden;

    &__wrapper {
        position: relative;

        margin-top: rem(40);
        margin-bottom: rem(25);
    }

    &__item {
        display: flex !important;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__img-box {
        position: relative;

        width: 68.5%;
        height: rem(600);
    }

    &__img {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__data-box,
    &__thumb {
        width: calc(31.5% - #{rem(38)});
    }

    &__current-slide {
        font-size: rem(68);
        font-weight: 700;
        line-height: rem(120);
        color: $color1;
    }

    &__count {
        position: relative;
        top: rem(-27);
        left: rem(8);

        font-size: rem(24);
        font-weight: 500;
        line-height: rem(120);
    }

    &__separator {
        font-weight: 300;
    }

    &__thumb {
        position: absolute;
        z-index: 1;
        top: rem(-37);
        right: 0;
    }

    &__description {
        height: rem(152);
        padding-right: rem(70);
        margin-top: rem(78);
        overflow: hidden;

        @include below($desktop) {
            height: rem(180);
        }
    }

    &__text {
        font-size: rem(18);
        font-weight: 300;
        line-height: rem(27);
    }

    &_theme_default {

        .slick-arrow {
            @include hide-text;
            @include size(rem(90));
            position: absolute;
            z-index: 1;
            right: rem(97);
            bottom: rem(30);

            font-size: 0;
            text-indent: 120%;

            border: none;
            background-color: #3777e8;
            box-shadow: 0 6px 20px rgba(55, 119, 232, 0.53);
            transform: rotate(45deg);

            transition: background-color .3s, box-shadow .3s;

            @include above($mobile + 1) {
                @include size(rem(38));
                margin-top: rem(-34);
            }

            @include above($desktop + 1) {
                @include size(rem(44));
                margin-top: rem(-40);
            }

            @include below($mobile) {
                margin-top: rem(-63);
            }

            &:hover {
                background-color: #305beb;
            }
        }

        .slick-prev::before,
        .slick-next::before {
            content: '';

            position: absolute;
            top: 50%;
            left: 50%;

            width: rem(10);
            height: rem(17);

            background-repeat: no-repeat;
            background-position: center;
            background-size: 100% 100%;

            @include below($desktop) {
                width: rem(10);
                height: rem(15);
            }

            @include below($mobile) {
                width: rem(20);
                height: rem(32);
            }
        }

        .slick-prev {
            right: rem(272);

            @include below($desktop) {
                right: rem(240);
            }

            &::before {
                background-image: url(%=static=%assets/slider/arrow.png);
                transform: rotate(-45deg) translate(0%, -50%);
            }
        }

        .slick-next {
            right: rem(186);

            @include below($desktop) {
                right: rem(154);
            }

            &::before {
                background-image: url(%=static=%assets/slider/arrow2.png);
                transform: rotate(-45deg) translate(50%, -50%);
            }
        }
    }

    &_one-element {

        .slider-content {

            &__description {
                padding-top: rem(7);
                margin-top: rem(-5);

                .slider-content__text {

                    &:first-of-type {
                        margin-top: rem(-9);
                    }
                }
            }

            &__thumb {
                display: none;
            }
        }

        .slick-list {
            padding-top: rem(9);
            margin-top: rem(-9);
        }
    }
}

