mixin block-2(data)
    +b.block-2(class=data.className class={'_mobile-mod': data.picMobile})&attributes(attributes)
        +e.container

            +e.content
                +e.H4.title!= data.title

                if data.picMobile
                    +e.pic._mobile
                        +e.IMG.img(src=data.img)

                +e.content-text

                    if data.address
                        +e.address!= data.address

                    if data.text
                        +e.P.text._description!= data.text

                    +e.H5.text._sub-title!= data.subTitle

                    if data.text2
                        +e.P.text._description!= data.text2

                    if data.items
                        +e.UL.items
                            each item in data.items
                                +e.LI.item
                                    +e.text!= item.text


            +e.pic()
                +e.IMG.img(src=data.img)
