.block-2 {

    &_mobile-mod {
        @include below($mobile) {
            .block-2 {
                &__pic:not(.block-2__pic_mobile) {
                    display: none;
                }

                &__title:after {
                    display: none;
                }
            }
        }
    }

    &__container {
        display: flex;
        max-width: rem(1372);
        padding-top: rem(79);
        padding-bottom: rem(50);
        padding-left: rem(100);
        margin: 0 auto;

        @include below($desktop) {
            max-width: rem(1174);
            padding-left: rem(72);
        }

        @include below($mobile) {
            flex-direction: column;
            padding-right: rem(90);
            padding-bottom: rem(70);
            padding-left: rem(90);
        }
    }

    &__content {
        width: 46%;
        padding-right: rem(65);

        @include below($desktop) {
            width: 46.5%;
            padding-right: rem(30);
        }

        @include below($mobile) {
            width: 100%;
            padding-right: 0;
            padding-left: 0;
        }
    }

    &__pic {
        width: 54%;
        padding-top: rem(7);

        @include below($desktop) {
            width: 53.5%;
        }

        @include below($mobile) {
            order: -1;
            flex-shrink: 0;
            width: 100%;
        }

        &_mobile {
            display: none;

            @include below($mobile) {
                display: block;
            }
        }
    }

    &__img {
        display: block;
        width: 100%;
        height: auto;

        box-shadow: 0 0.625rem 1.875rem rgba(47, 64, 76, 0.21);
    }

    &__title {
        margin-top: 0;
        margin-bottom: rem(25);

        font-size: rem(32);
        font-weight: 300;
        line-height: (42/32);
        color: #000000;

        @include below($mobile) {
            margin-bottom: rem(65);

            font-size: rem(42);
            line-height: (53/42);
        }

        &::after {
            content: '';

            display: block;
            width: rem(65);
            height: 1px;
            margin-top: rem(18);

            background: #000;

            @include below($mobile) {
                width: rem(80);
                height: rem(2);
                margin-top: rem(69);
                margin-bottom: rem(66);
            }
        }
    }

    &__text {
        font-size: rem(18);
        font-weight: 300;
        line-height: (24.1/18);

        @include below($mobile) {
            font-size: rem(28);
            line-height: (42/28);
        }

        &_description {
            margin: rem(18) 0;

            font-weight: 400;

            @include below($mobile) {
                margin-bottom: rem(40);
            }
        }

        &_sub-title {
            margin: rem(23) 0;

            font-weight: 500;

            @include below($mobile) {
                margin-bottom: rem(42);
            }
        }
    }

    &__items {
        padding-left: rem(52);

        list-style: none;

        @include below($mobile) {
            padding-left: rem(48);
        }
    }

    &__item {
        position: relative;

        margin-bottom: rem(25);

        @include below($mobile) {
            margin-bottom: rem(42);
        }

        &::before {
            content: '';

            position: absolute;
            top: 0.25rem;
            left: -2.8125rem;

            display: inline-block;
            width: rem(15);
            height: rem(16);

            background: url(%=static=%assets/map/rect.png) center no-repeat;
            background-size: 100% 100%;

            @include below($mobile) {
                top: rem(10);
                left: rem(-48);

                width: rem(25);
                height: rem(25);
            }
        }
    }

    &_reverse {
        margin-bottom: rem(35);

        @include below($desktop) {
            margin-bottom: rem(-12);
        }

        @include below($mobile) {
            margin-bottom: rem(18);
        }


        .block-2 {
            &__pic {
                order: -1;
                width: 50%;

                @include below($mobile) {
                    width: 100%;
                }

                &_mobile {
                    &::after {
                        content: '';

                        display: block;
                        width: rem(80);
                        height: rem(2);
                        margin: rem(80) 0 0;

                        background-color: #000;
                    }
                }
            }

            &__container {
                position: relative;

                padding-top: rem(35);
                padding-bottom: 0;
                padding-left: 0;

                background-color: #f8f9fb;


                @include below($desktop) {
                    padding-top: rem(28);
                    padding-bottom: rem(47);
                }

                @include below($mobile) {
                    padding-bottom: rem(68);
                    padding-left: rem(90);
                }

                &::before {
                    content: '';

                    position: absolute;
                    top: 0;
                    right: 100%;

                    width: 100vw;
                    height: 100%;

                    background-color: #f8f9fb;
                }
            }

            &__content {
                padding-top: rem(40);
                padding-right: 0;
                padding-left: rem(61);

                @include below($mobile) {
                    padding-top: rem(35);
                    padding-left: 0;
                }
            }

            &__content-text {
                max-width: rem(460);

                @include below($mobile) {
                    max-width: none;
                }
            }

            &__img {
                position: relative;
                top: rem(39);

                @include below($mobile) {
                    top: 0;
                }

            }
        }
    }

    &__address {
        position: relative;

        padding-left: rem(38);
        margin-bottom: rem(41);

        font-size: rem(14);
        font-style: italic;
        line-height: (20/14);
        color: #282828;

        @include below($mobile) {
            padding-left: rem(50);
            margin-bottom: rem(53);

            font-size: rem(28);
            line-height: (42/28);
        }

        &::before {
            content: '';

            position: absolute;
            top: rem(5);
            left: 0;

            width: rem(22);
            height: rem(26);

            background-image: url(%=static=%assets/p-stories/marker.png);
            background-size: rem(21) rem(25);

            @include below($mobile) {
                top: rem(9);

                width: rem(24);
                height: rem(28);

                background-size: rem(24) rem(28);
            }
        }
    }
}
