include ../cabinet-menu/cabinet-menu
include ../object-menu/object-menu
include ../object-form/object-form
include ../edit-profile/edit-profile

mixin p-cabinet-edit-profile(data)
    +b.p-cabinet-edit-profile()&attributes(attributes)
        .container
            +cabinet-menu(class="p-cabinet__cabinet-menu")
            +e.content.p-cabinet__content.p-cabinet__content_position
                +e.left.p-cabinet__left
                    .object-menu__text Редактирование профиля
                +e.right.p-cabinet__right.p-cabinet__right_position
                    +edit-profile
