.sequence {
    &__container {
        max-width: $container;
        padding: rem(67) 0 0 rem(100);
        margin: 0 auto;

        @include below($desktop) {
            padding-top: rem(75);
            padding-left: rem(125);
        }

        @include below($mobile) {
            padding-top: rem(112);
            padding-right: rem(50);
            padding-left: rem(85);
        }
    }

    &__top {
        display: flex;
        align-items: flex-start;

        @include below($desktop) {
            margin-bottom: rem(-45);
        }

        @include below($mobile) {
            margin-bottom: rem(102);
        }
    }

    &__title {
        position: relative;

        width: calc(100% - 12.25rem);
        margin-top: 0;
        margin-bottom: rem(100);

        font-size: rem(48);
        font-weight: 300;
        line-height: (54/48);
        color: #282828;

        @include below($desktop) {
            width: calc(100% - 13.5rem);
        }

        @include below($mobile) {
            width: 100%;
            margin-bottom: 0;

            font-size: rem(59);
            line-height: (63/59);
        }

        &::after {
            content: '';

            position: absolute;
            z-index: 1;
            right: rem(6);
            bottom: rem(-23);

            width: 0.6875rem;
            height: 0.6875rem;

            border: 1px solid #000;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);

            @include below($mobile) {
                display: none;
            }
        }

        &::before {
            content: '';

            position: absolute;
            bottom: rem(-18);
            left: 0;

            width: calc(100% - 1.0625rem);
            height: 1px;

            background-color: #000;

            @include below($mobile) {
                bottom: rem(-39);

                width: calc(100vw - 5.3125rem);
            }
        }


        b {
            font-weight: 500;
        }
    }

    &__contacts {
        position: relative;

        width: 12.25rem;
        padding-top: rem(4);
        padding-left: rem(27);

        @include below($desktop) {
            padding-left: 0;
        }

        @include below($mobile) {
            display: none;
        }
    }

    &__ico {
        width: rem(150);
        height: rem(170);

        background-repeat: repeat;
        background-position: center;
        background-size: 100% 100%;

        @include below($desktop) {
            width: rem(163);
        }
    }

    &__link {
        font-size: rem(18);
        font-weight: 300;
        font-style: italic;
        line-height: (24/18);
        color: #3777e8;
        text-decoration: none;

        &_contacts {
            position: absolute;
            bottom: rem(-41);
            left: rem(60);

            @include below($desktop) {
                left: rem(40);
            }
        }
    }

    &__steps {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-right: rem(145);

        @include below($desktop) {
            padding-right: rem(112);
        }

        @include below($mobile) {
            padding-right: 0;
        }
    }

    &__step {
        max-width: rem(700);

        @include below($desktop) {
            max-width: rem(690);

            &:not(:last-child) {
                margin-bottom: rem(61);
            }

            &:nth-child(2) {

                max-width: rem(625);
            }
            &:nth-child(3) {

                max-width: rem(660);
            }
        }

        @include below($mobile) {
            width: 100%;

            &:not(:last-child) {
                margin-bottom: rem(40);
            }
        }

        &:not(:last-child) {
            margin-bottom: rem(103);
        }

        &:last-child {
            @include below($desktop) {
                margin-bottom: 0;
            }
        }

        &:nth-child(2n) {


            position: relative;

            margin-bottom: rem(85);
            margin-left: auto;

            @include below($desktop) {
                margin-bottom: rem(75);
            }

            @include below($mobile) {
                margin-left: 0;
            }

            @include below($mobile) {
                margin-bottom: rem(22);
            }

            &::before {
                content: '';

                position: absolute;
                top: rem(40);
                left: rem(-50);

                width: rem(241);
                height: rem(162);

                background-image: url(%=static=%assets/step/a1.svg);
                background-repeat: no-repeat;
                background-position: center;
                background-size: 100% 100%;
                transform: translate(-100%, -100%);

                @include below($desktop) {
                    top: rem(36);
                    left: rem(-42);
                }

                @include below($mobile) {
                    display: none;
                }
            }

            &::after {
                content: '';

                position: absolute;
                bottom: rem(-23);
                left: rem(-67);

                width: rem(215);
                height: rem(169);

                background-image: url(%=static=%assets/step/a2.svg);
                background-repeat: no-repeat;
                background-position: center;
                background-size: 100% 100%;
                transform: translate(-100%, 0);

                @include below($desktop) {
                    bottom: rem(-42);
                    left: rem(-56);
                }

                @include below($mobile) {
                    display: none;
                }
            }
        }
    }
}


.cecutient-mode .sequence {
    &__steps {
        padding-right: 0;
    }

    &__step {
        max-width: rem(820);

        &::before,
        &::after {
            content: none;
        }

        &:not(:last-child) {
            margin-bottom: rem(94);
        }

        &:nth-child(2) {
            max-width: rem(783);
            margin-bottom: rem(85);

            .step__content {
                padding-left: rem(63);
            }

            .step__number {
                margin-bottom: rem(25);
            }
        }

    }

    &__top {
        justify-content: space-between;
    }

    &__container {
        padding: rem(80) rem(100);
    }

    &__title {
        width: auto;
        margin-bottom: rem(118);

        &::before,
        &::after {
            content: none;
        }
    }

    &__ico {
        display: none;
    }

    &__contacts {
        width: auto;
        padding: 0;
    }

    &__link_contacts {
        position: relative;
        top: rem(25);
        left: rem(-8);

        font-size: rem(18);
        font-weight: bold;
        font-style: normal;
        text-decoration: underline;

        br {
            display: none;
        }
    }
}
