include ../step/step

mixin sequence(data)
    +b.sequence()&attributes(attributes)
        +e.container
            +e.top
                +e.H3.title <b>Порядок</b> обращений
                +e.contacts
                    +e.ico(style='background-image:url(%=static=%img/assets/sequence/i1.svg)')
                    +e.A.link._contacts(href=jv0) Посмотреть <br> контактные <br> данные

            +e.steps
                each item in data.steps
                    +step(item).sequence__step
