include map-controls/map-controls
include map-filter/map-filter
include ../subscribe-box/subscribe-box
include ../form-info-object/form-info-object
include ../btn/btn

mixin map(data)
    +b.map()&attributes(attributes)

        +e.map#map

        +map-controls().map__map-controls

        +map-filter(data.filter).map__map-filter

        // +btn({
        //     text: 'Добавить объект',
        //     className: '_theme_standart'
        // }).map__button

        +form-info-object(style='display: none;')