.map {
    position: relative;

    &__map {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        & > ymaps,
        & > ymaps > ymaps {
            width: 100% !important;
            height: 100% !important;
        }
    }
    
    &__map-controls {
        height: 100%;
    }
    
    &__view-all {
        display: none;
        padding-top: rem(13);
        padding-bottom: rem(14);
        padding-left: rem(21);
        
        font-size: rem(14);
        line-height: rem(28);
        
        border-top: rem(1) solid rgba(#6e757d, .1);
        background-color: $light;

        
        @include above($mobile + 1) {
            display: block;
        }
    }
    
    &__view-all-link {
        text-decoration: none;
    }

    &__btn {
        position: absolute;
        left: rem(123);

        @include below($desktop) {
            left: rem(60);
        }

        @include below($mobile) {
            left: rem(50);
        }

        &_increase {
            top: 50%;

            margin-top: rem(-60);
        }

        &_decrease {
            top: 50%;

            margin-top: rem(12);
        }

        &_fav {
            bottom: rem(42);

            //display: none;

            @include below($mobile) {
                top: rem(325);
                bottom: auto;

                display: block;
            }
        }

        &_search {
            top: rem(45);

            @include below($mobile) {
                display: none;
            }
        }

        &_filter {
            top: rem(135);
        }

        &_add {
            right: rem(18);
            bottom: rem(0);
            left: auto;
        }

        &_show {
            right: 0;
            bottom: rem(70);
            left: auto;
        }

        &_subscribe {
            bottom: 0;
            left: rem(18);
        }
    }

    &__map-filter {
        position: absolute;
        top: rem(56);
        left: rem(218);

        width: rem(292);
        height: calc(100% - #{rem(225)});

        @include below($desktop) {
            left: rem(127);
        }

        @include below($mobile) {
            top: rem(-241);
            left: 0;

            width: 100%;
            height: calc(100% + 15.0625rem);
            max-height: none;
        }
    }
    
    &__subscribe-box {
        position: absolute;
        bottom: rem(39);
        left: rem(218);
        
        align-items: center;
        justify-content: center;
        margin-top: rem(16);
        
        text-align: center;
        
        background-color: #ffffff;
        box-shadow: 0 rem(10) rem(30) rgba(47, 64, 76, 0.21);

    
        @include below($desktop) {
            left: rem(127);
        }

    
        @include below($mobile) {
            display: none;
        }
        
        .btn_theme_light {
            position: relative;
            
            display: block;
            height: rem(52);
            
            text-align: left;
            
            border: none;

            
            @include below($mobile) {
                display: none;
            }
            
            &::after {
                content: '';
                
                position: absolute;
                top: calc(50% - #{rem(16)});
                right: rem(50);
                
                display: block;
                width: 1px;
                height: rem(32);
                
                background-color: rgba(110, 117, 125, .6);
            }
            
            &::before {
                content: '';
                
                position: absolute;
                top: calc(50% - #{rem(7)});
                right: rem(20);
                
                display: block;
                width: rem(8);
                height: rem(14);
                
                background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI5LjA4IiBoZWlnaHQ9IjE0Ljc0IiB2aWV3Qm94PSIwIDAgOS4wOCAxNC43NCI+PHBhdGggZmlsbD0ibm9uZSIgc3Ryb2tlPSIjMDAwIiBzdHJva2UtbWl0ZXJsaW1pdD0iNTAiIGQ9Ik0uNyAxNC4xOGw3LjQ1LTYuODFMLjcuNTYiLz48L3N2Zz4=');
                background-repeat: no-repeat;
                background-size: cover;
            }
            
            .btn__text {
                padding-right: rem(40);
                padding-left: rem(38);
                
                font-size: rem(18);
                font-weight: 300;
                line-height: rem(24);
                color: #697078;
                text-transform: none;
            }
            
            &:hover {
                
                &::after {
                    background-color: $light;
                }
                
                .btn__text {
                    color: $light;
                }
            }
        }
    }

    &__button {
        position: absolute;

        display: flex;
        align-items: center;
        height: rem(52);
        padding: 0 rem(36);

        box-shadow: 0 rem(10) rem(15) lighten($color1, 30%);

        @include below($mobile) {
            height: rem(104);
            padding: 0 rem(85);
        }

        &_show {
            bottom: rem(80);
            left: rem(60);
        }
    }


}
.layout-ico {
    width: rem(30);
    height: rem(30);

    border: rem(2) solid $light;
    border-radius: 50%;
    background-color: $light;
    box-shadow: rem(6) rem(6) rem(25) 0 rgba(0, 0, 0, 0.24);
    cursor: pointer;

    &__wrapper {
        position: relative;

        width: 100%;
        height: 100%;

        border-radius: 50%;
        background-color: $color1;
    }

    &__img {
        position: absolute;
        top: 50%;
        left: 50%;

        height: auto;

        transform: translate(-50%, -50%);

        &_gas {
            width: rem(18);
        }

        &_coworking,
        &_electricity,
        &_resident,
        &_freeland,
        &_landplot,
        &_freespace,
        &_industrialpark {
            width: rem(16);
        }

        &_propertyobject {
            width: rem(70);
            margin-top: rem(3);
        }

    }
}

.layout-cluster {
    width: rem(45);
    height: rem(45);

    border: rem(2) solid $light;
    border-radius: 50%;
    box-shadow: rem(6) rem(6) rem(25) 0 rgba(0, 0, 0, 0.24);
    cursor: pointer;

    &__wrapper {
        position: relative;

        width: 100%;
        height: 100%;

        border: rem(6) solid $color1;

        border-radius: 50%;
        background-color: $color1;
    }

    &__count {
        position: absolute;

        width: 100%;
        height: 100%;

        font-size: rem(14);
        text-align: center;

        border-radius: 50%;
        background-color: $light;
    }

    &__number {
        position: absolute;
        top: 50%;
        left: 50%;

        transform: translate(-50%, -50%);
    }

    &_big {
        width: rem(55);
        height: rem(55);
    }
}

