.cabinet-menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;

    &__list {
        @include list-reset();
        font-size: 0;
        text-align: right;
    }

    &__item {
        display: inline-block;
        margin-right: rem(37);
    }

    &__link {
        font-size: rem(16);
        font-weight: 400;
        line-height: rem(28);
        color: $gray;
        text-decoration: none;
    }

    &__lc-ico {
        position: relative;

        width: rem(48);
        height: rem(48);
        overflow: hidden;

        border: 1px solid $color1;
        border-radius: 50%;
    }

    &__ico {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        width: rem(20);
        height: rem(19);
        margin: auto;
        fill: $color1;
    }

    &__profile-ico {
        position: absolute;

        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
