include ../icon/icon

mixin cabinet-menu(data)
    +b.cabinet-menu()&attributes(attributes)
        block
        +e.UL.list
            +e.item
                +e.A(href=jv0).link Помощь
            +e.item
                +e.A(href=jv0).link Редактировать профиль
            +e.item
                +e.A(href=jv0).link Выйти
        +e.lc-ico
            +icon({
                icon: 'user-lc',
                class: 'cabinet-menu__ico cabinet-menu__ico_user'
            })

