include ../top-box/top-box
include ../info-box/info-box
include ../content/content
include ../conditions/conditions
include ../industry/industry
include ../investclimate/investclimate
include ../collaboration/collaboration

mixin p-about(data)
    +b.p-about()&attributes(attributes)
        +top-box({
            title: 'Об области',
            address: '143407, Московская обл., Красногорск г., бул. Строителей, 1, Дом Правительства',
            social: true
        })
            +info-box(pAbout.infoBox).p-business__info-box

        +content._theme_quote
            +e.left
                +e.H2.title Задача министерства – #[strong развитие инвестиционного климата]

                +e.P.subtitle Инвестиционная стратегия Московской области <br> создана для обеспечения условий устойчивого <br> социально-экономического развития Московской <br> области и повышения качества жизни за счет <br> привлечения российских и зарубежных инвестиций.

                +b.btn._theme_light(href=jv0) Подробнее о структуре

            +e.right
                figure
                    +e.IMG.img(src='%=static=%img/assets/content/denisbucaev.jpg' alt='')
                    +e.FIGCAPTION.caption
                        strong Денис Буцаев
                        em Министр инвестиций и инноваций

        +content._theme_industry
            +e.H2.title #[strong Развитие] отраслей
            +industry(industry.default)

        +content._theme_investclimate
            +e.H2.title #[strong Поддержка] здорового инвестклимата
            +investclimate(investclimate.default)

        +content._theme_collaboration
            +e.H2.title #[strong Иностранное] сотрудничество

            +collaboration(collaboration.default)

        +content._theme_conditions
            +e.H2.title #[strong Содействие] развитию конкуренции

            +conditions(pAbout.conditions2)

            +b.btn.btn_theme_default(href=jv0) Посмотреть все
