.p-about {
    padding-top: rem(131);
    padding-bottom: rem(20);

    background: url(%=static=%general/about-bg.jpg) center top no-repeat;
    background-size: contain;

    @include below($mobile) {
        overflow-x: hidden;

        background-image: url(%=static=%general/about-bg-m.jpg);
    }

    .info-box__item {
        padding-top: rem(45);
        padding-left: 0;

        @include below($desktop) {
            padding-top: rem(50);
        }

        @include below($mobile) {
            padding-top: rem(103);
            margin-bottom: rem(5);

            &:nth-child(3) {
                padding-top: rem(144);
            }
        }
    }

    .top-box__title {
        @include below($mobile) {
            padding-top: rem(7);
        }
    }

    .top-box__social {
        @include below($mobile) {
            display: none;
        }
    }

    .top-box__address {
        @include below($mobile) {

            position: relative;

            padding: rem(21) rem(70) rem(21) rem(141);
            margin-top: rem(10);

            font-size: rem(22);
            font-weight: 400;
            line-height: (49/22);

            border-top: rem(2) solid rgba(#fff, .2);

            &::before {
                position: absolute;
                top: rem(27);
                left: rem(90);

                width: rem(34);
                height: rem(40);
            }
        }
    }

    .top-box__back-link {
        @include below($mobile) {
            z-index: 1;
            top: rem(43);
            left: rem(-74);

            font-size: 0;
        }

        &::before {
            width: rem(42);
            height: rem(44);

            background-image: url(%=static=%assets/p-stories/arrow-m-w.png);
        }
    }

    .info-box__sub-title {
        margin-bottom: rem(16);

        @include below($mobile) {
            margin-bottom: rem(11);

            br {
                display: none;
            }
        }

        &::after {
            content: none;
        }

        &::before {
            content: '';

            display: block;
            width: rem(65);
            height: 1px;
            margin: rem(19) 0 rem(15);

            background-color: #000;

            @include below($mobile) {
                width: rem(81);
                margin-bottom: rem(37);
            }
        }
    }

    .info-box__title {
        @include below($desktop) {
            margin-bottom: rem(4);

            font-size: rem(32);
            line-height: rem(48);
        }

        @include below($mobile) {
            font-size: rem(42);
            line-height: (48/42);
        }
    }

    .info-box__components-title {
        @include below($desktop) {
            margin-right: rem(119);
        }

        @include below($mobile) {
            &::after {
                margin-top: rem(21);
            }
        }
    }

    .info-box__components-item {
        @include below($mobile) {
            width: 100%;
            padding-left: rem(49);
            margin-bottom: rem(39);

            font-size: rem(28);
            font-weight: 400;
            line-height: (42/28);

            b {
                font-size: rem(42);
            }

            &:nth-child(2n -1) {
                order: -1;
            }

            &::before {
                top: rem(20);
                left: rem(3);

                width: rem(20);
                height: rem(20);

                border: 0;
                background: url('%=static=%assets/list/romb.svg') no-repeat;
                background-size: contain;
                transform: none;
            }
        }

        &::before {
            border-width: rem(1);
        }
    }

    .info-box__components-list {
        @include below($desktop) {
            padding-top: rem(7);
            margin-right: rem(-32);
            margin-bottom: rem(-30);
        }

        @include below($mobile) {
            padding-top: rem(35);
        }
    }

    .info-box__text {
        font-size: rem(18);

        @include below($mobile) {
            font-size: rem(28);
            font-weight: 300;
            line-height: (42/28);

            br {
                display: none;
            }
        }

        &::before {
            content: none;
        }
    }

    .info-box__components-btn {
        @include below($mobile) {
            padding-right: rem(104);
            padding-left: rem(100);
            margin-left: rem(90);

            font-size: rem(28);
            font-weight: 500;
            line-height: (74/28);
            text-transform: uppercase;

            &::before {

                right: rem(50);

                width: rem(17);
                height: rem(28);
            }
        }
    }

    .info-box {
        @include below($desktop) {
            padding-top: rem(72);
            padding-right: rem(56);
            padding-left: rem(69);
        }

        @include below($mobile) {
            padding-top: rem(55);
            padding-right: rem(55);
            padding-bottom: rem(70);
            padding-left: 0;
        }
    }

    .info-box__items {
        @include below($desktop) {
            padding-bottom: rem(74);

            border-bottom: 1px dotted #b7b8bb;
        }

        @include below($mobile) {
            position: relative;

            padding-bottom: rem(105);

            border-bottom: none;

            &::after {
                content: '';

                position: absolute;
                bottom: 0;
                left: rem(-86);

                width: 100vw;

                border-top: rem(1) dotted #b7b8bb;
            }
        }
    }

    .info-box__components {
        @include below($desktop) {
            margin-top: rem(66);

            border-top: none;
        }

        @include below($mobile) {
            margin-top: rem(102);

            border-top: none;
        }
    }

    .info-box__statistic {
        @include below($mobile) {
            margin-bottom: rem(21);

            font-size: rem(32);
            font-weight: 500;
            line-height: (36/32);

            b {
                margin-right: 0;

                font-size: rem(160);
                line-height: (130/160);
            }
        }
    }

    .content_theme_quote {
        padding-top: 0;
        margin-bottom: rem(-2);


        @include below($mobile) {
            padding-bottom: rem(300);
            margin-top: rem(50);

            background-color: #f8f9fb;

            .content__inner {
                position: static;

                padding-left: rem(17);
            }
        }

        @include below($desktop) {
            margin-bottom: 0;
        }



        &::before {
            top: rem(62);
            bottom: rem(9);
            left: rem(107);

            @include below($desktop) {
                top: rem(28);
                left: rem(50);
            }

            @include below($mobile) {
                display: none;
            }
        }

        .content__left {
            max-width: rem(742);
            padding-left: rem(104);

            @include below($desktop) {
                width: rem(645);
                max-width: none;
                padding-top: rem(100);
                padding-right: rem(50);
                padding-bottom: rem(90);
                padding-left: rem(70);
            }

            @include below($mobile) {
                width: 100%;
                padding-right: rem(20);
                padding-bottom: rem(1);
            }
        }

        .content__right {
            padding-left: rem(46);

            @include below($mobile) {
                padding-left: rem(118);
            }
        }

        .content__title {
            margin-bottom: rem(28);

            @include below($desktop) {
                margin-bottom: rem(45);
            }

            @include below($mobile) {
                margin-bottom: rem(50);

                font-size: rem(60);
                line-height: 1;
            }
        }

        .content__img {
            top: rem(23);

            @include below($desktop) {
                top: rem(9);
            }

            @include below($mobile) {
                width: rem(482);
            }
        }

        .content__subtitle {
            @include below($desktop) {
                br {
                    display: none;
                }
            }

            @include below($mobile) {
                padding-right: rem(70);

                font-size: rem(28);
                font-weight: 300;
                line-height: (42/28);
            }
        }

        .content__caption {
            bottom: rem(173);
            left: rem(109);

            padding-top: rem(44);

            @include below($desktop) {
                bottom: rem(192);
                left: rem(72);
            }

            @include below($mobile) {
                bottom: rem(-15);
                left: rem(-48);
            }

            &::before {
                width: rem(725);

                @include below($mobile) {
                    top: rem(9);
                    right: auto;
                    left: rem(-89);

                    width: calc(100vw - 1.875rem);
                }
            }

            &::after {
                left: rem(727);

                @include below($mobile) {
                    top: rem(4);
                    right: rem(-29);
                    left: auto;
                }
            }
        }

        .btn {
            position: relative;
            bottom: 0;
            left: rem(6);

            padding: rem(16) rem(86) rem(16) rem(50);
            margin-top: rem(130);

            font-size: rem(14);
            text-transform: uppercase;

            @include below($desktop) {
                min-width: rem(352);
                margin-top: rem(87);
            }

            @include below($mobile) {
                position: absolute;
                bottom: rem(120);
                left: calc(50% - #{rem(302)});

                min-width: rem(572);

                padding-left: rem(85);

                font-size: rem(28);
                line-height: (74/28);
                text-align: center;

                border-width: rem(2);
            }

            &::before {
                @include center($horiz: false);
                content: '';

                right: rem(54);

                width: rem(8);
                height: rem(14);

                background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI5LjA4IiBoZWlnaHQ9IjE0Ljc0IiB2aWV3Qm94PSIwIDAgOS4wOCAxNC43NCI+PHBhdGggZmlsbD0ibm9uZSIgc3Ryb2tlPSIjMDAwIiBzdHJva2UtbWl0ZXJsaW1pdD0iNTAiIGQ9Ik0uNyAxNC4xOGw3LjQ1LTYuODFMLjcuNTYiLz48L3N2Zz4=');
                background-repeat: no-repeat;
                background-position: center;
                background-size: 100%;

                @include below($mobile) {
                    width: rem(17);
                    height: rem(28);
                }
            }
        }
    }

    .content_theme_industry {
        padding-top: 0;

        .content__inner {
            padding-top: rem(65);

            @include below($desktop) {
                padding-top: rem(50);
                padding-bottom: rem(55);
            }

            @include below($mobile) {
                padding-top: rem(97);
                padding-bottom: rem(95);
            }
        }

        .industry {
            @include below($desktop) {
                margin-top: rem(50);
            }
        }
    }

    .content_theme_investclimate {
        padding-top: 0;

        &::before {
            top: rem(4);
            bottom: rem(-10);
            left: rem(110);

            @include below($desktop) {
                left: rem(50);
            }

            @include below($mobile) {
                left: rem(-90);
            }
        }

        .content__inner {
            padding-top: rem(82);

            @include below($desktop) {
                padding-top: rem(64);
            }

            @include below($mobile) {
                padding-top: rem(102);
                padding-right: rem(50);
                padding-left: rem(85);
            }
        }

        .content__title {
            @include below($mobile) {
                margin-bottom: rem(50);

                font-size: rem(60);
                line-height: 1;
            }
        }
    }

    .content_theme_collaboration {
        padding-top: rem(10);
        overflow-x: hidden;

        @include below($desktop) {
            padding-top: 0;
        }

        @include below($mobile) {
            padding-top: rem(11);
        }

        .content__title {
            @include below($mobile) {
                font-size: rem(60);
                line-height: 1;
            }
        }

    }

    .content_theme_conditions {
        padding-top: 0;
        margin-top: 0;

        .content__title {
            @include below($desktop) {
                margin-top: rem(15);
                margin-bottom: rem(40);
            }

            @include below($mobile) {
                margin-bottom: rem(28);

                font-size: rem(60);
                line-height: 1;
            }
        }

        .content__inner {
            padding-top: rem(42);

            @include below($desktop) {
                padding-top: rem(31);
                padding-left: rem(65);
            }

            @include below($mobile) {
                padding-top: rem(68);
                padding-right: rem(50);
                padding-bottom: rem(121);
                padding-left: rem(80);
            }
        }

        .conditions__list {
            margin-left: 0;

            @include below($desktop) {
                padding-right: rem(175);
            }

            @include below($mobile) {
                padding-right: 0;
                padding-left: 0;
            }
        }

        .conditions__item {
            padding-left: 0;

            &::before {
                @include below($mobile) {
                    left: rem(-23);
                }
            }

            &:nth-child(3n - 1) {
                padding-left: rem(71);

                @include below($desktop) {
                    padding-left: rem(73);
                }

                @include below($mobile) {
                    padding-left: 0;
                }

                &::before {
                    left: rem(95);

                    @include below($mobile) {
                        left: 0;
                    }

                    @include below($mobile) {
                        left: rem(-23);
                    }
                }
            }

            &:nth-child(3n) {
                padding-left: rem(143);

                @include below($desktop) {
                    padding-left: rem(140);
                }

                @include below($mobile) {
                    padding-left: 0;
                }

                &::before {
                    left: rem(138);

                    @include below($mobile) {
                        left: 0;
                    }

                    @include below($mobile) {
                        left: rem(-23);
                    }
                }
            }
        }

        .conditions__content {
            padding: rem(21) rem(15) rem(21) rem(28);

            @include below($desktop) {
                padding-left: rem(20);
                margin-top: rem(83);
                margin-left: rem(40);
            }

            @include below($mobile) {
                padding: rem(24) rem(37);
                padding-right: 0;
                margin-top: rem(-44);
                margin-left: rem(21);
            }
        }

        .btn {
            position: relative;
            left: rem(-52);

            display: block;
            width: rem(214);
            padding: 0;
            margin: rem(45) auto 0;

            font-size: rem(14);
            font-weight: 500;
            line-height: rem(52);
            text-align: center;
            text-decoration: none;
            text-transform: uppercase;

            box-shadow: 0 rem(15) rem(40) rem(-15) rgba(55, 119, 232, 0.6);

            transition: all .3s;

            @include below($desktop) {
                left: rem(-32);

                margin: rem(52) auto 0;
            }

            @include below($mobile) {
                left: rem(-16);

                width: rem(569);
                margin-top: rem(48);

                font-size: rem(28);
                line-height: (108/28);
            }

            &:hover {
                background-color: #305beb;
            }
        }
    }

    .conditions__item {
        &::before {
            @include below($desktop) {
                font-size: rem(160);
            }
        }
    }

    &_strategymo {

        .info-box {

            .block-1 {

                &__container {
                    padding-top: 0;
                    padding-left: 0;
                }
            }
        }
    }

    &_npa,
    &_corporation {

        .block-1 {

            &__container {
                padding-top: 0;
                padding-left: 0;
            }
        }
    }
}
