.preloader {
    position: fixed;
    z-index: 100000;

    width: 100%;
    height: 100%;

    background: rgba(255, 255, 255, .5);

    &__text {
        position: absolute;
        top: 50%;
        left: 50%;

        font-size: 45px;
        color: $color1;

        transform: translate(-50%, -50%);
    }

    &_spinner {
        @keyframes spinner {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }

        &::after {
            content: '';

            position: absolute;
            top: calc(50% + #{rem(45)});
            left: calc(50% - #{rem(22.5)});

            display: block;
            width: rem(45);
            height: rem(45);

            background-image: url(%=static=%assets/map/industrialpark-blue.svg);
            background-position: center;
            background-size: cover;

            animation: spinner 1.5s linear infinite;
        }
    }
}
