mixin title-subpage(firstWord, secondWord, contacts, backlink)
    -backlink = backlink === undefined ? true : backlink
    +b.title-subpage()&attributes(attributes)
        +e.top(style='background-image:url(%=static=%img/assets/p-stories/mobile-bg.jpg)')
            +e.title
                .container
                    h1
                        +e.SPAN.brand= firstWord
                        +e.SPAN.divider &nbsp;/&nbsp;
                        +e.SPAN.title-box= secondWord

            if contacts || baclkink
                +e.company-contacts
                    .container
                        +e.contacts
                            if backlink
                                +e.A.back-link(href=jv0) Назад

                            if contacts == 'contacts'
                                +e.contacts-box
                                    +e.A.contacts-link._address(href=jv0) Московская область, г. Ступино-1
                                    +e.A.contacts-link._phone(href=jv0) +7 (495) 721-21-21
                                    +e.A.contacts-link._mail(href=jv0) contact@ru.mars.com
        block
