.title-subpage {
    @include below($mobile) {
        margin-top: 0;
    }

    &__top {
        position: relative;

        background-repeat: no-repeat;
        background-position: center calc(50% + 1.25rem);

        @include above(751px) {
            background-image: none !important;
        }

        @include below($mobile) {
            padding-top: rem(180);
            padding-right: rem(85);
            padding-bottom: rem(7);
            padding-left: rem(85);
        }
    }

    &__title-box {
        @include below($mobile) {
            display: block;
        }
    }

    &__title {

        position: relative;

        padding-bottom: rem(42);
        overflow-x: hidden;

        font-size: rem(90);
        font-weight: 300;
        line-height: 1;
        color: rgba(0, 0, 0, .2);

        @include below($desktop) {
            padding-left: rem(60);

            font-size: rem(80);
        }

        @include below($mobile) {
            padding-left: 0;
            overflow-x: visible;

            font-size: rem(80);
            line-height: (60/80);
            color: rgba(255, 255, 255, .4);
        }

        &::before {
            @include size(rem(10));
            content: '';

            position: absolute;
            z-index: 1;
            bottom: rem(22);
            left: 50%;

            margin-left: rem(-684);

            border: 1px solid rgba(#000, .4);
            background-color: #fff;
            transform: rotate(45deg);

            @include below($desktop) {
                margin-left: rem(-525);
            }

            @include below($mobile) {
                display: none;
            }
        }

        &::after {
            content: '';

            position: absolute;
            bottom: rem(26);
            left: 50%;

            width: 100%;
            height: 1px;

            margin-left: rem(-684);

            background-color: rgba(#000, .2);

            @include below($desktop) {
                margin-left: rem(-525);
            }

            @include below($mobile) {
                bottom: 0;
                left: 0;

                width: 100vw;
                height: rem(2);
                margin-left: rem(-85);

                background: rgba(255, 255, 255, .2);
            }
        }

        h1 {
            margin: 0;

            font-size: rem(90);
        }

    }

    &__divider {
        position: relative;
        top: rem(-10);

        // margin: 0 rem(-10);
        //margin: 0 rem(10) 0 rem(12);
        margin: 0;

        font-size: rem(50);
        font-weight: 300;

        @include below($desktop) {
            top: rem(-8);

            font-size: rem(44);
        }

        @include below($mobile) {

            font-size: rem(60);
            line-height: 1;
            color: rgba(255, 255, 255, .4);
        }
    }

    &__brand {
        margin-left: rem(-5);

        font-weight: 500;
        line-height: 1;
        color: #000000;
        letter-spacing: rem(-0.9);

        @include below($desktop) {
            font-size: rem(80);
        }

        @include below($mobile) {
            margin-right: 0;
            //font-size: rem(90);
            color: #fff;
        }
    }

    &__title-box {
        margin-left: rem(-12);

        font-weight: 300;
        letter-spacing: rem(-0.6px);
    }

    &__back-link {
        position: relative;

        margin-left: rem(18);

        font-size: rem(18);
        font-weight: 300;
        line-height: (28/18);
        color: #3777e8;
        text-decoration: none;

        @include below($mobile) {
            position: absolute;
            top: rem(134);
            left: rem(88);

            font-size: rem(22);
            line-height: rem(28);
            color: #f8f9fb;
        }

        &:hover {
            text-decoration: underline;
        }

        &::before {
            content: '';

            position: absolute;
            top: calc(50% - #{rem(4)});
            left: rem(-16);

            width: rem(6);
            height: rem(8);

            background: url(%=static=%assets/p-stories/arrow.svg) center no-repeat;
            background-size: 100% 100%;

            @include below($mobile) {
                top: calc(50% - #{rem(6.5)});

                width: rem(8);
                height: rem(13);

                background: url(%=static=%assets/p-stories/arrow-m.svg) center no-repeat;
                background-size: 100% 100%;
            }
        }
    }

    &__company-contacts {
        margin-bottom: rem(15);

        @include below($desktop) {
            .container {
                max-width: rem(1175);
            }
        }

        @include below($mobile) {
            padding-top: rem(21);
        }
    }

    &__contacts {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include below($desktop) {
            padding-left: rem(60);
        }

        @include below($mobile) {
            padding-left: 0;
        }
    }

    &__contacts-link {
        position: relative;

        margin-left: rem(45);

        font-size: rem(14);
        font-weight: 400;
        line-height: (36/14);
        color: #282828;
        //white-space: nowrap;
        text-decoration: none;

        @include below($mobile) {
            margin-bottom: rem(5);

            font-size: rem(22);
            line-height: (49/22);
            color: #f8f8f8;
        }

        &:not(:last-child) {
            margin-right: rem(45);
        }

        &::before {
            content: '';

            position: absolute;
            top: rem(8);
            right: calc(100% + 1rem);

            background-repeat: no-repeat;
            background-position: center;
            background-size: 100% 100%;
        }

        &_mail {
            color: #3777e8;


            @include below($mobile) {
                order: 2;
                margin-right: rem(20);

                color: #fff;
            }

            &::before {
                width: 28px;
                height: 18px;

                background-image: url(%=static=%assets/p-stories/mail-ico.svg);

                @include below($mobile) {
                    width: rem(29);
                    height: rem(19);

                    background-image: url(%=static=%assets/p-stories/mail-ico-m.svg);
                }
            }
        }

        &_phone {
            @include below($mobile) {
                order: 3;
                margin-left: 2.8125rem;
            }
            &::before {
                width: 26px;
                height: 25px;

                background-image: url(%=static=%assets/p-stories/phone.png);

                @include below($mobile) {

                    right: calc(100% + .7125rem);

                    width: rem(30);
                    height: rem(27);

                    background-image: url(%=static=%assets/p-stories/phone-m.png);
                }
            }
        }

        &_address {
            @include below($mobile) {
                order: 1;
            }
            &::before {
                width: 21px;
                height: 25px;

                background-image: url(%=static=%assets/p-stories/marker.svg);

                @include below($mobile) {

                    width: rem(24);
                    height: rem(28);

                    background-image: url(%=static=%assets/p-stories/marker-m.svg);
                }
            }
        }
    }

    &__contacts-box {
        display: flex;
        max-width: 80%;

        @include below($mobile) {
            flex-wrap: wrap;
            max-width: 100%;
        }
    }

    &_small-business{
        .title-subpage__divider{
            top: rem(-5);

            margin: 0  rem(30) 0 rem(18);

            font-size: rem(46);
        }

        .title-subpage__title-box{
            font-size: rem(64);
        }



        .title-subpage__title{
            padding-bottom:rem(44);

            &:after{
                bottom: rem(25);
            }

            &:before{
                bottom: rem(21);
            }
        }
    }

    &_no-gap {
        @include below($desktop) {
            margin-left: rem(-60);
        }

        @include below($mobile) {
            margin-left: 0;
        }
    }
}
