.p-search {
    padding-top: rem(130);
    padding-bottom: rem(79);

    background-color: $bg-pages;

    &__result {
        margin-top: rem(8);

        font-size: rem(16);
        font-weight: 400;
        line-height: (28/16);
        color: #697078;
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: rem(1372);
        padding: rem(31) rem(38) rem(50);
        margin: 0 auto;

        background-color: #ffffff;
        box-shadow: 0 10px 30px rgba(47, 64, 76, 0.21);
    }

    &__pagination {
        margin-top: rem(62);

        ul.pagination {
            @include list-reset();
        }

        a {
            display: block;
            width: 100%;
            height: 100%;
            margin-top: rem(20);

            text-align: center;
            text-decoration: none;
        }
    }

}
