include ../top-box/top-box
include ../container/container
include ../title-subpage/title-subpage
include ../search-result/search-result
include ../pagination/pagination
include ../searching/searching

mixin p-search(data)
    +b.p-search()&attributes(attributes)
        +title-subpage('Поиск', 'по сайту', false, false)._no-gap

        .container
            +e.P.result Результаты поиска
            +e.content
                +searching
                +search-result(searchResult.first)
                +pagination(pagination.default)(class="p-search__pagination")
