mixin news-item(data)
    +b.news-item()&attributes(attributes)
        +e.inner
            if data.thumb
                +e.thumb(href=jv0)
                    +e.IMG.img(src=`%=static=%img/assets/news/${data.thumb}` alt='')

            +e.content
                +e.link(href=jv0)
                    +e.SPAN.date= data.date
                    +e.H4.title= data.title

                if data.desc
                    +e.link(href=jv0)
                        +e.P.desc= data.desc
