.news-item {

    &_hidden {
        display: none;
    }

    &:not(:last-child) {
        margin-bottom: rem(57);
    }

    &__inner {
        @include above($mobile + 1) {
            display: flex;
        }
    }

    &__thumb {
        position: relative;

        display: block;
        height: rem(267);


        @include above($mobile + 1) {
            width: rem(341);
            height: rem(248);
            margin-right: rem(31);
        }

        @include above($desktop + 1) {
            width: rem(426);
            margin-right: rem(37);
        }

        @include below($mobile) {
            width: rem(566);
            height: rem(396);
            margin-bottom: rem(77);
        }
    }

    &__content {
        flex: 1;
    }

    &__date {
        display: block;
        margin-bottom: rem(6);

        font-size: rem(26);
        font-weight: 300;
        color: rgba(#000, .8);

        transition: all .3s;

        @include above($mobile + 1) {
            font-size: rem(14);
        }
    }

    &__link {
        color: #000;
        text-decoration: none;
    }

    &__title {
        position: relative;

        display: block;
        padding-bottom: rem(32);
        margin: 0;

        font-size: rem(28);
        font-weight: 500;
        line-height: (42 / 28);
        text-decoration: none;
        text-transform: uppercase;

        transition: all .3s;

        @include above($mobile + 1) {
            padding-bottom: rem(24);

            font-size: rem(16);
            line-height: (24 / 16);
        }

        @include below($mobile) {
            margin-bottom: rem(33);
        }

        &::before {
            content: '';

            position: absolute;
            bottom: 0;
            left: 0;

            width: rem(75);
            height: 1px;

            background-color: #000;

            @include above($mobile + 1) {
                width: rem(65);
            }
        }
    }

    &__link:hover &__date,
    &__link:hover &__title {
        color: #3777e8;
    }

    &__desc {
        margin-top: rem(22);
        margin-bottom: 0;

        font-size: rem(28);
        font-weight: 300;
        line-height: (42 / 28);
        color: #282828;

        @include above($mobile + 1) {
            padding-right: rem(30);
            margin-top: rem(25);

            font-size: rem(18);
            line-height: (28 / 18);
        }

        @include between($mobile + 1, $desktop) {
            display: block; /* Fallback for non-webkit */
            display: -webkit-box;
            overflow: hidden;

            text-overflow: ellipsis;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 4;
        }
    }

    &__img {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        width: 100%;
        height: 100%;
        margin: auto;

        box-shadow: 0 30px 40px -30px rgba(0, 0, 0,.75);
        object-fit: cover;
    }
}

.cecutient-mode {
    .news-item {
        padding-bottom: rem(41);
        margin-bottom: rem(40);

        border-bottom: rem(2) solid #000;

        &_hidden {
            display: block;
        }

        &__date {
            margin-bottom: rem(14);

            font-size: rem(18);
            font-weight: 700;
            line-height: (32/18);
        }

        &__title {
            padding-bottom: rem(13);

            font-size: rem(22);
            font-weight: 500;
            line-height: (32/22);

            &::before {
                display: none;
            }
        }

        &__desc {
            margin-top: 0;

            font-size: rem(22);
            font-weight: 300;
            line-height: (32/22);
        }
    }
}
