include ../icon/icon

mixin object-list(data)
    +b.object-list()&attributes(attributes)
        block
        +e.image-box
            +e.IMG(src=data.image alt="").image
        +e.info-box
            +e.A(href=jv0)
                +icon({
                    icon: 'close-lc',
                    class: 'object-list__close'
                })
            +e.A(href=jv0).link #{data.name}
            +e.icon-box
                +e.ico-wrap
                    +icon({
                        icon: 'slash',
                        class: 'object-list__ico object-list__ico_slash'
                    })

                +e.ico-wrap
                    +icon({
                        icon: 'flame',
                        class: 'object-list__ico object-list__ico_flame'
                    })
            +e.location-box
                +e.address #{data.address}
                +e.location #{data.location}
            +e.params-box
                if (data.lease)
                    +e.P.lease Аренда
                if (data.area)
                    +e.P.area Площадь #{data.area}
                if (data.road)
                    +e.P.road До ближайшей крупной дороги #{data.road}
            +e.links-box
                +e.A(href=jv0).placed Размещено
                +e.A(href=jv0).view Просмотреть
                +e.A(href=jv0).edit Редактировать

