.object-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: rem(40) rem(40) rem(30) rem(40);

    background-color: $light;
    box-shadow: 0 rem(10) rem(30) rgba(47, 64, 76, 0.21);

    &:not(:last-child) {
        margin-bottom: rem(40);
    }

    &:last-child {
        margin-bottom: rem(80);
    }

    &__image-box {
        position: relative;

        // width: rem(462);
        width: 48.5%;
        height: rem(240);

        background-color: #f8f9fb;
    }

    &__image {
        position: absolute;

        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__info-box {
        position: relative;

        //width: rem(452);
        width: 48%;
    }

    &__close {
        position: absolute;
        top: rem(3);
        right: rem(5);
    }

    &__link {
        position: relative;
        top: rem(-4);

        font-size: rem(14);
        line-height: rem(20);
        color: $dark;
        text-decoration: none;
        letter-spacing: rem(-.2);
    }

    &__address {
        font-size: rem(18);
        font-weight: 500;
        line-height: rem(28);
        color: $dark;
    }

    &__location {
        font-size: rem(18);
        font-weight: 300;
        line-height: rem(28);
        color: $dark;
    }

    &__location-box {
        margin-top: rem(15);
    }

    &__params-box {
        margin-top: rem(10);

        font-size: rem(14);
        font-weight: 400;
        line-height: rem(20);
        color: #6b727a;

        & > * {
            margin: 0;

            font-size: inherit;
            line-height: inherit;
            color: inherit;
        }
    }

    &__icon-box {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    &__ico-wrap {
        position: relative;

        width: rem(48);
        height: rem(48);

        border: rem(2) solid #a1a9b3;
        border-radius: 50%;
        background-color: $light;

        opacity: 0.5;

        &:not(:last-child) {
            margin-right: rem(20);
        }

        &_visible {
            border: none;
            box-shadow: 0 rem(10) rem(30) rgba(47, 64, 76, 0.21);
            opacity: 1;
        }
    }

    &__ico {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        margin: auto;

        &_flame {
            width: rem(18);
            height: rem(23);
        }

        &_slash {
            width: rem(17);
            height: rem(28);
        }

        &_water {
            width: rem(17);
            height: rem(23);
        }

        &_clearing {
            width: rem(22);
            height: rem(22);
        }

        &_heating {
            width: rem(12);
            height: rem(27);
        }
    }

    &__links-box {
        display: flex;
        flex-wrap: wrap;
        margin-top: rem(13);
    }

    &__placed,
    &__view,
    &__edit {
        font-size: rem(14);
        line-height: rem(28);
        text-decoration: none;
    }

    &__view-ico,
    &__edit-ico {
        fill: $color1;
    }

    &__view-ico {
        width: rem(11);
        height: rem(14);
        margin-right: rem(4);
    }

    &__edit-ico {
        width: rem(14);
        height: rem(14);
    }

    &__placed {
        position: relative;

        padding-right: rem(10);
        margin-right: rem(31);

        font-size: rem(14);
        font-weight: 700;
        line-height: rem(28);
        color: #000101;
        text-transform: uppercase;
    }

    &__placed-ico {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        width: rem(12);
        height: rem(8);
        margin: auto;
        stroke: #1f2124;
    }

    &__circle-wrap {
        position: relative;
        top: rem(5);
        left: rem(-4);

        display: inline-block;
        width: rem(20);
        height: rem(20);

        border: rem(2) solid #1f2124;
        border-radius: 50%;

        &_rejected {

            &::before,
            &::after {
                content: '';

                position: absolute;
                top: rem(7);

                display: block;
                width: rem(12);
                height: rem(2);

                background-color: #1f2124;
            }

            &::before {
                left: rem(2);

                transform: rotate(45deg);
            }

            &::after {
                right: rem(2);

                transform: rotate(-45deg);
            }
        }

        &_is-considered {

            &::before {
                content: '?';

                position: absolute;
                top: rem(-6);
                left: rem(5);

                font-size: rem(14);
                color: #1f2124;
            }
        }
    }

    &__view {
        margin-right: rem(16);
    }

    &__title,
    &__subtitle {
        margin: 0;

        line-height: rem(32);
    }

    &__title {
        font-size: rem(24);
        font-weight: 500;
    }

    &__subtitle {
        font-size: rem(18);
        font-weight: 300;
    }

    &_empty {

        .object-list__image-box,
        .object-list__info-box {
            width: 100%;
            height: auto;
        }

        .object-list__image-box {
            text-align: center;

            background-color: transparent;
        }

        .object-list__image {
            position: relative;

            display: inline-block;
            width: rem(64);
            height: rem(64);

            border: rem(3) solid $color1;
            border-radius: 50%;

            &::before {
                content: '...';

                position: absolute;
                top: calc(50% - #{rem(15)});
                left: 50%;

                display: block;
                width: 100%;
                height: 0;

                font-size: rem(60);
                line-height: 0;
                color: $color1;

                transform: translate(-50%, -50%);
            }
        }

        .object-list__info-box {
            margin-top: rem(23);
            margin-bottom: rem(52);

            text-align: center;
        }
    }
}

