include ../logo/logo
include ../main-nav/main-nav
include ../social/social
include ../subscribe-box/subscribe-box

mixin footer(data)
    +b.FOOTER.footer()&attributes(attributes)
        +e.container.container
            +e.left
                +logo._theme_light.footer__logo

                +e.P.copyright Любое копирование материалов с сайта без  письменного разрешения владельца запрещено © 2017 Инвестиционный портал

            +e.right
                +main-nav(mainNav.default)._theme_inverse

                +e.socials
                    +subscribe-box({
                        placeholder: 'Ваш е-mail',
                        className: '_theme_dark'
                    }).footer__subscribe-box

                    +social(social.footer)._theme_horizontal.footer__social
