.footer {
    position: relative;

    flex-shrink: 0;
    padding: rem(85) 0 rem(97);

    background-color: #22232c;

    @include above($mobile + 1) {
        padding: rem(60) 0 rem(75);
    }

    @include between($mobile + 1, $desktop) {
        .logo__icon-wrap {
            margin-right: rem(22);
        }

        .logo__title {
            font-size: rem(23);
        }
    }

    &__container {
        @include above($mobile + 1) {
            display: flex;
            justify-content: space-between;
        }
    }

    &__left {
        @include above($mobile + 1) {
            position: relative;
            top: rem(-10);

            max-width: rem(420);
        }
    }

    &__right {
        @include above($mobile + 1) {
            width: rem(668);
        }

        @include above($desktop) {
            width: rem(703);
        }

        @include below($mobile) {
            margin-top: rem(65);
        }

        @include between($mobile + 1, $desktop) {
            margin-right: rem(-20);
        }
    }

    &__copyright {
        display: none;

        @include above($mobile + 1) {
            display: block;
            margin-top: rem(32);

            font-family: $font-2;
            font-size: rem(13);
            line-height: (20 / 13);
            color: rgba(#fff, .2);
        }
    }

    &__socials {
        margin-top: rem(56);

        @include above($mobile + 1) {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: rem(34);
        }


        @include below($mobile){
            margin-top: rem(59);
        }

        .social__title {
            @include below($desktop - 1) {
                margin-right: rem(23);
            }
        }

        .social__title{
            @include below($mobile) {
                padding-left: rem(11);
                margin-right: 0;
                margin-bottom: rem(65);

                letter-spacing: rem(0.2);
            }
        }
    }

    &__subscribe-box {
        position: relative;

        &.subscribe__form {
            @include padding_y(0);
            flex-direction: row;
            align-items: center;
            width: rem(329);
            height: rem(52);
            padding-right: 0;

            @include below($mobile) {
                width: rem(566);
                height: rem(105);
                margin: 0 auto rem(53);

                transform: translateX(rem(-1));
            }

            .error {
                color: $light;
            }
        }
    }

    &__social {
        margin-right: rem(13);
        margin-bottom: rem(20);
    }

    &__logo {
        @include below($mobile) {
            justify-content: center;
            margin-left: rem(-8);

            & .logo__subtitle {
                display: block;
            }
        }

        .logo__text {
            @include above($desktop) {
                bottom: rem(-6);
                left: rem(4);
            }

            @include between($tablet, $desktop - 1) {
                bottom: 0;
                left: 0;
            }
        }

    }

    .logo__title{
        @include below($mobile) {
            font-size: rem(36);
        }
    }

    .logo__icon-wrap{
        @include below($mobile) {
            transform: translate(rem(-1), rem(-4));
        }
    }

    .main-nav__link{
        @include below($mobile) {
            text-transform: uppercase;
        }
    }

    .subscribe-box__input{
        @include below($mobile) {
            padding-bottom: 5px;
            padding-left:rem(35) !important;
        }
    }

    .subscribe {
        overflow-x: visible;

        &__message {
            @include below($mobile) {
                width: rem(566);
                padding-bottom: 5px;
                margin: 0 auto;
            }
        }

        label.error {
            position: absolute;
            top: calc(100% + 15px);
        }
    }
}

.cecutient-mode {
    .footer {
        padding-top: rem(35);

        .container  {
            max-width: rem(1370);

            @include below($desktop) {
                max-width: 73.125rem;
            }
        }

        .logo {
            margin-bottom: rem(42);
        }

        .logo__icon {
            fill: #fff;
        }

        &__copyright {
            padding-right: rem(50);

            font-size: rem(18);
            line-height: (26/18);
            color: #ffffff;
        }

        .main-nav__link {
            font-size: rem(18);
            font-weight: 700;
            line-height: (24/18);
            color: #ffffff;
        }

        &__right {
            flex-grow: 1;
            max-width: none;
            padding-left: rem(47);
        }

        &__left {
            top: rem(5);
        }

        .main-nav {
            padding-right: 0;
            padding-left: 0;
            &__list {
                justify-content: space-between;
            }

        }

        .subscribe-box__input {
            width: rem(329);
            margin-right: rem(19);

            font-size: rem(20);
            color: #000;

            background-color: #fff;

            &::placeholder {
                font-size: rem(20);
                color: #000;
            }
        }

        .subscribe-box {
            width: auto;

            border: none;

            &__input {
                @include below($desktop) {
                    width: 60%;
                }
            }

            &__submit {
                @include below($desktop) {
                    width: 30%;
                }
            }
        }

        .subscribe-box__submit {
            width: auto;
            height: auto;
            padding-right: rem(40);
            padding-left: rem(42);

            font-size: rem(18);
            font-weight: 700;
            line-height: (52/18);
            text-transform: uppercase;

            border: none;
            background-color: #fff;

            .icon {
                display: none;
            }
        }

        &__social {
            margin-top: rem(9);
            margin-bottom: rem(13);
        }

        &__socials {
            align-items: center;
            margin-top: rem(40);
        }

        .social__title {
            font-size: rem(18);
            font-weight: 700;
            line-height: (24/18);
        }

        .social__link {
            border-color: #fff;
            background-color: #fff;
            fill: #000;
        }

        .social_theme_horizontal .social__item:not(:last-child) {
            margin-right: rem(25);
        }
    }
}
