mixin project(data)
    +b.project()&attributes(attributes)
        +e.content
            +e.H3.title!= data.title

            +e.bottom
                +e.P.subtitle!= data.subtitle

                +e.btn(href=jv0) Выбрать проект
