.project {
    position: relative;

    height: rem(820);
    overflow: hidden;

    color: #fff;

    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    cursor: pointer;

    @include above($mobile + 1) {
        height: rem(498);
    }

    @include above($desktop + 1) {
        height: rem(433); // -132px
    }

    &::before {
        content: '';

        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        background-image: linear-gradient(to top, rgba(3, 24, 45, 0.82) 0%, rgba(14, 21, 58, 0) 50%);
        opacity: .9;
    }

    &__content {
        @include size(100%);
        position: absolute;

        padding: rem(105) rem(50) rem(45);

        transform: translateY(rem(320));

        transition: all .3s;

        @include above($mobile + 1) {
            padding: rem(55) rem(30) rem(45) rem(40);

            transform: translateY(rem(170));
        }

        @include above($desktop + 1) {
            padding: rem(105) rem(40) rem(45);

            transform: translateY(rem(40));
        }

        @include below($mobile) {
            padding-top: rem(113);
        }
    }

    &:hover &__content {
        transform: translateY(rem(120));

        @include above($mobile + 1) {
            transform: translateY(rem(-120));
        }

        @include below($desktop) {
            transform: translateY(rem(-8));
        }
    }

    &__bottom {
        opacity: 0;
        visibility: hidden;

        transition: all .2s;
    }

    &:hover &__bottom {
        opacity: 1;
        visibility: visible;
    }


    &__title {
        min-height: rem(245);
        margin: 0;
        overflow: hidden;

        font-size: rem(42);

        @include above($mobile + 1) {
            font-size: rem(30);
        }

        @include above($desktop + 1) {
            font-size: rem(30);
        }

        @include below($desktop) {
            min-height: rem(232);
        }

        @include below($mobile) {
            min-height: rem(320);
        }

        strong {
            position: relative;

            display: block;
            margin-bottom: rem(27);
            margin-left: rem(10);

            font-size: rem(210);
            text-indent: rem(-10);
            text-shadow: 0 10px 30px rgba(47, 64, 76, 0.21);

            @include above($mobile + 1) {
                margin-bottom: rem(20);

                font-size: rem(145);
            }

            @include above($desktop + 1) {
                margin-bottom: rem(27);

                font-size: rem(150);
            }

            @include below($mobile) {
                margin-bottom: rem(15);

                letter-spacing: rem(-.75);
            }

            &::before {
                content: '';

                position: absolute;
                bottom: rem(-4);
                left: 0;

                width: rem(65);
                height: 1px;

                background-color: #fff;

                @include between($mobile + 1, $desktop) {
                    bottom: rem(4);
                }

                @include below($mobile) {
                    bottom: rem(13);

                    width: rem(90);
                }
            }
        }
    }

    &__subtitle {
        max-height: rem(70);
        margin-top: rem(10);
        margin-bottom: rem(20);
        overflow: hidden;

        font-size: rem(18);
        line-height: (24 / 18);
        color: rgba(#fff, .7);

        @include above($desktop + 1) {
            max-width: rem(235);
        }

        @include below($mobile) {
            max-height: rem(230);
        }
    }

    &__btn {
        display: inline-block;
        padding: 0 rem(45);
        margin-top: rem(23);

        font-size: rem(14);
        font-weight: 500;

        line-height: rem(52);
        color: #fff;
        white-space: nowrap;
        text-decoration: none;
        text-transform: uppercase;
        text-overflow: ellipsis;

        border: 1px solid #fff;
        background-color: transprent;

        transition: all .3s;

        &:hover {
            border-color: transparent;
            background-color: #305beb;
        }
    }
}


.cecutient-mode {
    .project {
        .slick-list {
            width: 100%;
            height: rem(512);
        }
        &__title {
            margin-left: rem(5);

            & strong::before {
                height: rem(2);

                background: #000;
            }
        }

        &__subtitle {
            color: #000;
        }

        &__btn {
            padding: 0 rem(65);

            font-size: rem(18);
            font-weight: 700;
            line-height: (52/18);
            color: #f1f3f5;

            background: #000;
            &:hover {
                background: #305beb;
            }
        }
    }
}
