include ../info-box/info-box
include ../icon/icon
include ../content/content

mixin coWorking(data)
    +b.coWorking()&attributes(attributes)
        block
        .content.content_theme_coworking
            .container
                .content__inner
                    +info-box(coWorking.infoBox).info-box_coworking
        .content.content_theme_return.content_theme_return_digits.content-gray-right
            .container
                .content__inner
                    p.content__title На территории Московской области в 2016 году создана
                        br
                        = ' '
                        b   сеть коворкинг-центров
                    p.content__description На базе коворкинг-центров осуществляется комплексная поддержка субъектов МСП, планирующих заняться предпринимательской деятельностью.
                    .content__list-digits
                        .content__item-digits
                            p.content__digits-number 15
                            p.content__digits-text Коворкинг-центров
                                br
                                = ' '
                                | в сети
                        .content__item-digits
                            p.content__digits-number 4 651
                                span.content__digits-after м
                                sup.content__sup 2
                            p.content__digits-text Общая площадь
                                br
                                = ' '
                                | центров
                        .content__item-digits
                            p.content__digits-number 385
                            p.content__digits-text рабочих мест
                                br
                                = ' '
                                | в зоне open space
                    .content__release
                        .content__release-l
                            h3.h3.subtitle-border Реализация
                                br
                                = ' '
                                b проекта
                        .content__release-r
                            .content__release-list
                                .content__release-item
                                    span.content__number 8
                                    .content__info
                                        .content__title-release коворкинг–центров
                                        .content__annotation созданы за счет областных, муниципальных средств и средств инвестора
                                .content__release-item
                                    span.content__number 7
                                    .content__info
                                        .content__title-release центров
                                        .content__title-annotation открылись муниципальными образованиями самостоятельно
                                .content__release-item
                                    span.content__number 10
                                    .content__info
                                        .content__title-release новых коворкингов
                                        .content__title-annotation планируется создать в 2017 году в целях развития проекта
        +content._theme_projects-coworking
            .projects
                .projects__location
                    .projects__left
                        h4.projects__title #[strong Найти ближайший коворкинг] вы сможете на интерактивной карте
                        p.projects__count #[strong 10 000]
                            span.projects__currency руб.
                        p.projects__text составляет ценовое ограничение
                            br
                            | за безлимитный месячный абонемент
                            br
                            | работы в коворкинг-центре
                        a.projects__btn.projects__btn_blue(href=jv0) Посмотреть все объекты на карте
                    .projects__right
                        .projects__map-wrap
                            .projects__map-marker
                                a(href="/map").projects__map-count 12
                            .projects__map-marker
                                a(href="/map").projects__map-count 4
                            .projects__map-marker
                                a(href="/map").projects__map-count 9
                            .projects__map-marker
                                a(href="/map").projects__map-count 7
                            .projects__map-marker
                                a(href="/map").projects__map-count 9
                            .projects__map-marker
                                a(href="/map").projects__map-count 4
                            .projects__map-marker
                                a(href="/map").projects__map-count 7
                            .projects__map-marker
                                a(href="/map").projects__map-count 12
                            .projects__map-marker
                                a(href="/map").projects__map-count 15
                            .projects__map-marker
                                a(href="/map").projects__map-count 6

                            +icon({icon: 'map', class: 'projects__map'})
