include ../measures-list/measures-list

mixin measures(data)
    +b.measures()&attributes(attributes)
        +e.HEADER.header
            +e.UL.controls
                each item in data.items
                    +e.control(class={_active: item.active})
                        +e.link(
                            href=jv0
                            style=`background-image: url(%=static=%img/assets/measures/${item.thumb});`)

                            +e.DIV.link-inner
                                +e.H3.title= item.title
                                +e.P.subtitle!= item.subtitle

        +e.content
            each item, index in data.items
                +e.content-item(class={_state_active: index == 0})
                    +measures-list(measuresList.default)

                    +b.btn._theme_standart.measures__btn(href=jv0)
                        +e.text Посмотреть все
