.measures {
    margin-top: rem(-19);

    @include above($mobile + 1) {
        margin-top: rem(-7);
    }

    @include above($desktop + 1) {
        margin-top: rem(50);
    }

    @include below($mobile) {
        margin-top: rem(-16);
    }
    &__content {
        @include above($mobile + 1) {
            margin-top: rem(50);
        }

        @include above($desktop + 1) {
            padding: 0 rem(25) 0 rem(5);
            margin-top: rem(40);
        }
    }
    &__controls {
        @include list-reset;
        @include clearfix;

        @include below($mobile) {
            padding-top: rem(25);
            padding-bottom: rem(75);
            padding-left: rem(25);
            margin-right: rem(-75);
            margin-left: rem(-20);
            overflow-x: auto;

            white-space: nowrap;
        }

        @include above($mobile + 1) {
            display: flex;
            align-items: flex-start;
        }
    }
    &__control {
        position: relative;

        width: rem(566);
        height: rem(315);

        @include above($mobile + 1) {
            width: 33.3333%;
            height: rem(160);
        }

        @include below($mobile) {
            display: inline-block;

            vertical-align: top;
            &:not(:last-child) {
                margin-right: rem(15);
            }
        }
        &_active {

            &::before,
            &::after {
                @include size(rem(88));
                content: '';

                position: absolute;
                z-index: 8;
                bottom: rem(-43);
                left: rem(53);

                @include above($mobile + 1) {
                    @include size(rem(46));
                    bottom: rem(-24);
                    left: rem(29);
                }
            }
            &::before {
                background-color: #fff;
                box-shadow: 0 rem(10) rem(30) rgba(47, 64, 76, .21);
                transform: rotate(45deg);
            }
            &::after {
                background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNi40OSIgaGVpZ2h0PSIxMS4xNiIgdmlld0JveD0iMCAwIDE2LjQ5IDExLjE2Ij48cGF0aCBmaWxsPSJub25lIiBzdHJva2U9IiMwMDAiIHN0cm9rZS1taXRlcmxpbWl0PSI1MCIgc3Ryb2tlLXdpZHRoPSIyIiBkPSJNMTUuNzQgMS43NGwtNy41IDguMzQtNy41LTguMzQiLz48L3N2Zz4=');
                background-repeat: no-repeat;
                background-position: center;

                @include below($mobile) {
                    background-image: url(%=static=%assets/measures/arrow.png);
                    background-size: rem(32) rem(20);
                }
            }
        }
    }
    &__link {
        @include size(100%);
        position: relative;

        display: block;
        overflow: hidden;

        text-decoration: none;

        background-color: rgba(55, 119, 232, 1);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        transition: all .3s;
        &::before {
            content: '';

            position: absolute;
            z-index: 1;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;

            background-color: rgba(55, 119, 232, .78);
        }
        &:hover {
            @include above($mobile + 1) {
                box-shadow: 0 5px 30px 0 rgba(#000, .34);
            }
        }
    }
    &__control_active &__link {
        background-image: linear-gradient(to top, rgba(14, 21, 58, 0) 0%, rgba(3, 24, 45, 0.82) 100%);

        @include above($mobile + 1) {
            box-shadow: 0 5px 30px 0 rgba(#000, .34);
        }
        &::before {
            content: none;
        }
        &:hover {
            @include above($mobile + 1) {
                box-shadow: 0 5px 30px 0 rgba(#000, .34);
            }
        }
    }
    &__link-inner {
        @include size(100%);
        position: relative;
        z-index: 2;

        padding: rem(22) rem(35) rem(16);

        transform: translateY(rem(200));

        transition: all .3s;

        @include above($mobile + 1) {
            padding: rem(18) rem(20) rem(16);

            transform: translateY(rem(98));
        }
    }
    &__link:hover &__link-inner,
    &__control_active &__link-inner {
        transform: translateY(0);
    }
    &__control_active &__link-inner {
        background-image: linear-gradient(to top, rgba(14, 21, 58, 0) 0%, rgba(3, 24, 45, 0.62) 100%);
    }
    &__title {
        max-height: rem(25);
        margin: 0;
        overflow: hidden;

        font-size: rem(48);
        font-weight: 500;
        line-height: 1;
        color: #fff;

        transition: all .3s;

        @include above($mobile + 1) {
            font-size: rem(24);
        }

        @include below($mobile) {
            max-height: rem(62);

            letter-spacing: rem(-.75);
        }
    }
    &__link:hover &__title,
    &__control_active &__title {
        font-size: rem(62);

        @include above($mobile + 1) {
            max-height: rem(30);

            font-size: rem(30);
        }
    }
    &__subtitle {
        position: relative;

        max-height: rem(55);
        padding-top: rem(38);
        margin-top: rem(40);
        margin-bottom: 0;
        overflow: hidden;

        font-size: rem(28);
        color: #fff;

        opacity: 0;
        visibility: hidden;

        transition: all .3s;

        @include above($mobile + 1) {
            padding-top: rem(20);
            margin-top: rem(22);

            font-size: rem(14);
        }

        @include below($mobile) {
            max-height: rem(106);
            padding-top: rem(36);
            padding-left: rem(4);

            white-space: normal;
        }
        &::before {
            content: '';

            position: absolute;
            top: 0;
            left: 0;

            width: rem(63);
            height: 1px;

            background-color: #f8f9fb;

            @include below($mobile) {
                width: rem(125);
            }
        }
    }
    &__link:hover &__subtitle,
    &__control_active &__subtitle {
        opacity: 1;
        visibility: visible;
    }
    &__content-item {
        display: none;
        &_state_active {
            display: block;
        }
    }
    &__btn {
        position: relative;

        display: block;
        margin: rem(56) auto 0;

        line-height: rem(52);
        text-align: center;

        background-color: #3777e8;
        box-shadow: 0 rem(15) rem(20) rem(-8) rgba(55, 119, 232, 0.6);

        transition: all .3s;

        @include above($mobile + 1) {
            width: rem(213);
            margin: rem(28) auto 0;
        }

        @include above($desktop + 1) {
            left: rem(10);

            width: rem(213);
            margin: rem(43) auto 0;
        }

        @include below($mobile) {
            max-width: rem(566);
            margin-left: rem(3);
            & .btn__text {
                font-size: rem(36);
                line-height: rem(106);
            }
        }
        &:hover {
            background: #305beb;
        }
    }
}
.cecutient-mode {
    .measures {
        margin-top: rem(69);
    }
    .measures__controls {
        border-bottom: rem(2) solid $dark;
    }
    .measures__control {
        width: auto;
        height: auto;
        padding: rem(2) rem(18) rem(3);
        margin-bottom: rem(-2);
    }
    .measures__control_active {
        border: rem(2) solid $dark;
        box-shadow: none;

        .measures__title {
            font-size: rem(22);
        }
        .measures__link {
            &:hover {
                box-shadow: none;
            }
        }
    }

    .measures__control.measures__control_active{
        &:after{
            content: '';

            position: absolute;
            bottom: rem(-3);
            left: 0;

            display: block !important;
            width: 100%;
            height: rem(10);

            background: #fff;
        }
    }



    .measures__link:hover .measures__link-inner .measures__title,
    .measures__link-inner  .measures__control_active .measures__title {
        font-size: rem(22);
    }
    .measures__title {
        font-size: rem(22);
        font-weight: 700;
        letter-spacing: rem(0.5);
        text-transform: uppercase;
    }
    .measures__link-inner {
        transform: none;
    }
    .measures__subtitle {
        display: none;
    }
    .measures__header {
        margin-bottom: rem(50) !important;
    }
    .measures-list__item {
        width: 31%;
        padding-right: 0;
        &::hover {
            color: transparent;
        }
        &:nth-child(2),
        &:nth-child(5) {
            margin-right: rem(33);
        }
    }
    .measures-list__link {
        padding-top: rem(27);
        margin-right: rem(-10);
        &:hover {
            &:after {
                box-shadow: none;
            }
        }
        &:before {
            top: rem(37);
            left: rem(-2);

            width: rem(10);
            height: rem(10);

            background-color: $dark;
        }
    }
    .measures-list__text {
        font-size: rem(22);
        font-weight: 400;
        line-height: rem(32);
        letter-spacing: rem(0.15);
        strong {
            font-weight: 700;
        }
    }
    .measures__btn {
        width: rem(236);
        margin-top: rem(36);
    }
}
