.locations {
    &__title {
        margin-bottom: rem(22);

        font-size: rem(14);
        font-style: italic;
        line-height: (32/14);
        color: #000000;


        @include below($mobile) {
            font-size: 1.75rem;
        }
    }

    &__box {
        display: flex;


        @include below($mobile) {
            flex-wrap: wrap;
        }
    }

    &__items {
        min-width: rem(333);
        padding-left: 0;
        margin: 0;

        list-style: none;



        @include below($mobile) {
            width: 100%;
        }
    }

    &__item {
        margin-bottom: rem(23);

        font-size: rem(16);
        font-weight: 300;
        line-height: 1;
        color: #000000;


        @include below($mobile) {
            font-size: 1.5rem;
        }
    }
}

.cecutient-mode .locations {
    
    &__title {
        font-size: rem(20);
        font-weight: 600;
        line-height: rem(32);
        letter-spacing: rem(0.3);
    }
    
    &__items {
        min-width: rem(335);
    }
    
    &__item {
        margin-bottom: rem(25);
        
        font-size: rem(18);
        font-weight: 500;
        letter-spacing: rem(-0.2);
    }
}
