mixin locations(data)
    +b.locations()&attributes(attributes)
        +e.title Приоритетные локации:

        +e.box

            +e.UL.items
                +e.LI.item Дмитровский район

                +e.LI.item Зарайский район

                +e.LI.item Истринский район

                +e.LI.item Клинский район

                +e.LI.item г.о. Коломна

                +e.LI.item Коломенский район

                +e.LI.item Красногороский район

                +e.LI.item Одинцовский район

                +e.LI.item Павло-Посадский район

            +e.UL.items
                +e.LI.item Пушкинский район

                +e.LI.item г.о. Серпухов

                +e.LI.item Серпуховский район

                +e.LI.item Солнечногорский район

                +e.LI.item Талдомский район

                +e.LI.item Чеховский район



