.map-card {
    width: 100%;
    max-width: rem(720);
    height: calc(100% - 4.875rem);
    padding: 0;

    margin-top: rem(37);
    margin-bottom: rem(41);
    margin-left: rem(-75);

    &_hide_on {
        height: auto;

        .map-card__content,
        .map-card__bottom {
            display: none;
        }
    }

    &__dynamic-content {
        position: relative;

        height: calc(100% - #{rem(80)});
    }

    &__popup {
        .fancybox-bg {
            opacity: .5;
        }
    }

    &__link {
        text-decoration: none;
    }

    &__hide-btn {
        position: absolute;
        z-index: 1;
        top: rem(30.4);
        right: rem(47);

        display: flex;
        align-items: center;
        justify-content: center;
        width: rem(22);
        height: rem(16);

        cursor: pointer;
        &:after {
            content: '';

            display: block;

            width: 100%;
            height: rem(2);

            background: #3777e8;
        }

    }

    &__close-btn {

        position: absolute;
        z-index: 1;
        top: rem(27);
        right: rem(85);

        display: none;

        width: rem(15);
        height: rem(16);

        cursor: pointer;

        .icon_close-dark {
            stroke: #191a1e;
        }
    }

    &__title {
        position: relative;

        padding: rem(22) rem(30);
        padding-right: rem(95);
        margin-top: 0;
        margin-bottom: 0;

        font-size: rem(24);
        font-weight: 400;
        line-height: (28/24);

        color: #000000;

        background-color: #f8f9fb;
        box-shadow: 0 rem(10) rem(30) rgba(47, 64, 76, 0.21);
    }

    .fancybox-close-small {
        top: rem(24);
        right: rem(15);

        width: rem(29);
        height:rem(28);

        &:hover::after {
            background-color: transparent;
        }

        &::after {
            content: '';

            width: rem(19);
            height:rem(18);

            background-image: url(%=static=%assets/map/map-card/close.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100% 100%;
            outline: none;
        }
    }

    &__slide {
        display: none;
        padding: rem(5);
    }

    .slick-arrow {
        position: absolute;
        z-index: 1;
        top: 50%;

        width: rem(9);
        height: rem(16);
        margin-top:rem(-7);

        font-size: 0;

        border: none;
        background-color: transparent;

        background-image: url(%=static=%assets/map/map-card/arrow.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;
    }

    .slick-prev {
        left: rem(-17);
    }

    .slick-next {;
        right: rem(-17);

        transform: rotate(180deg);
    }

    &__img {
        width: 100%;
        height: auto;
    }

    &__slider-box {
        position: relative;

        padding-top: rem(24);

        padding-right: rem(45);
        padding-bottom: rem(26);
        padding-left: rem(45);

        border-top: 1px solid rgba(110, 117, 125, .1);
    }

    &__description {
        max-width: rem(680);
        padding-left: 0;

        font-size: rem(18);
        font-weight: 300;
        line-height: (24.1/18);
        color: #282828;
    }

    &__text {
        font-size: rem(14);
        font-weight: 300;
        line-height: (20/14);
        color: #000000;

    }

    b.map-card__text {
        font-weight: 500;
    }

    &__details {
        display: flex;
        flex-wrap: wrap;
        padding-top: rem(24);
        padding-bottom: rem(7);

        border-top: 1px solid rgba(110, 117, 125, 0.1);
    }

    &__detail {
        width: 50%;
        padding-right: rem(30);
        padding-left: rem(30);
        margin-bottom: rem(21);

        &:last-of-type {
            margin-bottom: rem(45);
        }
    }
    &__detail_big {
        width: 100%;
        padding-right: rem(30);
        padding-left: rem(30);
        margin-bottom: rem(21);

        &:last-of-type {
            margin-bottom: rem(45);
        }
    }

    &__icons {
        display: flex;
        flex-wrap: wrap;
        padding-top: rem(40);
        margin-bottom: rem(36);

        &::after {
            margin-top: rem(21);
        }
    }

    &__sub-title {
        margin-bottom: rem(19);

        font-size: rem(14);
        font-weight: 500;
        line-height: 1;
        color: #000000;
    }

    &__send {
        display: inline-block;
        padding: 0 rem(58);

        font-size: rem(14);
        font-weight: 500;
        line-height: (52/14);
        color: #ffffff;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;

        border: none;
        background-color: #3777e8;
        box-shadow: 0 0.625rem 0.9375rem #c0d4f8;
        outline: none;

        &_hide {
            display: none;
        }
    }

    &__bottom {
        position: relative;

        height: rem(80);
        padding: rem(14) rem(30) rem(10);

        background-color: #fff;

        box-shadow: 0 rem(10) rem(30) rgba(47, 64, 76, 0.21);
    }

    &__residents,
    &__documents {
        padding: rem(28) rem(30);
        padding-bottom: rem(19);

        border-top: 1px solid rgba(110, 117, 125, 0.1);

    }

    &__res-pic {
        display: flex;
        align-items: center;
        justify-content: center;
        width: rem(80);
        height: rem(40);
        margin-right: rem(14);

        border: 1px solid #d9d9d9;
        background-color: #ffffff;

        img {
            width: auto;
            max-height: 100%;
        }
    }

    &__res-item {
        display: flex;
        width: 50%;
        margin-bottom: rem(10);

        &:nth-child(2n) {
            padding-left: rem(15);
        }

        .map-card__text {
            line-height: (16/14);
        }
    }

    &__res-items {
        display: flex;
        flex-wrap: wrap;
    }

    &__dop-info {
        position: relative;
        top: rem(-8);

        margin: 0;
    }

    &__document {
        position: relative;

        padding-left: rem(48);
    }

    &__icon {

        &_doc {
            position: absolute;
            top: rem(3);
            left: 0;

            width: rem(34);
            height: rem(37);
            fill: $color1;
        }
    }

    &__document-format {
        font-size: rem(14);
        font-weight: 400;
        line-height: rem(30);
        text-transform: uppercase;
    }

    &__document-size {
        margin-left: rem(6);

        font-size: rem(14);
        font-weight: 300;
    }

    &__document-name {
        font-size: rem(14);
        font-weight: 400;
        line-height: rem(30);
    }

    &__content {
        height: calc(100% - #{rem(50)});
        overflow: auto;
    }

    .mCustomScrollBox {
        padding-bottom: rem(11);
    }

    .mCSB_inside > .mCSB_container {
        margin-right: 0;
    }

    &__box {
        padding: rem(28) rem(30);
        padding-bottom: rem(16);

        border-top: 1px solid rgba(110, 117, 125, 0.1);
    }

    &__box-items {
        display: flex;
        flex-wrap: wrap;
        margin-top: rem(-2);
    }

    &__box-item {
        width: 50%;
        margin-bottom: rem(11);

        &:nth-child(2n) {
            padding-left: rem(16);
        }
    }

    .custom-scroll_theme_standart {

        .mCSB_scrollTools {
            width: rem(5);

            background-color: #d7d7d7;

            .mCSB_draggerRail {
                background-color: #d7d7d7;
            }

            .mCSB_dragger .mCSB_dragger_bar {
                width: rem(5);

                background-color: #3777e8;
            }
        }
    }
}
