mixin map-card(data)
    +b.map-card()&attributes(attributes)
        +e.dynamic-content
            +e.SPAN.hide-btn
            +e.SPAN.close-btn
                +icon({icon: 'close-dark'})
            if !data.noRender

                +e.H3.title Индустриально-логистический парк «Ворсино»

                +e.content.custom-scroll.custom-scroll_theme_standart

                    +e.box.cecutient-hidden
                        +e.sub-title Общие сведения
                        +e.text текст Description

                    +e.box.cecutient-hidden
                        +e.sub-title Адрес
                        +e.text текст Address

                    +e.box.cecutient-hidden
                        +e.sub-title Контакты
                        +e.text текст Phone

                    +e.slider-box.cecutient-hidden
                        +e.slider
                            +e.slide
                                +e.IMG.img(src='%=static=%img/assets/map/map-card/p3.jpg')
                            +e.slide
                                +e.IMG.img(src='%=static=%img/assets/map/map-card/p4.jpg')
                            +e.slide
                                +e.IMG.img(src='%=static=%img/assets/map/map-card/p5.jpg')
                            +e.slide
                                +e.IMG.img(src='%=static=%img/assets/map/map-card/p6.jpg')
                            +e.slide
                                +e.IMG.img(src='%=static=%img/assets/map/map-card/p7.jpg')
                            +e.slide
                                +e.IMG.img(src='%=static=%img/assets/map/map-card/p3.jpg')
                            +e.slide
                                +e.IMG.img(src='%=static=%img/assets/map/map-card/p4.jpg')
                            +e.slide
                                +e.IMG.img(src='%=static=%img/assets/map/map-card/p5.jpg')
                            +e.slide
                                +e.IMG.img(src='%=static=%img/assets/map/map-card/p6.jpg')
                            +e.slide
                                +e.IMG.img(src='%=static=%img/assets/map/map-card/p7.jpg')
                            +e.slide
                                +e.IMG.img(src='%=static=%img/assets/map/map-card/p3.jpg')
                            +e.slide
                                +e.IMG.img(src='%=static=%img/assets/map/map-card/p4.jpg')
                            +e.slide
                                +e.IMG.img(src='%=static=%img/assets/map/map-card/p5.jpg')
                            +e.slide
                                +e.IMG.img(src='%=static=%img/assets/map/map-card/p6.jpg')
                            +e.slide
                                +e.IMG.img(src='%=static=%img/assets/map/map-card/p7.jpg')


                    +e.details.map-card__block
                        +e.detail
                            +e.B.text Площадь участка, га
                            +e.text 1610,6

                        +e.detail
                            +e.B.text Газ
                            +e.text Нет

                        +e.detail
                            +e.B.text Удаленность от Москвы, км
                            +e.text 110

                        +e.detail
                            +e.B.text Электричество
                            +e.text Есть

                        +e.detail
                            +e.B.text Расположен в ОЭЗ
                            +e.text Нет

                        +e.detail
                            +e.B.text Канализация
                            +e.text Есть

                        +e.detail
                            +e.B.text Аренда
                            +e.text Нет

                        +e.detail
                            +e.B.text Стоимость, руб.
                            +e.text По запросу

                        +e.detail
                            +e.B.text Продажа
                            +e.text Да

                    +e.residents
                        +e.sub-title Резиденты
                        +e.res-items
                            +e.res-item
                                +e.res-pic
                                    +e.IMG.img(src='%=static=%img/assets/map/map-card/r1.png')
                                +e.A.text(href=jv0) ООО «НоваМедика»
                            +e.res-item
                                +e.res-pic
                                    +e.IMG.img(src='%=static=%img/assets/map/map-card/r2.png')
                                +e.A.text(href=jv0) ООО «Самсунг Электро
                            +e.res-item
                                +e.res-pic
                                    +e.IMG.img(src='%=static=%img/assets/map/map-card/r3.png')
                                +e.A.text(href=jv0) ООО «Самсунг Электроникс Рус Калуга»
                            +e.res-item
                                +e.res-pic
                                    +e.IMG.img(src='%=static=%img/assets/map/map-card/r4.png')
                                +e.A.text(href=jv0) ООО «Сормат Рус»
                            +e.res-item
                                +e.res-pic
                                    +e.IMG.img(src='%=static=%img/assets/map/map-card/r5.png')
                                +e.A.text(href=jv0) ООО «Группа Компаний «Стис»
                            +e.res-item
                                +e.res-pic
                                    +e.IMG.img(src='%=static=%img/assets/map/map-card/r6.png')
                                +e.A.text(href=jv0) ЗАО «Л’Ореаль»

                    +e.box.cecutient-hidden
                        +e.sub-title Свободные участки
                        +e.box-items
                            +e.box-item
                                +e.text Участок 59 га
                            +e.box-item
                                +e.text Участок 34 га
                            +e.box-item
                                +e.text Участок 1 га
                            +e.box-item
                                +e.text Участок 65 га
                    +e.box.cecutient-hidden
                        +e.sub-title Свободные площади
                        +e.box-items
                            +e.box-item
                                +e.text Корпус Г, 560 м2
                            +e.box-item
                                +e.text Корпус Г, 50 м2
                            +e.box-item
                                +e.text Корпус Г, 330 м2
                            +e.box-item
                                +e.text Корпус Г, 60 м2



        +e.bottom
            +e.A.send.js-open-popup(href='#form-info-object') Отправить запрос




