mixin numbers-box(data)
    +b.numbers-box()&attributes(attributes)
        +e.items
            each item in data.items
                +e.item
                    +e.number!= item.number
                        if item.unit
                            +e.unit!= item.unit
                    +e.text!= item.text



