.numbers-box {
    padding: rem(37) 0 rem(70);

    @include below($desktop) {
        padding-top: rem(32);
        padding-bottom: rem(58);
    }

    @include below($mobile) {
        padding-top: rem(52);
        padding-right: rem(90);
        padding-bottom: rem(91);
        padding-left: rem(90);
    }

    &__items {
        display: flex;
        max-width: rem(1170);
        margin: 0 auto;

        @include below($desktop) {
            max-width: rem(900);
        }

        @include below($mobile) {
            flex-direction: column;
        }
    }

    &__item {
        @include below($desktop) {
            &:last-child {
                margin-left: rem(65);

                @include below($mobile) {
                    margin-left: 0;
                }
            }
        }

        @include below($mobile) {
            &:last-child {
                margin-top: rem(25);
            }
        }

        &:not(:last-child) {
            margin-right: rem(175);

            @include below($desktop) {
                margin-right: rem(97);
            }

            @include below($mobile) {
                margin-right: 0;
                margin-bottom: rem(31);
            }
        }
    }

    &__number {
        display: flex;
        align-items: flex-end;

        font-size: rem(86);
        font-weight: 700;
        line-height: 1;
        color: #3777e8;

        @include below($desktop) {
            font-size: rem(72);
        }

        @include below($mobile) {
            font-size: rem(160);
        }
    }

    &__text {
        font-size: rem(16);
        font-weight: 500;
        line-height: (24/16);
        color: #000000;
        text-transform: uppercase;

        @include below($mobile) {
            font-size: rem(28);
            line-height: (42/28);
        }

        &::before {
            content: '';

            display: block;
            width: 4.0625rem;
            height: 1px;
            margin: rem(10) 0 rem(14);

            background: #000;

            @include below($mobile) {
                width: rem(118);
                margin-bottom: rem(20);
            }
        }
    }

    &__unit {
        margin-top: auto;
        margin-right: rem(-15);
        margin-bottom: rem(7);
        margin-left: rem(12);

        font-size: rem(32);
        font-weight: 500;
        line-height: (36/32);

        @include below($desktop) {
            font-size: rem(27);
        }

        @include below($mobile) {
            margin-bottom: rem(17);

            font-size: rem(48);
            line-height: 1;
        }
    }
}
