.content {
    position: relative;

    flex: 1 0 auto;
    padding-top: rem(68);


    h2.title {
        margin-left: rem(-3);

        font-family: $font-1;
        font-size: rem(46);
        font-weight: 300;
        line-height: rem(42);
        color: #282828;
        letter-spacing: rem(-0.37);
        strong {
            font-weight: 500;
        }
        &-light {
            color: #fff;
        }
    }

    &__legend {
        display: block;

        font-size: rem(18);
        font-weight: 300;
    }

    &-gray {
        &-right {
            overflow-x: hidden;
            > .container {
                position: relative;

                background-color: #f8f9fb;
                &:after {
                    content: '';

                    position: absolute;
                    top: 0;
                    bottom: 0;
                    // right: rem(-1000);
                    left: 100%;

                    width: rem(1000);

                    background-color: #f8f9fb;
                }
            }
        }
        &-left {
            > .container {
                position: relative;

                background-color: #f8f9fb;
                &:after {
                    content: '';

                    position: absolute;
                    top: 0;
                    // right: rem(-1000);
                    right: 100%;
                    bottom: 0;

                    width: rem(1000);

                    background-color: #f8f9fb;
                }
            }
        }
    }

    &__col-wrap {
        display: flex;
        align-items: stretch;
        justify-content: flex-start;
        .content__col-l {
            flex-shrink: 0;
            width: rem(350);
            margin-right: rem(122);
        }
        .content__col-r {
            flex-shrink: 0;
        }
    }

    &_theme_collaboration {
        @include below($mobile) {
            overflow: hidden;
        }
    }

    &_theme_text {
        padding-top: 0;

        .content__inner {
            padding-top: rem(25);

            @include below($desktop) {
                padding-top: 0;
                padding-right: rem(20);
                padding-bottom: rem(48);
            }

            @include below($mobile) {
                padding-top: rem(30);
                padding-right: rem(50);
                padding-bottom: rem(65);
            }
        }

        .content__subtitle-xs {
            @include below($mobile) {
                font-size: rem(24);
                line-height: (30/24);
            }
        }

        .content__title {
            margin-bottom: rem(17);
            margin-left: rem(-3);

            @include below($desktop) {
                margin-bottom: rem(11);
            }

            @include below($mobile) {
                margin-bottom: rem(41);

                font-size: rem(60);
                line-height: 1;
            }
        }
        .content__col-wrap {
            margin-top: rem(16);

            @include below($desktop) {
                margin-top: rem(9);
            }

            @include below($mobile) {
                flex-direction: column;
                margin-top: rem(17);
            }
        }
        .content__col-l {
            width: rem(447);
            padding-right: rem(94);

            @include below($desktop) {
                width: rem(387);
                padding-right: rem(40);
            }

            @include below($mobile) {
                width: 100%;
                padding-right: rem(50);
            }
        }
        .content__col-r {
            width: rem(440);

            @include below($mobile) {
                width: 100%;
                padding-top: rem(10);
                padding-right: rem(40);
            }
        }
        .list__item {
            margin-bottom: rem(24);

            @include below($mobile) {
                margin-bottom: rem(42);
            }

            &:before {
                top: rem(6);
                left: rem(2);

                @include below($mobile) {
                    top: rem(12);
                }
            }
        }

        h3.subtitle-border {
            @include below($mobile) {
                padding-bottom: rem(25);
                margin-bottom: rem(35);

                font-size: rem(42);
                line-height: 1;
            }
        }

        &.content_theme_text--bordered {
            padding-top: rem(52);

            @include below($mobile) {
                padding-top: rem(75);
                padding-bottom: rem(21);
            }

            .content__col-wrap {
                margin-top: rem(38);

                @include below($desktop) {
                    margin-top: rem(44);
                }


            }
            .badge {
                margin-left: rem(2);

                @include below($mobile) {
                    padding-right: rem(38);
                    padding-left: rem(88);
                    margin-left: rem(-90);

                    font-size: rem(20);
                }
            }
            .content__paragraph {
                margin-top: rem(34);
                margin-bottom: rem(21);

                @include below($mobile) {
                    margin-top: rem(45);
                    margin-bottom: rem(38);

                    font-size: rem(28);
                    line-height: (42/28);

                    br {
                        display: none;
                    }
                }
            }
            .content__col-l {
                width: rem(391);
                padding-top: rem(22);
                padding-right: rem(37);
                padding-left: rem(5);
                margin-right: rem(41);

                border-right: 1px dotted #b7b8bb;

                @include below($desktop) {
                    width: rem(457);
                    padding-right: rem(110);
                    padding-left: 0;
                    margin-right: rem(53);
                }

                @include below($mobile) {
                    position: relative;

                    width: 100%;
                    padding-top: rem(29);
                    padding-right: rem(70);
                    padding-bottom: rem(29);
                    margin-bottom: rem(59);

                    border-right: 0;

                    &::after {
                        content: '';

                        position: absolute;
                        bottom: 0;
                        left: rem(-90);

                        width: 100vw;

                        border-bottom: 1px dotted #b7b8bb;
                    }
                }
            }
            .content__col-r {
                width: rem(425);
                padding-top: rem(22);

                @include below($mobile) {
                    width: 100%;

                    .content__paragraph {
                        margin-bottom: rem(28);
                    }

                    .content__subtitle-xs {
                        margin-bottom: rem(56);
                    }
                }
            }

            .list {
                @include below($mobile) {
                    margin-top: rem(27);
                }
            }
        }
    }


    &_theme_text.content-gray-left {
        padding-top: 0;
        .content__inner {
            padding-top: rem(61);
            padding-bottom: rem(59);

            @include below($mobile) {
                padding-top: rem(100);
            }
        }
        .content__col-l {
            margin-right: rem(135);

            @include below($desktop) {
                margin-right: rem(122);
            }
        }

        .content__col-r {
            @include below($mobile) {
                padding-top: 0;
            }

            h3.subtitle-border {
                @include below($mobile) {
                    margin-top: rem(45);
                    margin-bottom: rem(64);
                }
            }
        }
    }

    &_theme_return {
        padding-top: 0;
        .content__inner {
            padding-top: rem(80);

            @include below($desktop) {
                padding-top: rem(62);
                padding-left: rem(69);
            }

            @include below($mobile) {
                padding-top: rem(97);
                padding-right: rem(75);
                padding-bottom: rem(110);
                padding-left: rem(85);
            }
        }
        .content__col-wrap {
            margin-top: rem(81);

            @include below($desktop) {
                margin-top: rem(58);
            }

            @include below($mobile) {
                flex-direction: column;
            }
        }

        .content__title {
            @include below($mobile) {
                font-size: rem(60);
                line-height: 1;
            }
        }

        .content__col-l {
            position: relative;

            width: rem(391);
            padding-bottom: rem(13);
            margin-top: rem(8);
            margin-right: 0;

            border-right: 1px dotted #b7b8bb;

            @include below($desktop) {
                width: rem(363);
            }

            @include below($mobile) {
                width: 100%;
                padding-bottom: rem(54);

                border-right: none;
            }

            &:after {
                content: '';

                position: absolute;
                bottom: rem(5);
                left: rem(81);

                display: block;
                width: rem(65);
                height: 1px;

                background-color: #000;

                @include below($desktop) {
                    bottom: rem(-13);
                    left: 0;
                }

                @include below($mobile) {
                    left: rem(-85);

                    width: 100vw;
                    height: 0;

                    border: 1px dotted #b7b8bb;
                    background: transparent;

                }
            }
        }
        .content__col-r {
            width: rem(700);
            padding-left: rem(52);

            @include below($desktop) {
                margin-top: rem(-6);
            }

            @include below($mobile) {
                padding-right: rem(130);
                padding-left: 0;
                margin-top: rem(80);
            }

            .h3 {
                margin-top: 0;

                @include below($mobile) {
                    padding-bottom: rem(25);

                    font-size: rem(42);
                    font-weight: 300;
                    line-height: 1;
                }
            }
            .content__subtitle-xs {
                margin-top: rem(2);

                line-height: 1.7;
                letter-spacing: rem(0.28);

                @include below($mobile) {
                    font-size: rem(24);
                    line-height: (42/24);
                }
            }
            .list {
                margin-top: rem(32);
                margin-left: rem(-1);

                @include below($mobile) {
                    margin-top: rem(36);
                }
                &__item {
                    margin-bottom: rem(23);

                    @include below($mobile) {
                        padding-left: rem(55);
                        margin-bottom: rem(42);
                    }

                    &:before {
                        top: rem(5);

                        @include below($mobile) {
                            top: rem(14);
                            left: rem(10);
                        }
                    }
                }
            }
        }
        .download {
            margin-top: rem(67);

            @include below($desktop) {
                margin-top: rem(71);
            }

            @include below($mobile) {

                margin-top: rem(28);

                &::before {
                    display: block !important;
                    width: rem(80);
                    margin-bottom: rem(45);
                }

                .download__ico {
                    width: rem(43);
                    height: rem(46);
                }

                .download__icon-box {
                    padding-right: rem(1);
                    margin-top: rem(5);
                    margin-left: rem(4);
                }
            }
        }
        .big-price {
            margin-top: rem(4);
            margin-left: rem(2);

            @include below($desktop) {
                margin-top: rem(48);
            }

            @include below($mobile) {
                margin-top: rem(66);
            }
        }

        .description {
            font-size: rem(18);
            line-height: rem(24);
            color: $dark;

            @include below($mobile) {
                font-size: rem(28);
                line-height: rem(42);
            }
        }

        .list-icons {
            margin-top: rem(64);
            margin-left: rem(2);

            @include below($desktop) {
                margin-top: rem(71);
            }

            @include below($mobile) {
                margin-top: rem(27);
            }
        }
        .badge {
            padding-right: rem(9);
            padding-left: rem(106);
            margin-left: rem(-103);

            @include below($desktop) {
                padding-right: rem(125);
                padding-left: rem(74);
                margin-left: rem(-71);
            }

            @include below($mobile) {
                padding-right: rem(76);
                padding-left: rem(89);
                margin-left: rem(-85);

                font-size: rem(20);
                line-height: (30/20);
            }
        }

        &_property {
            margin-top: rem(60);

            .subtitle-border {
                padding-bottom: rem(26);
            }

            .big-price {
                margin-top: rem(90);
                margin-left: rem(-16);

                &__price {
                    font-size: rem(220);
                }

                &__aftertext {
                    position: relative;
                    top: rem(35);
                    left: rem(-12);

                    font-size: rem(100);
                }
            }

            .description {
                margin-top: rem(62);
            }

            .content {

                &__inner {
                    padding-bottom: rem(99);
                }

                &__col-l {

                    &::after {
                        display: none;
                    }
                }

                &__col-r {

                    .list {
                        margin-top: rem(39);
                    }
                }
            }
        }

        &_digits {
            margin-top: rem(6);


            .h3 {
                margin-top: 0;
            }

            .content {

                &__inner {
                    padding-top: rem(62);
                }

                &__title {
                    margin-bottom: rem(25);

                    font-size: rem(32);
                    line-height: rem(40);
                    letter-spacing: rem(.05);
                }

                &__description {
                    font-size: rem(18);
                    line-height: rem(28);

                    @include below($mobile) {
                        font-size: rem(28);
                        line-height: rem(42);
                    }
                }

                &__list-digits {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: flex-start;
                    padding-bottom: rem(40);
                    margin-top: rem(61);
                    margin-bottom: rem(52);

                    border-bottom: 1px dotted #b7b8bb;
                }

                &__item-digits {
                    width: 33.333%;

                    @include below($mobile) {
                        width: 100%;

                        &:not(:last-child) {
                            margin-bottom: rem(15);
                        }
                    }

                    &:first-child {
                        padding-right: rem(45);

                        @include below($mobile) {
                            padding-right: 0;
                        }
                    }

                    &:nth-of-type(2) {
                        padding-right: rem(40);
                        margin-left: rem(-37);

                        @include below($mobile) {
                            padding-right: 0;
                            margin-left: 0;
                        }
                    }

                    &:nth-of-type(3) {
                        margin-left: rem(-36);

                        @include below($mobile) {
                            margin-left: 0;
                        }
                    }
                }

                &__digits-number {
                    margin-top: rem(15);
                    margin-bottom: rem(39);

                    font-size: rem(86);
                    font-weight: 700;
                    line-height: rem(23);
                    color: $color1;

                    @include below($mobile) {
                        font-size: rem(125);
                        line-height: rem(50);
                    }
                }

                &__digits-after,
                &__sup {
                    font-size: rem(32);
                }

                &__digits-text {
                    font-size: rem(16);
                    font-weight: 700;
                    line-height: rem(24);
                    text-transform: uppercase;

                    @include below($mobile) {
                        font-size: rem(28);
                        line-height: rem(42);
                    }
                }

                &__release {
                    display: flex;
                    flex-wrap: wrap;
                }

                &__release-l {
                    width: 30.5%;
                }

                &__release-item {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    align-items: flex-start;

                    &:not(:last-child) {
                        margin-bottom: rem(24);

                    }
                }

                &__title-release {
                    font-size: rem(16);
                    font-weight: 500;
                    line-height: rem(28);
                    color: $dark;
                    text-transform: uppercase;

                    @include below($mobile) {
                        font-size: rem(28);
                        line-height: rem(42);
                    }
                }

                &__annotation,
                &__title-annotation {
                    font-size: rem(16);
                    line-height: rem(24);

                    @include below($mobile) {
                        font-size: rem(28);
                        font-weight: 300;
                        line-height: rem(42);
                    }
                }

                &__number {
                    width: rem(34);
                    margin-right: rem(15);

                    font-size: rem(32);
                    font-weight: 700;
                    line-height: rem(28);
                    color: $color1;
                    text-align: center;

                    @include below($mobile) {
                        width: 100%;
                        padding-right: 0;

                        font-size: rem(125);
                        line-height: rem(140);
                        text-align: left;
                    }
                }
            }
        }
    }

    &_theme_pickup {
        padding-top: 0;

        margin-top: rem(23);

        background-color: $color1;
        background-image: url(%=static=%general/pickup-background.png);
        background-repeat: no-repeat;
        background-position: 35% 100%;
        box-shadow: 0 10px 30px rgba(47, 64, 76, 0.21);
        //background-size: 100%;

        @include below($desktop) {
            background-position: 28% 100%;
        }

        @include below($mobile) {
            background-image: none;
        }

        @include below($mobile) {
            margin-top: rem(54);
        }

        .title {
            color: #ffffff;

            @include below($mobile) {
                &.title-light {
                    margin-top: rem(26);

                    font-size: rem(60);
                    line-height: 1;
                }
            }
        }
        .content__inner {
            padding-top: rem(22);
            padding-bottom: rem(66);

            @include below($desktop) {
                padding-top: rem(27);
            }
        }

    }

    &_theme_benefits-oez {
        padding-top: 0;
        margin-top: rem(-6);
        .content__inner {
            padding-top: rem(81);
            padding-bottom: rem(22);

            @include below($desktop) {
                padding-top: rem(60);
                padding-bottom: rem(40);
            }

            @include below($mobile) {
                padding-top: rem(99);
                padding-right: rem(35);
            }
        }

        .content__title {
            @include below($desktop) {
                margin-bottom: rem(54);
            }

            @include below($mobile) {
                margin-bottom: 0;

                font-size: rem(60);
                line-height: 1;
            }
        }
    }

    &_theme_rent-land {
        @include below($desktop) {
            padding-top: rem(39);
        }

        @include below($mobile) {
            padding-top: rem(68);
            padding-right: rem(75);
        }

        .content__inner {
            padding-top: rem(22);

            @include below($desktop) {
                padding-bottom: rem(50);
            }

            @include below($mobile) {
                padding-bottom: rem(87);
            }
        }
        .content__title {
            margin-bottom: rem(16);

            @include below($desktop) {
                margin-bottom: rem(23);
            }

            @include below($mobile) {
                margin-bottom: rem(36);

                font-size: rem(60);
                line-height: 1;
            }
        }
        .content__col-wrap {
            margin-top: rem(33);
            margin-left: rem(4);

            @include below($desktop) {
                margin-top: rem(20);
            }

            @include below($mobile) {
                flex-direction: column;
                margin-top: rem(10);
            }
        }
        .content__col-r {
            margin-top: rem(40);

            @include below($desktop) {
                margin-top: rem(45);
            }

            @include below($mobile) {
                margin-top: rem(56);
            }
        }

        .content__col-l {
            @include below($desktop) {
                margin-right: rem(156);
            }

            @include below($mobile) {
                width: 100%;
                margin-right: 0;
            }
        }

        .content__steps {
            margin-top: rem(65);
        }

        .content__subtitle-xs {
            @include below($mobile) {
                font-size: rem(28);
                line-height: (42/28);
            }
        }

        .subtitle-border {
            @include below($mobile) {
                margin-bottom: rem(34);

                font-size: rem(42);
                line-height: (48/42);
            }
        }

        .blue-side {
            @include below($mobile) {
                max-width: none;
                padding-top: rem(104);
                padding-right: 0;
                padding-left: rem(90);
                margin-right: rem(-75);
                margin-left: rem(-94);
            }
        }
    }

    &_theme_training {
        padding-top: rem(19);
        margin-bottom: rem(10);

        .content__inner {
            @include below($mobile) {
                padding-right: rem(90);
                padding-left: rem(90);
            }
        }

        &::before {
            content: '';

            position: absolute;
            z-index: -1;
            top: rem(25);
            right: 0;
            bottom: rem(-10);
            left: rem(110);

            background-color: #f8f9fb;

            @include below($mobile) {
                left: 0;
            }
        }

    }

    &_theme_investclimate {
        @include below($mobile) {
            overflow: hidden;
        }

        &::before {
            content: '';

            position: absolute;
            z-index: -1;
            top: rem(57);
            right: 0;
            bottom: rem(0);
            left: rem(115);

            background-color: #f8f9fb;

            @include below($mobile) {
                left: 0;
            }
        }

        &_ministry {
            margin-top: rem(11);
            margin-bottom: rem(54);

            &::before {
                display: none;
            }

            .investclimate {
                margin-top: rem(45);

                &__inner {
                    @include below($mobile) {
                        padding-right: rem(50);
                        padding-bottom: 25px;
                        margin-bottom: rem(15);
                    }

                    &::after {
                        background: rgba(255,255,255,.9);
                    }
                }

                &__desc {
                    line-height: rem(27);

                    @include below($mobile) {
                        font-size: rem(28);
                        line-height: rem(42);
                    }
                }

                &__files {
                    margin-top: rem(25);
                }

                &__file-size {
                    display: block;
                }

                &__files-item {

                    &:not(:last-child) {
                        margin-bottom: rem(30);
                    }
                }

                &__item {

                    &:not(:last-child) {
                        margin-bottom: 0;
                    }

                    &:not(:first-child) {
                        @include below($mobile) {
                            margin-top: rem(35);
                        }
                    }
                }
            }
        }
    }

    &_theme_industry {

        &_no-padding {
            padding-top: 0;
        }
    }

    &_theme_projects {
        padding-top: 0;
        padding-bottom: rem(34);
        overflow: hidden;

        @include below($mobile) {
            padding-top: rem(10);
            margin-top: rem(63);
        }

        @include above($mobile + 1) {
            overflow-x: hidden;
        }

        .content__inner {
            @include below($mobile) {
                padding-top: rem(63) !important;
            }
        }

        .content__title {
            @include below($mobile) {
                margin-bottom: rem(-5);

                font-size: rem(60);
                line-height: normal;
            };
        }

        &::before {
            content: '';

            position: absolute;
            z-index: -1;
            top: rem(11);
            right: 0;
            left: rem(18);

            height: rem(820);

            background-color: #f8f9fb;

            @include above($mobile + 1) {
                top: rem(-20);
                left: rem(50);

                height: rem(598);
            }

            @include above($desktop + 1) {
                left: rem(105);

                height: rem(598);
            }
        }
    }

    &_theme_coworking {
        padding-top: 0;

        .content {

            &__inner {
                @include padding_y(0);
            }
        }
    }

    &_theme_projects-coworking {
        padding-top: rem(15);
        padding-bottom: rem(36);


        .content {

            &__inner {
                @include padding_y(0);
            }
        }

        &::before {
            display: none;
        }

        .projects {

            &__title {
                padding-bottom: rem(27);

                line-height: rem(40);
                letter-spacing: rem(-.5);

                &::before {
                    @include above($desktop + 1) {
                        right: rem(-32);
                    }
                }

                &::after {
                    @include above($desktop + 1) {
                        right: rem(-44);

                    }
                }
            }

            &__count {
                font-size: rem(32);

                @include below($desktop + 1) {
                    margin-top: rem(37);
                }

                strong {
                    font-size: rem(86);
                }
            }

            &__currency {
                font-weight: 700;
            }

            &__text {
                margin-top: rem(19);

                line-height: rem(27);
            }

            &__right {
               /* padding-left: rem(9);*/
            }
        }
    }

    &_theme_projects-property {
        padding-top: 0;

        .content {

            &__inner {
                padding-top: 0;
                padding-bottom: 0;
            }
        }

        .file-size {

            &__files {
                margin-top: 0;
            }
        }

        .projects {

            &__location {
                margin-top: rem(71);
            }

            &__title {

                &::before {
                    width: rem(65);
                }

                &::after {
                    display: none;
                }
            }

            &__text {
                position: relative;

                padding-bottom: rem(48);
                margin-top: rem(15);
                margin-bottom: rem(30);

                line-height: rem(27);

                @include below($mobile) {
                    padding-right: rem(50);

                    font-size: rem(28);
                    line-height: rem(42);
                }

                &::after {
                    content: '';

                    position: absolute;
                    bottom: 0;
                    left: 0;

                    display: block;
                    width: 100%;
                    height: 1px;

                    background: linear-gradient(90deg,#b7b8bb 1px,transparent 0) repeat-x;
                    background-size: 3px 1px;
                }
            }

            &__right {
                /*@include above($mobile + 1) {
                    padding-top: rem(14);
                    padding-left: rem(8);
                }*/
            }
        }
    }

    &_theme_support {
        padding-top: rem(76);
        margin-top: rem(46);

        @include above($mobile + 1) {
            padding-top: rem(29);
        }

        @include above($desktop + 1) {
            padding-top: rem(48);
        }

        &::before {
            content: '';

            position: absolute;
            z-index: -1;
            top: 0;
            right: 0;
            bottom: rem(65);
            left: 0;

            height: rem(1006);

            background-color: #f8f9fb;

            @include above($mobile + 1) {
                top: rem(-14);
                right: rem(118);
                bottom: rem(53);

                height: auto;
            }

            @include above($desktop + 1) {
                top: 0;
                right: rem(215);
                bottom: rem(65);

                height: auto;
            }
        }

        .content__title {
            max-width: 40%;

            @include below($mobile) {
                max-width: none;
            }
        }

        .content {

            &__inner {
                @include below($mobile) {
                    padding-bottom: rem(130) !important;
                    overflow: hidden;
                }
            }
        }
    }

    &_theme_stories {
        overflow: hidden;

        @include below($mobile) {
            padding-top: rem(0);
        }

    }

    &_theme_benefits {
        padding-bottom: rem(27);


        @include below($desktop) {
            padding-top: rem(21);
        }

        @include below($mobile) {
            padding-top: rem(90);
            padding-bottom: 0;
        }

        .content__inner {
            padding-top: rem(43);

            @include below($desktop) {
                padding-bottom: rem(56);
            }

            @include below($mobile) {
                padding-bottom: rem(45);
            }
        }
        .content__title {
            margin-bottom: rem(26);

            @include below($desktop) {
                margin-bottom: rem(40);
            }

            @include below($mobile) {
                max-width: rem(530);
                margin-bottom: rem(36);

                font-size: rem(60);
                line-height: 1;
            }
        }
        .tabs__text {
            padding-right: 24%;

            @include below($desktop) {
                padding-right: 12%;
            }

            p {
                margin-top: rem(2);

                font-size: rem(18);
                line-height: 1.34;

                &.text-light {
                    @include below($mobile) {
                        font-size: rem(28);
                        line-height: (42/28);
                    }
                }
            }
        }

        .content__subtitle-xs {
            @include below($mobile) {
                margin-bottom: rem(-5);

                font-size: rem(28);
                line-height: (42/28);
            }
        }
        .benefits {
            margin-top: rem(56);

            @include below($desktop) {
                margin-top: rem(75);
            }

            @include below($mobile) {
                margin-top: rem(69);
            }
        }
    }

    &_theme_quote {
        margin-bottom: rem(117);


        @include below($mobile) {
            padding-bottom: rem(70);
        }

        @include below($mobile) {
            padding-top: rem(69);
            margin-top: rem(24);
        }

        .btn {
            position: absolute;
            z-index: 1;
            bottom: rem(-90);
            left: rem(183);

            padding: rem(16) rem(86) rem(16) rem(50);

            font-size: rem(14);

            text-transform: uppercase;

            background-color: #fff;

            transition: all .3s;

            @include below($desktop) {
                left: rem(73);
            }

            @include below($mobile) {
                bottom: rem(-160);

                width: calc(100% - 9.125rem);
                padding-top: rem(35);
                padding-bottom: rem(35);

                font-size: rem(28);
                text-align: center;
            }

            &::before {
                @include center($horiz: false);
                content: '';

                right: rem(54);

                width: rem(8);
                height: rem(14);

                background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI5LjA4IiBoZWlnaHQ9IjE0Ljc0IiB2aWV3Qm94PSIwIDAgOS4wOCAxNC43NCI+PHBhdGggZmlsbD0ibm9uZSIgc3Ryb2tlPSIjMDAwIiBzdHJva2UtbWl0ZXJsaW1pdD0iNTAiIGQ9Ik0uNyAxNC4xOGw3LjQ1LTYuODFMLjcuNTYiLz48L3N2Zz4=');
                background-repeat: no-repeat;
                background-position: center;
                background-size: 100%;
            }

            &:hover {
                color: #fff;

                border-color: #305beb;
                background-color: #305beb;

                &::before {
                    background-image: url(%=static=%minified-svg/arrow-button-white.svg) !important;
                }
            }
        }

        &::before {
            content: '';

            position: absolute;
            z-index: -1;
            top: rem(110);
            right: 0;
            left: rem(20);

            height: rem(695);

            background-color: #f8f9fb;

            @include above($mobile + 1) {
                top: rem(75);
                bottom: rem(-70);
                left: rem(45);

                height: auto;
            }

            @include above($desktop + 1) {
                top: rem(140);
                left: rem(210);
            }
        }
    }

    &_theme_property-support {
        padding-top: 0;

        .content__inner {
            padding-top: 0;
            padding-right: 0;
            padding-bottom: 0;

            @include below($mobile) {
                padding-right: rem(50);
            }
        }

        h2.title {
            letter-spacing: rem(.5);
        }
    }

    &_theme_conditions {
        @include above($mobile + 1) {
            margin-top: rem(-7);
        }

        @include above($desktop + 1) {
            margin-top: rem(47);
        }
        .content__title {
            margin-bottom: rem(15);
        }
    }

    &_theme_quote &__left {
        padding: rem(125) 0 0;

        @include above($mobile + 1) {
            padding: rem(50) 0 0 rem(73);
        }

        @include above($desktop + 1) {
            padding: rem(136) 0 0 rem(183);
        }

        @include between($mobile + 1, $desktop) {
            width: rem(450);
        }
    }

    &_theme_quote &__right {
        @include above($mobile + 1) {
            padding-left: rem(132);
        }

        @include below($mobile) {
            margin-top: rem(50);
        }
    }

    &_theme_quote &__right {
        @include between($mobile + 1, $desktop) {
            flex: 1;
            padding-left: rem(113);
        }
    }

    &_theme_quote &__img {
        max-width: 100%;

        box-shadow: 0 10px 30px rgba(47, 64, 76, 0.21), inset 0 0 250px rgba(16, 19, 25, 0.36);

        @include above($mobile + 1) {
            position: relative;
            top: rem(-30);
        }

        @include above($desktop + 1) {
            top: rem(30);
        }
    }

    &_theme_news {
        padding-top: rem(128);

        @include below($mobile) {
            margin-bottom: rem(158);
        }

        @include above($mobile + 1) {
            padding-top: rem(46);
            margin-bottom: rem(83);
        }

        @include above($desktop + 1) {
            padding-top: rem(86);
            margin-bottom: rem(127);
        }

        &::before {
            content: '';

            position: absolute;
            z-index: -1;
            top: rem(25);
            right: 0;
            bottom: rem(60);
            left: 0;

            background-color: #f8f9fb;

            @include above($mobile + 1) {
                top: 0;
                right: rem(168);
                bottom: rem(10);
            }

            @include above($desktop + 1) {
                top: rem(25);
                right: rem(395);
                bottom: rem(20);
            }
        }
    }

    &__inner {
        padding: rem(70) 0 rem(70) rem(90);

        @include above($mobile + 1) {
            padding: rem(70) 0 rem(70) rem(74);
        }

        @include above($desktop + 1) {
            padding: rem(70) 0 rem(70) rem(103);
        }
        &-no_bottom_padding {
            padding: rem(90) rem(70) 0 rem(70);
        }
        &-padding_bottom {
            padding: 0 0 rem(90) 0;
        }
    }

    &_theme_measures {

        &::before {
            content: '';

            position: absolute;
            z-index: -1;
            top: 0;
            right: 0;
            bottom: rem(65);
            left: 0;

            height: calc(100% - #{rem(115)});

            background-color: #f8f9fb;

            @include above($mobile + 1) {
                top: rem(-14);
                right: rem(118);
                bottom: rem(53);

                height: 100%;
            }

            @include above($desktop + 1) {
                top: 0;
                right: rem(215);
                bottom: rem(65);

                height: 100%;
            }
        }

        .content__inner {
            padding-top: rem(80);
            padding-right: rem(75);

            background-color: transparent;;

            @include above($mobile + 1) {
                padding-top: rem(56);
                padding-right: rem(74);
            }

            @include above($desktop + 1) {
                padding-top: rem(63);
                padding-right: rem(105);
            }
        }

        &:not(&_not-gray) {

            .measures {
                @include above($desktop) {
                    margin-top: 0;
                }

                &__content {
                    @include above($mobile + 1) {
                        margin-top: rem(-17);
                    }
                }

                &__btn {
                    @include above($desktop) {
                        margin-top: rem(27);
                    }
                }
            }

            .measures-list {
                @include below($mobile) {
                    padding-right: rem(66);
                    padding-left: rem(22);
                }

                &__link {
                    @include below($mobile) {
                        padding-left: rem(45);
                    }
                }
            }

        }

        &_not-gray {

            &::before {
                display: none;
            }

            .content__inner {
                background-color: #fff;
            }
        }

    }

    &_theme_projects &__inner {
        padding: rem(70) rem(90) rem(25) rem(90);

        @include above($mobile + 1) {
            padding: rem(40) 0 rem(70) rem(72);
        }

        @include above($desktop + 1) {
            padding: rem(77) rem(105) rem(70) rem(105);
        }
    }

    &_theme_stories &__inner {
        @include below($mobile) {
            padding-right: rem(94);
            padding-bottom: 0;
            padding-left: rem(98);
        }

        @include between($mobile + 1, $desktop) {
            padding: rem(55) 0 rem(70) rem(74);
        }
    }

    &_theme_support &__inner {
        padding-top: 0;
        padding-bottom: 0;

        @include below($mobile) {
            padding-right: rem(87);
            padding-left: rem(87);
        }
    }

    &_theme_quote &__inner {
        position: relative;

        padding: 0 0 0 rem(98);

        @include above($mobile + 1) {
            display: flex;
            align-items: flex-start;
            padding: 0;
        }

        @include above($desktop + 1) {
            padding: 0 0 rem(70) 0;
        }
    }

    &_theme_conditions &__inner {
        padding-bottom: rem(78);

        @include above($mobile + 1) {
            padding-bottom: rem(60);
        }
    }

    &_theme_news &__inner {
        padding: 0 rem(70) 0 rem(94);

        @include above($mobile + 1) {
            padding: 0 rem(29) 0 rem(74);
        }

        @include above($desktop + 1) {
            padding: 0 rem(29) 0 rem(100);
        }
    }

    &__title {
        margin-top: 0;
        margin-bottom: rem(35);

        font-size: rem(59);
        font-weight: 300;
        line-height: (55 / 48);
        letter-spacing: rem(-0.4);

        @include above($mobile + 1) {
            margin-bottom: rem(35);

            font-size: rem(48);
        }

        @include below($mobile) {
            letter-spacing: 0;
        }

        &_size_s {
            font-size: rem(32);
            line-height: (42 / 32);
        }

        strong {
            font-weight: 500;
        }
    }

    &__subtitle {
        &-xs {
            display: block;

            font-family: $font-1;
            font-size: rem(14);
            font-style: italic;

            color: #000000;
        }
    }

    &_theme_quote &__title {
        @include between($mobile + 1, $desktop) {
            margin-bottom: rem(-10);
        }
    }

    &__subtitle {
        padding-bottom: rem(20);
        margin-bottom: rem(20);

        font-size: rem(28);
        font-weight: 300;
        line-height: (36 / 24);
        color: #282828;

        @include above($mobile + 1) {
            font-size: rem(24);
        }

        @include below($desktop) {
            padding-bottom: rem(65);
        }

        @include below($mobile) {
            padding-bottom: 0;
        }
    }

    &_theme_quote &__subtitle {
        @include below($mobile) {
            padding-right: rem(110);
            margin-top: rem(44);

            font-size: rem(32);

            br {
                content: ' ';
            }
        }
    }

    &__caption {
        position: relative;

        padding-top: rem(15);
        margin-top: rem(50);

        font-size: rem(28);
        font-weight: 300;
        line-height: (42 / 18);
        color: rgba(#000, .7);

        @include above($mobile + 1) {
            position: absolute;
            bottom: rem(-5);
            left: rem(74);

            padding-top: rem(30);

            font-size: rem(18);
            line-height: (28 / 18);
        }

        @include above($desktop + 1) {
            position: absolute;
            bottom: rem(-16);
            left: rem(184);

            padding-top: rem(60);

            font-size: rem(18);
            line-height: (28 / 18);
        }

        &::before {
            content: '';

            position: absolute;
            top: 0;
            right: rem(90);
            left: 0;

            height: 1px;

            background-color: rgba(#000, .3);

            @include above($mobile + 1) {
                width: rem(672);
            }
        }

        &::after {
            @include size(rem(12));
            content: '';

            position: absolute;
            top: rem(-6);
            right: rem(77);

            border: 1px solid rgba(#000, .3);
            transform: rotate(45deg);

            @include above($mobile + 1) {
                left: rem(675);
            }
        }

        strong {
            display: block;

            font-weight: 500;

            @include below($mobile) {
                margin-bottom: rem(-24);
            }
        }
    }

    &__paragraph {
        font-family: $font-1;
        font-size: rem(18);
        font-weight: 300;
        line-height: rem(24);
        color: #000000;
    }

    &_limitation{
        overflow: hidden;
    }

}

.cecutient-mode {
    .content {
        &_theme_measures {
            .content__inner {
                padding-bottom: rem(69);
            }
        }
        &__title {
            font-weight: 400;
            strong {
                font-weight: 700;
            }
        }

        &_theme_support {
            padding-top: rem(5);
        }

        &_theme_quote {
            padding-top: rem(119);
            padding-right: rem(10);

            .content__inner {
                flex-direction: column;
                padding-bottom: 0;
            }

            .content__right {
                width: 100%;
                max-width: rem(979);
                margin: 0 auto;
            }

            .content__left {
                position: relative;

                width: 100%;
                max-width: rem(979);
                padding: rem(53) rem(52) rem(22);
                margin: 0 auto;

                border: rem(2) solid #000000;
                background-color: #f8f9fb;

                .btn {
                    display: none;
                }

                .content__title {
                    margin-bottom: rem(10);

                    br {
                        display: none;
                    }
                }

                .content__subtitle {
                    font-size: rem(24);
                    font-weight: 400;
                    line-height: (36/24);

                    br:not(:nth-child(1)) {
                        display: none;
                    }
                }

                &::after {
                    content: '';

                    position: absolute;
                    top: 100%;
                    right: rem(70);

                    border-width: rem(25) rem(20) 0 rem(20);
                    border-style: solid;
                    border-color: #000 transparent transparent transparent;
                }

                &::before {
                    content: '';

                    position: absolute;
                    z-index: 1;
                    top: 100%;
                    right: rem(70);

                    margin-top: rem(-3);

                    border-width: rem(25) rem(20) 0 rem(20);
                    border-style: solid;
                    border-color: #f8f9fb transparent transparent transparent;
                }
            }

            .content__img {
                display: none;
            }

            .content__caption {
                position: static;

                padding-top: rem(46);
                margin-top: 0;

                font-size: rem(20);
                font-weight: 500;
                line-height: (32/20);
                color: rgba(0, 0, 0, 1);
                text-align: right;
                strong {
                    font-size: rem(22);
                    font-weight: 700;
                    line-height: (32/22);
                }

                &::before,
                &::after {
                    display: none;
                }
            }
        }

        &_theme_conditions {
            .content__inner {
                padding-bottom: 0;
            }
        }

        &_theme_news {
            padding-top: rem(42);
        }

        &__subtitle-xs {
            padding-left: rem(2);

            font-size: rem(20);
            font-weight: bold;
            line-height: rem(46);

            letter-spacing: 0.3px;
        }

        &_theme_return {

            .content__col-l {
                padding-bottom: 0;

                border-right: 1px solid #000;
            }

            .content__col-r {

                .list__item {
                    margin-bottom: rem(24);

                    font-size: rem(18);
                    font-weight: 500;
                }

                .subtitle-border {
                    font-weight: 500;
                }

                .list__item::before {
                    margin-left: rem(3);
                }
            }
        }

        &_theme_text {

            .list__item {
                font-size: rem(18);
            }
        }
    }
}
