.table-box {
    max-width: rem(1372);
    min-height: rem(1000); // удалить
    padding: rem(68) rem(100);
    margin: 0 auto;

    background: #fff;

    &__title {
        margin-top: 0;
        margin-bottom: rem(46);

        font-size: rem(48);
        font-weight: 300;
        line-height: (54/48);
        color: #282828;
    }

    &__table-name {
        display: block;

        font-weight: 500;
    }

    &__sub-title {
        max-width: rem(1010);
        margin-bottom: rem(59);

        font-size: rem(32);
        font-weight: 300;
        line-height: (48/32);
        color: #3777e8;
    }

    &__text {
        max-width: rem(1075);
        margin: rem(60) 0 rem(55);

        font-size: rem(18);
        font-weight: 400;
        line-height: (24/18);
        color: #282828;
    }

    &__download {
        &::before {
            display: none;
        }

        .download__icon-box {
            padding-right: rem(13);
            padding-left: rem(3);
            margin-top: 0;
        }
    }
}
