include ../table/table
include ../download/download

mixin table-box(data)
    +b.table-box()&attributes(attributes)
        +e.H2.title Таблица №2
            +e.B.table-name «Предпринимательство Подмосковья»

        +e.H3.sub-title Программа сформирована в целях достижения устойчиво высоких темпов экономического роста, обеспечивающих повышение уровня жизни жителей Подмосковья.


        +table(table.default)

        +e.P.text Соглашения между Комитетом по конкурентной политике Московской области, Управлением Федеральной антимонопольной службы по Московской области и администрациями муниципальных образований Московской области о внедрении в Московской области стандарта развития конкуренции в субъектах Российской Федерации

        +download(download.tableBox).table-box__download
