.seminar {
    position: relative;

    display: flex;
    flex-direction: column;
    padding-top: rem(29);
    padding-right: rem(10);
    padding-bottom: rem(1);

    background-color: #f8f9fb;


    &::after {
        content: '';

        position: absolute;
        z-index: -1;
        bottom: rem(5);
        left: 50%;

        width: 95%;
        height: rem(5);

        box-shadow: 0 rem(5) rem(32) 0 rgba(0, 0, 0, 0.5);
        transform: translateX(-50%);
    }

    &__text {
        font-size: rem(14);
        font-weight: 400;
        line-height: (20/14);
        color: #282828;

        &_next {
            display: inline-block;

            line-height: (28/14);
        }

        &_address {
            padding-left: rem(29);
        }
    }

    &__desc {
        margin-bottom: rem(18);

        font-size: rem(18);
        font-weight: 300;
        line-height: (26.1/18);
        color: #282828;
    }

    &__title {
        margin-bottom: rem(23);

        font-size: rem(18);
        font-weight: 500;
        line-height: (24/18);
        color: #000000;
        text-transform: uppercase;
    }

    &__date {
        display: inline-block;
        padding-right: rem(8);
        padding-left: rem(52);
        margin-right: rem(8);

        font-size: rem(14);
        font-weight: 500;
        line-height: (28/14);
        color: #ffffff;
        text-transform: uppercase;

        background-color: #3777e8;
    }

    &__content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        padding: rem(17) rem(51);
    }

    &__address {
        position: relative;

        &::before {
            content: '';

            position: absolute;
            top: 0;
            left: 0;

            width: rem(18);
            height: rem(21);

            background-image: url(%=static=%assets/seminar/address.svg);
            background-size: 100% 100%;
        }

        &::after {
            content: '';

            display: block;
            width: rem(65);
            height: 1px;
            margin-top: rem(21);
            margin-bottom: rem(24);

            background: #000;
        }
    }

    &__items {
        padding-left: 0;
        margin-top: auto;
        margin-bottom: rem(12);

        list-style: none;
    }

    &__item {
        position: relative;

        padding-left: rem(28);
        margin-bottom: rem(18);

        &::before {
            content: '';

            position: absolute;
            top: rem(4);
            left: rem(-1);

            width: rem(18);
            height: rem(21);

            background-size: 100% 100%;
        }

        &_time::before {
            width: rem(16);
            height: rem(16);

            background-image: url(%=static=%assets/seminar/time.svg);
        }

        &_peoples::before {
            width: rem(20);
            height: rem(15);

            background-image: url(%=static=%assets/seminar/peoples.svg);
        }

        &_man::before {
            width: rem(17);
            height: rem(18);

            background-image: url(%=static=%assets/seminar/man.svg);
        }
    }
}
