mixin seminar(data)
    +b.seminar()&attributes(attributes)
        +e.top
            +e.date!= data.date
            if data.next
                +e.text._next!= data.next

        +e.content
            +e.title!= data.title
            +e.address
                +e.text._address!= data.address
            +e.desc!= data.text
            +e.UL.items
                each item in data.desc
                    +e.LI.item(class=item.iconClassName)
                        +e.text!= item.text
