mixin taxes(data)
    +b.taxes()&attributes(attributes)
        .content
            .container
                .content__inner
                    +e.H3.title <span class="taxes__title_bold">Двухлетние налоговые каникулы</span><br>для малого бизнеса
                    +e.info
                        +e.rate
                            +e.value <span class="taxes__num">0</span>%
                            span.badge Налоговая ставка
                        +e.description
                            +e.item
                                +e.name Для кого
                                +e.description-text
                                    |В Московской области введены двухлетние налоговые каникулы для малого<br>
                                    |бизнеса для <span class="taxes__description-text_bold">впервые зарегистрированных</span> индивидуальных предпринимателей.
                                +icon({ icon: 'user', class: 'taxes__user-icon' })
                            +e.item
                                +e.name В каких сферах
                                +e.description-text
                                    |Налоговые каникулы действуют для предпринимателей, осуществляющих<br>
                                    |деятельность <span class="taxes__description-text_bold">в производственной, социальной и (или) научной сферах.</span>
                                +icon({ icon: 'suitcase', class: 'taxes__suitcase-icon' })
                            +e.item
                                +e.name Как применяются
                                +e.description-text
                                    |Налоговые каникулы применяются в виде нулевой ставки налога<br>
                                    |<span class="taxes__description-text_bold">при упрощенной и патентной</span> системах налогообложения.
                                +icon({ icon: 'document-stamp', class: 'taxes__document-stamp-icon' })
                            +e.item
                                +e.name Как получить
                                +e.description-text
                                    |Для того, чтобы использовать право на налоговые каникулы, индивидуальный<br>
                                    |предприниматель должен вместе с заявлением на патентную или упрощенную<br>
                                    |систему налогообложения подать в налоговую <span class="taxes__description-text_bold">письмо о применении нулевой<br>
                                    |ставки</span> соответствующего налога.
                                +icon({ icon: 'handshake', class: 'taxes__handshake-icon' })

                    +e.gray-box
                        +e.H3.title <span class="taxes__title_bold">Пониженная налоговая ставка 10%</span><br> для индивидуальных предпринимателей
                        +e.info
                            +e.description._two
                                +e.item
                                    +e.name Для кого
                                    +e.description-text
                                        |В области действует пониженная налоговая ставка в размере 10% для<br>
                                        |<span class="taxes__description-text_bold">налогоплательщиков по упрощённой системе</span>, выбравших в качестве<br>
                                        |объекта налогообложения «доходы, уменьшенные на величину расходов».

                                    +icon({ icon: 'user', class: 'taxes__user-icon' })
                                +e.item
                                    +e.name В каких сферах
                                    +e.description-text
                                        |Пониженная налоговая ставка действует для предпринимателей,<br>
                                        |осуществляющих деятельность в приоритетных для Подмосковья сферах,<br>
                                        |а именно: <span class="taxes__description-text_bold">производственной, социальной, научных областях</span><br>
                                        |(всего 39 видов деятельности).
                                    +icon({ icon: 'suitcase', class: 'taxes__suitcase-icon' })
                            +e.rate._two
                                +e.value._two <span class="taxes__num taxes__num_two">10</span>%
                                span.badge Налоговая ставка

                    +e.documentation
                        +e.H3.title._line Официальные<br> <span class="taxes__title_bold">документы</span>
                        +e.doc-box
                            +e.doc-item
                                +e.A.doc-link(href="#")
                                    +e.doc-name Закон МО 26.03.2015 № 12/121-П
                                    +e.doc-size 15 Кб .doc
                                    +icon({ icon: 'download-document', class: 'taxes__download-document-icon' })


