.taxes {
    padding-bottom: rem(100);

    .content {
        padding-top: 0;

        &__inner {
            padding-top: 0;
        }
    }

    &__title{
        margin: rem(3) 0 0 -0.125rem ;

        font-size: 3rem;
        font-weight: 300;
        line-height: 1.1;
        letter-spacing: -0.025rem;


        @include below($mobile){
            padding-right: rem(20);
            padding-left: 5.625rem;
            margin: 0 0 0 0;

            font-size: 3.75rem;

            br{
                display: none;
            }
        }

        &_bold{
            font-weight: 500;
        }

        &_line{
            position: relative;

            padding-bottom: rem(26);
            margin: 0 0 0 rem(1);

            font-size: rem(32);
            line-height: 1.3;
            letter-spacing: rem(0.05);


            @include below($mobile){
                padding-left: 0;
                margin-left: 5.625rem;

                font-size: 2.625rem;
            }


            &:after{
                content: '';

                position: absolute;
                bottom: 0;
                left: 0;

                display: block;
                width: rem(65);
                height: 1px;

                background: #000;
            }
        }
    }

    &__info{
        position: relative;
        z-index: 2;

        display: flex;


        @include below($mobile){
            flex-wrap: wrap;
        }
    }

    &__value{
        margin-top: rem(28);
        margin-left: rem(-17);

        font-size: rem(118);
        font-weight: 500;
        line-height: 1;
        color: #3777e8;
        text-shadow: 0px 10px 30px rgba(47, 64, 76, 0.21);


        @include below(1599px){
            margin-left: 0;

            font-size: 2rem;
        }


        @include below($mobile){
            font-size: 7.3125rem;
        }

        &_two{
            font-size: rem(110);
            font-weight: 600;


            @include below(1599px){
                font-size: 2rem;
            }


            @include below($mobile){
                font-size: 7.3125rem;
            }
        }
    }

    &__num{
        font-size: rem(392);


        @include below(1599px){
            font-size: 10rem;
        }


        @include below($mobile){
            font-size: 24.5rem;
        }

        &_two{
            font-size: rem(230);


            @include below(1599px){
                font-size: 10rem;
            }


            @include below($mobile){
                font-size: 24.5rem;
            }
        }
    }

    &__rate{
        width: 33.7%;
        padding-right: rem(20);


        @include below($mobile){
            width: 100%;
            padding-left: 5.625rem;
        }

        .badge{
            padding: 0.125rem rem(23);
            margin-top: rem(3);


            @include below($mobile){
                padding-right: 6.125rem;
                padding-left: 5.625rem;

                font-size: 1.25rem;

                transform: translateX(-5.625rem);
            }
        }



        &_two{
            padding-top: rem(13);
            padding-right: 0;
            padding-left: rem(55);


            @include below($mobile){
                order: 1;
                padding-left: 5.625rem;
            }

            .badge{
                padding: 0.125rem rem(23);
                padding: 0.125rem rem(98) 0.125rem rem(10);
                margin-top: rem(32);

                transform: translateX(rem(164));


                @include below(1599px){
                    transform: translateX(0);
                }


                @include below($mobile){
                    padding: 0.125rem 6.125rem 0.125rem 5.625rem;

                    transform: translateX(-5.625rem);
                }
            }
        }
    }

    &__item{
        position: relative;

        padding-bottom: rem(34);
        padding-left: rem(72);
        margin-top: rem(35);

        border-bottom: 1px dotted #b7b8bb;


        @include below($mobile){
            padding-right: 1rem;
            //padding-left: 10rem;
            padding-left: rem(70);

            br{
                display: none;
            }
        }

        &:last-child{
            border-bottom: 0;
        }

        &:first-child{
            margin-top: 0;
        }
    }

    &__name{
        font-size: rem(16);
        font-weight: 500;
        text-transform: uppercase;


        @include below($mobile){
            font-size: rem(30);
        }
    }

    &__description-text{
        margin-top:rem(8);

        font-size: rem(18);
        line-height: 1.6;
        letter-spacing: rem(-0.15);


        @include below($mobile){
            font-size: 1.75rem;
            font-weight: 300;
        }

        &_bold{
            font-weight: 500;
        }
    }

    &__user-icon{
        position: absolute;
        top: rem(4);
        left: rem(4);

        width: rem(41);
        height: rem(50);
        fill: #3777e8;


        @include below($mobile){
            //left: 5.625rem;;
            left: 0;
        }
    }

    &__suitcase-icon{
        position: absolute;
        top: rem(4);
        left: 0;

        width: rem(50);
        height: rem(37);
        fill: #3777e8;


        @include below($mobile){
            //left: 5.625rem;;
            left: 0;
        }
    }

    &__document-stamp-icon{
        position: absolute;
        top: rem(4);
        left: rem(7);

        width: rem(38);
        height: rem(50);
        fill: #3777e8;


        @include below($mobile){
            //left: 5.625rem;;
            left: 0;
        }
    }

    &__handshake-icon{
        position: absolute;
        top:rem(4);
        left: 0;

        width: rem(50);
        height: rem(34);
        fill: #3777e8;


        @include below($mobile){
            //left: 5.625rem;;
            left: 0;
        }
    }

    &__description{
        width: 66.3%;
        padding-top: rem(78);


        @include below($mobile){
            width: 100%;
        }

        &_two{
            @include below($mobile){
                order: 2;
            }
        }
    }

    &__gray-box{
        position: relative;

        padding-top:rem(86);
        padding-bottom: rem(77);
        margin-top: rem(77);

        background: #f8f9fb;
        transform: translateX(rem(2));

        &:after{
            content: '';

            position: absolute;
            z-index: 1;
            top: 0;
            right: 100%;

            width: 100%;
            height: 100%;

            background: #f8f9fb;
        }

        &:before{
            content: '';

            position: absolute;
            z-index: 1;
            top: 0;
            left: 100%;

            width: rem(100);
            height: 100%;

            background: #f8f9fb;
        }
    }

    &__documentation{
        display: flex;
        margin-top: rem(95);


        @include below($mobile){
            flex-wrap: wrap;
        }
    }

    &__doc-box{
        padding-top: rem(32);
        padding-left: rem(170);


        @include below($mobile){
            width: 100%;
            padding-left: 5.625rem;
        }
    }

    &__doc-link{
        position: relative;

        display: inline-block;
        padding-left: rem(68);

        color: #3777e8;
        text-decoration: none;
    }

    &__doc-name{
        display: block;

        font-size: rem(18);


        @include below($mobile){
            font-size: rem(24);
        }
    }

    &__download-document-icon{
        position: absolute;
        top:0;
        left: rem(3);

        width: rem(43);
        height: rem(46);
        fill: #3777e8;
    }

    &__doc-size{
        display: block;
        margin-top: rem(6);

        font-size: rem(14);
        font-style: italic;
        color: #000;


        @include below($mobile){
            font-size: rem(20);
        }
    }

    &__doc-item{
        margin-bottom: rem(20);

        &:last-child{
            margin-bottom: 0;
        }
    }

}
