include ../../search-box/search-box

mixin block-top(data)
    +b.block-top()&attributes(attributes)
        +e.container
            +e.A.back-link(href='/') Назад
            +e.H1.title!= data.title

            +e.contacts
                +e.links
                    +e.A.link._ico._ico_address(href=jv0) 143407, Московская обл., Красногорск г., бул. Строителей, 1, Дом Правительства

                +e.icons
                    +e.A.icon._tw(href=jv0)
                    +e.A.icon._fb(href=jv0)
                    +e.A.icon._in(href=jv0)

                +search-box({className: '_theme_light'}).block-top__search-box

