.block-top {
    padding-top: rem(124);
    padding-bottom: rem(14);
    overflow-x: hidden;

    @include below($desktop) {
        padding-bottom: rem(25);
    }

    @include below($mobile) {
        padding: rem(140) rem(87) rem(25);
    }

    &__back-link {
        position: relative;

        display: none;
        margin-bottom: rem(14);
        margin-left: rem(19);

        font-size: rem(22);
        font-weight: 400;
        line-height: (28/22);
        color: #fff;
        text-decoration: none;

        @include below($mobile) {
            display: inline-block;
        }

        &::before {
            content: '';

            position: absolute;
            top: 50%;
            left: -1rem;

            width: 0.5rem;
            height: 0.8125rem;
            margin-top: -0.4375rem;

            background: url(%=static=%assets/p-stories/arrow-m.svg) center no-repeat;
            background-size: 100% 100%;
        }
    }

    &__container {
        max-width: rem(1372);
        margin: 0 auto;

        @include below($desktop) {
            max-width: rem(1174);
        }
    }

    &__title {
        position: relative;

        margin-top: 0;
        margin-bottom: rem(42);

        font-size: rem(90);
        font-weight: 500;
        line-height: 1;
        color: #ffffff;
        letter-spacing: rem(-1);

        @include below($desktop) {
            font-size: rem(80);
        }

        @include below($mobile) {
            margin-bottom: rem(68);

            font-size: rem(90);
        }

        &::before {
            content: '';

            position: absolute;
            z-index: 1;
            bottom: rem(-22);
            left: rem(3);

            width: 0.625rem;
            height: 0.625rem;

            border: 1px solid rgba(255, 255, 255, 0.4);
            transform: rotate(45deg);

            @include below($mobile) {
                display: none;
            }
        }

        &::after {
            content: '';

            position: absolute;
            bottom: rem(-18);
            left: 0.9375rem;

            width: 100vw;
            height: 1px;

            background: rgba(255, 255, 255, 0.2);

            @include below($mobile) {
                bottom: rem(-47);
                left: rem(-87);
            }
        }
    }

    &__link {
        font-size: rem(16);
        font-weight: 400;
        line-height: (28/16);
        color: #ffffff;
        text-decoration: none;

        @include below($mobile) {
            position: relative;

            display: inline-block;
            margin-left: rem(43);

            font-size: rem(22);
            line-height: (49/22);
        }

        &_ico {
            &::before {
                content: '';

                display: inline-block;
                margin-right: rem(18);

                vertical-align: middle;

                background-repeat: no-repeat;
                background-position: center;
                background-size: 100% 100%;

                @include below($mobile) {
                    position: absolute;
                    top: rem(10);
                    left: rem(-43);
                }
            }

            &_address {
                &::before {
                    width: rem(21);
                    height: rem(25);

                    background-image: url(%=static=%assets/p-stories/marker-m.svg);

                    @include below($mobile) {
                        width: rem(24);
                        height: rem(28);
                    }
                }
            }
        }
    }

    &__contacts {
        display: flex;
        justify-content: space-between;
    }

    &__icon {
        position: relative;

        display: inline-block;
        width: 2.125rem;
        height: 2.125rem;

        border: 1px solid #fff;
        transform: rotate(45deg);

        &:not(:last-child) {
            margin-right: rem(35);
        }

        &::before {
            content: '';

            position: absolute;
            top: 50%;
            left: 50%;

            background-size: 100% 100%;

            transform: translate(-50%, -50%) rotate(-45deg);
        }

        &_tw {
            &::before {
                width: rem(18);
                height: rem(13);

                background-image: url(%=static=%assets/p-content/block-top/tw.svg);
            }
        }

        &_fb {
            &::before {
                width: rem(8);
                height: rem(16);

                background-image: url(%=static=%assets/p-content/block-top/fb.svg);
            }
        }

        &_in {
            &::before {
                width: rem(14);
                height: rem(14);

                background-image: url(%=static=%assets/p-content/block-top/in.svg);
            }
        }
    }

    &__icons {
        padding-right: rem(8);

        @include below($desktop) {
            display: none;
        }
    }

    &__search-box {
        display: none;
        width: rem(20);

        @include below($desktop) {
            display: flex;
        }

        @include below($mobile) {
            display: none;
        }
    }
}
