include ../form/form

mixin support(data)
    +b.support()&attributes(attributes)
        +e.row
            +e.left
                +e.P.subtitle!= data.subtitle

                if data.items
                    +e.UL.list
                        each item in data.items
                            +e.item
                                +e.icon-wrap
                                    +e.SPAN.icon(class="support__icon" class='icon_' + item.icon style='background-image:url(' + item.iconUrl +  ')')
                                +e.P.text!= item.text

            +e.right
                +form.support__form

