.support {
    margin-bottom: rem(-80);

    @include above($mobile + 1) {
        margin-bottom: rem(-103);
    }

    &__row {
        @include above($mobile + 1) {
            display: flex;
            justify-content: space-between;
        }
    }

    &__left {
        @include above($mobile + 1) {
            flex: 1;
        }
    }

    &__right {
        @include above($mobile + 1) {
            width: rem(638);
            padding-right: rem(30);
        }

        @include above($desktop + 1) {
            width: rem(714);
            padding-right: rem(23);
        }

        @include below($mobile) {
            width: calc(100% + #{rem(134)});
            margin: rem(107) 0 0 rem(-65);
        }
    }

    &__subtitle {
        margin-top: rem(-14);
        margin-bottom: rem(110);

        font-size: rem(28);
        font-weight: 300;

        @include above($mobile + 1) {
            max-width: rem(350);
            margin-top: rem(-9);
            margin-bottom: rem(60);

            font-size: rem(18);
        }

        @include below($mobile) {
            padding-left: rem(6);
            margin-bottom: rem(106);
        }
    }

    &__list {
        @include list-reset;

        @include above($mobile + 1) {
            max-width: rem(340);
        }

        @include above($desktop + 1) {
            padding-left: rem(5);
        }
    }

    &__item {
        position: relative;

        display: flex;

        &:not(:last-child) {
            margin-bottom: rem(100);

            @include above($mobile + 1) {
                margin-bottom: rem(47);
            }

            @include above($desktop + 1) {
                margin-bottom: rem(56);
            }
        }

        &_center {
            text-align: center;

            .support__text {
                @include margin_x(auto);
            }
        }
    }

    &__text {
        position: relative;

        margin: 0;

        font-size: rem(28);
        text-transform: uppercase;

        @include above($mobile + 1) {
            font-size: rem(16);
        }
    }

    &__item:not(:last-child) &__text {
        padding-bottom: rem(38);

        @include above($mobile + 1) {
            padding-bottom: rem(22);
        }

        @include above($desktop + 1) {
            padding-bottom: rem(26);
        }

        &::after {
            content: '';

            position: absolute;
            bottom: 0;
            left: 0;

            width: rem(120);
            height: 1px;

            background-color: #000;

            @include above($mobile + 1) {
                width: rem(65);
            }
        }
    }

    .form {
        @include above($mobile + 1) {
            position: relative;
            top: rem(-182);
            right: rem(2);
        }

        @include above($desktop + 1) {
            top: rem(-186);
        }
    }

    &__form {
        @include above($mobile + 1) {
            position: relative;
            top: rem(-182);
            right: rem(2);
        }

        @include above($desktop + 1) {
            top: rem(-186);
        }
    }

    &__icon-wrap {
        margin-right: rem(71);

        @include above($mobile + 1) {
            margin-right: rem(55);
        }

        @include above($desktop + 1) {
            margin-right: rem(50);
        }
    }

    &__icon {
        background-size: 100% 100%;
        fill: #3777e8;

        @include below($mobile) {
            margin-left: rem(10);
        }

        &.icon_search {
            @include size(rem(68));

            @include above($mobile + 1) {
                @include size(rem(39));
            }

            @include between($mobile + 1, $desktop) {
                position: relative;
                top: rem(-4);
                left: rem(2);
            }
        }

        &.icon_docs {
            width: rem(63);
            height: rem(83);

            @include above($mobile + 1) {
                width: rem(36);
                height: rem(48);
            }

            @include between($mobile + 1, $desktop) {
                position: relative;
                top: rem(-4);
                left: rem(5);
            }
        }

        &.icon_headphones {
            width: rem(74);
            height: rem(80);

            @include above($mobile + 1) {
                width: rem(42);
                height: rem(46);
            }

            @include between($mobile + 1, $desktop) {
                position: relative;
                top: rem(-4);
                left: rem(5);
            }
        }
    }
}

.cecutient-mode {
    .form__text {
        margin-bottom: rem(24);

        font-size: rem(20);
        font-weight: 400;
        line-height: (28/20);
    }
    .form__label {
        font-weight: 400;
    }
    .support {
        &__form {
            top: rem(-65);
            right: 0;
        }
        &__title {

            font-weight: 400;
            b {
                font-weight: 700;
                white-space: nowrap;
            }
        }

        &__right {
            display: flex;
            justify-content: flex-end;
            padding-right: 0;

        }

        &__subtitle {
            margin-bottom: rem(42);

            font-size: rem(20);
            font-weight: 400;
            line-height: (32/20);
        }

        &__text {
            padding-left: rem(35);

            font-size: rem(20);
            font-weight: 700;
            line-height: (32/18);

            &::after {
                display: none;
            }
        }

        &__item {
            position: relative;

            margin-bottom: rem(15);

            &::before {
                content: '';

                position: absolute;
                top: rem(12);
                left: rem(-1);

                width: rem(10);
                height: rem(10);

                background-color: #000;
                transform: rotate(45deg);
            }
        }

        &__list {
            max-width: rem(300);
        }
    }
}
