.s-block-6 {
    padding-top: rem(23);
    padding-bottom: rem(52);

    
    @include below($mobile) {
        padding-bottom: 0;
    }

    .content_theme_return .content__inner {
        padding-top: rem(62);
        padding-bottom: rem(50);
    }

    .content__title {
        margin-bottom: rem(67);
    }

    .content_theme_return .content__col-wrap {
        margin-top: rem(67);
    }

    .content_theme_return .big-price {
        margin-left: rem(-12);

        &:first-child {
            margin-top: rem(-14);
        }
    }

    &__bp-text {
        margin-top: rem(24);
        margin-bottom: rem(72);

        font-size: rem(16);
        font-weight: 500;
        line-height: (46/16);
        color: #3777e8;
        text-transform: uppercase;

        &_mod {
            position: relative;

            margin-bottom: rem(60);

            &::after {
                content: '';

                position: absolute;
                top: 100%;
                right: rem(-5);

                width: rem(10);
                height: rem(60);

                background-color: #f8f9fb;
            }
        }
    }

    .content_theme_return .list-icons {
        margin-top: rem(30);
    }

    .content_theme_return .content__col-l:after {
        display: none;
    }

    .content_theme_return .content__col-r {
        padding-left: rem(60);


        @include below($mobile) {
            padding-left: 0;
        }

        .subtitle-border {
            padding-bottom: rem(23);
        }

        .list {
            margin-top: 0;
        }
    }

    &__locations {
        padding-top: rem(94);
    }
}

.cecutient-mode .s-block-6 {
    
    .container {
        background: #fff;
        
        &::after {
            display: none;
        }
    }
    
    .content {
        
        &__inner {
            padding-top: rem(80);
        }
        
        &__title {
            margin-left: rem(-3);
        
            font-weight: 400;
            color: #282828;
            letter-spacing: rem(-0.4);

            strong {
                font-weight: 600;
            }
        }
        
        &_theme_return {
            
            .content__col-r {
                padding-left: rem(56);
            }
            
            .subtitle-border {
                margin-bottom: rem(36);
            }
            
        }
    }
    
    .big-price {        
        color: #000;
        
        &__price { 
            margin-right: rem(10);
            
            text-shadow: none;
        } 
    }
    
    &__bp-text {
        margin-top: rem(23);
        margin-bottom: rem(64);
        
        font-size: rem(18);
        font-weight: 500;
        line-height: rem(46);
        color: #000;
        letter-spacing: rem(-0.1);
    }
    
    &__bp-text_mod {
        margin-top: rem(27);
        margin-bottom: rem(61);
    }
    
    .badge {
        padding: rem(3) rem(14);
        margin: 0;
        
        font-size: rem(20);

        background: #000;        
    }
    
    .list-icons {
        margin-top: rem(17);
        margin-left: 0;
    }
    
    .subtitle-border {
        font-weight: bold;
    }
    
    .list-item::before {
        margin-left: 4px;
    }
    
    &__locations {
        padding-top: rem(79);
        
        .locations__title {
            padding-left: rem(2);
            margin-bottom: rem(26);            
        }
    }
}
