include ../locations/locations

mixin s-block-6(data)
    +b.s-block-6()&attributes(attributes)
        .content.content_theme_return.content-gray-right
            .container
                .content__inner
                    h2.content__title
                        | <strong>Субсидия на возмещение затрат на создание</strong><br>
                        | объектов инженерной инфраструктуры<br>
                        | для новых гостиничных комплексов
                    .content__col-wrap
                        .content__col-l
                            .big-price
                                span.big-price__price 10
                                .big-price__aftertext
                                    .big-price__afterbot
                                        | %

                            +e.bp-text компенсируются от общих затрат


                            .big-price
                                span.big-price__price 50
                                .big-price__aftertext
                                    .big-price__aftertop
                                        | млн.
                                    .big-price__afterbot
                                        | руб.

                            +e.bp-text._mod максимальный размер субсидии

                            span.badge меры поддержки

                            .list-icons
                                .list-icons__item
                                    .list-icons__icon__wrap
                                        i.list-icons__icon.icon-waterdrop
                                    p.list-icons__text
                                        | Водоснабжение
                                .list-icons__item
                                    .list-icons__icon__wrap
                                        i.list-icons__icon.icon-electricity
                                    p.list-icons__text
                                        | Электрификация
                                .list-icons__item
                                    .list-icons__icon__wrap
                                        i.list-icons__icon.icon-gas
                                    p.list-icons__text
                                        | Газификация
                                .list-icons__item
                                    .list-icons__icon__wrap
                                        i.list-icons__icon.icon-os
                                    p.list-icons__text
                                        | очистные сооружения

                                .list-icons__item
                                    .list-icons__icon__wrap
                                        i.list-icons__icon.icon-roads
                                    p.list-icons__text
                                        | автомобильные дороги
                        .content__col-r
                            h3.h3.subtitle-border Критерии
                            ul.list
                                li.list__item
                                    | Соответствие гостиниц  категории
                                    br
                                    b «три звезды» и выше
                                li.list__item
                                    | ОКВЭД <b>55.1</b>
                                li.list__item
                                    | Введены в эксплуатацию <b>с 2017 г.</b>
                                li.list__item
                                    | Инвестиции не менее <b>50 млн рублей</b>
                                li.list__item
                                    | Создание <b>не менее 20 номеров</b>
                                li.list__item
                                    | Территориальное расположение в
                                    br
                                    b приоритетных локациях

                            +locations.s-block-6__locations

