.search-box {
    display: flex;

    &__btn {
        width: 100%;

        background-image: url(%=static=%assets/search-box/search.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: rem(18) rem(18);
        cursor: pointer;
    }

    &_theme_light {
        .search-box {
            &__btn {
                background-image: url(%=static=%assets/search-box/search-light.svg);
            }
        }
    }
}


.cecutient-mode {

    .search-box__btn {
        background-image: url(%=static=%assets/search-box/search-dark.svg);
    }

    &.cecutient-mode_palette {
         &_light .search-box__btn {
            background-image: url(%=static=%assets/search-box/search-dark.svg);
        }

        &_dark .search-box__btn {
            background-image: url(%=static=%assets/search-box/search-light.svg);
        }

        &_sky .search-box__btn {
            background-image: url(%=static=%assets/search-box/search-sky.svg);
        }

        &_blue .search-box__btn {
            background-image: url(%=static=%assets/search-box/search-blue.svg);
        }

        &_brown .search-box__btn {
            background-image: url(%=static=%assets/search-box/search-brown.svg);
        }
    }

}
