mixin banks(data)
    +b.banks()&attributes(attributes)
        +e.container
            +e.info
                +e.title <span class="banks__title_bold">Банки</span>-партнеры
                +e.site
                    +e.A.site-link(href="http://www.mosreg-garant.ru" target="_blank") http://www.mosreg-garant.ru
                +e.phone т.: +7(495) 730-50-52
            +e.items
                +e.item
                    +e.A.link(href="#" targer="_blank")
                        +e.IMG.img(src="%=static=%img/assets/banks/bank1.png" alt = "Cбербанк")
                +e.item
                    +e.A.link(href="#" targer="_blank")
                        +e.IMG.img(src="%=static=%img/assets/banks/bank2.png" alt = "Промсвязьбанк")
                +e.item
                    +e.A.link(href="#" targer="_blank")
                        +e.IMG.img(src="%=static=%img/assets/banks/bank3.png" alt = "Возрождение банк")
                +e.item
                    +e.A.link(href="#" targer="_blank")
                        +e.IMG.img(src="%=static=%img/assets/banks/bank4.png" alt = "Росбанк")
                        
