.banks {
    &__container{
        position: relative;

        display: flex;
        padding-top: rem(45);
        padding-bottom: rem(48);

        background: #f8f9fb;

        @include below($mobile) {
            flex-wrap: wrap;
            padding-top: rem(61);
            padding-bottom: rem(43);
        }

        &:before{
            content: '';

            position: absolute;
            z-index: 1;
            top: 0;
            left: -6.875rem;

            width: 100%;
            height: 100%;

            background: #f8f9fb;
        }

        &:after{
            content: '';

            position: absolute;
            z-index: 1;
            top: 0;
            left: 100%;

            width: 100%;
            height: 100%;

            background: #f8f9fb;
        }
    }

    &__info{
        position: relative;
        z-index: 2;

        width: 35%;

        @include below($mobile) {
            width: 100%;
        }
    }

    &__items{
        position: relative;
        z-index: 2;

        width: 65%;
        padding-top: rem(40);

        white-space: nowrap;

        @include below($mobile) {
            width: 100%;
            padding-top: rem(60);

            font-size: 0;
            white-space: normal;
        }
    }


    &__title{
        font-size: rem(32);
        font-weight: 300;

        @include below($mobile) {
            font-size: rem(42);
            line-height: rem(92);
        }

        &_bold{
            font-weight: 500;
        }
    }

    &__site{
        margin-top: rem(17);

        @include below($mobile) {
            margin-top: 0;
        }
    }

    &__site-link{
        font-size: rem(24);
        font-weight: 300;
        color: #3777e8;
        text-decoration: none;

        @include below($mobile) {
            font-size: rem(28);
            line-height: rem(40);
        }
    }


    &__phone{
        margin-top: rem(2);

        font-size: rem(24);
        font-weight: 300;
        color: #282828;

        @include below($mobile) {
            margin-top: 0;

            font-size: rem(28);
            line-height: rem(40);
        }
    }

    &__item{
        display: inline-block;
        margin-right: rem(45);

        vertical-align: middle;

        @include below($mobile) {
            width: 50%;
            padding-right: rem(79);
            margin-right: 0;
            margin-bottom: rem(60);
        }

        &:last-child{
            margin-right: 0;
        }
    }

    &__link{
        display: block;
    }

    &__img{
        display: block;
        width: 100%;

        @include above($mobile + 1) {
            width: 100%;
            max-width: rem(160);
        }
    }
}
