.p-cabinet-profile {

    &.p-cabinet {
        padding-top: rem(112);
    }

    &__content {
        margin-top: rem(21);
    }

    &__left {
        margin-top: rem(-9);
    }

    &__right {
        padding: rem(40);
        padding-bottom: rem(62);
        margin-bottom: rem(50);

        background-color: $light;
        box-shadow: 0 rem(10) rem(30) rgba(47, 64, 76, 0.21);
    }
}
