.title {
    &__title {
        margin-top: 0;
        margin-bottom: rem(14);

        font-size: rem(48);
        font-weight: 300;
        line-height: (54/48);
        color: #282828;
        letter-spacing: rem(-.5);

        
        @include below($mobile){
            width: 100%;
            padding-right: rem(20);
            
            br{
                display: none;
            }
        }

        b {
            font-weight: 500;
        }
    }

    &__sub-text {
        font-size: rem(14);
        font-weight: 400;
        line-height: (18/14);
        color: #959595;
    }

}

.cecutient-mode .title {
    
    &__title {        
        font-weight: 400;
        
        & b {
            font-weight: 600;
        }
    }
    
    &__sub-text {
        display: inline-block;
        
        font-size: rem(18);
        font-weight: bold;
        line-height: rem(18);
        color: #000;

        border-bottom: rem(2) solid #000;        
    }
}
