include ../residents-info/residents-info

mixin s-block-4(data)
    +b.s-block-4()&attributes(attributes)
        .content.content_theme_benefits-oez.content-gray-right
            .container
                .content__inner()
                    h2.content__title
                        | Налоговые льготы <strong>для резидентов ОЭЗ</strong>
                    .rate-residents
                        .rate-residents__col-l
                            .rate-residents__rate
                                span 0
                                span.rate-residents__percent %
                            span.badge Налоговая ставка
                            +residents-info.rate-residents__residents-info
                        .rate-residents__col-r
                            .description-info
                                .description-info__item
                                    .description-info__col-icon
                                        .description-info__icon
                                            +icon({ icon: 'house', class: '' })
                                        .description-info__title
                                            span.description-info__name на имущество
                                            span.description-info__years на 10 лет
                                    .description-info__col-icon.description-info__col-icon-sm
                                        .description-info__icon
                                            +icon({ icon: 'yard', class: '' })
                                        .description-info__title
                                            span.description-info__name На землю
                                            span.description-info__years на 5 лет
                                .description-info__item
                                    .description-info__col-icon
                                        .description-info__icon
                                            i.icon.icon-upper
                                        .description-info__title
                                            span.description-info__name на прибыль организаций
                                            span.description-info__years на 8 лет
                                            .description-info__subtext <span class="hilight">+ <span class="number">3</span><span class="percent">%</span><br> в федеральный бюджет</span>

                                    .description-info__col-text
                                        span.content__subtitle-xs Условия:
                                        .description-info__text
                                            | Начиная с первого числа квартала, следующего за датой признания их резидентами особой экономической зоны
                                        .description-info__subtext
                                            .description-info__subtext-l
                                                | <span class="number">5</span><span class="percent">%</span> в региональный бюджет
                                                | <span class="hilight">+ <span class="number">3</span><span class="percent">%</span> в федеральный бюджет</span>
                                                | после 9 до 14 лет
                                            .description-info__subtext-r
                                                | <span class="number">12.5</span><span class="percent">%</span> в региональный бюджет
                                                | <span class="hilight">+ <span class="number">3</span><span class="percent">%</span> в федеральный бюджет</span>
                                                | после 14 лет
                                .description-info__item
                                    .description-info__col-icon
                                        .description-info__icon
                                            i.icon.icon-bus
                                        .description-info__title
                                            span.description-info__name Транспортный налог
                                            span.description-info__years на 5 лет
                                    .description-info__col-text
                                        span.content__subtitle-xs Условия:
                                        .description-info__text
                                            | Кроме автомобилей легковых, водных и воздушных транспортных средств.
                                .description-info__item
                                    .description-info__col-icon
                                        .description-info__icon
                                            +icon({ icon: 'customofficer', class: '' })
                                        .description-info__title
                                            span.description-info__name Таможенные пошлины
                                            span.description-info__years на 5 лет
                                    .description-info__col-text
                                        span.content__subtitle-xs Условия:
                                        .description-info__text
                                            | При ввозе оборудования, сырья и компонентов

