.s-block-4 {
    padding-top: rem(58);

    .content_theme_benefits-oez .content__inner {
        padding-top: rem(62);
        padding-bottom: rem(42);
    }

    .badge {
        color: #3777e8;

        background-color: transparent;
    }

    .description-info__subtext {
        padding-bottom: rem(1);

        font-size: rem(15);
        font-weight: 500;
        line-height: (23.1/15);


        @include below($mobile) {
            flex-wrap: wrap;

            font-size: rem(20);
        }
    }

    .description-info__subtext .number {
        font-size: rem(28);
        line-height: (23.1/28);


        @include below($mobile) {
            font-size: rem(35);
        }
    }

    .description-info__subtext .percent {
        font-size: rem(15);


        @include below($mobile) {
            font-size: rem(20);
        }
    }

    .description-info__subtext .hilight {
        color: #3777e8;
    }

    .description-info__subtext-l {
        margin-right: 0;


        @include below($mobile) {
            width: 100%;
            padding-right: 45%;
        }
    }

    .description-info__subtext-r{
        @include below($mobile) {
            width: 100%;
            padding-right: 43%;
            margin-top: rem(30);
        }
    }

    .description-info__icon {
        align-items: flex-start;
    }

    .description-info__title {
        .description-info__subtext {
            margin-top: rem(31);
        }
    }
}

.cecutient-mode .s-block-4 {
    
    .container {
        background: none;
        
        &::after {
            display: none;
        }
    }
    
    .content__inner {
        padding-top: rem(29);
    }
    
    .rate-residents__col-l {
        margin-right: rem(75);
    }
    
    .description-info {
    
        &__col-icon {
            width: 42.3%;
        }
    
        &__title {
            margin-left: 0;
        }

        &__icon {
            display: none;
        }

        &__subtext {
            font-size: rem(18);
            line-height: rem(24);
            color: #000;
        }
        
        &__subtext .hilight {
            width: rem(145);
            
            color: #000;
        }
        
        &__subtext .persent {
            font-size: rem(18);
        }
        
        &__col-text {
            width: 58%;
            margin-top: rem(4);
        }
        
        &__text {
            padding-right: rem(75);
        }
        
        &__col-text .description-info__subtext {
            margin-top: rem(27);
            
            line-height: rem(21);
        }
        
        &__subtext-l {
            max-width: rem(218);
            margin-right: rem(11);
        }
        
        &__subtext-r {
            max-width: rem(217);
        }
        
        &__item {
            max-width: rem(775);
        }
        
        &__item:nth-child(3) {
            padding-bottom: rem(30);
        }
        
        &__item:nth-child(4) {
            padding-top: rem(41);
        }
        
    }
    
    .content__title {
        margin-left: rem(-3);
        
        font-weight: 400;
        color: #282828;
        letter-spacing: rem(-0.4);
        
        strong {
            font-weight: 600;
        }
    }
    
    .content__subtitle-xs {
        padding-left: 0;
        
        line-height: rem(20);
    }
}

