.s-block-5 {
    padding-top: rem(33);


    @include below(1400px){
        overflow: hidden;
    }

    
    @include below($mobile){
        padding-top: 0;
    }

    .content__subtitle-xs {
        font-size: rem(14);
        font-weight: 400;
        font-style: normal;
        line-height: (18/14);
        color: #959595;
    }

    .content__subtitle-xs{
        @include below($mobile) {
            font-size: rem(30);
        }
    }    
}

.cecutient-mode .s-block-5 {
    
    .content {
        padding-top: rem(13);
        
        &__title {
            margin-bottom: rem(35);
            margin-left: rem(-3);

            font-weight: 400;
            color: #282828;
            letter-spacing: rem(-0.4);

            strong {
                font-weight: 600;
            }
        }
        
        &__subtitle-xs {
            display: inline;

            font-size: rem(20);
            font-weight: bold;
            line-height: rem(25);
            color: #000;
            letter-spacing: rem(-0.035);

            border-bottom: rem(2) solid #000;
        }
        
        &__col-wrap {
            margin-top: rem(26);
            margin-left: 0;
        }
        
        &__col-l {
            width: rem(395);
            margin-right: rem(78);
        }
    }
    
    .subtitle-border {
        padding-bottom: rem(31);

        font-weight: 400;
    }

    .list {
        margin-top: rem(44);
    }        

    .blue-side {
        padding-top: rem(64);
        padding-right: rem(55);
        padding-bottom: rem(38);
        padding-left: rem(92);

        border: 3px solid #000;
        background: #fff;
        box-shadow: none;
        
        &__item {
            align-items: flex-start;
            margin-bottom: rem(47);
        }
        
        &__icon {
            width: rem(11);
            height: rem(11);
            margin-top: rem(3);
            margin-right: rem(40);
            margin-left: rem(4);

            background: #000;
            
            transform: rotate(45deg);
            
            .icon {
                display: none;    
            }
        }
        
        &__cnt {
            max-width: rem(490);
            padding-top: rem(10);
            
            color: #000;
            
            p {
                font-size: rem(22);
                font-weight: bold;
                line-height: rem(24);
                letter-spacing: rem(-0.3);
            }
        }
        
        &__item-end {
            align-items: flex-start;
        }
    }
    
    .subtitle-border {
        color: #000;
    }
}
