mixin s-block-5(data)
    +b.s-block-5()&attributes(attributes)
        .content.content_theme_rent-land
            .container
                .content__inner
                    h2.content__title
                        strong Предоставление земельного участка
                        br
                        | в аренду без торгов
                    span.content__subtitle-xs Peгулируется законом Московской области № 27/2015-ОЗ от 18.03.2015 и постановлением Правительства Московской области № 272/13 от 22.04.2016
                    .content__col-wrap
                        .content__col-l
                            h3.h3.subtitle-border Условия получения
                            ul.list
                                li.list__item
                                    b Соответствие приоритетам и целям
                                    |  стратегии
                                    span.span-inline социально-экономического
                                    |  развития МО, государственных программ МО
                                li.list__item
                                    b Соответствие критериям
                                    |  масштабного инвестиционного проекта, объекта
                                    span.span-inline социально-культурного
                                    |  или
                                    span.span-inline коммунально-бытового
                                    |  назначения (указаны в ЗМО 27/ 2015)
                                li.list__item
                                    b Регистрация
                                    |  в Московской области
                        .content__col-r
                            .blue-side
                                h3.h3.h3--light.subtitle-border.subtitle-border--light
                                    | Необходимые
                                    b  документы
                                .blue-side__items
                                    .blue-side__item
                                        .blue-side__icon
                                            +icon({ icon: 'business-plan', class: '' })
                                        .blue-side__cnt
                                            p Бизнес-план и финансовая модель
                                    .blue-side__item
                                        .blue-side__icon
                                            +icon({ icon: 'document-founder', class: '' })
                                        .blue-side__cnt
                                            p
                                                | Учредительные документы
                                                span.span-inline организации-инициатора
                                                |  проекта
                                    .blue-side__item.blue-side__item-end
                                        .blue-side__icon
                                            +icon({ icon: 'finance-grow', class: '' })
                                        .blue-side__cnt
                                            p
                                                | Документы, подтверждающие положительную финансово-экономическую деятельность инициатора
