mixin subscribe-box(data)
    +b.FORM.subscribe-box(class=data.className)&attributes(attributes)
        +e.INPUT.input(type='email' placeholder=data.placeholder || '' required)

        +e.BUTTON.submit(type='submit')
            | Отправить
            +icon({ icon: 'arrow', class: 'subscribe-box__icon' })
