.subscribe-box {
    display: flex;
    align-items: center;

    &__input {
        width: calc(100% - 3.125rem);
        height: 100%;
        padding: 0 rem(22);

        border: none;
        border-radius: 0;
        outline: none;
    }

    &__submit {
        position: relative;
        position: relative;

        width: rem(50);
        height: calc(100% - 1.25rem);
        padding: 0;

        font-size: 0;

        border: none;
        border-radius: 0;
        background-repeat: no-repeat;
        background-position: center;
        background-size: rem(10) rem(16);
        outline: none;
    }

    &__icon {
        @include center;
    }

    &_theme_light {
        background-color: #ffffff;

        .subscribe-box {
            &__input {
                font-size: rem(18);
                font-weight: 300;
                line-height: (24/18);
                color: #000;

                &::placeholder {
                    color: #697078;

                    opacity: .7;
                }
            }

            &__submit {
                border-left: rem(1) solid rgba(110, 117, 125, 0.6);
                background-color: #fff;
            }

            &__icon {
                stroke: #000;
            }
        }
    }

    &_theme_dark {
        border: 1px solid rgba(#8a8a8a, .3);

        .subscribe-box {
            &__input {
                font-size: rem(35);
                font-weight: 300;
                color: rgba(#fff, .2);

                background-color: transparent;

                @include above($mobile + 1) {
                    font-size: rem(18);
                    line-height: (24/18);
                }

                @include below($mobile) {
                    padding-left: rem(40);
                }

                @include placeholder {
                    font-weight: 300;
                    color: rgba(#fff, .2);

                    @include below($mobile) {
                        font-size: rem(35);
                    }
                }
            }

            &__submit {
                border-left: rem(1) solid rgba(110, 117, 125, 0.6);
                background-color: transparent;

                @include below($mobile) {
                    width: rem(118);
                }
            }

            &__icon {
                stroke: rgba(#f8f9fb, .9);

                @include below($mobile) {
                    left: 54%;

                    width: rem(20);
                    height: rem(36);
                }
            }
        }
    }
}
