include ../description-info/description-info
mixin rate-residents(data)
    +b.rate-residents()&attributes(attributes)
        +e.col-l
            +e.rate
                span= data.rate
                +e.SPAN.percent %
            SPAN.badge= data.badge
        +e.col-r
            +description-info(descriptionInfo.oez)

        block
