.rate-residents {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    @include below($mobile) {
        flex-direction: column;
    }

    &__residents-info {
        width: rem(360);
        margin-top: rem(45);
        margin-left: rem(-64);


        @include below($mobile) {
            margin-left: 0;
        }
    }

    &__rate {
        margin-top: rem(4);
        margin-bottom: rem(-6);
        margin-left: rem(-16);

        font-family: $font-1;
        font-size: rem(392);
        font-weight: 500;
        line-height: 1;
        color: $color1;
        text-shadow: 0 10px 30px rgba(47, 64, 76, 0.21);

        @include below($desktop) {
            margin-top: rem(18);
            margin-bottom: rem(37);
            margin-left: rem(-5);

            font-size: rem(160);
        }

        @include below($mobile) {
            position: relative;

            display: inline-block;
            margin-bottom: 0;
            margin-left: 0;

            font-size: rem(392);
            font-weight: 500;
            line-height: 1;

            transform: translateX(rem(-16));
            
            span{
                display: inline-block;
            }
        }

        .percent {
            font-size: rem(117);         
        }
    }
    &__percent {
        font-size: rem(117);

        @include below($desktop) {
            font-size: rem(32);
        }

        @include below($mobile) {
            font-size: rem(117);
        }
    }
    .badge {
        padding-right: rem(14);
        padding-left: rem(106);
        margin-left: rem(-103);

        @include below($desktop) {
            padding-left: rem(72);
            margin-left: rem(-74);

            white-space: nowrap;
        }

        @include below($mobile) {
            display: block;
            padding-right: rem(98);
            padding-left: rem(90);
            margin-left: rem(-90);

            font-size: rem(20);
        }
    }
    &__col-l {
        margin-right: rem(82);

        @include below($desktop) {
            margin-right: rem(181);
        }

        
        @include below($mobile) {
            width: 100%;
            margin-right: 0;
        }
    }
    &__col-r {
        padding-right: 8%;

        @include below($desktop) {
            padding-right: 0;
        }

        @include below($mobile) {
            width: 100%;
            margin-left: rem(-7);
        }
    }

}

.cecutient-mode .rate-residents {
    
    &__col-l {
        margin-right: rem(75);
    }
    
    &__col-r {
        padding-right: 0;        
    }
    
    &__rate {
        color: #000;
    }
    
    .badge {
        padding-left: rem(103);
        
        font-size: rem(20);
        line-height: rem(20);
        color: #000;
    }
}

