.trainings {
    position: relative;

    padding-top: rem(85);
    padding-bottom: rem(58);

    background: #f8f9fb;

    .cecutient-mode & {
        padding-top: 0;

        background: #fff;
        &:after, &:before {
            display: none;
        }
    }

    &:after{
        content: '';

        position: absolute;
        z-index: 1;
        top: 0;
        left: 100%;

        width: 100%;
        height: 100%;

        background: #f8f9fb;
    }

    &:before{
        content: '';

        position: absolute;
        z-index: 1;
        top: 0;
        right: 100%;

        width: rem(104);
        height: 100%;

        background: #f8f9fb;
    }

    &__title{
        margin: 0;

        font-size: rem(48);
        font-weight: 300;


        &_bold{
            font-weight: 500;
        }
    }

    &__offer{
        margin-top: rem(27);

        font-size: rem(18);
        line-height: 1.6;
        letter-spacing: rem(-0.2);


        @include below($mobile){
            padding-right: rem(20);

            font-size: rem(26);
        }
    }

    &__time-label{
        font-size: rem(18);
        vertical-align: middle;
        letter-spacing: rem(-0.2);


        @include below($mobile){
            font-size: rem(26);
            vertical-align: middle;
        }
    }

    &__time-row{
        margin-top: rem(43);
    }

    &__time-control{
        display: inline-block;
    }

    &__box{
        display: none;
        margin-top: rem(25);

        &.active {
            display: block;
        }
    }

    &__item{
        display: flex;
        padding-bottom: rem(60);

        border-top: 1px dotted #b7b8bb;


        @include below($mobile){
            flex-wrap: wrap;
        }

        &:last-child{
            padding-bottom: 0;
        }
    }

    &__time{
        margin-left: rem(-2);

        font-size: rem(32);
        font-weight: 300;
        color: #3777e8;


        @include below($mobile){
            font-size: rem(38);
        }

        .cecutient-mode & {
            color: #000;
        }

        &_bold{
            font-weight: 500;
        }
    }

    &__description{
        width: 33.7%;
        padding-top: rem(49);
        padding-right: rem(20);


        @include below($mobile){
            width: 100%;
        }
    }

    &__name{
        margin-top: rem(14);

        font-size: rem(16);
        font-weight: 500;
        text-transform: uppercase;


        @include below($mobile){
            font-size: rem(24);
        }
    }

    &__about{
        margin-top: rem(24);

        font-size: rem(16);
        line-height: 1.5;


        @include below($mobile){
            font-size: rem(24);

            br{
                display: none;
            }
        }
    }


    &__details{
        width: 66.3%;
        padding-top: rem(57);


        @include below($mobile){
            width: 100%;
            padding-right: 1.25rem;
        }
    }

    &__details-item{
        position: relative;

        padding-left: rem(32);
        margin-bottom:rem(27);

        &:last-child{
            margin-bottom: 0;
        }

    }

    &__enroll-btn{
        padding: rem(16) rem(21) rem(16);

        font-size: rem(14);
        font-weight: 500;
        letter-spacing: rem(-0.1);
        text-transform: uppercase;

        border: 1px solid #000;
        background: #fff;
        box-shadow: 0 rem(17) rem(20) rem(-8) rgba(0, 0, 0, 0.12);

        transition: all .3s;

        @include below($mobile){
            font-size: rem(22);
        }



        &:hover{
            color: #fff;

            border-color: #3777e8;
            background: #3777e8;
            box-shadow: 0 rem(17) rem(20) rem(-8) rgba(55, 119, 232, 0.6);
        }

        &_seminar{
            padding: rem(16) rem(48) rem(16);
        }
        .cecutient-mode & {

            color: #fff;

            background: #000;
            box-shadow: transparent;

            &:hover {
                color: #000;

                border-color: #fff;
                background: #fff;
                box-shadow: transparent;
            }
        }
    }

    &__details-text{
        font-size: rem(16);


        @include below($mobile){
            font-size: rem(24);
        }

        &_bold{
            font-weight: 500;
        }
    }

    &__price-icon{
        position: absolute;
        top: rem(1);
        left: rem(2);

        width: rem(18);
        height: rem(18);
        fill: #3777e8;


        @include below($mobile){
            top: rem(6);
        }
    }

    &__point-icon{
        position: absolute;
        top: rem(1);
        left: rem(4);

        width: rem(13);
        height: rem(18);
        fill: #3777e8;


        @include below($mobile){
            top: rem(6);
        }
    }

    &__times-icon{
        position: absolute;
        top: rem(2);
        left: rem(1);

        width: rem(18);
        height: rem(18);
        fill: #3777e8;


        @include below($mobile){
            top: rem(6);
        }

        .cecutient-mode & {
            display: none;
        }
    }

    &__enroll{
        margin-top: rem(35);
    }

    &__no-details {
        position: relative;

        max-width: rem(1165);
        padding-top: rem(45);
        padding-bottom: rem(50);
        padding-left: rem(62);

        font-size: rem(32);
        font-weight: 300;
        line-height: (28/32);
        color: rgba(#000, 0.4);

        border-top: 1px dotted #b7b8bb;

        &::before {
            content: '';

            position: absolute;
            top: rem(33);
            left: rem(2);

            width: rem(39);
            height: rem(48);

            background-image: url(%=static=%assets/trainings/no-details.svg);
            background-size: 100% 100%;
        }
    }

    .custom-select .select2-selection__rendered {
        font-weight: 500;
    }
}
