include ../custom-select/custom-select

mixin trainings(data)
    +b.trainings()&attributes(attributes)
        +e.content
            +e.H3.title <span class="trainings__title_bold">Обучающие тренинги</span> для предпринимателей
            +e.P.offer
                |Предлагаем Вам пройти пройти обучающие тренинги в Бизнес-школе Московской области. Большой выбор<br>
                |образовательных программ направленных на приобретение навыков ведения предпринимательской деятельности<br>
                |и развитие собственного дела.

            +e.time-row
                +e.SPAN.time-label Время проведения:
                +e.time-control
                    +custom-select(customSelect.business)

            +e.box(data-id='1')
                +e.item
                    +e.description
                        +e.time <span class="trainings__time_bold">15 июня</span> 2017
                        +e.name Тренинг «Мама-предприниматель»
                        +e.about
                            |Формирование у женщин необходимых <br>
                            |компетенций и знаний для организации <br>
                            |собственного бизнеса, развитие социальной <br>
                            |сферы, рост доли малого бизнеса.
                    +e.details
                        +e.details-groupe
                            +e.details-item
                                +e.details-text <span class="trainings__details-text_bold">Бесплатный тренинг</span>
                                +icon({ icon: 'price', class: 'trainings__price-icon' })
                            +e.details-item
                                +e.details-text <span class="trainings__details-text_bold">Место проведения:</span> г. Красногорск, бул. Строителей, д. 1
                                +icon({ icon: 'point', class: 'trainings__point-icon' })
                            +e.details-item
                                +e.details-text <span class="trainings__details-text_bold">Время проведения:</span> 15.06 – 19.06.2017, с 9:00 до 18:00 (40 часов / 5 дней)
                                +icon({ icon: 'times', class: 'trainings__times-icon' })
                        +e.enroll
                            +e.BUTTON.enroll-btn.js-go-to-event Записаться на бесплатный тренинг
                +e.item
                    +e.description
                        +e.time <span class="trainings__time_bold">26 июня</span> 2017
                        +e.name Семинар  «Методы активных продаж<br>и поиска клиентов»
                        +e.about
                            |Современные рыночные условия требуют<br>
                            |стратегических тактик с применением<br>
                            |современных технологий. В начале 21-го века<br>
                            |каждый год закрываются 90% новых бизнесов.
                    +e.details
                        +e.details-groupe
                            +e.details-item
                                +e.details-text <span class="trainings__details-text_bold">Стоимость участия:</span> 12 000 руб.
                                +icon({ icon: 'price', class: 'trainings__price-icon' })
                            +e.details-item
                                +e.details-text <span class="trainings__details-text_bold">Место проведения:</span> г. Красногорск, бул. Строителей, д. 1
                                +icon({ icon: 'point', class: 'trainings__point-icon' })
                            +e.details-item
                                +e.details-text <span class="trainings__details-text_bold">Время проведения:</span> 26.06 – 27.06.2017, с 9:00 до 18:00 (16 часов / 2 дня)
                                +icon({ icon: 'times', class: 'trainings__times-icon' })
                        +e.enroll
                            +e.BUTTON.enroll-btn._seminar.js-go-to-event Принять участие в семинаре
                +e.item
                    +e.description
                        +e.time <span class="trainings__time_bold">29</span> июня 2017
                        +e.name Семинар «Стратегии развития»
                        +e.about
                            |Формирование у женщин необходимых<br>
                            |компетенций и знаний для организации<br>
                            |собственного бизнеса, развитие социальной<br>
                            |сферы, рост доли малого бизнеса.
                    +e.details
                        +e.details-groupe
                            +e.details-item
                                +e.details-text <span class="trainings__details-text_bold">Стоимость участия:</span> 8 000 руб.
                                +icon({ icon: 'price', class: 'trainings__price-icon' })
                            +e.details-item
                                +e.details-text <span class="trainings__details-text_bold">Место проведения:</span> г. Королев, ул. Космонавтов, д. 12, оф. 4
                                +icon({ icon: 'point', class: 'trainings__point-icon' })
                            +e.details-item
                                +e.details-text <span class="trainings__details-text_bold">Время проведения:</span> 29.06.2017, с 9:00 до 18:00
                                +icon({ icon: 'times', class: 'trainings__times-icon' })
                        +e.enroll
                            +e.BUTTON.enroll-btn._seminar.js-go-to-event Принять участие в семинаре

            +e.box(data-id='2')
                +e.item
                    +e.description
                        +e.time <span class="trainings__time_bold">15 июля</span> 2017
                        +e.name Тренинг «Мама-предприниматель»
                        +e.about
                            | Формирование у женщин необходимых <br>
                            | компетенций и знаний для организации <br>
                            | собственного бизнеса, развитие социальной <br>
                            | сферы, рост доли малого бизнеса.
                    +e.details
                        +e.details-groupe
                            +e.details-item
                                +e.details-text <span class="trainings__details-text_bold">Бесплатный тренинг</span>
                                +icon({icon: 'price', class: 'trainings__price-icon'})
                            +e.details-item
                                +e.details-text <span class="trainings__details-text_bold">Место проведения:</span> г. Красногорск, бул. Строителей, д. 1
                                +icon({icon: 'point', class: 'trainings__point-icon'})
                            +e.details-item
                                +e.details-text <span class="trainings__details-text_bold">Время проведения:</span> 15.06 – 19.06.2017, с 9:00 до 18:00 (40 часов / 5 дней)
                                +icon({icon: 'times', class: 'trainings__times-icon'})
                        +e.enroll
                            +e.BUTTON.enroll-btn.js-go-to-event Записаться на бесплатный тренинг
                +e.item
                    +e.description
                        +e.time <span class="trainings__time_bold">26 июля</span> 2017
                        +e.name Семинар  «Методы активных продаж<br>и поиска клиентов»
                        +e.about
                            | Современные рыночные условия требуют<br>
                            | стратегических тактик с применением<br>
                            | современных технологий. В начале 21-го века<br>
                            | каждый год закрываются 90% новых бизнесов.
                    +e.details
                        +e.details-groupe
                            +e.details-item
                                +e.details-text <span class="trainings__details-text_bold">Стоимость участия:</span> 12 000 руб.
                                +icon({icon: 'price', class: 'trainings__price-icon'})
                            +e.details-item
                                +e.details-text <span class="trainings__details-text_bold">Место проведения:</span> г. Красногорск, бул. Строителей, д. 1
                                +icon({icon: 'point', class: 'trainings__point-icon'})
                            +e.details-item
                                +e.details-text <span class="trainings__details-text_bold">Время проведения:</span> 26.06 – 27.06.2017, с 9:00 до 18:00 (16 часов / 2 дня)
                                +icon({icon: 'times', class: 'trainings__times-icon'})
                        +e.enroll
                            +e.BUTTON.enroll-btn._seminar.js-go-to-event Принять участие в семинаре
                +e.item
                    +e.description
                        +e.time <span class="trainings__time_bold">29</span> июля 2017
                        +e.name Семинар «Стратегии развития»
                        +e.about
                            | Формирование у женщин необходимых<br>
                            | компетенций и знаний для организации<br>
                            | собственного бизнеса, развитие социальной<br>
                            | сферы, рост доли малого бизнеса.
                    +e.details
                        +e.details-groupe
                            +e.details-item
                                +e.details-text <span class="trainings__details-text_bold">Стоимость участия:</span> 8 000 руб.
                                +icon({icon: 'price', class: 'trainings__price-icon'})
                            +e.details-item
                                +e.details-text <span class="trainings__details-text_bold">Место проведения:</span> г. Королев, ул. Космонавтов, д. 12, оф. 4
                                +icon({icon: 'point', class: 'trainings__point-icon'})
                            +e.details-item
                                +e.details-text <span class="trainings__details-text_bold">Время проведения:</span> 29.06.2017, с 9:00 до 18:00
                                +icon({icon: 'times', class: 'trainings__times-icon'})
                        +e.enroll
                            +e.BUTTON.enroll-btn._seminar.js-go-to-event Принять участие в семинаре

            +e.box(data-id='3')
                +e.no-details На август 2017 г. мероприятий не запланировано

            +e.box(data-id='4')
                +e.item
                    +e.description
                        +e.time <span class="trainings__time_bold">15 сентября</span> 2017
                        +e.name Тренинг «Мама-предприниматель»
                        +e.about
                            | Формирование у женщин необходимых <br>
                            | компетенций и знаний для организации <br>
                            | собственного бизнеса, развитие социальной <br>
                            | сферы, рост доли малого бизнеса.
                    +e.details
                        +e.details-groupe
                            +e.details-item
                                +e.details-text <span class="trainings__details-text_bold">Бесплатный тренинг</span>
                                +icon({icon: 'price', class: 'trainings__price-icon'})
                            +e.details-item
                                +e.details-text <span class="trainings__details-text_bold">Место проведения:</span> г. Красногорск, бул. Строителей, д. 1
                                +icon({icon: 'point', class: 'trainings__point-icon'})
                            +e.details-item
                                +e.details-text <span class="trainings__details-text_bold">Время проведения:</span> 15.06 – 19.06.2017, с 9:00 до 18:00 (40 часов / 5 дней)
                                +icon({icon: 'times', class: 'trainings__times-icon'})
                        +e.enroll
                            +e.BUTTON.enroll-btn.js-go-to-event Записаться на бесплатный тренинг
                +e.item
                    +e.description
                        +e.time <span class="trainings__time_bold">26 сентября</span> 2017
                        +e.name Семинар  «Методы активных продаж<br>и поиска клиентов»
                        +e.about
                            | Современные рыночные условия требуют<br>
                            | стратегических тактик с применением<br>
                            | современных технологий. В начале 21-го века<br>
                            | каждый год закрываются 90% новых бизнесов.
                    +e.details
                        +e.details-groupe
                            +e.details-item
                                +e.details-text <span class="trainings__details-text_bold">Стоимость участия:</span> 12 000 руб.
                                +icon({icon: 'price', class: 'trainings__price-icon'})
                            +e.details-item
                                +e.details-text <span class="trainings__details-text_bold">Место проведения:</span> г. Красногорск, бул. Строителей, д. 1
                                +icon({icon: 'point', class: 'trainings__point-icon'})
                            +e.details-item
                                +e.details-text <span class="trainings__details-text_bold">Время проведения:</span> 26.06 – 27.06.2017, с 9:00 до 18:00 (16 часов / 2 дня)
                                +icon({icon: 'times', class: 'trainings__times-icon'})
                        +e.enroll
                            +e.BUTTON.enroll-btn._seminar.js-go-to-event Принять участие в семинаре
                +e.item
                    +e.description
                        +e.time <span class="trainings__time_bold">29</span> сентября 2017
                        +e.name Семинар «Стратегии развития»
                        +e.about
                            | Формирование у женщин необходимых<br>
                            | компетенций и знаний для организации<br>
                            | собственного бизнеса, развитие социальной<br>
                            | сферы, рост доли малого бизнеса.
                    +e.details
                        +e.details-groupe
                            +e.details-item
                                +e.details-text <span class="trainings__details-text_bold">Стоимость участия:</span> 8 000 руб.
                                +icon({icon: 'price', class: 'trainings__price-icon'})
                            +e.details-item
                                +e.details-text <span class="trainings__details-text_bold">Место проведения:</span> г. Королев, ул. Космонавтов, д. 12, оф. 4
                                +icon({icon: 'point', class: 'trainings__point-icon'})
                            +e.details-item
                                +e.details-text <span class="trainings__details-text_bold">Время проведения:</span> 29.06.2017, с 9:00 до 18:00
                                +icon({icon: 'times', class: 'trainings__times-icon'})
                        +e.enroll
                            +e.BUTTON.enroll-btn._seminar.js-go-to-event Принять участие в семинаре




        +trainings-popup
