.map-nav {
    border-top: rem(1) solid #e4e4ec;
    background-color: #ffffff;
    box-shadow: 0 rem(14) rem(20) rgba(2, 6, 29, 0.1);

    @include below($mobile) {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;

        .mCSB_scrollTools {
            opacity: 0 !important;
        }
    }

    &__container {
        display: flex;
        width: rem(1420);
        margin: 0 auto;

        @include below($desktop) {
            width: rem(1219);
        }
    }

    &__items {
        display: flex;


        @include below($mobile) {
            flex: 1 0 auto;
        }
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        height: rem(72);
        padding: 0 rem(23);

        text-decoration: none;

        user-select: none;

        @include below($desktop) {
            padding: 0 rem(19);
        }

        @include below($mobile) {
            height: rem(120);
            padding: 0 rem(30);
        }

        &.map-nav__item-box {
            color: #697078;

            cursor: pointer;

            &.map-nav__item_active:hover {
                .map-nav__sub-btn {
                    color: #fff;
                }
            }

            &:hover {
                .map-nav__sub-btn {
                    color: #3777e8;
                }
            }
        }

        &_active {
            background-color: $color1;

            .map-nav__text,
            .map-nav__sub-btn {
                color: #fff;

                &:hover {
                    color: #fff;
                }
            }
        }
    }

    &__text {
        font-size: rem(16);
        font-weight: 400;
        line-height: (28/16);
        color: #697078;

        @include below($mobile) {
            margin-top: rem(8);

            font-size: rem(32);
            line-height: (56/32);
            white-space: nowrap;
            letter-spacing: rem(.25);
        }
        &:hover {
            color: #3777e8;
            }
    }

    &__count {
        top: rem(-6);
        left: rem(4);

        font-size: rem(11);

        @include below($mobile) {
            top: rem(-10);
            left: rem(15);

            font-size: rem(18);
        }
    }

    &__points {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-grow: 1;
        padding-right: rem(99);

        @include below($desktop) {
            padding-right: 0;
        }

        @include below($mobile) {
            flex: 1 0 auto;
            padding: 0 rem(100);
        }
    }

    &__checkbox {
        padding: rem(16) rem(54) rem(16) rem(20);
        margin-bottom: rem(-1);

        &.checkbox_theme_standart .checkbox__count {
            position: absolute;
            top: calc(50% - #{rem(7)});
            right: rem(20);
            left: auto;

            padding-left: rem(31);
            margin-left: auto;

            font-size: rem(14);
            font-weight: 400;
            line-height: 1;
            color: #8e9399;
        }
        .checkbox__text {
            display: flex;
            flex-grow: 1;

            white-space: nowrap;
            letter-spacing: rem(.25);
        }
    }

    &__box {
        position: relative;
        &.active .map-nav__box-items {
            display: block;
        }
    }

    &__box-items {
        position: absolute;
        top: rem(56);
        left: 0;

        display: none;
        min-width: rem(287);

        background-color: #ffffff;
        box-shadow: 0 rem(10) rem(30) rgba(47, 64, 76, 0.21);

        &_mod {
            left: rem(-19);
            .map-nav__box-item {
                padding-right: rem(63);
            }
        }
    }

    &__box-btn {
        position: relative;

        color: #697078;

        cursor: pointer;
        user-select: none;

        &:hover {
            color: #3777e8;

            &::after {
                background-image: url(%=static=%assets/map/map-nav/arrow-hover.svg);
            }
        }

        &_mod {
            &::after {
                display: none;
            }
        }

        &::after {
            content: '';

            position: absolute;
            top: 50%;
            right: rem(-16);

            width: rem(9);
            height: rem(6);
            margin-top: rem(-3);

            background-image: url(%=static=%assets/map/map-nav/arrow.svg);
            background-repeat: no-repeat;
        }
    }

    &__search-btn {
        // display: block;
        display: none;
        width: rem(18);
        height: rem(18);

        background-image: url(%=static=%assets/map/map-nav/search.svg);
        background-size: 100% 100%;
    }

    &__search-box {
        display: flex;
        align-items: center;
        justify-content: center;
        width: rem(72);
        height: rem(72);
    }

    &__item-box {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-right: rem(23);
        padding-left: rem(25);
    }

    &__arrow {
        position: absolute;
        top: 50%;
        right: rem(8);

        width: rem(30);
        height: rem(30);
        margin-top: rem(-14);

        background-image: url(../img/assets/map/map-nav/arrow.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 0.5625rem 0.375rem;
        cursor: pointer;
        transform: rotate(-90deg);
    }

    &__box-item {
        position: relative;
        &:not(:last-child) {
            border-bottom: rem(1) solid rgba(110, 117, 125, .1);
        }

        &:hover > .map-nav__inner-items {
            display: block;
        }
    }

    &__inner-items {
        position: absolute;
        z-index: -1;
        top: 0;
        left: 100%;

        display: none;
        padding-right: rem(21);

        background-color: #fff;
        box-shadow: 0 rem(10) rem(30) rgba(47, 64, 76, 0.21);

        &.active {
            display: block;
        }
    }
}

.cecutient-mode{
    .map-nav__text{
        font-weight: 500;
    }

    .map-nav__box-btn{
        font-weight: 500;
    }
}
