include ../../checkbox/checkbox
include ../../search-box/search-box

mixin map-nav(data)
    +b.map-nav()&attributes(attributes).custom-scroll.custom-scroll_theme_horizontal
        +e.container
            +e.items

                +e.item-box.map-nav__item(data-id="prom")
                    +e.box
                        +e.sub-btn Пром. площадки, ОЭЗ, коворкинги
                            +e.SUP.count 192
                        +e.FORM.box-items._mod
                            +e.box-item._contains_inner
                                +e.SPAN.arrow
                                +e.inner-items
                                    +checkbox({
                                        text: 'Резиденты (4)',
                                        name: 'subsection-rezidents',
                                        className: '_theme_standart _inner',
                                        title: true
                                    }).map-nav__checkbox

                                    +checkbox({
                                        text: 'Свободные земли  (1)',
                                        name: 'subsection-freeLand',
                                        className: '_theme_standart _inner',
                                        title: true,
                                        checked: true
                                    }).map-nav__checkbox

                                    +checkbox({
                                        text: 'Свободные площади  (21)',
                                        name: 'subsection-free',
                                        className: '_theme_standart _inner',
                                        title: true
                                    }).map-nav__checkbox

                                +checkbox({
                                    text: 'Индустриальные парки (26)',
                                    name: 'subsection-industrialParks',
                                    className: '_theme_standart _main',
                                    title: true,
                                    checked: true
                                }).map-nav__checkbox

                            +e.box-item._contains_inner
                                +e.SPAN.arrow
                                +e.inner-items
                                    +checkbox({
                                        text: 'Резиденты2 (4)',
                                        name: 'subsection-rezidents2',
                                        className: '_theme_standart _inner',
                                        title: true
                                    }).map-nav__checkbox

                                    +checkbox({
                                        text: 'Свободные земли2  (1)',
                                        name: 'subsection-freeLand2',
                                        className: '_theme_standart _inner',
                                        title: true,
                                        checked: true
                                    }).map-nav__checkbox

                                +checkbox({
                                    text: 'Технопарки (3)',
                                    name: 'subsection-techoPark',
                                    className: '_theme_standart _main',
                                    title: true,
                                    checked: true
                                }).map-nav__checkbox

                            +e.box-item
                                +e.SPAN.arrow
                                +checkbox({
                                    text: 'Браунфилды (1)',
                                    name: 'subsection-b',
                                    className: '_theme_standart',
                                    title: true
                                }).map-nav__checkbox

                            +e.box-item
                                +e.SPAN.arrow
                                +checkbox({
                                    text: 'ОЭЗ (8)',
                                    name: 'subsection-ep',
                                    className: '_theme_standart',
                                    title: true
                                }).map-nav__checkbox

                            +e.box-item
                                +e.SPAN.arrow
                                +checkbox({
                                    text: 'Коворкинги (6)',
                                    name: 'subsection-k',
                                    className: '_theme_standart',
                                    title: true
                                }).map-nav__checkbox




                each item in data.items
                    +e.A.item(href=jv0 class={'_active': item.active} data-id=item.id)
                        +e.text!= item.text
                            +e.SUP.count!= item.count

            +e.points
                +e.box
                    +e.box-btn Информационные слои
                    +e.box-items
                        +e.box-item
                            +checkbox({
                                text: 'Точки газофикации',
                                count: '250',
                                name: 'gas-points',
                                className: '_theme_standart',
                                title: true
                            }).map-nav__checkbox

                        +e.box-item
                            +checkbox({
                                text: 'Точки электрификации',
                                count: '350',
                                name: 'electricity-points',
                                className: '_theme_standart',
                                title: true
                            }).map-nav__checkbox




            +e.search-box
                +e.SPAN.search-btn
